<div class="row">
  @if (isFeedbackParticipantComment) {
    <div class="col-6">Your comment about the above response</div>
  }
  @if (!isFeedbackParticipantComment && response) {
    <div class="col-6">
      Giver: {{ response.giver }} ({{ response.giverTeam }})<br />
      Recipient: {{ response.recipient }} ({{ response.recipientTeam }})
    </div>
  }
  <div class="col-6">
    <div class="float-end">
      @if (!shouldHideClosingButton) {
        <button type="button" class="btn-close" aria-label="Close" (click)="triggerCloseCommentBoxEvent()"></button>
      }
    </div>
  </div>
</div>

<p class="small text-muted mt-2 mb-0">This comment will be visible to anyone who can view this response.</p>

<div style="margin: 10px 0">
  <tm-rich-text-editor
    [richText]="model.commentText"
    (richTextChange)="triggerModelChange('commentText', $event)"
    placeholderText="Enter your comment here"
    [isDisabled]="isDisabled"
  ></tm-rich-text-editor>
</div>

<div class="d-flex justify-content-end">
  @if (!shouldHideClosingButton) {
    <button
      type="button"
      class="btn btn-light btn-sm me-2"
      (click)="triggerCloseCommentBoxEvent()"
      [disabled]="isDisabled"
      aria-label="Cancel editing"
    >
      <i class="fas fa-times"></i>
      Cancel
    </button>
  }

  @if (!shouldHideSavingButton) {
    <button
      type="button"
      class="btn btn-success btn-sm"
      (click)="triggerSaveCommentEvent()"
      [disabled]="isDisabled"
      aria-label="Save comment"
    >
      <i class="fas fa-save"></i>
      {{ mode === CommentRowMode.EDIT ? 'Save' : 'Add' }}
    </button>
  }
</div>
