.card-plain {
  background-color: #EAEFF5;
  background-image: none;
  border: 0;
  box-shadow: 0 0 0 0;
}

@media (max-width: 768px) {
  .mobile-invisible {
    display: none;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    text-align: right;
  }

  .col-md-7 {
    text-align: left;
  }
}
