<div class="text-center">
  <a
    class="btn btn-light btn-sm btn-margin-right custom-button"
    target="_blank"
    rel="noopener noreferrer"
    [id]="'btn-view-details-' + courseId + '-' + idx"
    [ngbTooltip]="'View the details of the student'"
    [routerLink]="['/web/instructor/courses', courseId, 'students', userId, 'details']"
  >
    View
  </a>
  <a
    class="btn btn-light btn-sm btn-margin-right custom-button"
    target="_blank"
    rel="noopener noreferrer"
    [id]="'btn-edit-details-' + courseId + '-' + idx"
    [ngClass]="{ 'disabled mouse-hover-only': !instructorPrivileges.canModifyStudent }"
    [ngbTooltip]="
      instructorPrivileges.canModifyStudent
        ? 'Use this to edit the details of this student. To edit multiple students' +
          ' in one go, you can use the enroll page: ' +
          'Simply enroll students using the updated data and existing data will be updated accordingly'
        : 'You do not have the permissions to access this feature'
    "
    [routerLink]="['/web/instructor/courses', courseId, 'students', userId, 'edit']"
  >
    Edit
  </a>
  @if (enableRemindButton) {
    <ng-container>
      <button
        id="btn-send-invite-{{ courseId }}-{{ idx }}"
        class="btn btn-light btn-sm btn-margin-right custom-button"
        [ngClass]="{ 'disabled mouse-hover-only': !instructorPrivileges.canModifyStudent }"
        [disabled]="!isActionButtonsEnabled"
        [ngbTooltip]="
          instructorPrivileges.canModifyStudent
            ? 'Email an invitation to the student requesting him/her to join the course using his/her' +
              ' account. Note: Students can use TEAMMATES without \'joining\',' +
              ' but a joined student can access extra features'
            : 'You do not have the permissions to access this feature'
        "
        (click)="remindStudentFromCourse()"
      >
        Send Invite
      </button>
    </ng-container>
  }
  <button
    id="btn-delete-{{ courseId }}-{{ idx }}"
    class="btn btn-light btn-sm btn-margin-right custom-button"
    [ngClass]="{ 'disabled mouse-hover-only': !instructorPrivileges.canModifyStudent }"
    [ngbTooltip]="
      instructorPrivileges.canModifyStudent
        ? 'Delete the student and the corresponding submissions from the course'
        : 'You do not have the permissions to access this feature'
    "
    [disabled]="!isActionButtonsEnabled"
    (click)="removeStudentFromCourse()"
  >
    Delete
  </button>
  <a
    class="btn btn-light btn-sm btn-margin-right custom-button"
    target="_blank"
    rel="noopener noreferrer"
    [id]="'btn-view-records-' + courseId + '-' + idx"
    [ngClass]="{ 'disabled mouse-hover-only': !instructorPrivileges.canModifyStudent }"
    [ngbTooltip]="
      instructorPrivileges.canModifyStudent
        ? 'View all data about this student'
        : 'You do not have the permissions to access this feature'
    "
    [routerLink]="['/web/instructor/students', courseId, userId, 'records']"
  >
    All Records
  </a>
</div>
