<div class="table-responsive">
  <table class="table table-bordered table-striped m-0">
    <thead
        [ngClass]="{'thead-gray': useGrayHeading, 'bg-info fw-bold': !useGrayHeading}"
        [hidden]="isHideTableHead"
    >
    <tr>
      <th class="sortable-header" *ngIf="hasSection()" (click)="sortStudentList(SortBy.SECTION_NAME)" [attr.aria-sort]="getAriaSort(SortBy.SECTION_NAME)">
        <button>
          Section
          <span class="fa-stack" aria-hidden="true">
            <i class="fas fa-sort"></i>
            <i *ngIf="tableSortBy === SortBy.SECTION_NAME && tableSortOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
            <i *ngIf="tableSortBy === SortBy.SECTION_NAME && tableSortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
          </span>
        </button>
      </th>
      <th class="sortable-header" (click)="sortStudentList(SortBy.TEAM_NAME)" [attr.aria-sort]="getAriaSort(SortBy.TEAM_NAME)">
        <button>
          Team
          <span class="fa-stack" aria-hidden="true">
            <i class="fas fa-sort"></i>
            <i *ngIf="tableSortBy === SortBy.TEAM_NAME && tableSortOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
            <i *ngIf="tableSortBy === SortBy.TEAM_NAME && tableSortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
          </span>
        </button>
      </th>
      <th class="sort-by-name sortable-header" (click)="sortStudentList(SortBy.RESPONDENT_NAME)" [attr.aria-sort]="getAriaSort(SortBy.RESPONDENT_NAME)">
        <button>
          Student Name
          <span class="fa-stack" aria-hidden="true">
            <i class="fas fa-sort"></i>
            <i *ngIf="tableSortBy === SortBy.RESPONDENT_NAME && tableSortOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
            <i *ngIf="tableSortBy === SortBy.RESPONDENT_NAME && tableSortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
          </span>
        </button>
      </th>
      <th class="sort-by-status sortable-header" (click)="sortStudentList(SortBy.JOIN_STATUS)" [attr.aria-sort]="getAriaSort(SortBy.JOIN_STATUS)">
        <button>
          Status
          <span class="fa-stack" aria-hidden="true">
            <i class="fas fa-sort"></i>
            <i *ngIf="tableSortBy === SortBy.JOIN_STATUS && tableSortOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
            <i *ngIf="tableSortBy === SortBy.JOIN_STATUS && tableSortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
          </span>
        </button>
      </th>
      <th class="sortable-header" (click)="sortStudentList(SortBy.RESPONDENT_EMAIL)" [attr.aria-sort]="getAriaSort(SortBy.RESPONDENT_EMAIL)">
        <button>
          Email
          <span class="fa-stack" aria-hidden="true">
            <i class="fas fa-sort"></i>
            <i *ngIf="tableSortBy === SortBy.RESPONDENT_EMAIL && tableSortOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
            <i *ngIf="tableSortBy === SortBy.RESPONDENT_EMAIL && tableSortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
          </span>
        </button>
      </th>
      <th class="align-center">Action(s)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let studentModel of students; trackBy: trackByFn; let idx = index;" [hidden]="isStudentToHide(studentModel.student.email)" s>
      <td *ngIf="hasSection()" [innerHtml]="studentModel.student.sectionName | highlighter:searchString"></td>
      <td [innerHtml]="studentModel.student.teamName | highlighter:searchString"></td>
      <td [innerHtml]="studentModel.student.name | highlighter:searchString"></td>
      <td>{{studentModel.student.joinState | joinState}}</td>
      <td [innerHtml]="studentModel.student.email | highlighter:searchString"></td>
      <td class="no-print align-center">
        <ng-template #actionButton let-isEnabled="isEnabled" let-tooltip="tooltip" let-name="name" let-id="id"
                     let-tmRouterLink="tmRouterLink" let-queryParams="queryParams">
          <a class="btn btn-light btn-sm btn-margin-right" target="_blank" rel="noopener noreferrer"
             [id]="id"
             [ngClass]="{'disabled mouse-hover-only': !isEnabled}"
             [ngbTooltip]="isEnabled ? tooltip : 'You do not have the permissions to access this feature'"
             [tmRouterLink]="tmRouterLink"
             [queryParams]="queryParams">
            {{name}}</a>
        </ng-template>
        <ng-container *ngTemplateOutlet="actionButton; context: {
          id: 'btn-view-details-' + courseId + '-' + idx,
          isEnabled: studentModel.isAllowedToViewStudentInSection && isActionButtonsEnabled,
          tooltip: 'View the details of the student',
          name: 'View',
          tmRouterLink: '/web/instructor/courses/student/details',
          queryParams: {courseid: courseId, studentemail: studentModel.student.email}
        }"></ng-container>
        <ng-container *ngTemplateOutlet="actionButton; context: {
          id: 'btn-edit-details-' + courseId + '-' + idx,
          isEnabled: studentModel.isAllowedToModifyStudent && isActionButtonsEnabled,
          tooltip: 'Use this to edit the details of this student. To edit multiple students'
            + ' in one go, you can use the enroll page: '
            + 'Simply enroll students using the updated data and existing data will be updated accordingly',
          name: 'Edit',
          tmRouterLink: '/web/instructor/courses/student/edit',
          queryParams: {courseid: courseId, studentemail: studentModel.student.email}
        }"></ng-container>
      <ng-container *ngIf="enableRemindButton">
        <ng-container *ngIf="studentModel.student.joinState === JoinState.NOT_JOINED">
          <button id="btn-send-invite-{{ courseId }}-{{ idx }}" class="btn btn-light btn-sm btn-margin-right"
            [ngClass]="{'disabled mouse-hover-only': !studentModel.isAllowedToModifyStudent || !isActionButtonsEnabled}"
            [disabled]=!isActionButtonsEnabled
            [ngbTooltip]="studentModel.isAllowedToModifyStudent && isActionButtonsEnabled
            ? 'Email an invitation to the student requesting him/her to join the course using his/her'
            + ' Google Account. Note: Students can use TEAMMATES without \'joining\','
            + ' but a joined student can access extra features e.g. set up a user profile'
            : 'You do not have the permissions to access this feature'"
            (click)="openRemindModal(studentModel)">Send Invite</button>
        </ng-container>
      </ng-container>
      <button id="btn-delete-{{ courseId }}-{{ idx }}" class="btn btn-light btn-sm btn-margin-right"
        [ngClass]="{'disabled mouse-hover-only': !studentModel.isAllowedToModifyStudent || !isActionButtonsEnabled}"
        [ngbTooltip]="studentModel.isAllowedToModifyStudent && isActionButtonsEnabled
          ? 'Delete the student and the corresponding submissions from the course'
          : 'You do not have the permissions to access this feature'"
        [disabled]="!isActionButtonsEnabled"
        (click)="openDeleteModal(studentModel)">Delete</button>
      <ng-container *ngTemplateOutlet="actionButton; context: {
        id: 'btn-view-records-' + courseId + '-' + idx,
        isEnabled: isActionButtonsEnabled,
        tooltip: 'View all data about this student',
        name: 'All Records',
        tmRouterLink: '/web/instructor/students/records',
        queryParams: {courseid: courseId, studentemail: studentModel.student.email}
      }"></ng-container>
      </td>
    </tr>
    </tbody>
  </table>
</div>
