.align-center {
  text-align: center;
}

.table .thead-gray th {
  color: #495057;
  background-color: #DADADA;
}

.fa-sort {
  color: white;
}

/*
Allow only mouse hover events for the element.
!important is required to override Bootstrap .disabled class matches
which usually match 2 classes (eg .btn.disabled)
*/
.mouse-hover-only {
  pointer-events: auto !important;
}

.mouse-hover-only:active {
  pointer-events: none !important;
}

.sortable-header {
  cursor: pointer;

  i {
    margin-left: .3em;
  }

  .fa-stack {
    width: 20%;
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    text-align: left;
    width: 100%;
    font: inherit;
    cursor: inherit;
  }
}
