@CHARSET "ISO-8859-1";

/*////////////////////////////////////////////////////////////
////////////////////////// Back To Top ///////////////////////////
//////////////////////////////////////////////////////////*/
.back-to-top-left {
    position: fixed;
    bottom: 8em;
    left: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 0.8em;
    display: none;
}

.back-to-top-right {
    position: fixed;
    bottom: 8em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 0.8em;
    display: none;
}

.back-to-top-left:hover {
    background-color: rgba(135, 135, 135, 0.50);
}

.back-to-top-right:hover {
    background-color: rgba(135, 135, 135, 0.50);
}



/*////////////////////////////////////////////////////////////
////////////////////////// Hover Menu ///////////////////////////
//////////////////////////////////////////////////////////*/
.hoverMenu1 {
    position: fixed;
    top: 10em;
    left: -5.5em;
    text-decoration: none;
    color: #000000;
    background-color: rgba(206, 63, 63, 0.80);
    font-size: 14px;
    padding: 0.8em;
}

.hoverMenu2 {
    position: fixed;
    top: 14em;
    left: -7em;
    text-decoration: none;
    color: #000000;
    background-color: rgba(3, 12, 14, 0.8);
    font-size: 14px;
    padding: 0.8em;
}