.inputTable{
    width: 900px;
}

.dataTable td{
    line-height: 20px;
}

#filterForm input[type="text"] {
    width: 700px;
}

#filterForm input[type="submit"] {
    width: 60px;
}

#filterReference {
    display: none;
    font-size: 11px;
}
