body {
    padding-top:40px;
}
/*---------------------  HTML tooltip  --------------------------------------------------- */
#dhtmltooltip {
    background-color: #FFA;
    border: 1px solid #CC9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;
    padding: 1px;
    position: absolute;
    visibility: hidden;
    width: auto;
    z-index: 100;
    /*Remove below line to remove shadow. Below line should always appear last within this CSS*/
    filter: progid : DXImageTransform.Microsoft.Shadow ( color = gray, direction = 135 );
}


/*--------------------- General CSS Styles (shouldn't be changed) ----------------------*/
h1 {
    font-size: 200%;
    font-weight: bold;
    margin: 0 auto;
    padding: 15px 0px;
}

h2 {
    font-size: 150%;
    margin: 0 auto;
    padding: 15px 0px;
}

.align-center {
    text-align: center;
}

.leftalign {
    text-align: left;
}

.floatleft{
    float: left;
}

.rightalign {
    text-align: right;
}

.floatright{
    float: right;
}

.middlealign {
    vertical-align: middle;
}

.nowrap{
    white-space: nowrap;
}

.multiline {
    white-space: pre-line;
}

.bold {
    font-weight: bold;
}

.negDiff {
    color: #F00;
}

.posDiff {
    color: #063;
}

.color-positive { 
    color: #060;
}

.color-negative { 
    color:#F00;
}

.color_neutral {
    color: gray;
}

.color_black{
    color: black;
}

.color_white {
    color: white;
}

.color_red {
    color: crimson;
}

.color_blue {
    color :blue;
}

.color_green {
    color: green;
}

.color_brown {
    color: Chocolate;
}

.color_gray {
    color: gray;
}

.pad_right {
    padding-right: 10px;
}

/*---------------------  Frame Top  --------------------------------------------------- */
#frameTop {
    background-color: black;
    height: 60px;
    overflow: hidden;
    width: 100%;
}

#frameTopWrapper {
    margin: 0 auto;
    width: 1024px;
}

#logo {
    float: left;
    padding-top: 5px;
    width: 250px;
}

#contentLinks {
    float: left;
    width: 774px;         /*  #frameTopWrapper.width - #logo.width */
    overflow: hidden;
}

#navbar {
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   line-height: 60px;
   font-weight: bold;
}

#navbar li {
   color: white;
   float: left;
   list-style-type: none;
   padding-left: 20px;
   padding-right: 20px;
}

#navbar li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#navbar li b {
    color: grey;
    font-weight: bold;
    text-decoration: none;
}

#navbar li a:hover {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.current {
   height: 80px;
   background-image:url('../images/triangle.gif');
   background-repeat:no-repeat;
   background-position:center;
   overflow: hidden;
}


/*---------------------  Frame Bottom  --------------------------------------------------- */
#frameBottom {
    background-color: black;
    bottom: 0;
    color: gray;
    height: 18px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

#contentFooter {
    font-color: gray;
    font-size: 12px;
    font-weight: bold;
    margin: 3px auto;
    text-align: center;
    width: 1024px;
}

#contentFooter a {
    color: white;
    text-decoration: none;
}

#contentFooter a:hover {
    text-decoration: underline;
}



/*---------------------  Frame Body  --------------------------------------------------- */
#frameBody {
    bottom: 18px; /*Set to #frameBottom.height*/
    overflow: auto;
    position: fixed;
    top: 60px; /*Set to #frameTop.height*/
    width: 100%;
}

#frameBodyWrapper {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 200px;
}

#headerOperation {
    margin: 30px 0px;
    text-align: center;
}

/*---------------------  Background Block  --------------------------------------------------- */
.backgroundBlock {
    background: #036;
    margin: 0 auto;
    width: 960px;
    padding: 20px;
}

.blockLink a {
    margin-left: 15px;
    font-size: 13px;
    text-decoration: underline;
}




/*---------------------  Data Table  --------------------------------------------------- */
.dataTable {
    width: 960px;
    margin: 0 auto;
}

.dataTable th {
    background: #4E80BB;
    padding: 8px;
    border: 1px dotted gray;
}

.dataTable tr:nth-of-type(odd) {
    background-color: #EAEFF5;
}

.dataTable tr:nth-of-type(even) {
    background-color: #D0D8E8;
}

.dataTable tr:hover { 
    background: #CCC;
    border: 1px solid #03476F;
}

.dataTable td {
    padding: 8px;
    border: 1px dotted gray;
}

.dataTable a {
   text-decoration: underline;
}

.dataTable td+td+td+td a { 
    margin: 0px 8px;
}

.dataTable td+td+td a { 
    margin: 0px 8px;
}

.dataTable input.buttonSortAscending {
    background: url("../images/sortUpButton.png") no-repeat top left;
    border: 0;
    height: 14px;
    outline: none;
    vertical-align: middle;
    width: 14px;
    padding-right: 14px;
}

.dataTable input.buttonSortDescending {
    background: url("../images/sortDownButton.png") no-repeat top left;
    border: 0;
    height: 14px;
    outline: none;
    vertical-align: middle;
    width: 14px;
    padding-right: 14px;
}

.dataTable input.buttonSortNone {
    background: url("../images/sortSideButton.png") no-repeat top left;
    border: 0;
    height: 14px;
    outline: none;
    vertical-align: middle;
    width: 14px;
    padding-right: 14px;
}


/*---------------------  Input Table  --------------------------------------------------- */
.inputTable {
    background: #EAEFF5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
}

.inputTable th {
    padding: 0.7em;
}

.inputTable td {
    padding: 0.7em;
}

.inputTable .label {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #363636;
}

/*
.inputTable input textarea {
    margin-left: 15px;
    margin-right: 15px;
}*/


/*---------------------  Result Table  --------------------------------------------------- */
.resultTable {
    background: #036;
    margin: 0 auto;
    width: 960px;
}

.resultTable thead th, tfoot th { 
    background: #B8D3F2;
    vertical-align: bottom;
    margin: 0 auto;
    padding: 0.8em;
}

.resultTable .resultHeader {
    color: #036;
    font-size: 11px;
    font-weight: bold;
}

.resultTable td{
    background-color: #EBF1F5;
    border: 1px dotted gray;
    padding: 0.8em;
    line-height: 125%;
}

.resultTable .resultSubheader td{
    background-color: #D0D8E8;
}

/*---------------------  Feedback Response Tables  --------------------------------------------------- */
.responseTable {
    width: 900px;
    background-color: #D0D8E8;
}

.responseTable ul {
    padding: 0px 0px 10px 20px;
    list-style: disc;
}

.responseTable th {
    font-weight: bold;
    color: white;
    background-color: #4E80BB;
    border-bottom: 3px dotted white;
}

.responseTable textarea {
    width: 98%;
}

.responseTable .responseText {
    width: 700px;
}


/*---------------------  Feedback Response Comment Tables  --------------------------------------------------- */

.responseCommentTable {
    width: 100%;
}

.responseCommentTable td {
    border-style: none;
}

.responseCommentTable td.feedbackResponseCommentText {
    width: 510px;
}

.responseCommentTable td.feedbackResponseCommentGiver {
    width: 150px;
}

.responseCommentTable td.feedbackResponseCommentTime {
    width: 150px;
}

.responseCommentTable textarea {
    width: 98%;
}



/*---------------------  Button  --------------------------------------------------- */
.button {
    background: #378de5;
    background: -webkit-gradient(linear, left top, left bottom, from(#336699), to(#378de5) );
    background: -webkit-linear-gradient(top, #336699, #378de5);
    background: -moz-linear-gradient(top, #336699, #378de5);
    background: -ms-linear-gradient(top, #336699, #378de5);
    background: -o-linear-gradient(top, #336699, #378de5);
    color: white;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #EEE;
    padding: 5px 8px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.button:hover {
    background: #66727A;
    border-color: #EEE;
    color: white;
}

.button:active {
    background: #1B435E;
    border-color: #EEE;
    color: white;
}

ul.bulletedList {
    list-style-type: disc;
    padding-left: 25px;
}

ul.bulletedList li {
    padding-top: 2px;
    padding-bottom: 2px;
}
