#coordinatorEvaluationInformation {
	margin: 20px auto;
	text-align: center;
	width: 940px;
}

#coordinatorEvaluationInformation table{
	width: 940px;
	text-align: left;
}

#coordinatorEvaluationSummaryTable {
	margin-top: 20px;
	text-align: center;
}

#coordinatorEvaluationDetailedReviewerTable {
	margin-top: 20px;
	text-align: center;
}

#coordinatorEvaluationDetailedRevieweeTable {
	margin-top: 20px;
	text-align: center;
}

#tablecaption {
	padding: 0px 35px;
	text-align: right;
	font-size: small;
	font-style: italic;
}

.resultTitle {
	color: white;
}