#coordinatorCourseEnrollment {
	margin-top: 30px;
	text-align: center;
}

.info {
   color: #669;
   font-size: 14px;
   font-weight: bold;
}

#studentDetails {
	vertical-align: middle;
	text-align: right;
	width: 250px;
}

#coordinatorCourseEnrollmentButtons {
	margin-top: 30px;
	text-align: center;
}

#coordinatorCourseEnrollmentResults {
	margin-top: 30px;
	text-align: center;
}

#coordinatorCourseEnrollmentResults p{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 20px 0px;
}	