#result_addCourse {
	text-align: right;
}

#coordinatorHomeTable {
	margin-top: 30px;
}

.result_homeTitle {
	float: left;
	width: 60%;
	color: white;
}

.result_homeLinks {
	float: right;
	padding: 20px 0px;
	text-align: center;
	width: 40%;
}