@CHARSET "UTF-8";
/* Opera Fix */
body:before {
   content: "";
   float: left;
   margin-top: -32767px; /* negate effect of float */
   height: 100%;
   width: 0;
}

/*---------- Table CSS ----------*/
table { 
 background:#EAEFF5;
 border:1px solid gray;
 border-collapse:collapse;
 color:#fff;
 font:normal 12px verdana, arial, helvetica, sans-serif;
 text-align: left;
 margin: 0 auto;
 width: 100%;
}
caption { 
 border:1px solid #5C443A;
 color:#5C443A;
 font-weight:bold;
 letter-spacing:20px;
 padding:6px 4px 8px 0px;
 text-align:center;
}
td, th { 
 color:#363636;
 text-align: left;
 padding:0.5em;
}
tr { 
 border:1px dotted gray;
}
thead th, tfoot th { 
 background:#7FB3EE;
 color:#FFFFFF;
 text-align: left;
 vertical-align:bottom;
 border-collapse: collapse;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 margin: 0 auto;
 width: 960px;
}
tbody td a { 
 color:#363636;
 text-decoration:none;
}
tbody td a:visited { 
 color:gray;
 text-decoration:none;
}
tbody td a:hover { 
 text-decoration:underline;
}
tbody th a { 
 color:#363636;
 font-weight:normal;
 text-decoration:none;
}
tbody th a:hover { 
 color:#363636;
}
tbody td+td+td+td a { 
 background-position:left center;
 background-repeat:no-repeat;
 color:#03476F;
 margin-left:8px;
 margin-right:7px;
}
tbody td+td+td+td a:visited { 
 background-position:left center;
 background-repeat:no-repeat;
}
tbody th, tbody td { 
 text-align:left;
 vertical-align:top;
}
tfoot td { 
 background:#5C443A;
 color:#FFFFFF;
 padding-top:3px;
}
.odd { 
 background:#fff;
}

/* header form - for all tables on top of the page*/
.headerform {
    border:none;
    width: 960px;
      -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.headerform td {
   font-size: 13px;
   padding: 8px;
}

.headerform tr {
    border:none;
}

/* for creating new course */
.addform {
    alignment-adjust:central; 
    width:500px; 
    height: 190px;
    border:none;
/*     background: #4E80BB; */
}
.addform tr {
    border:none;
}
.addinput  {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    width: 450px;
    margin-left: 15px;
    margin-right: 15px;
}
#btnAddCourse {
    margin-left: 200px;
}

/* for display detail: 
 * 1) student view course detail 
 * 2) instructor view student detail
 */
.detailform {
    width: 500px
}
.detailform td:nth-of-type(odd) {
    background-color: #4E80BB;
    color:#FFF;
    font-weight:bold;
    width: 30%;
    text-align: right;
}
.detailform td:nth-of-type(even) {
    background-color: #eaeff5;
    width: 70%;
}



/* data form */
#dataform {
}

#dataform td{
    border:1px dotted gray;
}

#dataform tr:nth-of-type(odd) {
    background-color: #eaeff5;
}

#dataform tr:nth-of-type(even) {
    background-color: #d0d8e8;
}

#dataform tr:hover { 
 background:#CCCCCC;
 border:1px solid #03476F;
 color:#000000;
}

#dataform a:link {
   color: #000;
   text-decoration: underline;
}

#dataform a:visited {
   color: #000;
}

#dataform a:link:hover {
   color: #000;
   text-decoration: underline;
}

/* result_table */
.result_team {
       background: #036;
       margin: 0 auto;
        width: 960px;
       padding: 20px;

}
.current_team {
       background: #000;
       margin: 0 auto;
        width: 960px;
       padding: 20px;

}
.result_team p{
       color: #FFFFFF;
       font-size:16px;
       text-align:left;
}
.current_team p{
       color: #FFFFFF;
       font-size:16px;
       text-align:left;
}

.result_table td{
    border:1px dotted gray;
}

.result_header, .result_header td{
    background-color: #036;
    color: white;
    font-weight:bold;
}

.result_subheader {
    background-color: #d0d8e8;
}
.result_subheader td{
    color: #4E80BB;
    font-weight: bold;
}

.result_addOrJoinCourse {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: right;
}

.result_addOrJoinCourse a:link {
    color: #FFFFFF;
    font-size: 13px;
    padding-left: 15px;
    text-decoration: underline;
}

.result_addOrJoinCourse a:visited {
    color: #FFFFFF;
}

.result_addOrJoinCourse a:link:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.result_homeTitle {
    float: left;
    width: 60%;
}

.result_homeTitle h2 {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 15px 0;
    text-align: left;
}

.result_homeLinks {
    float: left;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    width: 40%;
}

.result_homeLinks a:link {
    color: #FFFFFF;
    font-size: 13px;
    margin-left: 15px;
    text-decoration: underline;
}

.result_homeLinks a:visited {
    color: #FFFFFF;
}

.result_homeLinks a:link:hover {
    color: #FFFFFF;
    text-decoration: underline;
}


/* STUDENT: results header form */
.result_studentform{
    width:100%;
}
.result_studentform tr{
    border: 1px dotted #CCC;
}

.result_studentform td {
    background-color: #eaeff5;
}

.result_studentform td:first-child {
    background-color: #4E80BB;
    color:#FFF;
    font-weight:bold;
}

/* Evaluation info table for Instructor */
.evaluation_info{
    width:50%;
    text-align: center;
}

.evaluation_info tr{
    border: 1px dotted #CCC;
}

.evaluation_info td {
    background-color: #eaeff5;
}

.evaluation_info td:first-child {
    background-color: #4E80BB;
    color:#FFF;
    font-weight:bold;
    width: 30%;
}

/* Table Elements */
.fontcolor {
    color: #036;
    font-size:10px;
}
.color-positive { 
    color: #060;
    font-weight:bold;
    
}
.color-negative { 
    color:#F00;
    font-weight:bold;
}
.color_neutral{
    color:black;
    font-weight:bold;
}
.color_gray {
    color: gray;
    font-size: 9;
}
.attribute{
    text-align:right;
    vertical-align: middle;
    font-weight:bold;
}

/*-------- Other Element --------*/
h1 {
   color: #000;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 200%;
   font-weight: bold;
   letter-spacing: 2px;
   margin: 0 auto;
   padding: 15px 0 15px;
   text-align: center;
}

p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
}

p.info {
   color: #669;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: bold;
   text-align: left;
}

p.splinfo {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
}

p.splinfo2 {
   color: #069;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
}

p.splinfo3 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: bold;
   text-align: right;
}

.align-center {
   text-align: center;
}

.leftalign {
   text-align: left;
}

.negDiff {
    color: #F00;
}

.posDiff {
    color: #063;
}

.lhs {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: bold;
   padding-left: 10px;
   padding-top: 2px;
   vertical-align: top;
   text-align: right;
   width: 300px;
}

.fieldname {
   color: #000;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: bold;
   vertical-align: center;
   text-align: right;
   width: 50%;
}

.fieldvalue {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
   font-weight: normal;
   text-align: left;
   width: 250px;
}

.keyvalue {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
   font-weight: normal;
   text-align: left;
   width: 350px;
}

.reportheader {
   font-weight: bold;
   padding-bottom: 5px;
   text-align: center;
   text-decoration: underline;
   text-transform: capitalize;
}


.textarea {
   resize: none;
   padding:0;
   border: none;
}

.textvalue {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
   font-weight: normal;
   text-align: left;
}

a:link {
   color: #669;
   text-decoration: underline;
}

a:visited {
   color: #669;
}

a:link:hover {
   color: #669;
   text-decoration: underline;
}

.sort {
    text-decoration:underline;
}

.button {
    background: #CC3399;
    background: -webkit-gradient(linear, left top, left bottom, from(#9aa1a6),
        to(#9ab3c4) );
    background: -webkit-linear-gradient(top, #9aa1a6, #9ab3c4);
    background: -moz-linear-gradient(top, #9aa1a6, #9ab3c4);
    background: -ms-linear-gradient(top, #9aa1a6, #9ab3c4);
    background: -o-linear-gradient(top, #9aa1a6, #9ab3c4);
    color: white;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px 20px 20px 20px;
    border: 0px solid #eeeeee;
    padding: 5px 8px;
    text-decoration: none;
    vertical-align: middle;
}

.button:hover {
    background: #66727a;
    border-color: #eeeeee;
    color: #ffffff;
}

.button:active {
    background: #1b435e;
    border-color: #eeeeee;
}

/* pending feature */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


.infoform {
    border:1px dotted gray;
}

.color_disabled{ color:#F00; text-decoration:none; }