#searchTable input[type="text"]{
    width: 400px;
}

#displayArchivedCourses_check {
    margin-left: 5px;
}

.courseTitle {
    float: left;
    width: 58%;
}

.enrollLink {
    float: right;
    width: 38%;
    margin-top: 20px;
}

.dataTable td+td a { 
    margin: 0px 8px;
}

.backgroundBlock{
    margin-top: 15px;
    margin-bottom: 30px;
    padding-top: 5px;
}

.backgroundBlock:last-child {
    margin-bottom: 0px;
}