#addform {
	width: 700px; 
	height: 300px;
	margin: 0 auto;
}

.addinput {
	width: 450px;
}

#courseDetailTable {
	width: 690px; 
}

.courseAddBackground {
	background: #D0D8E8;
	margin: 0 auto;
	width: 700px;
	padding: 15px;
}