.sessionTable {
    width: 900px;
}

.sessionTable td {
    vertical-align: middle;
}

#sessionViewableTable tr+tr {
     border-top: 3px #D0D8E8 solid;
}

#timeFrameTable td:nth-child(even):not(:last-child) {
    border-right: 3px #D0D8E8 solid;
}

#instructionsTable {
    width: 900px;
}

#fsname {
    width: 620px;
}

#courseid {
    width: 260px;
}

#timezone {
    width: 100px;
}

/* Move below to separate css page */

.sessionDetailsBackground {
    background: #D0D8E8;
    margin: 0 auto;
    width: 900px;
    padding: 15px;
}

.questionTable {
    width: 900px;
}

.questionTable td {
    vertical-align: middle;
}

.participantTable {
    width: 880px;
}

.participantTable td+td {
    text-align: center;
}

.participantSelect {
    width: 200px;
}

.sortTypeTable {
    width: 900px;
    background-color: #D0D8E8;
}

.numberOfEntitiesBox {
    width: 50px;
    padding-right: 10px;
}

.removeOptionLink {
    color: gray;
    text-decoration: none;
}

.mcqOptionTextBox {
    width: 300px;
}

.msqOptionTextBox {
    width: 300px;
}
.selectedOptionsList {
    margin-left: 15px;
    list-style: disc;
}
.emailIdLink {
    color: white;
    font-size: small;
}