.result_homeTitle {
    float: left;
    width: 58%;
    height: 50px;
}

.result_homeLinks {
    float: right;
    width: 42%;
    margin-top: 20px;
    height: 30px;

}

#searchTable input[type="text"]{
    width: 400px;
}