#instructorEvaluationInformation {
	width: 800px;
}

#tablecaption {
	padding: 3px 35px;
	text-align: right;
	font-size: small;
	font-style: italic;
}

#messageHighlight {
	font-weight:bold;
	color: red;
}