.moreInfo {
    margin-top: 30px;
    padding-bottom: 30px;
}

.moreInfoPointTitle {
    display: block;
    font-weight: bold;
    margin: 10px 0px;
}

.moreInfoPointDetails {
    margin-left: 50px;
}

.moreInfoColumnInfo,
.moreInfoMassEditInfo {
    list-style: circle;
}

.moreInfoEmailDetails {
    list-style: disc;
    margin-left: -20px;
}

#moreInfoEnrollWOSpreadSheetEg {
    display: inline-block;
    border: thin solid grey;
    padding: 20px 40px;
    pointer: default;
}