/* borrowed from Bootstrap's .panel-default properties */

.panel-no-response {
    border-color: #ddd;
}

.panel-no-response > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-no-response > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #ddd;
}

.panel-no-response > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #ddd;
}

.panel-no-response > .panel-heading {
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image:         linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

}
