.evalName{
    width: 700px;
}

#commentTable{
    width: 700px;
    margin-left:auto;
    margin-right:auto;
}

table#commentFormTable,
table#commentFormTable td{
    width: 100%;
    border: none !important;
    padding-top: 2px;
    padding-bottom: 2px;
}

textarea{
    width: 100%;
    overflow-y: hidden;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
}

textarea#commentText{
    width: 95%;
}

.selectedOptionsList {
    margin-left: 15px;
    list-style: disc;
}
