.moreInfo {
    margin-top: 30px;
    padding-bottom: 30px;
}

.moreInfoPointTitle {
    display: block;
    font-weight: bold;
    margin: 10px 0;
}

.moreInfoPointDetails {
    margin-left: 50px;
}

.moreInfoColumnInfo,
.moreInfoMassEditInfo {
    list-style: circle;
}

.moreInfoEmailDetails {
    list-style: disc;
    margin-left: -20px;
}

#moreInfoEnrollWOSpreadSheetEg {
    display: inline-block;
    border: thin solid grey;
    padding: 20px 40px;
}

.customClass {
    background-color: lightgreen !important;
    font-weight: bold;
    color: #000;
}

.panel-body {
    padding: 0;
    margin: 0;
}

#search_field {
    width: 200px;
    height: 30px;
}

.gap-10px {
    width: 100%;
    height: 10px;
}

#enrollstudents {
    max-width: 100%;
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}
