.info {
   color: #669;
   font-size: 14px;
}

.spreadsheetLink {
   margin-right: 5.5em;
}

.enrollStudentTable {
	margin-right: 70px;
}

.invalidLine {
	font-style: italic;
}

.problemDetail {
	text-align: left;
}