#searchTable input[type="text"]{
	width: 400px;
}

.courseTitle {
	float: left;
	width: 58%;
    height: 50px;
}

.enrollLink {
	float: right;
	width: 38%;
    margin-top: 20px;
    height: 30px;
}

.dataTable td+td a { 
	margin: 0px 8px;
}

.backgroundBlock{
	margin-top: 60px;
}

.show_email{
	text-decoration: underline;
}

.emails{
	margin-top: 20px;
	background-color: #FFFF99;
}

.student_emails{
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom: 20px;
}