#frameBottom {
  position: fixed;
}

body {
    padding-top: 40px;
}

.evalResultHeader {
    width: 940px;
    padding: 10px;
}

.result_studentform{
    width:960px;
    margin: 0 auto;
}
.result_studentform tr{
    border: 1px dotted #CCC;
}

.result_studentform td {
    background-color: #EAEFF5;
    padding: 0.5em;
}

.result_studentform td:first-child {
    background-color: #4E80BB;
    color:#FFF;
    font-weight:bold;
}


#equalShareTag {
    margin: 5px auto;
    width: 960px; 
    text-align: right; 
    font-size: small; 
    font-style: italic;
}