/*---------------------  Feedback Response Tables  --------------------------------------------------- */
.responseTable {
	width: 900px;
	background-color: #D0D8E8;
}

.responseTable ul {
	padding: 0px 0px 10px 20px;
	list-style: disc;
}

.responseTable textarea {
	width: 98%;
}

.responseTable .responseText {
	width: 700px;
}

.responseSegment {
	background-color: #EAEFF5;
}