@CHARSET "ISO-8859-1";

body {
    padding-top: 60px;
}

.btn-tm-actions {
    margin-right:3px;
}

.centeralign {
    text-align: center;
}
 
 #footerComponent {
    margin:0px;
    bottom: 0px;
    position:fixed;
    height: 20px;
    width:100%;
    text-align:center;
    background-color:black;
    color:grey;
 }
