/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   --------------------------------  CSS Reset  -----------------------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 120%;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 20px;
}

.align-center {
    text-align: center;
}

.leftalign {
    text-align: left;
}

.rightalign {
    text-align: right;
}

.middlealign {
    vertical-align: middle;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.gray {
    color: gray;
}
/*-----------------------------------------------------------------------------------------*/

#header {
    background-color: black;
    height: 60px;
}

#headerWrapper {
    margin: 0px auto;
    width: 1000px;
}

#imageHolder {
    padding: 5px 15px;
    width: 150px;
    float: left;
}

#menuHolder {

}

#textHolder {
    float: left;
    width: 520px;
}

#loginHolder {
    float: right;
    width: 300px;
}

#navbar {
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   line-height: 60px;
   font-weight: bold;
}

#navbar li {
   color: white;
   float: left;
   list-style-type: none;
   padding-left: 20px;
   padding-right: 20px;
}

#navbar li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#navbar li a:hover {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.current {
   height: 78px;
   background-image:url('../images/triangle.gif');
   background-repeat:no-repeat;
   background-position:center;
   overflow: hidden;
}

.bold {
    font-weight: bold;
}

#loginHolder input{
    color: #00FF00;
       font-weight: bold;
       border-style: none;
       background-color: black;
       cursor: pointer;
}

#loginHolder form{
    width: 120px;
    display: inline;
    border-left: 1px dotted white;
    padding: 5px 0px;
    margin: 15px 0px;
    padding-left: 5px;
}

#mainContent {
    width: 1000px;
    margin: 0px auto;
}

#mainContent .toc{
    color: blue;
    font-size: 15px;
}

#mainContent #question{
    font-weight: bold;
}

#caption {
    margin: 30px auto;
    width: 800px;
    color: #e46d0b;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Verdana, Sans-Serif;
}

#contentHolder {
    margin: 30px auto;
    width: 800px;
}

h2.subcaption {
    color: #4379D1;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px auto;
    display: block;
}

.submissionsNumber {
    color: #e46d0b;
    font-size: 20px;
}

.overviewByte {
    padding: 10px;
}

.overviewBytePicture {
    float: left;
    width: 150px;
}

.overviewByteHeading {
    color: #4379D1;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto;
    display: block;
}

.overviewByteData {
    float: right;
    width: 600px;
    padding-left: 30px;
    color: gray;
}

.feature-details {
    padding-left: 25px;
}

.feature-description {
    color: gray;
    margin: 0.2em 0;
    padding-top:20px;
    width:500px
}

.feature-description p {
    padding-top:10px;
}

.tiny-text {
    color: gray;
    font-size: 8px;
}

.tiny-text a:link {
    color: gray;
}

#footer {
   background-color: black;
   clear: both;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   height: 17px;
   position: fixed;
   bottom: 0;
   z-index: 10;
   width: 100%;
}

#footerWrapper {
   text-align: center;
   margin: 0 auto;
   position: relative;
   top: 0;
   width: 1024px;
}

#footerLeftCol {
   width: 500px;
   text-align: right;
   float: left;
}

#footerRightCol {
   float: left;
   margin-left: 570px;
   width: 450px;
}

#footer a:link {
   color: #FFFFFF;
}

#footer a:visited {
   color: #FFFFFF;
}

#footer a:link:hover {
   color: #FFFFFF;
   text-decoration: underline;
}

#browserMessage{
    background-color: #FFFF99;
    margin: 10px auto;
    padding: 15px;
    text-align: left;
    width: 700px;
    font-size: 14px;
    font-weight:bold;
    line-height: 18px;
    
    /*prefix required to accommodate different browsers, especially slightly out-dated
     browsers which may not yet support the browser-radius(without prefix)*/
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    
}

#browserMessage table{
    margin-left: 50px;
    margin-top: 10px;
    width: 700px;
}

#featureSummary {
    padding-left: 25px;
}
#featureSummary li{
    list-style-type :disc;
    padding: 5px;
    font-size: 14px;
}
