@CHARSET "ISO-8859-1";

body {
    padding-top: 60px;
    padding-bottom:30px;
}

.btn-tm-actions {
    margin-right:3px;
 }

 .centeralign {
    text-align: center;
}

 #footerComponent {
    margin:0px;
    bottom: 0px;
    position:fixed;
    height: 20px;
    width:100%;
    text-align:center;
    background-color:black;
    color:grey;
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
 }
 
 .well-plain {
    border: 0px;
    box-shadow: 0 0 0 0;
    background-image: none;
    background-color: #eaeff5;
 }
 
 .well-narrow {
    margin: 0 auto;
    width:60%;
 }

.border-left-gray{
    border-left-color: #ddd;
    border-width: 1px;
    border-left-style: solid;
}

.border-top-gray{
    border-top-color: #ddd;
    border-width: 1px;
    border-top-style: solid;
    padding-top: 10px;
}

.link-in-dark-bg:link {
	color: #f2fcac;
}

.link-in-dark-bg:visited {
	color: white;
}

.link-in-dark-bg:hover {
	color: yellow;
}

.link-in-dark-bg:active {
	color: yellow;
}

.glyphicon-primary{
    color: #428bca;
}

.icon-button{
	border:0;
	background:transparent;
}

.comment-list{
	padding-top:15px;
}

.fill-primary {
	background-color: #428bca;
	color: white;
}

.fill-default {
    background-color: #9E9E9E;
    color: white;
}

.color_positive { 
    color: #1BBD3B;
}

.color_negative { 
    color:#e74c3c;
}

.highlight-white {
    color:white;
}

@media print {
    a[href]:after {
        content:none;
    }
    .no-print {
        display: none;
    }
}

