<div class="card bg-light top-padded">
  <div class="card-header bg-primary text-white">
    <strong>Pending Account Verification Requests</strong>
  </div>
  <div class="table-responsive">
    <table class="table table-striped data-table" id="search-table-account-verification-request">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Status</th>
          <th>Institute</th>
          <th>Country</th>
          <th>Submitted At</th>
          <th>Comments</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        @for (
          accountVerificationRequest of accountVerificationRequests;
          track accountVerificationRequest.id;
          let i = $index
        ) {
          <tr>
            <td>{{ accountVerificationRequest.name }}</td>
            <td>{{ accountVerificationRequest.email }}</td>
            <td>{{ accountVerificationRequest.status }}</td>
            <td>{{ accountVerificationRequest.institute }}</td>
            <td>{{ accountVerificationRequest.country | countryName }}</td>
            <td id="timestamp-box">{{ accountVerificationRequest.createdAtText }}</td>
            <td>
              <div id="comment-box">
                {{ accountVerificationRequest.comments }}
              </div>
            </td>
            <td class="align-middle">
              <div class="d-flex flex-row align-items-center justify-content-center gap-2">
                <button
                  id="approve-account-verification-request-{{ i }}"
                  class="btn btn-success"
                  [disabled]="
                    !accountVerificationRequest.status ||
                    accountVerificationRequest.status === 'APPROVED' ||
                    isApprovingAccountVerificationRequest[i]
                  "
                  (click)="$event.stopPropagation(); approveAccountVerificationRequest(accountVerificationRequest, i)"
                >
                  @if (isApprovingAccountVerificationRequest[i]) {
                    <tm-ajax-loading></tm-ajax-loading>
                  }
                  Approve
                </button>
                <button
                  id="review-account-verification-request-{{ i }}"
                  class="btn btn-warning"
                  (click)="$event.stopPropagation(); reviewAccountVerificationRequest(accountVerificationRequest)"
                >
                  Review
                </button>
              </div>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="8" class="text-center">No pending account verification requests</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
