<table class="table table-striped" id="search-table-account-verification-request" style="table-layout: fixed">
  <thead>
    <tr>
      <th class="text-nowrap">Name</th>
      <th class="text-nowrap">Email</th>
      <th class="text-nowrap">Status</th>
      <th class="text-nowrap">Institute, Country</th>
      <th class="text-nowrap">Submitted At</th>
      <th class="text-nowrap">Comments</th>
      <th class="text-nowrap">Options</th>
    </tr>
  </thead>
  <tbody>
    @for (accountVerificationRequest of accountVerificationRequests; track accountVerificationRequest.id) {
      <tr>
        <td>{{ accountVerificationRequest.name }}</td>
        <td>{{ accountVerificationRequest.email }}</td>
        <td>{{ accountVerificationRequest.status }}</td>
        <td>{{ accountVerificationRequest.institute }}, {{ accountVerificationRequest.country | countryName }}</td>
        <td class="text-nowrap">{{ accountVerificationRequest.createdAtText }}</td>
        <td>
          {{
            accountVerificationRequest.comments.length > 150
              ? (accountVerificationRequest.comments | slice: 0 : 150) + '…'
              : accountVerificationRequest.comments
          }}
        </td>
        <td class="align-middle">
          <div class="d-flex flex-wrap gap-2 justify-content-center">
            <button
              id="approve-account-verification-request-{{ accountVerificationRequest.id }}"
              class="btn btn-success btn-sm"
              [disabled]="accountVerificationRequest.status !== 'PENDING' || isApprovingById.get(accountVerificationRequest.id)"
              (click)="$event.stopPropagation(); approveAccountVerificationRequest(accountVerificationRequest)"
            >
              @if (isApprovingById.get(accountVerificationRequest.id)) {
                <tm-ajax-loading></tm-ajax-loading>
              }
              Approve
            </button>
            <button
              id="review-account-verification-request-{{ accountVerificationRequest.id }}"
              class="btn btn-warning btn-sm"
              (click)="$event.stopPropagation(); reviewAccountVerificationRequest(accountVerificationRequest)"
            >
              Review
            </button>
          </div>
        </td>
      </tr>
    } @empty {
      <tr>
        <td colspan="7" class="text-center">No pending account verification requests</td>
      </tr>
    }
  </tbody>
</table>
