.background-color-light-blue {
  background-color: #eaeff5;
}

.responsive-padding {
  padding-left: 5px;
  padding-right: 5px;
}

@media (width <= 576px) {
  // prevent overflow for small screen sizes
  .btn-small-padding {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
