.separate-content-holder {
  height: 5em;
  padding-top: 1em;
  width: 100%;
}

.ui-text {
  font-weight: bold;
  color: #908b8b;
  background-color: #e6e9e9;
  font-size: 13px;
  padding-left: 1%;
  padding-right: 1%;
}
