.separate-content-holder {
  height: 5em;
  padding-top: 1em;
  width: 100%;
}

.modal-button {
  color: #007BFF;
  text-decoration: none;
}

.modal-button:hover {
  text-decoration: underline;
  color: #0056B3;
}
