.separate-content-holder {
  height: 5em;
  padding-top: 1em;
  width: 100%;
}
.my_tag{
    font-weight: bold;
    color: #908B8B;
    background-color: #E6E9E9;
    font-size: 13px;
    padding-left: 1.0%;
    padding-right: 1.0%;
}