.card-header {
  cursor: pointer;

  .fa-anchor {
    display: none;
  }

  @media (max-width: 768px) {
    .fa-anchor {
      display: block;
    }
  }

  @media (min-width: 768px) {
    &:hover {
      .fa-anchor {
        display: block;
        opacity: 30%;

        &:hover {
          opacity: 100%;
        }
      }
    }
  }
}

.card-body {
  overflow: hidden;
}
