.card-header {
  cursor: pointer;

  .fa-anchor {
    display: none;
    opacity: 30%;
  }

  &:hover {
    .fa-anchor {
      display: block;

      &:hover {
        opacity: 100%;
      }
    }
  }
}

.card-body {
  overflow: hidden;
}

.card-header-btn-toolbar {
  display: flex;
  gap: 10px;
}
