<main>
  <h1 class="color-orange">
    Contact Us
  </h1>
  <img class="img-responsive" src="assets/images/contact.png">
  <p>
    <b>Email:</b> You can contact us at the following email address - <a href="mailto:teammates@comp.nus.edu.sg">teammates@comp.nus.edu.sg</a>
  </p>
  <br>
  <p>
    <b>Blog:</b> Visit the <a href="http://teammatesonline.blogspot.sg/" target="_blank" rel="noopener noreferrer">TEAMMATES Blog</a> to see our latest updates and information.
  </p>
  <br>
  <p>
    <b>Bug reports and feature requests:</b> Any bug reports or feature requests can be submitted to above email address.
  </p>
  <br>
  <p>
    <b>Interested in joining us?</b> Visit our <a href="https://github.com/TEAMMATES/teammates" target="_blank" rel="noopener noreferrer">Developer Website</a>.
  </p>
</main>
