<h1 class="color-orange">
  Contact Us
</h1>
<img src="assets/images/contact.png">
<p>
  <b>Email:</b> You can contact us at the following email address: <a href="mailto:{{ supportEmail }}">{{ supportEmail }}</a>.
</p>
<p>
  <b>Blog:</b> Visit the <a href="http://teammatesonline.blogspot.sg/" target="_blank" rel="noopener noreferrer">TEAMMATES Blog</a> to see our latest updates and information.
</p>
<p>
  <b>Bug reports and feature requests:</b> Any bug reports or feature requests can be submitted to above email address.
</p>
<p>
  <b>Interested in joining us?</b> Visit our <a href="https://github.com/TEAMMATES/teammates" target="_blank" rel="noopener noreferrer">Developer Website</a>.
</p>
<p>
  <b>Becoming a sponsor</b>:
  If you are interested in sponsoring the TEAMMATES service for a period of time, please contact us at the above email address for details.
</p>
