<div class="modal-header">
    <div>
      <h5 class="modal-title">
        <i class="fas fa-exclamation-circle"></i>Remind Particular Students {{ feedbackSessionName }}
        <small>(select the student(s) you want to remind)</small>
      </h5>
      <input id="remindAll" type="checkbox" [(ngModel)]="checkAll" (change)="checkAllStudents()">
      <label for="remindAll" class="remind-all">Select all respondents</label>
      <input id="remindNotSubmitted" type="checkbox" [(ngModel)]="checkAllYetSubmitted" (change)="checkAllYetSubmittedStudents(); bindSelectedCheckboxes()">
      <label for="remindNotSubmitted">Select all respondents not yet submitted</label>
    </div>
    <button type="button" class="close" (click)="activeModal.dismiss()"><i class="fas fa-times"></i></button>
  </div>
<div class="modal-body">
  <div class=".table-responsive" *ngIf="remindStudentsTableRows.length > 0">
    <table class="table table-bordered">
      <tr class="background-color-medium-gray">
        <th></th>
        <th (click)="sortRemindStudentsTableRows(SortBy.SECTION_NAME)" class="clickable">
          Section
          <span *ngIf="remindStudentsTableRowSortBy !== SortBy.SECTION_NAME"><i class="fas fa-sort"></i></span>
          <span *ngIf="remindStudentsTableRowSortBy === SortBy.SECTION_NAME && remindStudentsTableRowSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="remindStudentsTableRowSortBy === SortBy.SECTION_NAME && remindStudentsTableRowSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
        </th>
        <th (click)="sortRemindStudentsTableRows(SortBy.TEAM_NAME)" class="clickable">
          Team
          <span *ngIf="remindStudentsTableRowSortBy !== SortBy.TEAM_NAME"><i class="fas fa-sort"></i></span>
          <span *ngIf="remindStudentsTableRowSortBy === SortBy.TEAM_NAME && remindStudentsTableRowSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="remindStudentsTableRowSortBy === SortBy.TEAM_NAME && remindStudentsTableRowSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
        </th>
        <th (click)="sortRemindStudentsTableRows(SortBy.STUDENT_NAME)" class="clickable">
          Student Name
          <span *ngIf="remindStudentsTableRowSortBy !== SortBy.STUDENT_NAME"><i class="fas fa-sort"></i></span>
          <span *ngIf="remindStudentsTableRowSortBy === SortBy.STUDENT_NAME && remindStudentsTableRowSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="remindStudentsTableRowSortBy === SortBy.STUDENT_NAME && remindStudentsTableRowSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
        </th>
        <th (click)="sortRemindStudentsTableRows(SortBy.STUDENT_EMAIL)" class="clickable">
          Email
          <span *ngIf="remindStudentsTableRowSortBy !== SortBy.STUDENT_EMAIL"><i class="fas fa-sort"></i></span>
          <span *ngIf="remindStudentsTableRowSortBy === SortBy.STUDENT_EMAIL && remindStudentsTableRowSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="remindStudentsTableRowSortBy === SortBy.STUDENT_EMAIL && remindStudentsTableRowSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
        </th>
        <th (click)="sortRemindStudentsTableRows(SortBy.SUBMIT_STATUS)" class="clickable">
          Submitted?
          <span *ngIf="remindStudentsTableRowSortBy !== SortBy.SUBMIT_STATUS"><i class="fas fa-sort"></i></span>
          <span *ngIf="remindStudentsTableRowSortBy === SortBy.SUBMIT_STATUS && remindStudentsTableRowSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="remindStudentsTableRowSortBy === SortBy.SUBMIT_STATUS && remindStudentsTableRowSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
        </th>
      </tr>
      <ng-container *ngFor="let remindStudentRow of remindStudentsTableRows">
        <ng-container *ngIf="!remindStudentRow.studentResponseStatus.responseStatus">
          <tr class="bg-warning">
            <td class="align-center">
                <label>
                  <input type="checkbox" (change)="bindSelectedCheckboxes()" [(ngModel)]="remindStudentRow.isChecked">
                </label>
            </td>
            <td>
              {{ remindStudentRow.studentResponseStatus.sectionName }}
            </td>
            <td>
              {{ remindStudentRow.studentResponseStatus.teamName }}
            </td>
            <td>
              {{ remindStudentRow.studentResponseStatus.name }}
            </td>
            <td>
              {{ remindStudentRow.studentResponseStatus.email }}
            </td>
            <td>
              No
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="remindStudentRow.studentResponseStatus.responseStatus">
          <tr class="bg-light">
            <td class="align-center">
              <div class="checkbox">
                <label>
                  <input type="checkbox" (change)="bindSelectedCheckboxes()" [(ngModel)]="remindStudentRow.isChecked">
                </label>
              </div>
            </td>
            <td>
              {{ remindStudentRow.studentResponseStatus.sectionName }}
            </td>
            <td>
              {{ remindStudentRow.studentResponseStatus.teamName }}
            </td>
            <td>
              {{ remindStudentRow.studentResponseStatus.name }}
            </td>
            <td>
              {{ remindStudentRow.studentResponseStatus.email }}
            </td>
            <td>
              Yes
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </table>
  </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="activeModal.close()">Ok</button>
</div>
