.sortable-header {
  cursor: pointer;
}

.course-section {
  margin-top: 2em;
}

.bold-label {
  font-weight: 700 !important;
}

.recycle-bin-body {
  padding: 0;
}

.background-color-medium-gray {
  background-color: #E5E5E6;
}

.text-color-black {
  color: #000;
}

.text-color-gray {
  color: gray;
}

.text-color-lightgray {
  color: lightgray;
}

.text-color-red {
  color: red;
}

.link-disabled {
  cursor: default;
  color: #000;
  pointer-events: none;
}

.recycle-bin-table {
  margin-bottom: 0;
}

.archive-body {
  padding: 0;
}

.archive-table {
  margin-bottom: 0;
}

.margin-top-30px {
  margin-top: 30px;
}

.actions-cell button:not(.dropdown-item) {
  margin-left: var(--btn-margin);
}

.dropdown-menu {
  min-width: .5rem;
}

.table-responsive {
  overflow: auto;
}

.d-inline-block {
  position: inherit;
}
