button {
  margin: 2px;
}

.course-section {
  margin-top: 2em;
}

.margin-left-10px {
  margin-left: 10px;
}

.background-color-medium-gray {
  background-color: #E5E5E6;
}

.text-color-black {
  color: #000;
}

.text-color-gray {
  color: gray;
}

.text-color-red {
  color: red;
}

.link-disabled {
  cursor: default;
  color: #000;
  pointer-events: none;
}
