<div>
  <button id="btn-add-course" class="btn btn-success" (click)="isAddNewCourseFormExpanded = true"
    [disabled]="isAddNewCourseFormExpanded || isLoading"><i class="fas fa-plus"></i> Add New Course
  </button>
</div>

<div id="add-course-section" class="course-section" *ngIf="isAddNewCourseFormExpanded && !isLoading" @collapseAnim>
  <tm-course-edit-form [formMode]="CourseEditFormMode.ADD" [(formModel)]="courseFormModel"
    [resetFormEvent]="resetCourseForm" (closeFormEvent)="isAddNewCourseFormExpanded = false"
    (createNewCourseEvent)="createNewCourse()" (copyCourseEvent)="createCopiedCourse($event)">
  </tm-course-edit-form>
</div>

<div *ngIf="isCopyingCourse" class="margin-top-30px">
  <p>Copy Progress</p>
  <tm-progress-bar></tm-progress-bar>
</div>

<tm-loading-retry [shouldShowRetry]="hasLoadingFailed" [message]="'Failed to load courses'"
  (retryEvent)="loadInstructorCourses()">
  <ng-template #addCourseAlert>
    <div class="alert alert-warning margin-top-30px" role="alert">
      You do not seem to have any active courses. Use the button above to create a new course.
    </div>
  </ng-template>
  <div *tmIsLoading="isLoading">
    <div class="course-section" *ngIf="activeCourses.length; else addCourseAlert;">
      <h2 class="h3">Active courses</h2>
      <tm-sortable-table [rows]="activeCoursesSortableTable.rows" [columns]="activeCoursesSortableTable.columns" [initialSortBy]="SortBy.COURSE_CREATION_DATE"></tm-sortable-table>
      <p *ngIf="!activeCourses.length">No records found.</p>
    </div>
  </div>
</tm-loading-retry>

<div class="course-section" *ngIf="archivedCourses.length">
  <h2 class="h3 text-muted">
    <span class="fa fa-file-archive" aria-hidden="true"></span> Archived courses
  </h2>
  <div class="card top-padded">
    <div id="archived-table-heading" class="card-header bg-info cursor-pointer"
      (click)="isArchivedCourseExpanded = !isArchivedCourseExpanded">
      <b>Archive</b>
      <div class="card-header-btn-toolbar">
        <tm-panel-chevron [isExpanded]="isArchivedCourseExpanded"></tm-panel-chevron>
      </div>
    </div>
    <div class="card-body archive-body table-responsive" *ngIf="isArchivedCourseExpanded" @collapseAnim>
     <tm-sortable-table [rows]="archivedCoursesSortableTable.rows" [columns]="archivedCoursesSortableTable.columns" [initialSortBy]="SortBy.COURSE_CREATION_DATE"></tm-sortable-table>
    </div>
  </div>
</div>

<div class="row course-section margin-top-30px" *ngIf="softDeletedCourses.length">
  <div class="col-12">
    <h2 class="h3 text-muted">
      <span class="fa fa-trash-alt" aria-hidden="true"></span> Deleted courses
    </h2>
    <div class="card bg-light top-padded">
      <div id="deleted-table-heading" class="card-header bg-secondary text-white cursor-pointer"
        (click)="isRecycleBinExpanded = !isRecycleBinExpanded">
        <b>Recycle Bin</b>
        <div class="card-header-btn-toolbar">
          <button id="btn-restore-all" class="btn btn-secondary btn-sm" *ngIf="canRestoreAll"
            (click)="$event.stopPropagation(); onRestoreAll()"
            ngbTooltip="Restore all deleted courses and their corresponding students and sessions">
            <i class="fas fa-check" aria-hidden="true"></i> Restore All
          </button>
          <button class="btn btn-secondary btn-sm disabled" *ngIf="!canRestoreAll">
            <i class="fas fa-check" aria-hidden="true"></i> Restore All
          </button>
          <button id="btn-delete-all" class="btn btn-secondary btn-sm" *ngIf="canDeleteAll"
            (click)="$event.stopPropagation(); onDeleteAll()"
            ngbTooltip="Permanently delete all courses and their corresponding students and sessions">
            <i class="fas fa-times" aria-hidden="true"></i> Delete All
          </button>
          <button class="btn btn-secondary btn-sm disabled" *ngIf="!canDeleteAll">
            <i class="fas fa-times" aria-hidden="true"></i> Delete All
          </button>
          <tm-panel-chevron [isExpanded]="isRecycleBinExpanded"></tm-panel-chevron>
        </div>
      </div>
      <div class="card-body recycle-bin-body table-responsive" *ngIf="isRecycleBinExpanded" @collapseAnim>
        <tm-sortable-table [rows]="deletedCoursesSortableTable.rows" [columns]="deletedCoursesSortableTable.columns" [initialSortBy]="SortBy.COURSE_CREATION_DATE"></tm-sortable-table>
      </div>
    </div>
  </div>
</div>

<ng-template #modifiedTimestampsModal>
  <tm-modified-timestamps-modal [modifiedSessions]="this.modifiedSessions">
  </tm-modified-timestamps-modal>
</ng-template>
