<div class="course-section">
  <tm-add-course-form (courseAdded)="loadInstructorCourses()"></tm-add-course-form>
</div>

<div class="course-section">
  <h2>Active Courses</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered margin-0">
      <thead>
        <tr class="bg-primary text-white">
          <th>Course ID</th>
          <th>Course Name</th>
          <th>Creation Date</th>
          <th>Sections</th>
          <th>Teams</th>
          <th>Total Students</th>
          <th>Total Unregistered</th>
          <th class="text-center">Action(s)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of activeCourses">
          <td>{{course.id}}</td>
          <td>{{course.name}}</td>
          <td container="body" [ngbTooltip]="course.createdAt | date:'EEE, dd MMM yyyy, h:mma'">
            {{course.createdAt | date:'d MMM yyyy'}}
          </td>
          <td>
            <span *ngIf="!courseStats[course.id]">
              <a (click)="getCourseStats(course.id)" [routerLink]="">
                show
              </a>
            </span>
            <span *ngIf="courseStats[course.id]">
              {{ courseStats[course.id].sections }}
            </span>
          </td>
          <td>
            <span *ngIf="!courseStats[course.id]">
              <a (click)="getCourseStats(course.id)" [routerLink]="">
                show
              </a>
            </span>
            <span *ngIf="courseStats[course.id]">
              {{ courseStats[course.id].teams }}
            </span>
          </td>
          <td>
            <span *ngIf="!courseStats[course.id]">
              <a (click)="getCourseStats(course.id)" [routerLink]="">
                show
              </a>
            </span>
            <span *ngIf="courseStats[course.id]">
              {{ courseStats[course.id].students }}
            </span>
          </td>
          <td>
            <span *ngIf="!courseStats[course.id]">
              <a (click)="getCourseStats(course.id)" [routerLink]="">
                show
              </a>
            </span>
            <span *ngIf="courseStats[course.id]">
              {{ courseStats[course.id].unregistered }}
            </span>
          </td>
          <td class="text-center">
            <button class="btn btn-light btn-sm" *ngIf="course.canModifyStudent"
                ngbTooltip="Enroll student into the course"
                routerLink="/web/instructor/courses/enroll"
                [queryParams]="{courseid: course.id}">
              Enroll
            </button>
            <button class="btn btn-light btn-sm disabled" *ngIf="!course.canModifyStudent">
              Enroll
            </button>
            <button class="btn btn-light btn-sm"
                ngbTooltip="View, edit and send invitation emails to the students in the course"
                routerLink="/web/instructor/courses/details"
                [queryParams]="{courseid: course.id}">
              View
            </button>
            <button class="btn btn-light btn-sm"
                ngbTooltip="Edit Course information and instructor list"
                routerLink="/web/instructor/courses/edit"
                [queryParams]="{courseid: course.id}">
              Edit
            </button>
            <button class="btn btn-light btn-sm" (click)="changeArchiveStatus(course.id, true)"
                ngbTooltip="Archive the course so that it will not be shown in the home page any more (you can still
                access it from the 'Courses' tab)">
              Archive
            </button>
            <button class="btn btn-light btn-sm" *ngIf="course.canModifyCourse" (click)="onDelete(course.id)"
                ngbTooltip="Delete the course and its corresponding students and sessions">
              Delete
            </button>
            <button class="btn btn-light btn-sm disabled" *ngIf="!course.canModifyCourse">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
      <tr *ngIf="!activeCourses.length">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <p *ngIf="!activeCourses.length">No records found.</p>
  </div>
</div>

<div class="course-section" *ngIf="archivedCourses.length">
  <h2 class="text-muted">
    <span class="fa fa-file-archive"></span> Archived Courses
  </h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered margin-0">
      <thead>
        <tr class="bg-info text-white">
          <th>Course ID</th>
          <th>Course Name</th>
          <th>Creation Date</th>
          <th class="text-center">Action(s)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of archivedCourses">
          <td>{{course.id}}</td>
          <td>{{course.name}}</td>
          <td container="body" ngbTooltip="{{course.createdAt | date:'EEE, dd MMM yyyy, h:mma'}}">
            {{course.createdAt | date:'d MMM yyyy'}}
          </td>
          <td class="text-center">
            <button class="btn btn-light btn-sm" (click)="changeArchiveStatus(course.id, false)">
              Unarchive
            </button>
            <button class="btn btn-light btn-sm" *ngIf="course.canModifyCourse" (click)="onDelete(course.id)"
                ngbTooltip="Delete the course and its corresponding students and sessions">
              Delete
            </button>
            <button class="btn btn-light btn-sm disabled" *ngIf="!course.canModifyCourse">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="course-section" *ngIf="softDeletedCourses.length">
  <h2 class="text-muted">
    <span class="fa fa-trash"></span> Deleted Courses
  </h2>
  <div class="card bg-light top-padded">
    <div class="card-header bg-secondary text-white">
      <strong>Recycle Bin</strong>
      <span class="float-sm-right margin-left-10px">
        <button class="btn btn-light btn-sm" *ngIf="canDeleteAll" (click)="onDeleteAll()"
            ngbTooltip="Permanently delete all courses and their corresponding students and sessions">
          <strong class="text-color-red">
            <span class="fa fa-times-circle"></span> Delete All
          </strong>
        </button>
        <button class="btn btn-light btn-sm disabled" *ngIf="!canDeleteAll">
          <strong class="text-color-red">
            <span class="fa fa-times-circle"></span> Delete All
          </strong>
        </button>
      </span>
      <span class="float-sm-right">
        <button class="btn btn-light btn-sm" *ngIf="canRestoreAll" (click)="onRestoreAll()"
            ngbTooltip="Restore all deleted courses and their corresponding students and sessions">
          <strong class="text-color-black">
            <span class="fa fa-check-circle"></span> Restore All
          </strong>
        </button>
        <button class="btn btn-light btn-sm disabled" *ngIf="!canRestoreAll">
          <strong class="text-color-black">
            <span class="fa fa-check-circle"></span> Restore All
          </strong>
        </button>
      </span>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered margin-0">
      <thead>
        <tr class="background-color-medium-gray text-color-gray">
          <th>Course ID</th>
          <th>Course Name</th>
          <th>Creation Date</th>
          <th>Deletion Date</th>
          <th class="text-center">Action(s)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of softDeletedCourses">
          <td>{{course.id}}</td>
          <td>{{course.name}}</td>
          <td container="body" [ngbTooltip]="course.createdAt | date:'EEE, dd MMM yyyy, h:mma'">
            {{course.createdAt | date:'d MMM yyyy'}}
          </td>
          <td container="body" [ngbTooltip]="course.deletedAt | date:'EEE, dd MMM yyyy, h:mma'">
            {{course.deletedAt | date:'d MMM yyyy'}}
          </td>
          <td class="text-center">
            <button class="btn btn-light btn-sm" *ngIf="course.canModifyCourse"
                (click)="onRestore(course.id)"
                ngbTooltip="Restore the deleted course and its corresponding students and sessions">
              Restore
            </button>
            <button class="btn btn-light btn-sm disabled" *ngIf="!course.canModifyCourse">
              Restore
            </button>
            <button class="btn btn-light btn-sm" *ngIf="course.canModifyCourse" style="color: red"
                (click)="onDeletePermanently(course.id)"
                ngbTooltip="Permanently delete the course and its corresponding students and sessions">
              Delete Permanently
            </button>
            <button class="btn btn-light btn-sm disabled" *ngIf="!course.canModifyCourse" style="color: red">
              Delete Permanently
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
