.btn-left {
  margin-right: 10px;
}

.bold-label {
  font-weight: 700 !important;
}

.margin-left-10px {
  margin-left: 10px;
}

.fill-plain {
  background-color: #EAEFF5;
}

.background-color-medium-gray {
  background-color: #E5E5E6;
}

.text-color-black {
  color: #000;
}

.text-color-gray {
  color: gray;
}

.text-color-red {
  color: red;
}

.link-disabled {
  cursor: default;
  color: #000;
  pointer-events: none;
}
