.loader-bar-visible {
  position: fixed;
  width: 100%;
  left: 0;
  opacity: 1;
  z-index: 2000;
}

/* stylelint-disable selector-pseudo-element-no-unknown */
::ng-deep .mat-progress-bar-fill::after {
  background-color: #007BFF;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}
/* stylelint-enable */
