.loader-bar-visible {
  position: fixed;
  width: 100%;
  left: 0;
  opacity: 1;
  z-index: 2000;
}

/* stylelint-disable selector-pseudo-element-no-unknown */
:host ::ng-deep .progress {
  border-radius: 0;
  height: 0.25rem;
}
/* stylelint-enable */
