.margin-bottom-15px {
  margin-bottom: 15px;
}

// The clickable parts of the boxes should change the cursor to a pointer

tm-question-text-with-info {
  cursor: pointer;
}

tm-view-photo-popover {
  cursor: default;
}

.card-header {
  cursor: pointer;
}