.top-padded {
  margin-top: 20px;
}

.info-card-padding {
  padding: 40px 40px 15px;
}

.action-btn {
  margin-bottom: var(--btn-margin);
  width: 100%;
  white-space: nowrap;
}

.action-btn-group {
  max-width: 600px;
  padding-left: 40px;
  padding-right: 40px;
}
