.top-padded {
  margin-top: 20px;
}

.margin-right-10px {
  margin-right: 10px;
}

.top-padded-0 {
  padding-top: 0;
}

.top-padded-small {
  padding-top: .5rem;
}

.card-body {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.background-color-warning {
  background-color: lighten(#FFF3CD, 5%);
}

.alert-primary-border {
  border-color: #B8DAFF;
}
