@use 'sass:color';

.top-padded {
  margin-top: 20px;
}

.margin-right-10px {
  margin-right: 10px;
}

.top-padded-0 {
  padding-top: 0;
}

.top-padded-small {
  padding-top: 0.5rem;
}

.card-body {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.background-color-warning {
  background-color: color.adjust(#fff3cd, $lightness: 5%);
}

.alert-primary-border {
  border-color: #b8daff;
}
