<div class="card bg-light mt-4" *ngFor="let question of questions" inViewport (inViewportAction)="setLoading(question)">
  <div id="question-{{ question.questionOutput.feedbackQuestion.questionNumber }}-responses" class="card-body" *ngIf="question.isLoading">
    <tm-question-text-with-info [questionNumber]="question.questionOutput.feedbackQuestion.questionNumber" [questionDetails]="question.questionOutput.feedbackQuestion.questionDetails" class="question-text"></tm-question-text-with-info>
    <div id="other-responses" *ngIf="canUserSeeResponses(question), else nonViewableResponse">
      <tm-single-statistics [question]="question.questionOutput.feedbackQuestion.questionDetails"
                            [responses]="question.questionOutput.allResponses"
                            [statistics]="question.questionOutput.questionStatistics"
                            [isStudent]="true"></tm-single-statistics>
      <div *ngIf="RESPONSE_HIDDEN_QUESTIONS.includes(question.questionOutput.feedbackQuestion.questionType), else dontShowAdditionalMsg">
        <p style="color: gray; font-size: small;"><i class="fas fa-info-circle" style="color: #087CFC;"></i> Individual Responses are not configured to be shown for this question type.</p>
      </div>
      <ng-template #dontShowAdditionalMsg>
        <tm-student-view-responses *ngIf="question.questionOutput.responsesToSelf.length" [responses]="question.questionOutput.responsesToSelf" [feedbackQuestion]="question.questionOutput.feedbackQuestion" [timezone]="session.timeZone" [statistics]="question.questionOutput.questionStatistics"></tm-student-view-responses>
        <div *ngFor="let responsesForOtherRecipient of question.questionOutput.otherResponses">
          <tm-student-view-responses *ngIf="responsesForOtherRecipient.length" [responses]="responsesForOtherRecipient" [feedbackQuestion]="question.questionOutput.feedbackQuestion" [timezone]="session.timeZone" [statistics]="question.questionOutput.questionStatistics"></tm-student-view-responses>
        </div>
        <div class="other-response" *ngIf="!question.questionOutput.otherResponses.length && !question.questionOutput.responsesToSelf.length">
          <strong>Other responses (to you): </strong>No responses received yet.
        </div>
      </ng-template>
    </div>
    <ng-template #nonViewableResponse>
      <div class="other-response">
        <strong>Other responses (to you): </strong>Responses are not visible to you.
      </div>
    </ng-template>
    <div id="given-responses" class="mt-4" *ngIf="question.questionOutput.responsesFromSelf.length">
      <strong>Your own responses (to others):</strong>
      <div *ngFor="let responseFromSelf of question.questionOutput.responsesFromSelf">
        <tm-student-view-responses [responses]="[responseFromSelf]" [isSelfResponses]="true" [feedbackQuestion]="question.questionOutput.feedbackQuestion" [timezone]="session.timeZone" [statistics]="question.questionOutput.questionStatistics"></tm-student-view-responses>
      </div>
    </div>
  </div>
</div>
