@if (responsesToShow.length) {
  <div>
    <table id="response-table" class="table table-bordered">
      <thead>
        <tr class="header">
          @if (showGiver) {
            <th class="sortable-header" (click)="sortResponses(SortBy.GIVER_TEAM)" [attr.aria-sort]="getAriaSort(SortBy.GIVER_TEAM)">
              <button>
                Team
                <span class="fa-stack" aria-hidden="true">
                  <i class="fas fa-sort"></i>
                  @if (sortBy === SortBy.GIVER_TEAM && sortOrder === SortOrder.DESC) {
                    <i class="fas fa-sort-down"></i>
                  }
                  @if (sortBy === SortBy.GIVER_TEAM && sortOrder === SortOrder.ASC) {
                    <i class="fas fa-sort-up"></i>
                  }
                </span>
              </button>
            </th>
            <th class="sortable-header" (click)="sortResponses(SortBy.GIVER_NAME)" [attr.aria-sort]="getAriaSort(SortBy.GIVER_NAME)">
              <button>
                Giver
                <span class="fa-stack" aria-hidden="true">
                  <i class="fas fa-sort"></i>
                  @if (sortBy === SortBy.GIVER_NAME && sortOrder === SortOrder.DESC) {
                    <i class="fas fa-sort-down"></i>
                  }
                  @if (sortBy === SortBy.GIVER_NAME && sortOrder === SortOrder.ASC) {
                    <i class="fas fa-sort-up"></i>
                  }
                </span>
              </button>
            </th>
          }
          @if (showRecipient) {
            <th class="sortable-header" (click)="sortResponses(SortBy.RECIPIENT_TEAM)" [attr.aria-sort]="getAriaSort(SortBy.RECIPIENT_TEAM)">
              <button>
                Team
                <span class="fa-stack" aria-hidden="true">
                  <i class="fas fa-sort"></i>
                  @if (sortBy === SortBy.RECIPIENT_TEAM && sortOrder === SortOrder.DESC) {
                    <i class="fas fa-sort-down"></i>
                  }
                  @if (sortBy === SortBy.RECIPIENT_TEAM && sortOrder === SortOrder.ASC) {
                    <i class="fas fa-sort-up"></i>
                  }
                </span>
              </button>
            </th>
            <th class="sortable-header" (click)="sortResponses(SortBy.RECIPIENT_NAME)" [attr.aria-sort]="getAriaSort(SortBy.RECIPIENT_NAME)">
              <button>
                Recipient
                <span class="fa-stack" aria-hidden="true">
                  <i class="fas fa-sort"></i>
                  @if (sortBy === SortBy.RECIPIENT_NAME && sortOrder === SortOrder.DESC) {
                    <i class="fas fa-sort-down"></i>
                  }
                  @if (sortBy === SortBy.RECIPIENT_NAME && sortOrder === SortOrder.ASC) {
                    <i class="fas fa-sort-up"></i>
                  }
                </span>
              </button>
            </th>
          }
          <th>Response</th>
          <th>Comment for Response</th>
          <th class="text-center no-print actions-cell" [ngClass]="{ 'actions-cell-narrow': question.questionType === 'CONTRIB' }">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (response of responsesToShow; track response) {
          <tr [class.color-neutral]="response.isMissingResponse">
            @if (showGiver) {
              <td>{{ response.giverTeam }}</td>
              <td>
                {{ response.giver === '-' ? 'No Specific User' : response.giver}}
                {{response.giverEmail? " (" + response.giverEmail + ")" : ""}}
              </td>
            }
            @if (showRecipient) {
              <td>
                {{ response.recipientTeam === '-' ? 'No Specific Team' : response.recipientTeam}}
              </td>
              <td>
                {{ response.recipient === '-' ? 'No Specific User' : response.recipient}}
                {{response.recipientEmail? " (" + response.recipientEmail + ")" : ""}}
              </td>
            }
            <td>
              <tm-single-response [responseDetails]="response.responseDetails" [questionDetails]="question.questionDetails"
              [giverEmail]="response.giverEmail!" [recipientEmail]="response.recipientEmail!" [statistics]="statistics"></tm-single-response>
            </td>
            <td>
              @if (response.participantComment) {
                <div [innerHTML]="response.participantComment.commentText | safeHtml"></div>
              }
            </td>
            <td class="text-center no-print">
              @if (response.relatedGiverEmail) {
                <tm-response-moderation-button [session]="session" [relatedGiverEmail]="response.relatedGiverEmail"
                [moderatedQuestionId]="question.feedbackQuestionId" [isGiverInstructor]="question.giverType === 'INSTRUCTORS'" btnStyle="LIGHT"></tm-response-moderation-button>
              }
              @if (!response.isMissingResponse && question.questionType !== 'CONTRIB') {
                <button id="btn-add-comment" class="btn btn-light btn-sm btn-margin-left" [disabled]="isDisplayOnly"
                  (click)="showCommentTableModel(response, commentTableModal)">Add Comment
                  @if (instructorCommentTableModel[response.responseId].commentRows.length) {
                    <span class="badge bg-secondary">{{instructorCommentTableModel[response.responseId].commentRows.length}}</span>
                  }
                </button>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
} @else {
  <div id="no-responses">
    <i>There are no responses for this question or you may not have the permission to see the response.</i>
  </div>
}

<ng-template #commentTableModal let-modal>
  @if (currResponseToAdd) {
    <tm-comment-table-modal [questionShowResponsesTo]="question.showResponsesTo"
      [activeModal]="modal"
      [model]="instructorCommentTableModel[currResponseToAdd.responseId]"
      [response]="currResponseToAdd"
      (modelChange)="triggerModelChangeForSingleResponse(currResponseToAdd.responseId, $event)"
      (saveNewCommentEvent)="triggerSaveNewCommentEvent(currResponseToAdd.responseId)"
      (updateCommentEvent)="triggerUpdateCommentEvent(currResponseToAdd.responseId, $event)"
      (deleteCommentEvent)="triggerDeleteCommentEvent(currResponseToAdd.responseId, $event)"
    ></tm-comment-table-modal>
  }
</ng-template>
