<div *ngIf="responsesToShow.length">
  <table class="table">
    <thead>
      <tr>
        <th class="sortable-header" (click)="sortResponses(SortBy.GIVER_TEAM)" *ngIf="showGiver">
          Team
          <span *ngIf="sortBy !== SortBy.GIVER_TEAM"><i class="fas fa-sort"></i></span>
          <span *ngIf="sortBy === SortBy.GIVER_TEAM && sortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="sortBy === SortBy.GIVER_TEAM && sortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
        </th>
        <th class="sortable-header" (click)="sortResponses(SortBy.GIVER_NAME)" *ngIf="showGiver">
          Giver
          <span *ngIf="sortBy !== SortBy.GIVER_NAME"><i class="fas fa-sort"></i></span>
          <span *ngIf="sortBy === SortBy.GIVER_NAME && sortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="sortBy === SortBy.GIVER_NAME && sortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
        </th>
        <th class="sortable-header" (click)="sortResponses(SortBy.RECIPIENT_TEAM)" *ngIf="showRecipient">
          Team
          <span *ngIf="sortBy !== SortBy.RECIPIENT_TEAM"><i class="fas fa-sort"></i></span>
          <span *ngIf="sortBy === SortBy.RECIPIENT_TEAM && sortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="sortBy === SortBy.RECIPIENT_TEAM && sortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
        </th>
        <th class="sortable-header" (click)="sortResponses(SortBy.RECIPIENT_NAME)" *ngIf="showRecipient">
          Recipient
          <span *ngIf="sortBy !== SortBy.RECIPIENT_NAME"><i class="fas fa-sort"></i></span>
          <span *ngIf="sortBy === SortBy.RECIPIENT_NAME && sortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="sortBy === SortBy.RECIPIENT_NAME && sortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
        </th>
        <th>Response</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let response of responsesToShow">
        <td *ngIf="showGiver">{{ response.giverTeam }}</td>
        <td *ngIf="showGiver">{{ response.giver }}</td>
        <td *ngIf="showRecipient">{{ response.recipientTeam }}</td>
        <td *ngIf="showRecipient">{{ response.recipient }}</td>
        <td>
          <tm-single-response [responseDetails]="response.responseDetails" [questionDetails]="questionDetails"></tm-single-response>
        </td>
        <td>
          <tm-response-moderation-button [session]="session" [relatedGiverEmail]="response.relatedGiverEmail" [moderatedQuestionId]="questionId"></tm-response-moderation-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!responsesToShow.length">
  <i>There are no responses for this question or you may not have the permission to see the response.</i>
</div>
