<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="all-tests-in-parallel" parallel="tests" thread-count="5">

	<test name="component-tests">
	<!--  Theses can be run without starting the server. Should be run often. -->
		<classes>
			<class name="teammates.test.automated.EvaluationClosingReminderTest" />
			<class name="teammates.test.automated.EvaluationOpeningReminderTest" />
			<class name="teammates.test.automated.FeedbackSessionClosingReminderTest" />
			<class name="teammates.test.automated.FeedbackSessionOpeningReminderTest" />
			<class name="teammates.test.automated.FeedbackSessionPublishedReminderTest" />
			<class name="teammates.test.cases.BaseTestCaseTest" />
			<class name="teammates.test.cases.common.AccountAttributesTest" />
			<class name="teammates.test.cases.common.BuildPropertiesTest" />
			<class name="teammates.test.cases.common.CourseAttributesTest" />
			<class name="teammates.test.cases.common.CourseRosterTest" />
			<class name="teammates.test.cases.common.EvaluationAttributesTest" />
			<class name="teammates.test.cases.common.FeedbackSessionAttributesTest" />
			<class name="teammates.test.cases.common.FieldValidatorTest" />
			<class name="teammates.test.cases.common.InstructorAttributesTest" />
			<class name="teammates.test.cases.common.SanitizerTest" />
			<class name="teammates.test.cases.common.StringHelperTest" />
			<class name="teammates.test.cases.common.StudentAttributesTest" />
			<class name="teammates.test.cases.common.StudentResultBundleTest" />
			<class name="teammates.test.cases.common.SubmissionAttributesTest" />
			<class name="teammates.test.cases.common.TeamResultBundleTest" />
			<class name="teammates.test.cases.common.TimeHelperTest" />
			<class name="teammates.test.cases.common.UrlTest" />
			<class name="teammates.test.cases.testdriver.DataBundleTest" />
			<class name="teammates.test.cases.testdriver.HtmlHelperTest" />
			<class name="teammates.test.cases.testdriver.TestPropertiesTest" />
			<class name="teammates.test.cases.storage.AccountsDbTest" />
			<class name="teammates.test.cases.storage.CommentsDbTest" />
			<class name="teammates.test.cases.storage.CoursesDbTest" />
			<class name="teammates.test.cases.storage.EntitiesDbTest" />
			<class name="teammates.test.cases.storage.EvaluationsDbTest" />
			<class name="teammates.test.cases.storage.FeedbackSessionsDbTest" />
			<class name="teammates.test.cases.storage.InstructorsDbTest" />
			<class name="teammates.test.cases.storage.StudentsDbTest" />
			<class name="teammates.test.cases.storage.SubmissionsDbTest" />
			<class name="teammates.test.cases.logic.AccountsLogicTest"/>
			<class name="teammates.test.cases.logic.BackDoorLogicTest"/>
			<class name="teammates.test.cases.logic.CommentsLogicTest"/>
			<class name="teammates.test.cases.logic.CoursesLogicTest"/>
			<class name="teammates.test.cases.logic.EmailsTest" />
			<class name="teammates.test.cases.logic.EvaluationsLogicTest" />
			<class name="teammates.test.cases.logic.FeedbackSessionsLogicTest" />
			<class name="teammates.test.cases.logic.FeedbackQuestionsLogicTest" />
			<class name="teammates.test.cases.logic.FeedbackResponsesLogicTest" />
			<class name="teammates.test.cases.logic.InstructorsLogicTest" />
			<class name="teammates.test.cases.logic.LogicTest" />
			<class name="teammates.test.cases.logic.StudentsLogicTest" />
			<class name="teammates.test.cases.logic.SubmissionsLogicTest" />
			<class name="teammates.test.cases.logic.SubmissionTaskQueueLogicTest" />
			<class name="teammates.test.cases.logic.TeamEvalResultTest" />
			<class name="teammates.test.pageobjects.PageDataTest" />
			<class name="teammates.test.cases.ui.ActivityLogTest" />
			<class name="teammates.test.cases.ui.ActionResultTest" />
			<class name="teammates.test.cases.ui.AdminAccountDeletePageActionTest" />
			<class name="teammates.test.cases.ui.AdminAccountDetailsPageActionTest" />
			<class name="teammates.test.cases.ui.AdminAccountManagementPageActionTest" />
			<class name="teammates.test.cases.ui.AdminActivityLogPageActionTest" />
			<class name="teammates.test.cases.ui.AdminExceptionTestActionTest" />
			<class name="teammates.test.cases.ui.AdminHomePageActionTest" />
			<class name="teammates.test.cases.ui.AdminInstructorAccountAddActionTest" />
			<class name="teammates.test.cases.ui.AdminSearchPageActionTest" />
			<class name="teammates.test.cases.ui.EvaluationStatsPageActionTest" />
			<class name="teammates.test.cases.ui.FeedbackSessionStatsPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorCoursesPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseAddActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseDeleteActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseDetailsPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseEditPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseInstructorAddActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseInstructorEditSaveActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseInstructorDeleteActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseEnrollPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseEnrollSaveActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseRemindActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseStudentDeleteActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseStudentDetailsPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseStudentDetailsEditPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseStudentDetailsEditSaveActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalAddActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalsPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalsPageDataTest" />
			<class name="teammates.test.cases.ui.InstructorEvalDeleteActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalEditPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalEditSaveActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalPublishActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalRemindActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalResultsDownloadActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalResultsPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalSubmissionEditPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalSubmissionEditSaveActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalSubmissionPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorFeedbacksPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorFeedbackAddActionTest" />
			<class name="teammates.test.cases.ui.InstructorFeedbackDeleteActionTest" />
			<class name="teammates.test.cases.ui.InstructorFeedbackEditPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorFeedbackEditSaveActionTest" />
			<class name="teammates.test.cases.ui.InstructorFeedbackQuestionAddActionTest" />
			<class name="teammates.test.cases.ui.InstructorFeedbackQuestionEditActionTest" />
			<class name="teammates.test.cases.ui.InstructorFeedbackResultsPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorFeedbackSubmissionEditPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorFeedbackSubmissionEditSaveActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalUnpublishActionTest" />
			<class name="teammates.test.cases.ui.InstructorHomePageActionTest" />
			<class name="teammates.test.cases.ui.InstructorStudentListPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorStudentRecordsPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorStudentCommentAddActionTest" />
			<class name="teammates.test.cases.ui.InstructorStudentCommentEditActionTest" />
			<class name="teammates.test.cases.ui.StudentCourseDetailsPageActionTest" />
			<class name="teammates.test.cases.ui.StudentCourseJoinActionTest" />
			<class name="teammates.test.cases.ui.StudentEvalResultsPageActionTest" />
			<class name="teammates.test.cases.ui.StudentEvalSubmissionEditPageActionTest" />
			<class name="teammates.test.cases.ui.StudentEvalSubmissionEditSaveActionTest" />
			<class name="teammates.test.cases.ui.StudentFeedbackResultsPageActionTest" />
			<class name="teammates.test.cases.ui.StudentFeedbackSubmissionEditPageActionTest" />
			<class name="teammates.test.cases.ui.StudentFeedbackSubmissionEditSaveActionTest" />
			<class name="teammates.test.cases.ui.StudentHomePageActionTest" />
		</classes>
	</test>
	<test name="occasional-tests" parallel="classes">
	<!-- These need not to run often unless the modification relates to them
	directly. But they should be run before pushing new code to the repo. -->
		<classes>
			<class name="teammates.test.cases.testdriver.BackDoorTest" />
			<class name="teammates.test.cases.ui.browsertests.SystemErrorEmailReportTest" />
			<class name="teammates.test.cases.ui.browsertests.TableSortTest" />
			<class name="teammates.test.cases.ui.browsertests.AllJsTests" />
			<class name="teammates.test.cases.ui.browsertests.MashupPageUiTest" />
		</classes>
	</test>
	
	<test name="parallel-ui-tests" parallel="classes">
	<!-- These cover the important UI functionality. Can be run in parallel. -->
		<classes>
			<class name="teammates.test.cases.ui.browsertests.AutomatedSessionRemindersTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorCourseEnrollPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorCoursesPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorCourseEditPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorCourseStudentDetailsPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorCourseStudentDetailsEditPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorEvalSubmissionViewPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorEvalSubmissionEditPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorEvalEditPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorEvalResultsPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorFeedbackPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorFeedbackEditPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorFeedbackResultsPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorFeedbackSubmitPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorStudentListPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorStudentRecordsPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.AdminAccountManagementPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.AdminAccountDetailsPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.StudentCourseJoinConfirmationPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.StudentCourseDetailsPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.StudentEvalEditSubmissionPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.StudentEvalResultsPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.StudentFeedbackSubmitPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.StudentFeedbackResultsPageUiTest" />
		</classes>
	</test>
	<test name="sequential-ui-tests">
	<!--  Theses cases use real Google accounts and need to be run sequentially to avoid state leaks between tests -->
		<classes>
			<class name="teammates.test.cases.ui.browsertests.InstructorHomePageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorCourseDetailsPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorEvalsPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.AdminHomePageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.StudentHomePageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.AllAccessControlUiTests" />
		</classes>
	</test>

</suite> 
