<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="all-tests-in-parallel" parallel="tests" thread-count="5">

	<test name="occasional-tests">
		<classes>
			<class name="teammates.test.cases.testdriver.BackDoorTest" />
			<class name="teammates.test.cases.ui.browsertests.SystemErrorEmailReportTest" />
			<class name="teammates.test.cases.ui.browsertests.TableSortTest" />
			<class name="teammates.test.cases.ui.browsertests.AllJsTests" />
			<class name="teammates.test.cases.ui.browsertests.AllAccessControlUiTests" />
			<class name="teammates.test.cases.ui.browsertests.MashupPageUiTest" />
		</classes>
	</test>
	<test name="frequent-ui-tests" parallel="classes">
		<classes>
			<class name="teammates.test.cases.ui.browsertests.InstructorHomePageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorCourseEnrollPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorCoursesPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorEvalsPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorCourseEditPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorCourseStudentDetailsPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorCourseStudentDetailsEditPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorEvalSubmissionViewPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorEvalSubmissionEditPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorEvalEditPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorEvalResultsPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.InstructorCourseDetailsPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.AdminAccountManagementPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.AdminAccountDetailsPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.AdminHomePageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.StudentCourseDetailsPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.StudentHomePageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.StudentEvalEditSubmissionPageUiTest" />
			<class name="teammates.test.cases.ui.browsertests.StudentEvalResultsPageUiTest" />
		</classes>
	</test>
	<test name="component-tests">
		<classes>
			<class name="teammates.test.cases.common.FieldValidatorTest" />
			<class name="teammates.test.cases.common.SanitizerTest" />
			<class name="teammates.test.cases.testdriver.TestPropertiesTest" />
			<class name="teammates.test.cases.common.BuildPropertiesTest" />
			<class name="teammates.test.cases.common.CommonTest" />
			<class name="teammates.test.cases.common.AccountAttributesTest" />
			<class name="teammates.test.cases.common.CourseAttributesTest" />
			<class name="teammates.test.cases.common.StudentAttributesTest" />
			<class name="teammates.test.cases.common.InstructorAttributesTest" />
			<class name="teammates.test.cases.common.EvaluationAttributesTest" />
			<class name="teammates.test.cases.common.SubmissionAttributesTest" />
			<class name="teammates.test.cases.common.StudentResultBundleTest" />
			<class name="teammates.test.cases.common.TeamResultBundleTest" />
			<class name="teammates.test.cases.ui.ActivityLogTest" />
			<class name="teammates.test.cases.logic.LogicTest" />
			<class name="teammates.test.cases.logic.BackDoorLogicTest"/>
			<class name="teammates.test.cases.storage.AccountsDbTest" />
			<class name="teammates.test.cases.storage.StudentsDbTest" />
			<class name="teammates.test.cases.storage.InstructorsDbTest" />
			<class name="teammates.test.cases.storage.CoursesDbTest" />
			<class name="teammates.test.cases.storage.SubmissionsDbTest" />
			<class name="teammates.test.cases.storage.EvaluationsDbTest" />
			<class name="teammates.test.cases.storage.FeedbackSessionsDbTest" />
			<class name="teammates.test.cases.logic.SubmissionsLogicTest" />
			<class name="teammates.test.cases.logic.EvaluationsLogicTest" />
			<class name="teammates.test.cases.logic.StudentsLogicTest" />
			<class name="teammates.test.cases.logic.InstructorsLogicTest" />
			<class name="teammates.test.cases.logic.FeedbackSessionsLogicTest" />
			<class name="teammates.test.cases.ui.HelperTest" />
			<class name="teammates.test.cases.ui.InstructorEvalHelperTest" />
			<class name="teammates.test.cases.ui.ActionResultTest" />
			<class name="teammates.test.cases.ui.InstructorCoursePageActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseAddActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseDeleteActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseDetailsPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseEditPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseEditSaveActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseEnrollPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseEnrollSaveActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseRemindActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseStudentDeleteActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseStudentDetailsPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseStudentDetailsEditPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorCourseStudentDetailsEditSaveActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalAddActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalSubmissionEditPageActionTest" />
			<class name="teammates.test.cases.ui.InstructorEvalSubmissionEditSaveActionTest" />
			<class name="teammates.test.cases.ui.InstructorHomePageActionTest" />
			<class name="teammates.test.cases.ui.StudentCourseDetailsPageActionTest" />
			<class name="teammates.test.cases.ui.StudentCourseJoinActionTest" />
			<class name="teammates.test.cases.ui.StudentEvalResultsPageActionTest" />
			<class name="teammates.test.cases.ui.StudentEvalSubmissionEditPageActionTest" />
			<class name="teammates.test.cases.ui.StudentEvalSubmissionEditSaveActionTest" />
			<class name="teammates.test.cases.ui.StudentHomePageActionTest" />
			<class name="teammates.test.cases.logic.EmailsTest" />
			<class name="teammates.test.cases.testdriver.HtmlHelperTest" />
			<class name="teammates.test.cases.logic.TeamEvalResultTest" />
		</classes>
	</test>
</suite> 
