<div class="row">
  <div class="col-12">
    <table id="notifications-table" class="table table-responsive-lg table-striped table-bordered margin-bottom-0">
      <thead>
      <tr [ngClass]="{ 'bg-primary text-white': headerColorScheme === NotificationsTableHeaderColorScheme.BLUE }">
        <th class="sortable-header" (click)="sortNotificationsTableRowModels(SortBy.NOTIFICATION_CREATE_TIME)">
          #
          <span class="fa-stack">
            <i class="fas fa-sort"></i>
            <i class="fas fa-sort-down" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_CREATE_TIME && notificationsTableRowModelsSortOrder === SortOrder.DESC"></i>
            <i class="fas fa-sort-up" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_CREATE_TIME && notificationsTableRowModelsSortOrder === SortOrder.ASC"></i>
          </span>
        </th>
        <th class="sortable-header" (click)="sortNotificationsTableRowModels(SortBy.NOTIFICATION_TITLE)">
          Notification Title
          <span class="fa-stack">
            <i class="fas fa-sort"></i>
            <i class="fas fa-sort-down" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_TITLE && notificationsTableRowModelsSortOrder === SortOrder.DESC"></i>
            <i class="fas fa-sort-up" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_TITLE && notificationsTableRowModelsSortOrder === SortOrder.ASC"></i>
          </span>
        </th>
        <th class="sortable-header" (click)="sortNotificationsTableRowModels(SortBy.NOTIFICATION_START_TIME)">
          Start Time
          <span class="fa-stack">
            <i class="fas fa-sort"></i>
            <i class="fas fa-sort-down" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_START_TIME && notificationsTableRowModelsSortOrder === SortOrder.DESC"></i>
            <i class="fas fa-sort-up" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_START_TIME && notificationsTableRowModelsSortOrder === SortOrder.ASC"></i>
          </span>
        </th>
        <th class="sortable-header" (click)="sortNotificationsTableRowModels(SortBy.NOTIFICATION_END_TIME)">
          End Time
          <span class="fa-stack">
            <i class="fas fa-sort"></i>
            <i class="fas fa-sort-down" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_END_TIME && notificationsTableRowModelsSortOrder === SortOrder.DESC"></i>
            <i class="fas fa-sort-up" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_END_TIME && notificationsTableRowModelsSortOrder === SortOrder.ASC"></i>
          </span>
        </th>
        <th class="sortable-header" (click)="sortNotificationsTableRowModels(SortBy.NOTIFICATION_TARGET_USER)">
          Target User
          <span class="fa-stack">
            <i class="fas fa-sort"></i>
            <i class="fas fa-sort-down" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_TARGET_USER && notificationsTableRowModelsSortOrder === SortOrder.DESC"></i>
            <i class="fas fa-sort-up" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_TARGET_USER && notificationsTableRowModelsSortOrder === SortOrder.ASC"></i>
          </span>
        </th>
        <th class="sortable-header" (click)="sortNotificationsTableRowModels(SortBy.NOTIFICATION_TYPE)">
          Type
          <span class="fa-stack">
            <i class="fas fa-sort"></i>
            <i class="fas fa-sort-down" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_TYPE && notificationsTableRowModelsSortOrder === SortOrder.DESC"></i>
            <i class="fas fa-sort-up" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_TYPE && notificationsTableRowModelsSortOrder === SortOrder.ASC"></i>
          </span>
        </th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let notificationsTableRowModel of notificationsTableRowModels; let idx = index" [ngClass]="{ 'table-success': notificationsTableRowModel.isHighlighted }">
        <td class="text-break">{{ notificationsTableRowModel.index }}</td>
        <td class="text-break">{{ notificationsTableRowModel.notification.title }}</td>
        <td>{{ notificationsTableRowModel.notification.startTimestamp | formatDateDetail: guessTimezone }}</td>
        <td>{{ notificationsTableRowModel.notification.endTimestamp | formatDateDetail: guessTimezone }}</td>
        <td class="text-break">{{ notificationsTableRowModel.notification.targetUser }}</td>
        <td class="text-break">{{ notificationsTableRowModel.notification.notificationType }}</td>
        <td class="actions-cell">
          <div class="d-flex">
            <!-- TODO: Implement edit and delete later -->
            <button type="button" class="btn btn-light btn-sm">
              Edit
            </button>
            <button type="button" class="btn btn-light btn-sm">
              Delete
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
