<div class="row">
  <div class="col-12 table-responsive">
    <tm-sortable-table
      tableId="notifications-table"
      [columns]="columnsData"
      [rows]="rowsData"
      [initialSortBy]="notificationsTableRowModelsSortBy"
      [sortOrder]="notificationsTableRowModelsSortOrder"
      [emitSortEventOnInit]="false"
      [emitSortEventOnInputChange]="false"
      [headerColorScheme]="sortableTableHeaderColorScheme"
      [rowIdGetter]="rowIdGetter"
      [rowClassGetter]="rowClassGetter"
      (sortEvent)="sortNotificationsTableRowsEventHandler($event)"
    ></tm-sortable-table>
  </div>
</div>
