<div class="row">
  <div class="col-12">
    <table id="notifications-table" class="table table-responsive-lg table-striped table-bordered margin-bottom-0">
      <thead>
      <tr [ngClass]="{ 'bg-primary text-white': headerColorScheme === NotificationsTableHeaderColorScheme.BLUE }">
        <th>#</th>
        <th id="sort-session-name" class="sortable-header" (click)="sortNotificationsTableRowModels(SortBy.NOTIFICATION_TITLE)">
          Notification Title
          <span class="fa-stack">
            <i class="fas fa-sort"></i>
            <i class="fas fa-sort-down" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_TITLE && notificationsTableRowModelsSortOrder === SortOrder.DESC"></i>
            <i class="fas fa-sort-up" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_TITLE && notificationsTableRowModelsSortOrder === SortOrder.ASC"></i>
          </span>
        </th>
        <th class="sortable-header" (click)="sortNotificationsTableRowModels(SortBy.NOTIFICATION_START_TIME)">
          Start Time
          <span class="fa-stack">
            <i class="fas fa-sort"></i>
            <i class="fas fa-sort-down" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_START_TIME && notificationsTableRowModelsSortOrder === SortOrder.DESC"></i>
            <i class="fas fa-sort-up" *ngIf="notificationsTableRowModelsSortBy === SortBy.SESSION_START_DATE && notificationsTableRowModelsSortOrder === SortOrder.ASC"></i>
          </span>
        </th>
        <th class="sortable-header" (click)="sortNotificationsTableRowModels(SortBy.NOTIFICATION_END_TIME)">
          End Time
          <span class="fa-stack">
            <i class="fas fa-sort"></i>
            <i class="fas fa-sort-down" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_END_TIME && notificationsTableRowModelsSortOrder === SortOrder.DESC"></i>
            <i class="fas fa-sort-up" *ngIf="notificationsTableRowModelsSortBy === SortBy.NOTIFICATION_END_TIME && notificationsTableRowModelsSortOrder === SortOrder.ASC"></i>
          </span>
        </th>
        <th>Visibility</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let notificationsTableRowModel of notificationsTableRowModels; let idx = index">
        <td class="text-break">{{ notificationsTableRowModel.index }}</td>
        <td class="text-break">{{ notificationsTableRowModel.notification.title }}</td>
        <!-- TODO: handle timezone here -->
        <td><span class="ngb-tooltip-class" [ngbTooltip]="notificationsTableRowModel.notification.startTimestamp | formatDateDetail: 'UTC'">{{ notificationsTableRowModel.notification.startTimestamp | formatDateBrief: 'UTC' }}</span></td>
        <td><span class="ngb-tooltip-class" [ngbTooltip]="notificationsTableRowModel.notification.endTimestamp | formatDateDetail: 'UTC'">{{ notificationsTableRowModel.notification.endTimestamp | formatDateBrief: 'UTC' }}</span></td>
        <td class="text-break">{{ notificationsTableRowModel.notification.targetUser }}</td>
        <td class="text-break">{{ notificationsTableRowModel.notification.notificationType }}</td>
        <td class="actions-cell">
          <div class="d-flex">
            <!-- TODO: Implement edit and delete later -->
            <button type="button" class="btn btn-light btn-sm">
              Edit
            </button>
            <button type="button" class="btn btn-light btn-sm">
              Delete
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
