.actions-cell button:not(.dropdown-item) {
  margin-left: var(--btn-margin);
}

.sortable-header {
  cursor: pointer;

  i {
    margin-left: 0.3em;
  }

  .fa-stack {
    width: 20%;
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    text-align: left;
    width: 100%;
    font: inherit;
    cursor: inherit;
  }
}

.clickable {
  cursor: pointer;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.padding-left-7px {
  padding-left: 7px;
}

#notifications-table {
  min-width: 650px;
}

#notifications-table thead tr.bg-primary th {
  background-color: var(--bs-primary) !important;
  color: white !important;
}

#notifications-table tbody td.alert-danger {
  background-color: var(--bs-danger) !important;
  color: white !important;
}

#notifications-table tbody td.alert-primary {
  background-color: var(--bs-primary) !important;
  color: white !important;
}

#notifications-table tbody td.alert-info {
  background-color: var(--bs-info) !important;
  color: white !important;
}

#notifications-table tbody td.alert-success {
  background-color: var(--bs-success) !important;
  color: white !important;
}

#notifications-table tbody td.alert-warning {
  background-color: var(--bs-warning) !important;
  color: black !important;
}
