.padding-0 {
  padding: 0;
}

.course-tab-header {
  cursor: pointer;
}

.height-60px {
  height: 60px;
}

.margin-bottom-15px {
  margin-bottom: 15px;
}

.padding-right-10px {
  padding-right: 10px;
}
