.padding-0 {
  padding: 0;
}

.course-tab-header {
  padding: .3rem 1rem;
  cursor: pointer;
}

.margin-bottom-15px {
  margin-bottom: 15px;
}

.padding-right-10px {
  padding-right: 10px;
}

.btn-toolbar {
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 2px;
  align-items: center;
  justify-content: flex-end;
}

.course-header {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}
