.padding-0 {
  padding: 0;
}

.course-tab-header {
  cursor: pointer;
}

.margin-bottom-15px {
  margin-bottom: 15px;
}

.padding-right-10px {
  padding-right: 10px;
}

.btn-toolbar {
  display: inline;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 2px;
}

.course-header {
  display: inline;
  white-space: nowrap;
}
