<h1>Home</h1>
<div class="card bg-light mb-4">
  <div class="card-body">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="studentSearch" (keyup.enter)="search()"
               placeholder="e.g. Charles Shultz, charles@gmail.com">
        <div class="input-group-append">
          <button class="btn" (click)="search()">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noCourseMessage class="bg-light-blue">
  New to TEAMMATES? You may wish to have a look at our <a routerLink="/web/front/help/instructor">Getting Started Guide</a>.
  A video tour is also available in our <a routerLink="/web">home page</a>.
</ng-template>

<div class="row longer-height">
  <div class="col-4">
    <a routerLink="/web/instructor/courses" class="btn btn-primary text-white">Add New Course</a>
  </div>
  <div class="col-8">
    <div class="float-right">
      <h5 class="d-inline"><strong> Sort By: </strong></h5>
      <div class="btn-group" data-toggle="buttons">
        <button class="btn btn-light" [disabled]="isSelectedForSorting(SortBy.COURSE_ID)" (click)="sortCoursesBy(SortBy.COURSE_ID)">Course ID</button>
        <button class="btn btn-light" [disabled]="isSelectedForSorting(SortBy.COURSE_NAME)" (click)="sortCoursesBy(SortBy.COURSE_NAME)">Course Name</button>
        <button class="btn btn-light" [disabled]="isSelectedForSorting(SortBy.CREATION_DATE)" (click)="sortCoursesBy(SortBy.CREATION_DATE)">Creation date</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="courseTabModels.length >0; else noCourseMessage">
  <div class="card" *ngFor="let courseTabModel of courseTabModels; let idx = index">
    <div class="card-header bg-primary text-white course-tab-header" (click)="courseTabModel.isTabExpanded = !courseTabModel.isTabExpanded">
      <div class="row">
        <div class="col-6">
          <b>[{{ courseTabModel.course.courseId }}]: {{ courseTabModel.course.courseName }}</b>
        </div>
        <div class="col-6 text-right">
          <i class="fas fa-chevron-down" *ngIf="!courseTabModel.isTabExpanded"></i>
          <i class="fas fa-chevron-up" *ngIf="courseTabModel.isTabExpanded"></i>
        </div>
      </div>
    </div>
    <div class="card-body padding-0" *ngIf="courseTabModel.isTabExpanded">
      <tm-sessions-table [sessionsTableRowModels]="courseTabModel.sessionsTableRowModels" [sessionsTableRowModelsSortBy]="courseTabModel.sessionsTableRowModelsSortBy"
                         [sessionsTableRowModelsSortOrder]="courseTabModel.sessionsTableRowModelsSortOrder" [courseCandidates]="courseCandidates"
                         [headerColorScheme]="SessionsTableHeaderColorScheme.WHITE"
                         [columnsToShow]="[ SessionsTableColumn.START_DATE, SessionsTableColumn.END_DATE ]"
                         (sortSessionsTableRowModelsEvent)="sortSessionsTableRowModelsEvent(idx, $event)"
                         (loadResponseRateEvent)="loadResponseRateEventHandler(idx, $event)" (editSessionEvent)="editSessionEventHandler(idx, $event)"
                         (moveSessionToRecycleBinEvent)="moveSessionToRecycleBinEventHandler(idx, $event)" (copySessionEvent)="copySessionEventHandler(idx, $event)"
                         (submitSessionAsInstructorEvent)="submitSessionAsInstructorEventHandler(idx, $event)" (viewSessionResultEvent)="viewSessionResultEventHandler()"
                         (publishSessionEvent)="publishSessionEventHandler(idx, $event)" (unpublishSessionEvent)="unpublishSessionEventHandler(idx, $event)"
                         (sendRemindersToStudentsEvent)="sendRemindersToStudentsEventHandler(idx, $event)"></tm-sessions-table>
    </div>
  </div>
</div>