<p aria-hidden="true">
  <!-- aria-hidden as screen readers use inputs' required attribute instead (and cannot see the asterisks) -->
  Questions marked with an asterisk <span class="red-font">*</span> are required.
</p>
<form (ngSubmit)="onSubmit()" [formGroup]="arf">
  <div class="form-group {{checkIsFieldRequired(name) ? 'required' : ''}}">
    <label for="name" id="name-label" class="qn">
      Full Name
    </label>
    <p class="help-block">
      This is the name that will be shown to your students. You may include salutation (Dr. Prof. etc.)
    </p>
    <input class="form-control {{getFieldValidationClasses(name)}}" type="text" id="name" autocomplete="name"
      [formControl]="name" [required]="checkIsFieldRequired(name)" [attr.aria-invalid]="checkIsFieldInvalid(name)">
    <div *ngIf="checkIsFieldInvalid(name)" role="alert" aria-describedby="name-label" tabindex="0" class="invalid-feedback">
      Please enter your name.
    </div>
  </div>
  <br>
  <div class="form-group {{checkIsFieldRequired(institution) ? 'required' : ''}}">
    <label for="institution" id="institution-label" class="qn">
      University/school/institution
    </label>
    <p class="help-block">
      Please give full name of the university/institution.
    </p>
    <input class="form-control {{getFieldValidationClasses(institution)}}" type="text" id="institution"
      autocomplete="organization" [formControl]="institution" [required]="checkIsFieldRequired(institution)"
      [attr.aria-invalid]="checkIsFieldInvalid(institution)">
    <div *ngIf="checkIsFieldInvalid(institution)" role="alert" aria-describedby="institution-label" tabindex="0"
      class="invalid-feedback">
      Please enter your institution.
    </div>
  </div>
  <br>
  <div class="form-group {{checkIsFieldRequired(country) ? 'required' : ''}}">
    <label for="country" id="country-label" class="qn">
      Country
    </label>
    <p class="help-block">
      Which country is your university/institution based in?
    </p>
    <input class="form-control {{getFieldValidationClasses(country)}}" type="text" id="country"
      autocomplete="country-name" [formControl]="country" [required]="checkIsFieldRequired(country)"
      [attr.aria-invalid]="checkIsFieldInvalid(country)">
    <div *ngIf="checkIsFieldInvalid(country)" role="alert" aria-describedby="country-label" tabindex="0"
      class="invalid-feedback">
      Please enter your institution's country.
    </div>
  </div>
  <br>
  <div class="form-group {{checkIsFieldRequired(email) ? 'required' : ''}}">
    <label for="email" id="email-label" class="qn">
      Official email address
    </label>
    <p class="help-block">
      Please use the email address <b>given to you by your school/university</b>
      (not your personal Gmail/Hotmail address).
      Note that this email address will be visible to the students you enroll in TEAMMATES.
    </p>
    <input class="form-control {{getFieldValidationClasses(email)}}" type="email" id="email" autocomplete="email"
      [formControl]="email" [required]="checkIsFieldRequired(email)" [attr.aria-invalid]="checkIsFieldInvalid(email)">
    <div *ngIf="checkIsFieldInvalid(email)" role="alert" aria-describedby="email-label" tabindex="0"
      class="invalid-feedback">
      Please enter a valid email address.
    </div>
  </div>
  <br>
  <div class="form-group {{checkIsFieldRequired(homePage) ? 'required' : ''}}">
    <label for="homePage" id="homePage-label" class="qn">
      URL of your home page (if any)
    </label>
    <input class="form-control {{getFieldValidationClasses(homePage)}}" type="url" id="homePage" autocomplete="url"
      [formControl]="homePage" [required]="checkIsFieldRequired(homePage)" [attr.aria-invalid]="checkIsFieldInvalid(homePage)">
    <div *ngIf="checkIsFieldInvalid(homePage)" role="alert" aria-describedby="homePage-label" tabindex="0"
      class="invalid-feedback">
      Please enter a valid URL.
    </div>
  </div>
  <br>
  <div class="form-group {{checkIsFieldRequired(comments) ? 'required' : ''}}">
    <label for="comments" id="comments-label" class="qn">
      Any other comments/queries
    </label>
    <textarea class="form-control {{getFieldValidationClasses(comments)}}" [formControl]="comments"
      [attr.aria-invalid]="checkIsFieldInvalid(comments)"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-primary" id="submit-button" [disabled]="canSubmit()">
    Submit
  </button>
</form>
