.card-plain {
  background-color: #EAEFF5;
  background-image: none;
  border: 0;
  box-shadow: 0 0 0 0;
}

.close-header {
  display: flex;
  justify-content: right;
  padding-top: .3rem;
  padding-right: .3rem;
  margin-bottom: 0;
}

.font-bold {
  font-weight: bold;
}

.border-left-gray {
  border-left: 1px solid #DDD;
}

.margin-top-20px {
  margin-top: 20px;
}

.session-form-buttons > button {
  margin-left: var(--btn-margin);
}

.align-row {
  display: flex;
  flex-direction: row;
}

.padding-left-7px {
  padding-left: 7px;
}

.disabled-link {
  cursor: not-allowed;
  color: gray;
}

.create-new-dropdown-div {
  display: flex;
}

.session-heading-text {
  display: flex;

  @media (max-width: 768px) {
    width: 120px;
  }
}

.session-heading-text h5 {
  margin: auto auto auto 0;

  @media (max-width: 576px) {
    margin-bottom: .5rem;
  }
}
