<h1>Notifications</h1>
<p>This page shows the active notifications visible to {{getUserTypeString()}}.</p>
<div *ngIf="userType === NotificationTargetUser.INSTRUCTOR">
  <p>To view notifications visible to students, please visit the <a href="/web/student/notifications">student notifications page</a>.</p>
</div>

<tm-loading-retry [shouldShowRetry]="hasLoadingFailed" [message]="'Failed to load notifications'" (retryEvent)="loadNotifications()">
  <div *tmIsLoading="isLoadingNotifications">
    <div class="alert alert-warning margin-top-30px" role="alert" *ngIf="notificationTabs.length === 0 && !isLoadingNotifications">
      There are no active notifications.
    </div>
  </div>
  <ng-container>
    <div class="notification-tabs" *ngFor="let notificationTab of notificationTabs">
      <div class="card">
        <div class="card-header cursor-pointer bg-primary text-white" (click)="toggleCard(notificationTab)">
          <strong class="text-break">{{notificationTab.notification.title}} [{{notificationTab.startDate}} - {{notificationTab.endDate}}]</strong>
          <div class="card-header-btn-toolbar">
            <tm-panel-chevron [isExpanded]="notificationTab.hasTabExpanded"></tm-panel-chevron>
          </div>
        </div>
  
        <div *ngIf="notificationTab.hasTabExpanded" @collapseAnim>
          <div class="card-body">
            <div [innerHtml]="notificationTab.notification.message"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</tm-loading-retry>
  