# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.pptx binary
*.gif binary

# Ignore test resource files from language statistics
src/e2e/resources/data/*            linguist-vendored
src/test/resources/data/*           linguist-vendored
src/test/resources/emails/*         linguist-vendored

# non-windows shell scripts should have LF line-endings (especially if copying those scripts to docker containers)
*.sh text eol=lf
