.DS_Store
*.orig
*.class
*.jar
*.ext
*.bin
*.bak
*.db
*.exe

# Node.js
node_modules/
npm-debug.log
package-lock.json
coverage/*

# Gradle
.gradle
build/
bin/
!gradle-wrapper.jar

# Eclipse
.classpath
.project
.settings
.launches
test-output/*
build-eclipse/
.checkstyle
.eclipse-pmd
.tern-project

# IntelliJ
/.idea/
*.iml
/out/
/.stylelintrc.yml

# TEAMMATES
gradle.properties
build.properties
test.properties
appengine-web.xml
appengine-generated
geckodriver*
chromedriver*
src/main/webapp/dist
src/main/webapp/assets
src/client/java/teammates/client/scripts/scalabilitytests/data/
src/client/java/teammates/client/scripts/statistics/data/
src/e2e/resources/gmail-api/
