<h1>Logs</h1>
<p>This page allows you to view the logs in the past {{ LOGS_RETENTION_PERIOD_IN_DAYS }} days.</p>
<hr/>

<div *tmIsLoading="isLoading" class="card bg-form no-border">
  <div class="card-body">
    <div class="row form-group">
      <div class="col-6">
        <div class="col-12 mb-1">
          <label for="logs-from-datepicker" class="font-weight-bold">Search period from</label>
        </div>
        <div class="input-group">
          <div class="col-md-6 input-group">
            <input id="logs-from-datepicker" type="text" class="form-control" ngbDatepicker [minDate]="earliestSearchDate" [maxDate]="dateToday" [(ngModel)]="formModel.logsDateFrom" #logsFromDp="ngbDatepicker"/>
            <button class="btn btn-light" (click)="logsFromDp.toggle()" type="button">
              <i class="fas fa-calendar-alt"></i>
            </button>
          </div>
          <div id="logs-from-timepicker" class="col-md-3">
            <tm-time-picker [(time)]="formModel.logsTimeFrom"></tm-time-picker>
          </div>
        </div>
        <div class="col-12 mb-1 mt-4">
          <label for="logs-to-datepicker" class="font-weight-bold">Search period until</label>
        </div>
        <div class="input-group">
          <div class="col-md-6 input-group">
            <input id="logs-to-datepicker" type="text" class="form-control" ngbDatepicker [minDate]="earliestSearchDate" [maxDate]="dateToday" [(ngModel)]="formModel.logsDateTo" #logsToDp="ngbDatepicker"/>
            <button class="btn btn-light" (click)="logsToDp.toggle()" type="button">
              <i class="fas fa-calendar-alt"></i>
            </button>
          </div>
          <div id="logs-to-timepicker" class="col-md-3">
            <tm-time-picker [(time)]="formModel.logsTimeTo"></tm-time-picker>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="col-12">
          <label for="log-severity-radio" class="font-weight-bold">Log severity level / event</label>
        </div>
        <div class="form-check">
          <label class="form-check-label" id="log-severity-radio">
            <div>
              <input type="radio" class="form-check-input mt-3" name="severity" id="severity" [value]="SEVERITY" [(ngModel)]="formModel.logsFilter">
              <label for="equal">severity =&nbsp;</label>
              <select class="form-control inline" [(ngModel)]="formModel.logsSeverity">
                <option *ngFor="let severity of SEVERITIES" [value]="severity">{{ severity }}</option>
              </select>
            </div>
            <br>
            <div>
              <input type="radio" class="form-check-input mt-3" name="severity" id="minSeverity" [value]="MIN_SEVERITY" [(ngModel)]="formModel.logsFilter">
              <label for="above">severity >=&nbsp;</label>
              <select class="form-control inline" [(ngModel)]="formModel.logsMinSeverity">
                <option *ngFor="let severity of SEVERITIES" [value]="severity">{{ severity }}</option>
              </select>
            </div>
            <br>
            <div>
              <input type="radio" class="form-check-input mt-3" name="severity" id="event" [value]="EVENT" [(ngModel)]="formModel.logsFilter">
              <label for="all">All event logs &nbsp;</label>
              <select class="form-control inline" [(ngModel)]="formModel.logsEvent">
                <option *ngFor="let event of EVENTS" [value]="event">{{ event }}</option>
              </select>
            </div>
            <br>
          </label>
        </div>
      </div>
      <div class="col-1 mt-4">
        <button id="query-button" class="float-right btn btn-primary" (click)="searchForLogs()">Query</button>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12">
        <div class="col-12 mb-1 mt-2">
          <button class="btn btn-success" (click)="isFiltersExpanded = !isFiltersExpanded;">
            <i [ngClass]="isFiltersExpanded ? 'fas fa-minus' : 'fas fa-plus'"></i> Advanced filters
          </button>
          <button (click)="toHistogramPage()" class="btn btn-success right">Go to histogram</button>
        </div>
      </div>
    </div>
    <div *ngIf="isFiltersExpanded" @collapseAnim>
      <div class="row form-group mt-4">
        <div class="col-5">
          <div class="col-12">
            <label for="trace-id" class="font-weight-bold">Trace ID</label>
            <input id="trace-id" class="form-control" [(ngModel)]="formModel.traceId">
          </div>
        </div>
        <div class="col-5">
          <div class="col-12">
            <label for="user-id" class="font-weight-bold">User ID</label>
            <input id="user-id" class="form-control" [(ngModel)]="formModel.userId">
          </div>
        </div>
        <div class="col-2 mt-4">
          <button class="btn btn-danger" (click)="clearFilters()">Clear all</button>
        </div>
      </div>
      <div class="row form-group mt-4">
        <div class="col-5">
          <div class="col-12">
            <label for="error-type" class="font-weight-bold">Source location file</label>
            <input id="error-type" class="form-control col-12" [(ngModel)]="formModel.sourceLocationFile">
          </div>
          <div class="col-12 mt-4">
            <label for="error-type" class="font-weight-bold">Source location function</label>
            <input id="error-type" class="form-control col-12" [(ngModel)]="formModel.sourceLocationFunction">
          </div>
        </div>
        <div class="col-5">
          <div class="col-12">
            <label for="api-endpoint" class="font-weight-bold">API endpoint</label>
            <select id="api-endpoint" class="form-control col-12" [(ngModel)]="formModel.apiEndpoint">
              <option [value]=""></option>
              <option *ngFor="let endpoint of API_ENDPOINTS" [value]="endpoint">
                {{ endpoint }}
              </option>
            </select>
          </div>
          <div class="col-12 mt-4">
            <label for="error-type" class="font-weight-bold">Exception/Error class</label>
            <input id="error-type" class="form-control" [(ngModel)]="formModel.exceptionClass">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <tm-logs-table *ngIf="hasResult" [logs]="searchResults" (addTraceEvent)="addTraceToFilter($event)"
    (addSourceLocationEvent)="addSourceLocationToFilter($event)" (addUserInfoEvent)="addUserInfoToFilter($event)"></tm-logs-table>
  <div *tmIsLoading="isSearching" class="center">
    <button *ngIf="hasResult" id="load-button" class="btn btn-primary" (click)="getNextPageLogs()" [disabled]="nextPageToken === ''">Load more</button>
  </div>
</div>
