.background-color-light-green {
  background-color: #E0EEEE;
}

.margin-top-15px {
  margin-top: 15px;
}

.padding-15px {
  padding: 15px;
}

.feedback-path-title {
  color: #2AABD2;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-button {
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}
