.main-body {
  width: 1100px;
}

.side-nav {
  width: 150px;
  top: 100px;
  right: 5%;
  position: fixed;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  padding-right: 160px;
}

.section-body {
  padding-bottom: 5px;
}

@media only screen and (max-width: 500px) {
  #browse-by-topic {
    display: none;
  }
}
