.main-body {
  width: 1100px;
}

.side-nav {
  width: 150px;
  top: 100px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}
// since the component styles only apply to the HTML in the component's own template,
// by applying ::ng-deep 
:host::ng-deep  h3 {
    font-size: 17px;
}

