.main-body {
  width: 1100px;
}

.side-nav {
  width: 150px;
  top: 100px;
  right: 5%;
  position: fixed;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  padding-right: 160px;
}

.section-body {
  padding-bottom: 5px;
}

@media (max-width: 1500px) {
  .side-nav {
    display: none;
  }

  .main-body {
    width: 100%;
  }

  .flex-container {
    padding-right: 0;
  }
}
