.margin-top-10px {
  margin-top: 10px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.padding-left-12px {
  padding-left: 12px;
}

.row {
  align-items: center;
  display: flex;
}

.input-group-addon {
  cursor: move;
  resize: both;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  background-color: #E9ECEF;
  border: 1px solid #CED4DA;
}
