<div class="row">
  <br>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-9" cdkDropList (cdkDropListDropped)="onConstsumOptionDropped($event)" [cdkDropListDisabled]="!isEditable">
        <div *ngFor="let option of model.constSumOptions; let i = index;
        trackBy: trackConstsumOption" cdkDrag cdkDragLockAxis="y">
          <br>
          <tm-constsum-options-field (elementDeleted)="onConstsumOptionDeleted(i)"
                                 [isEditable]="isEditable"
                                 (textChange)="onConstsumOptionEntered($event, i)"
                                 [text]="option"></tm-constsum-options-field>
        </div>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <button class="btn btn-primary" name="button" ngDefaultControl
                [disabled]="!isEditable" (click)="increaseNumberOfConstsumOptions()">
          <i class="fas fa-plus"></i> add more options
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-12">
        <b>Total Points to distribute:</b>
      </div>
      <div class="col-11 offset-1 margin-top-10px">
        <div class="form-check">
          <label class="form-check-label" ngbTooltip="Respondents will have to distribute the total points specified here among the options, e.g. if you specify 100 points here and there are 3 options, respondents will have to distribute 100 points among 3 options.">
            <input class="form-check-input" type="radio" [ngModel]="model.pointsPerOption" [value]="false"
                   (ngModelChange)="triggerModelChange('pointsPerOption', $event)" [disabled]="!isEditable">
            <input type="number" class="form-control" min="1" step="1"
                   [ngModel]="!model.pointsPerOption ? model.points : ''" (ngModelChange)="triggerModelChange('points', $event)" [disabled]="!isEditable || model.pointsPerOption">
            <b>in total</b>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label" ngbTooltip="The number of points to distribute will vary based on the number of recipients, e.g. if you specify 100 points here and there are 3 recipients, the total number of points to distribute among 3 recipients will be 300 (i.e. 100 x 3).">
            <input class="form-check-input" type="radio" [ngModel]="model.pointsPerOption" [value]="true"
                   (ngModelChange)="triggerModelChange('pointsPerOption', $event)" [disabled]="!isEditable">
            <input type="number" class="form-control" min="1" step="1"
                   [ngModel]="model.pointsPerOption ? model.points : ''" (ngModelChange)="triggerModelChange('points', $event)" [disabled]="!isEditable || !model.pointsPerOption">
            <b>X (number of options)</b>
          </label>
        </div>
      </div>
      <div class="col-12 padding-left-33px margin-top-10px">
        <label class="form-check-label" ngbTooltip="This determines whether a giver can distribute the same number of points to multiple recipients">
          <input class="form-check-input" type="checkbox"
                 [ngModel]="model.forceUnevenDistribution"
                 (ngModelChange)="onForceUnevenDistribution($event)" [disabled]="!isEditable">
          <select class="form-control" [ngModel]="model.distributePointsFor"
                  [disabled]="!isEditable || model.distributePointsFor === FeedbackConstantSumDistributePointsType.NONE"
                  (ngModelChange)="triggerModelChange('distributePointsFor', $event)">
            <option [value]="FeedbackConstantSumDistributePointsType.DISTRIBUTE_ALL_UNEVENLY">
              Every option
            </option>
            <option [value]="FeedbackConstantSumDistributePointsType.DISTRIBUTE_SOME_UNEVENLY">
              At least some options
            </option>
          </select>
          <b>to receive a different number of points</b>
        </label>
      </div>
    </div>
  </div>
</div>
