<div class="row">
  <br>
  <div class="col-12">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input id="zero-sum-checkbox" class="form-check-input" type="checkbox" [ngModel]="model.isZeroSum" (ngModelChange)="triggerModelChange('isZeroSum', $event)" [disabled]="!isEditable">
        <b class="ngb-tooltip-class" ngbTooltip="Be careful not to unselect this if marks are intended to be given based on ratings received.">Force zero-sum</b>
      </label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input id="not-sure-checkbox" class="form-check-input" type="checkbox" [ngModel]="model.isNotSureAllowed" (ngModelChange)="triggerModelChange('isNotSureAllowed', $event)" [disabled]="model.isZeroSum || !isEditable">
        <b>Allow response giver to select 'Not Sure' as the answer</b>
      </label>
    </div>
  </div>
</div>
