<div class="row">
  <br>
  <div class="col-12">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input id="zero-sum-checkbox" class="form-check-input" type="checkbox" [ngModel]="model.isZeroSum" (ngModelChange)="triggerModelChangeForIsZeroSum($event)" [disabled]="!isEditable">
        <b>Ratings must add up to <code>(Team Size) x (Equal Share)</code></b>
        [<a class="small" tmRouterLink="/web/instructor/help" [queryParams]="{questionId: QuestionsSectionQuestions.CONTRIBUTION, section: Sections.questions}" rel="noopener noreferrer" target="_blank">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          more info
        </a>]
      </label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input id="not-sure-checkbox" class="form-check-input" type="checkbox" [ngModel]="model.isNotSureAllowed" (ngModelChange)="triggerModelChange('isNotSureAllowed', $event)" [disabled]="model.isZeroSum || !isEditable">
        <b [ngClass]="{'text-muted': model.isZeroSum || !isEditable}">Allow response giver to select 'Not Sure' as the answer</b>
      </label>
    </div>
  </div>
</div>
