.padding-left-35px {
  padding-left: 35px;
}

.input-group-addon {
  cursor: move;
  resize: both;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  background-color: #E9ECEF;
  border: 1px solid #CED4DA;
}

@media (min-width: 576px) {
  .padding-left-300px {
    padding-left: 300px;
  }
}

.margin-top-22px {
  margin-top: 22px;
}

.margin-left-2px {
  margin-left: 2px;
}

.ms-n1 {
  margin-left: -1rem !important;
}
