<div class="row">
  <br>
  <div class="col-sm-12 margin-bottom-7px">
    <div class="form-check form-check-inline" *ngIf="!isGeneratedOptionsEnabled">
      <label class="form-check-label" ngbTooltip="Assign weights to the choices for calculating statistics."
             container="body">
        <input class="form-check-input" type="checkbox" [ngModel]="model.hasAssignedWeights"
               (ngModelChange)="triggerModelChange('hasAssignedWeights', $event)" [disabled]="!isEditable"
               (change)="triggerWeightsColumn($event)">
        <b>Choices are weighted</b>
      </label>
    </div>
    <div *ngIf="model.hasAssignedWeights && !isGeneratedOptionsEnabled"
         class="form-check form-check-inline padding-left-260px align-center">Weights&#8595;
    </div>
  </div>
  <br>
  <div class="col-sm-6">
    <div *ngIf="!isGeneratedOptionsEnabled">
      <div class="row">
        <div class="col-sm-9" cdkDropList (cdkDropListDropped)="onMcqOptionDropped($event)">
          <div class="margin-bottom-7px"  *ngFor="let num of model.mcqChoices; let i = index;
          trackBy: trackMcqOption" cdkDrag>
            <br>
            <tm-mcq-field (elementDeleted)="onMcqOptionDeleted($event)"
                          (mcqText)="onMcqOptionEntered($event, i)"
                          [index]="i"
                          [isEditable]="isEditable"
                          [numberOfMcqChoices]="model.numOfMcqChoices"
                          [text]="model.mcqChoices[i]"></tm-mcq-field>
          </div>
          <br>
        </div>
        <div class="col-sm-3" *ngIf="model.hasAssignedWeights">
          <tm-weight-field *ngFor="let num of model.mcqWeights; let i = index; trackBy: trackMcqWeight"
                           [isEditable]="isEditable"
                           [weight]="model.mcqWeights[i]"
                           (mcqWeight)="onMcqWeightEntered($event, i)"></tm-weight-field>
        </div>
      </div>
      <br>
      <div>
        <div>
          <button class="btn btn-primary" name="button" ngDefaultControl
                  [disabled]="!isEditable" (click)="increaseNumberOfOptions()">
            <span>&#10133;</span> add more options
          </button>
          <div class="row">
            <div class="checkbox col-sm-9 padding-left-35px">
              <label class="bold-label">
                <input class="form-check-input" type="checkbox" [ngModel]="model.otherEnabled"
                       (change)="triggerOtherWeight($event)"
                       (ngModelChange)="triggerModelChange('otherEnabled', $event)" [disabled]="!isEditable">
                Add 'Other' option (Allows respondents to type in their own answer)
              </label>
            </div>
            <div class="col-sm-3" *ngIf="model.hasAssignedWeights && model.otherEnabled">
              <input type="number" class="form-control" step="0.01" min="0" [ngModel]="model.mcqOtherWeight"
                     (ngModelChange)="triggerModelChange('mcqOtherWeight', $event)" [disabled]="!isEditable">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-5 col-lg-offset-1 padding-right-25px">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"  [disabled]="!isEditable"
             [ngModel]="isGeneratedOptionsEnabled"
             (change)="triggerGeneratedOptionsChange($event)">
      <b>Or, generate options from the list of all</b>
    </label>
    <select class="form-control width-auto inline" [disabled]="!isGeneratedOptionsEnabled"
            [ngModel]="model.generateOptionsFor" (ngModelChange)="triggerModelChange('generateOptionsFor', $event)">
      <option *ngFor="let option of PARTICIPANT_TYPES" [value]="option">{{ option }}</option>
    </select>
  </div>
</div>
