.item-center {
  text-align: center;
  vertical-align: middle;
}

.highlight-deletion {
  background-color: #FEA3A3;
}

.tool-tip-decorate {
  border-bottom: 1px dotted #808080;
  text-decoration: none;
}

.margin-top-10px {
  margin-top: 10px;
}
