@if (studentListInfoTableRowModels.length > 0) {
  <div>
    <table id="student-list-table" class="table table-bordered">
      <thead>
        <tr class="background-color-medium-gray">
          <th>
            <label>
              <input type="checkbox" [ngModel]="isAllStudentsSelected" (ngModelChange)="changeSelectionStatusForAllStudentsHandler($event)">
            </label>
          </th>
          <th (click)="sortStudentsTableRows(SortBy.SECTION_NAME)" class="clickable">
            Section
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              @if (studentListInfoTableSortBy === SortBy.SECTION_NAME && studentListInfoTableSortOrder === SortOrder.DESC) {
                <i class="fas fa-sort-down"></i>
              }
              @if (studentListInfoTableSortBy === SortBy.SECTION_NAME && studentListInfoTableSortOrder === SortOrder.ASC) {
                <i class="fas fa-sort-up"></i>
              }
            </span>
          </th>
          <th (click)="sortStudentsTableRows(SortBy.TEAM_NAME)" class="clickable">
            Team
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              @if (studentListInfoTableSortBy === SortBy.TEAM_NAME && studentListInfoTableSortOrder === SortOrder.DESC) {
                <i class="fas fa-sort-down"></i>
              }
              @if (studentListInfoTableSortBy === SortBy.TEAM_NAME && studentListInfoTableSortOrder === SortOrder.ASC) {
                <i class="fas fa-sort-up"></i>
              }
            </span>
          </th>
          <th (click)="sortStudentsTableRows(SortBy.RESPONDENT_NAME)" class="clickable">
            Student Name
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              @if (studentListInfoTableSortBy === SortBy.RESPONDENT_NAME && studentListInfoTableSortOrder === SortOrder.DESC) {
                <i class="fas fa-sort-down"></i>
              }
              @if (studentListInfoTableSortBy === SortBy.RESPONDENT_NAME && studentListInfoTableSortOrder === SortOrder.ASC) {
                <i class="fas fa-sort-up"></i>
              }
            </span>
          </th>
          <th (click)="sortStudentsTableRows(SortBy.RESPONDENT_EMAIL)" class="clickable">
            Email
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              @if (studentListInfoTableSortBy === SortBy.RESPONDENT_EMAIL && studentListInfoTableSortOrder === SortOrder.DESC) {
                <i class="fas fa-sort-down"></i>
              }
              @if (studentListInfoTableSortBy === SortBy.RESPONDENT_EMAIL && studentListInfoTableSortOrder === SortOrder.ASC) {
                <i class="fas fa-sort-up"></i>
              }
            </span>
          </th>
          @if (shouldDisplayHasSubmittedSessionColumn) {
            <th (click)="sortStudentsTableRows(SortBy.SESSION_COMPLETION_STATUS)" class="clickable">
              Submitted?
              <span class="fa-stack">
                <i class="fas fa-sort"></i>
                @if (studentListInfoTableSortBy === SortBy.SESSION_COMPLETION_STATUS && studentListInfoTableSortOrder === SortOrder.DESC) {
                  <i class="fas fa-sort-down"></i>
                }
                @if (studentListInfoTableSortBy === SortBy.SESSION_COMPLETION_STATUS && studentListInfoTableSortOrder === SortOrder.ASC) {
                  <i class="fas fa-sort-up"></i>
                }
              </span>
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (studentListInfoTableRowModel of studentListInfoTableRowModels; track studentListInfoTableRowModel) {
          <tr [ngClass]="{'bg-warning': shouldDisplayHasSubmittedSessionColumn && !studentListInfoTableRowModel.hasSubmittedSession}">
            <td class="align-center">
              <label>
                <input type="checkbox" [ngModel]="studentListInfoTableRowModel.isSelected" (ngModelChange)="handleSelectionOfStudentRow(studentListInfoTableRowModel)">
              </label>
            </td>
            <td>
              {{ studentListInfoTableRowModel.sectionName }}
            </td>
            <td>
              {{ studentListInfoTableRowModel.teamName }}
            </td>
            <td>
              {{ studentListInfoTableRowModel.name }}
            </td>
            <td>
              {{ studentListInfoTableRowModel.email }}
            </td>
            @if (shouldDisplayHasSubmittedSessionColumn) {
              <td>
                @if (studentListInfoTableRowModel.hasSubmittedSession) {
                  <span>Yes</span>
                }
                @if (!studentListInfoTableRowModel.hasSubmittedSession) {
                  <span>No</span>
                }
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
} @else {
  <h4 class="p-2 bg-info">
    There are no students enrolled to remind.
  </h4>
}
<br />
@if (instructorListInfoTableRowModels.length > 0) {
  <div>
    <table id="instructor-list-table" class="table table-bordered">
      <thead>
        <tr class="background-color-medium-gray">
          <th>
            <label>
              <input type="checkbox" [ngModel]="isAllInstructorsSelected" (ngModelChange)="changeSelectionStatusForAllInstructorsHandler($event)">
            </label>
          </th>
          <th (click)="sortInstructorsTableRows(SortBy.RESPONDENT_NAME)" class="clickable">
            Instructor Name
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              @if (instructorListInfoTableSortBy === SortBy.RESPONDENT_NAME && instructorListInfoTableSortOrder === SortOrder.DESC) {
                <i class="fas fa-sort-down"></i>
              }
              @if (instructorListInfoTableSortBy === SortBy.RESPONDENT_NAME && instructorListInfoTableSortOrder === SortOrder.ASC) {
                <i class="fas fa-sort-up"></i>
              }
            </span>
          </th>
          <th (click)="sortInstructorsTableRows(SortBy.RESPONDENT_EMAIL)" class="clickable">
            Email
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              @if (instructorListInfoTableSortBy === SortBy.RESPONDENT_EMAIL && instructorListInfoTableSortOrder === SortOrder.DESC) {
                <i class="fas fa-sort-down"></i>
              }
              @if (instructorListInfoTableSortBy === SortBy.RESPONDENT_EMAIL && instructorListInfoTableSortOrder === SortOrder.ASC) {
                <i class="fas fa-sort-up"></i>
              }
            </span>
          </th>
          @if (shouldDisplayHasSubmittedSessionColumn) {
            <th (click)="sortInstructorsTableRows(SortBy.SESSION_COMPLETION_STATUS)" class="clickable">
              Submitted?
              <span class="fa-stack">
                <i class="fas fa-sort"></i>
                @if (instructorListInfoTableSortBy === SortBy.SESSION_COMPLETION_STATUS && instructorListInfoTableSortOrder === SortOrder.DESC) {
                  <i class="fas fa-sort-down"></i>
                }
                @if (instructorListInfoTableSortBy === SortBy.SESSION_COMPLETION_STATUS && instructorListInfoTableSortOrder === SortOrder.ASC) {
                  <i class="fas fa-sort-up"></i>
                }
              </span>
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (instructorListInfoTableRowModel of instructorListInfoTableRowModels; track instructorListInfoTableRowModel) {
          <tr [ngClass]="{'bg-warning': shouldDisplayHasSubmittedSessionColumn && !instructorListInfoTableRowModel.hasSubmittedSession}">
            <td class="align-center">
              <label>
                <input type="checkbox" [ngModel]="instructorListInfoTableRowModel.isSelected" (ngModelChange)="handleSelectionOfInstructorRow(instructorListInfoTableRowModel)">
              </label>
            </td>
            <td>
              {{ instructorListInfoTableRowModel.name }}
            </td>
            <td>
              {{ instructorListInfoTableRowModel.email }}
            </td>
            @if (shouldDisplayHasSubmittedSessionColumn) {
              <td>
                @if (instructorListInfoTableRowModel.hasSubmittedSession) {
                  <span>Yes</span>
                }
                @if (!instructorListInfoTableRowModel.hasSubmittedSession) {
                  <span>No</span>
                }
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
} @else {
  <h4 class="p-2 bg-info">
    There are no instructors involved to remind.
  </h4>
}
