<div *tmIsLoading="isStudentsLoading" class="text-center">
  <h1>Course Details</h1>
  <div class="card">
    <div class="card-body fill-plain">
      <div class="form">
        <div class="form-group row">
          <label class="col-sm-3 text-sm-right">Course ID:</label>
          <div class="col-sm-6 text-sm-left">
            <p class="form-control-static">{{courseDetails.course.courseId}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 text-sm-right">Course name:</label>
          <div class="col-sm-6 text-sm-left" id="coursename">
            <p class="form-control-static">{{courseDetails.course.courseName}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 text-sm-right">Sections:</label>
          <div class="col-sm-6 text-sm-left">
            <p class="form-control-static">{{courseDetails.stats.numOfSections}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 text-sm-right">Teams:</label>
          <div class="col-sm-6 text-sm-left">
            <p class="form-control-static">{{courseDetails.stats.numOfTeams}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 text-sm-right">Total students:</label>
          <div class="col-sm-6 text-sm-left">
            <p class="form-control-static">{{courseDetails.stats.numOfStudents}}</p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 text-sm-right control-label">Instructors:</label>
        <div class="col-sm-6 text-sm-left">
          <div *ngFor="let instructor of instructors">
            {{instructor.role | instructorRoleName}}: {{instructor.name}} ({{instructor.email}})
          </div>
        </div>
      </div>
      <div *ngIf="students.length > 0">
        <div class="form-group">
          <div class="text-center">
            <button type="button" class="btn btn-primary mb-2" (click)="openModal(remindStudentsModal)" value="Remind Students to Join">
              <i class="fa fa-envelope"></i>
              Remind Students to Join
            </button>
            <button type="button" class="btn btn-primary mb-2" (click)="downloadAllStudentsFromCourse(courseDetails.course.courseId)">
              <i class="fa fa-download"></i>
              Download Student List
            </button>
            <button type="button" class="btn btn-danger mb-2" (click)="openModal(deleteAllStudentsModal)" value="Delete All Students">
              <i class="fa fa-trash"></i>
              Delete All Students
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="students.length === 0, else studentListTable" class="alert alert-warning">
    <i class="fa fa-exclamation-circle text-muted"></i>
    There are no students in this course. Click
    <a routerLink="/web/instructor/courses/enroll" [queryParams]="{courseid: courseDetails.course.courseId}">here</a> to enroll students.
  </div>
  <ng-template #studentListTable>
    <div class="card-body p-0 student-table-margin card border">
      <tm-student-list
          [courseId]="courseDetails.course.courseId" [students]="students" [useGrayHeading]="true" [enableRemindButton]="true"
          (removeStudentFromCourseEvent)="removeStudentFromCourse($event)"
      ></tm-student-list>
    </div>
  </ng-template>
  <ng-template #remindStudentsModal let-modal>
    <div class="modal-header alert-info">
      <i class="fa fa-info-circle fa-2x"></i>
      <h4 class="modal-title">Confirm sending join requests</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">&times;</button>
    </div>
    <div class="modal-body">
      Usually, there is no need to use this feature because TEAMMATES sends an automatic invite to students at the opening
      time of each session. Send a join request to all yet-to-join students in {{courseDetails.course.courseId}} anyway?
      <br>
    </div>
    <div class="modal-footer">
      <button type="button" class="modal-btn-cancel btn-lg " (click)="modal.dismiss()">No, cancel the operation</button>
      <button type="button" class="modal-btn-ok btn-lg btn-danger" (click)="remindAllStudentsFromCourse(courseDetails.course.courseId); modal.dismiss()">Yes</button>
    </div>
  </ng-template>
  <ng-template #deleteAllStudentsModal let-modal>
    <div class="modal-header alert-danger">
      <i class="fa fa-times-circle fa-2x"></i>
      <h4 class="modal-title">Confirm Deletion</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">&times;</button>
    </div>
    <div class="modal-body">
      Are you sure you want to remove all students from the course {{courseDetails.course.courseId}}?
      <br>
    </div>
    <div class="modal-footer">
      <button type="button" class="modal-btn-cancel btn-lg " (click)="modal.dismiss()">No, cancel the operation</button>
      <button type="button" class="modal-btn-ok btn-lg btn-danger" (click)="deleteAllStudentsFromCourse(courseDetails.course.courseId); modal.dismiss()">Yes</button>
    </div>
  </ng-template>
</div>
