<div class="modal-header bg-warning">
  <h5 class="modal-title"><i class="fas fa-exclamation-circle"></i> Warning: This account's Google ID will be reset. </h5>
    <button type="button" class="close" (click)="activeModal.dismiss()">
      <i class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
  <div>
    Are you sure you want to reset the Google account ID currently associated for "{{ name }}" in the course "{{ course }}"?
    The user will need to re-associate their account with a new Google ID.
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">No, cancel the operation</button>
  <button type="button" class="btn btn-warning" (click)="activeModal.close()">Yes</button>
</div>
