@switch (question.questionType) {
  @case (FeedbackQuestionType.CONTRIB) {
    <tm-contribution-question-statistics [responses]="responsesToUse" [question]="question" [recipientType]="recipientType" [isStudent]="isStudent" [displayContributionStats]="displayContributionStats" [statistics]="statistics"></tm-contribution-question-statistics>
  }
  @case (FeedbackQuestionType.TEXT) {
    <tm-text-question-statistics [responses]="responsesToUse" [question]="question" [recipientType]="recipientType"  [isStudent]="isStudent"></tm-text-question-statistics>
  }
  @case (FeedbackQuestionType.CONSTSUM_OPTIONS) {
    <tm-constsum-options-question-statistics [responses]="responsesToUse" [question]="question" [recipientType]="recipientType"  [isStudent]="isStudent"></tm-constsum-options-question-statistics>
  }
  @case (FeedbackQuestionType.CONSTSUM_RECIPIENTS) {
    <tm-constsum-recipients-question-statistics [responses]="responsesToUse" [question]="question" [recipientType]="recipientType"  [isStudent]="isStudent"></tm-constsum-recipients-question-statistics>
  }
  @case (FeedbackQuestionType.NUMSCALE) {
    <tm-num-scale-question-statistics [responses]="responsesToUse" [question]="question" [recipientType]="recipientType"  [isStudent]="isStudent"></tm-num-scale-question-statistics>
  }
  @case (FeedbackQuestionType.RUBRIC) {
    <tm-rubric-question-statistics [responses]="responsesToUse" [question]="question" [recipientType]="recipientType"  [isStudent]="isStudent"></tm-rubric-question-statistics>
  }
  @case (FeedbackQuestionType.RANK_OPTIONS) {
    <tm-rank-options-question-statistics [responses]="responsesToUse" [question]="question" [recipientType]="recipientType"  [isStudent]="isStudent"></tm-rank-options-question-statistics>
  }
  @case (FeedbackQuestionType.RANK_RECIPIENTS) {
    <tm-rank-recipients-question-statistics [responses]="responsesToUse" [question]="question" [recipientType]="recipientType"  [isStudent]="isStudent"></tm-rank-recipients-question-statistics>
  }
  @case (FeedbackQuestionType.MSQ) {
    <tm-msq-question-statistics [responses]="responsesToUse" [question]="question" [recipientType]="recipientType"  [isStudent]="isStudent"></tm-msq-question-statistics>
  }
  @case (FeedbackQuestionType.MCQ) {
    <tm-mcq-question-statistics [responses]="responsesToUse" [question]="question" [recipientType]="recipientType"  [isStudent]="isStudent"></tm-mcq-question-statistics>
  }
}
