@if (displayContributionStats && QuestionStatisticsTypeChecker.isContributionRecipient(statistics)) {
  <tm-contribution-recipient-question-statistics
    [statistics]="statistics"
  ></tm-contribution-recipient-question-statistics>
}
@if (displayContributionStats && QuestionStatisticsTypeChecker.isContributionCourseWide(statistics)) {
  <tm-contribution-course-wide-question-statistics
    [statistics]="statistics"
  ></tm-contribution-course-wide-question-statistics>
}
@if (QuestionStatisticsTypeChecker.isConstsumOptions(statistics)) {
  <tm-constsum-options-question-statistics [statistics]="statistics"></tm-constsum-options-question-statistics>
}
@if (QuestionStatisticsTypeChecker.isConstsumRecipients(statistics)) {
  <tm-constsum-recipients-question-statistics [statistics]="statistics"></tm-constsum-recipients-question-statistics>
}
@if (QuestionStatisticsTypeChecker.isNumscale(statistics)) {
  <tm-num-scale-question-statistics [statistics]="statistics"></tm-num-scale-question-statistics>
}
@if (QuestionStatisticsTypeChecker.isRubric(statistics)) {
  <tm-rubric-question-statistics [statistics]="statistics"></tm-rubric-question-statistics>
}
@if (QuestionStatisticsTypeChecker.isRankOptions(statistics)) {
  <tm-rank-options-question-statistics [statistics]="statistics"></tm-rank-options-question-statistics>
}
@if (QuestionStatisticsTypeChecker.isRankRecipients(statistics)) {
  <tm-rank-recipients-question-statistics [statistics]="statistics"></tm-rank-recipients-question-statistics>
}
@if (QuestionStatisticsTypeChecker.isMcqMsq(statistics)) {
  <tm-mcq-msq-question-statistics [statistics]="statistics"></tm-mcq-msq-question-statistics>
}
