<div *ngIf="isStudent && displayContributionStats && questionStatisticsForStudent">
  <div class="card" style="margin-top: 20px;">
    <div class="card-header bg-primary text-white">
      Comparison of Work Distribution
    </div>
    <div class="card-body">
      <div class="row" style="margin-bottom: 5px;">
        <div class="col-sm-2">
          <span ngbTooltip="Compare 'My view' with 'Team's view' to see if your perception is similar to your team's perception">
            <strong>My view:</strong>
          </span>
        </div>
        <div class="col-sm-2">
          <strong>of me:</strong>&nbsp;<tm-contribution [value]="questionStatisticsForStudent.claimed"></tm-contribution>
        </div>
        <div class="col-sm-8">
          <strong>of others:</strong>&nbsp;
          <span *ngFor="let other of questionStatisticsForStudent.claimedOthers; let i = index;">
            <span *ngIf="i !== 0">,&nbsp;</span>
            <tm-contribution [value]="other"></tm-contribution>
          </span>
          &nbsp;<a (click)="openHelpModal()" [routerLink]="" queryParamsHandling="preserve"><i class="fas fa-info-circle"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <strong>Team view:</strong>
        </div>
        <div class="col-sm-2">
          <span ngbTooltip="The average contribution the other members of your team attributed to you">
            <strong>of me:&nbsp;</strong>
          </span>
          <tm-contribution [value]="questionStatisticsForStudent.perceived"></tm-contribution>
        </div>
        <div class="col-sm-8">
          <strong>of others:</strong>&nbsp;
          <span *ngFor="let other of questionStatisticsForStudent.perceivedOthers; let i = index;">
            <span *ngIf="i !== 0">,&nbsp;</span>
            <tm-contribution [value]="other"></tm-contribution>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isStudent && displayContributionStats && questionOverallStatistics">
  <div class="row">
    <div class="col-sm-4 text-color-gray">
      <strong>
        Response Summary
      </strong>
    </div>
    <div class="col-sm-8" style="text-align: right;">
      [<a routerLink="/web/instructor/help" [queryParams]="{questionId: QuestionsSectionQuestions.CONTRIBUTION, section: Sections.questions}" rel="noopener noreferrer" target="_blank">How do I interpret/use these values?</a>]
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 table-responsive">
      <tm-sortable-table [rows]="rowsData" [columns]="columnsData"></tm-sortable-table>
    </div>
  </div>
</div>
