<div class="modal-header"
     [ngClass]="{
     'alert-danger' : type === SimpleModalType.DANGER,
     'alert-warning' : type === SimpleModalType.WARNING,
     'alert-info' : type === SimpleModalType.INFO,
     'bg-white' : type === SimpleModalType.NEUTRAL}">
  <div>
    <h5 class="modal-title">
      <i *ngIf="type === SimpleModalType.DANGER" class="fas fa-times-circle"></i>
      <i *ngIf="type === SimpleModalType.WARNING" class="fas fa-exclamation-circle"></i>
      <i *ngIf="type === SimpleModalType.INFO" class="fas fa-info-circle"></i>
      <span *ngIf="isHeaderTemplate" class="margin-left-5px">
        <ng-container *ngTemplateOutlet="header"></ng-container>
      </span>
      <span *ngIf="!isHeaderTemplate" class="margin-left-5px" [innerHTML]="header"></span>
    </h5>
  </div>
  <button type="button" class="close" tabindex="-1" (click)="activeModal.dismiss()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="isTemplate">
    <ng-container *ngTemplateOutlet="content; context: context"></ng-container>
  </div>
  <div *ngIf="!isTemplate" [innerHTML]="content"></div>
</div>
<div class="modal-footer" *ngIf="buttons.length">
  <button *ngFor="let button of buttons" type="button" tabindex="-1" class="btn {{ button.classes }}"
          (click)="activeModal.dismiss(); button.action && button.action.call();">
    {{ button.text }}
  </button>
</div>
