<div class="card" [class.no-border]="!displayAddCommentButton && !model.isAddingNewComment && !model.commentRows.length">
  @if (!model.isReadOnly && !model.isAddingNewComment && displayAddCommentButton) {
    <div class="card-header comment-table-header">
      <button (click)="handleAddingNewCommentEvent()" type="button" class="btn btn-light btn-sm float-end">
        <i class="fas fa-comment"></i>&nbsp;<i class="fas fa-plus"></i>
      </button>
    </div>
  }

  <ul class="list-group list-group-flush" >
    @for (comment of model.commentRows; track trackByIndex(i, comment); let i = $index) {
      <li class="list-group-item">
        @if (comment.originalComment) {
          <tm-comment-row
            [model]="comment"
            [isVisibilityOptionEnabled]="!model.isReadOnly"
            [isDisabled]="model.isReadOnly"
            [mode]="CommentRowMode.EDIT"
            [questionShowResponsesTo]="questionShowResponsesTo"
            [response]="response"
            [shouldHideSavingButton]="model.isReadOnly"
            [shouldHideClosingButton]="model.isReadOnly"
            [shouldHideEditButton]="model.isReadOnly"
            [shouldHideDeleteButton]="model.isReadOnly"
            (modelChange)="triggerCommentRowChange(i, $event)"
            (deleteCommentEvent)="triggerDeleteCommentEvent(i)"
            (saveCommentEvent)="triggerUpdateCommentEvent(i)"
            (closeEditingEvent)="handleCloseEditingCommentRowEvent(i)"
          ></tm-comment-row>
        }
      </li>
    }
    <!-- "Add new comment" row -->
    @if (!model.isReadOnly && model.isAddingNewComment) {
      <li class="list-group-item" @collapseAnim>
        <tm-comment-row [model]="model.newCommentRow" [isDisabled]="false" [isVisibilityOptionEnabled]="true"
          [mode]="CommentRowMode.ADD"
          [questionShowResponsesTo]="questionShowResponsesTo"
          [response]="response"
          [shouldHideClosingButton]="shouldHideClosingButtonForNewComment"
          (modelChange)="triggerModelChange('newCommentRow', $event)"
          (saveCommentEvent)="triggerSaveNewCommentEvent()"
          (closeEditingEvent)="triggerModelChange('isAddingNewComment', false)"
        ></tm-comment-row>
      </li>
    }
  </ul>
</div>
