<tm-comment-edit-form *ngIf="isInEditMode, else displayComment"
                      [commentText]="commentModel.commentText"
                      [isVisibilityOptionEnabled]="isVisibilityOptionEnabled"
                      [isDiscardButtonEnabled]="isDiscardButtonEnabled"
                      [isSaveButtonEnabled]="isSaveButtonEnabled"
                      (commentFormChangeEvent)="triggerCommentFormChange($event)"
                      (closeCommentBoxEvent)="triggerCloseCommentEditForm()"
                      (saveCommentEvent)="triggerSaveCommentEvent($event)"></tm-comment-edit-form>

<ng-template #displayComment>
  <span class="text-secondary">
    <span>{{ commentModel.commentGiver }} commented at </span>
    <span class="underline-hover" style="margin-right: .25rem;" [ngbTooltip]="commentModel.createdAt | formatDateDetail: commentModel.timeZone">
      {{ commentModel.createdAt | formatDateBrief: commentModel.timeZone }}</span>
    <i class="fas fa-circle dot-xs align-middle" style="margin-right: .25rem;"></i>
    <span class="underline-hover" style="margin-right: .25rem;" *ngIf="commentModel.editedAt"
          [ngbTooltip]="commentModel.editedAt | formatDateDetail: commentModel.timeZone">edited</span>
  </span>

  <i class="fa fa-eye-slash" aria-hidden="true" ngbTooltip="This comment is visible to PLACEHOLDER"></i>

  <div class="float-right comment-row">
    <button type="button" class="btn btn-secondary btn-sm"  ngbTooltip='Edit this comment'
            (click)="triggerEditCommentEvent()"><i class="fas fa-pencil-alt"></i> Edit</button>
    <button type="button" class="btn btn-secondary btn-sm" ngbTooltip='Delete this comment'
            (click)="triggerDeleteCommentEvent()"><i class="fas fa-trash"></i> Delete</button>
  </div>
  <div>{{commentModel.commentText}}</div>
</ng-template>
