.background-color-light-blue {
  background-color: #EAEFF5;
}

.background-color-light-green {
  background-color: #E0EEEE;
}

.preview-select {
  float: left;
  width: 50%;
}

.margin-top-30px {
  margin-top: 30px;
}

.margin-top-15px {
  margin-top: 15px;
}

.padding-15px {
  padding: 15px;
}

.bg-info {
  background-color: #E5E5E6 !important;
}

.instr-help-qn-first {
  padding-top: 5px;
}

.instr-help-qn-last {
  padding-bottom: 5px;
}

button {
  text-align: left;
}
