.footer-button {
  background: none !important;
  border: none;
  float: right;
  padding: 20px !important;
  color: cornflowerblue;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.form-control {
  &[readonly] {
    background-color: transparent;
  }

  &:disabled {
    background-color: #e9ecef;
  }
}
