<div class="modal-header">
  <h4 class="modal-title">Copy Questions</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div id="copy-question-modal" class="modal-body">
  <table class="table table-bordered table-responsive-lg">
    <thead class="bg-primary text-white">
      <tr>
        <th>#</th>
        <th class="sortable-header" (click)="sortQuestionToCopyCandidates(SortBy.COURSE_ID)">
          Course ID
          <span class="fa-stack">
            <i class="fas fa-sort"></i>
            <i *ngIf="candidatesSortBy === SortBy.COURSE_ID && candidatesSortOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
            <i *ngIf="candidatesSortBy === SortBy.COURSE_ID && candidatesSortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
          </span>
        </th>
        <th class="sortable-header" (click)="sortQuestionToCopyCandidates(SortBy.SESSION_NAME)">
          Session Name
          <span class="fa-stack">
            <i class="fas fa-sort"></i>
            <i *ngIf="candidatesSortBy === SortBy.SESSION_NAME && candidatesSortOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
            <i *ngIf="candidatesSortBy === SortBy.SESSION_NAME && candidatesSortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
          </span>
        </th>
        <th class="sortable-header" (click)="sortQuestionToCopyCandidates(SortBy.QUESTION_TYPE)">
          Question Type
          <span class="fa-stack">
            <i class="fas fa-sort"></i>
            <i *ngIf="candidatesSortBy === SortBy.QUESTION_TYPE && candidatesSortOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
            <i *ngIf="candidatesSortBy === SortBy.QUESTION_TYPE && candidatesSortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
          </span>
        </th>
        <th class="sortable-header" (click)="sortQuestionToCopyCandidates(SortBy.QUESTION_TEXT)">
          Question Text
          <span class="fa-stack">
            <i class="fas fa-sort"></i>
            <i *ngIf="candidatesSortBy === SortBy.QUESTION_TEXT && candidatesSortOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
            <i *ngIf="candidatesSortBy === SortBy.QUESTION_TEXT && candidatesSortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let questionCandidate of questionToCopyCandidates">
        <td><input type="checkbox" class="form-control" [(ngModel)]="questionCandidate.isSelected"></td>
        <td>{{ questionCandidate.courseId }}</td>
        <td>{{ questionCandidate.feedbackSessionName }}</td>
        <td>{{ questionCandidate.question.questionType | questionTypeName }}</td>
        <td>{{ questionCandidate.question.questionBrief }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button id="btn-confirm-copy-question" type="button" class="btn btn-primary" (click)="activeModal.close(getSelectedQuestions())"
          [disabled]="!hasAnyQuestionsToCopySelected">Copy</button>
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">Cancel</button>
</div>
