# This file should be placed in src\main\resources 

#account used for emailing
app.admin.email=teammatesowner@gmail.com

#app url used in emails
app.url=http\://teammatesv4.appspot.com

#key used by test driver to access backdoor. It can be any random string you choose,
#   as long as it matches with test.backdoor.key in test.properties 
app.backdoor.key={put your key here}





