<div class="modal-header bg-danger text-white">
  <h5 class="modal-title"><i class="fas fa-times-circle"></i> Confirm deleting feedback session</h5>
  <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  Are you sure you want to permanently delete the feedback session {{ feedbackSessionName }} in {{ courseId }}?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">No, Cancel the Operation</button>
  <button type="button" class="btn btn-danger modal-btn-ok" (click)="activeModal.close()">Yes</button>
</div>
