<div class="text-info">
  <p class="text-start fw-bold">Note:</p>
  <p id="total-points-message">
    <span class="fa fa-info-circle"></span> Total points distributed should <strong>add up to {{ totalPoints }}</strong>.
  </p>
  <p id="one-uneven-message" *ngIf="questionDetails.forceUnevenDistribution && questionDetails.distributePointsFor === FeedbackConstantSumDistributePointsType.DISTRIBUTE_SOME_UNEVENLY">
    <span class="fa fa-info-circle"></span> At least one option should be allocated <strong>different number of points.</strong>
  </p>
  <p id="all-uneven-message" *ngIf="questionDetails.forceUnevenDistribution && questionDetails.distributePointsFor === FeedbackConstantSumDistributePointsType.DISTRIBUTE_ALL_UNEVENLY">
    <span class="fa fa-info-circle"></span> Every option should be allocated <strong>different number of points.</strong>
  </p>
  <p id="minimum-point-message" *ngIf="questionDetails.minPoint !== undefined">
    <span class="fa fa-info-circle"></span> Minimum points per option is <strong>{{ questionDetails.minPoint }}.</strong>
  </p>
  <p id="maximum-point-message" *ngIf="questionDetails.maxPoint !== undefined">
    <span class="fa fa-info-circle"></span> Maximum points per option is <strong>{{ questionDetails.maxPoint }}.</strong>
  </p>
</div>
