<div class="modal-header"
     [ngClass]="{
     'bg-danger text-white' : type === ModalType.DANGER,
     'bg-warning' : type === ModalType.WARNING,
     'bg-info' : type === ModalType.INFO,
     'bg-white' : type === ModalType.NEUTRAL}">
  <div>
    <h5 class="modal-title">
      <i *ngIf="type === ModalType.DANGER" class="fas fa-times-circle"></i>
      <i *ngIf="type === ModalType.WARNING" class="fas fa-exclamation-circle"></i>
      <i *ngIf="type === ModalType.INFO" class="fas fa-info-circle"></i>
      {{header}}
    </h5>
  </div>
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div [innerHTML]="content"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">No, Cancel the Operation</button>
  <button type="button" class="btn"
          [ngClass]="{
          'btn-danger' : type === ModalType.DANGER,
          'btn-warning' : type === ModalType.WARNING,
          'btn-info' : type === ModalType.INFO,
          'btn-primary' : type === ModalType.NEUTRAL}"
          (click)="activeModal.close()">Yes</button>
</div>
