<div *ngIf="groupByTeam">
  <div *ngFor="let teamInfo of teamsToUsers | keyvalue">
    <div class="card top-padded">
      <div class="card-header bg-warning" (click)="teamExpanded[teamInfo.key] = !teamExpanded[teamInfo.key]">
        {{ teamInfo.key }}
        <div class="float-right">
          <i class="fas fa-chevron-down" *ngIf="!teamExpanded[teamInfo.key]"></i>
          <i class="fas fa-chevron-up" *ngIf="teamExpanded[teamInfo.key]"></i>
        </div>
      </div>
      <div [ngbCollapse]="!teamExpanded[teamInfo.key]">
        <div class="card-body">
          <div *ngFor="let userInfo of teamInfo.value">
            <ng-container
                [ngTemplateOutlet]="userTab"
                [ngTemplateOutletContext]="{userInfo:userInfo}">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!groupByTeam">
  <div *ngFor="let userInfo of userExpanded | keyvalue">
    <ng-container
        [ngTemplateOutlet]="userTab"
        [ngTemplateOutletContext]="{userInfo:userInfo.key}">
    </ng-container>
  </div>
</div>

<ng-template #userTab let-userInfo='userInfo'>
  <div class="card top-padded">
    <div class="card-header bg-primary text-white" (click)="userExpanded[userInfo] = !userExpanded[userInfo]">
      {{ isGrq ? 'From' : 'To' }}:
      <tm-student-name-with-photo [name]="userInfo"
                       [email]="userToEmail[userInfo]"
                       [courseId]="session.courseId"
      ></tm-student-name-with-photo>
      {{ usersToTeams[userInfo] !== '' ? '(' + usersToTeams[userInfo] + ')' : ''}}
      <a *ngIf="userToEmail[userInfo]" [href]="'mailto:' + userToEmail[userInfo]" class="text-white" (click)="$event.stopPropagation()">
        [{{ userToEmail[userInfo] }}]
      </a>
    <div class="float-right">
      <tm-response-moderation-button *ngIf="isGrq && userToRelatedEmail[userInfo]" [relatedGiverEmail]="userToRelatedEmail[userInfo]"
                                     [session]="session" [isGiverInstructor]="userIsInstructor[userInfo]"></tm-response-moderation-button>
      <i class="fas fa-chevron-down" *ngIf="!userExpanded[userInfo]"></i>
      <i class="fas fa-chevron-up" *ngIf="userExpanded[userInfo]"></i>
    </div>
  </div>
    <div [ngbCollapse]="!userExpanded[userInfo]">
      <div class="card-body">
        <ng-container *ngIf="userHasRealResponses[userInfo]">
          <div class="top-padded" *ngFor="let other of responsesToShow[userInfo] | keyvalue">
            <tm-grouped-responses [responses]="other.value"
                                  [isGrq]="isGrq" [session]="session"
                                  [instructorCommentTableModel]="instructorCommentTableModel"
                                  [userToEmail]="userToEmail"
                                  (instructorCommentTableModelChange)="triggerModelChange($event)"
                                  (updateCommentEvent)="triggerUpdateCommentEvent($event.responseId, $event.index)"
                                  (deleteCommentEvent)="triggerDeleteCommentEvent($event.responseId, $event.index)"
                                  (saveNewCommentEvent)="triggerSaveNewCommentEvent($event)"
                                  (downloadQuestionResult)="triggerDownloadQuestionResult($event.questionNumber, $event.questionId)"></tm-grouped-responses>
          </div>
        </ng-container>
        <div *ngIf="!userHasRealResponses[userInfo]">
          <i>
            There are no responses {{ isGrq ? 'given' : 'received' }} by this user or you may not have the permission to see the responses.
          </i>
        </div>
      </div>
    </div>
  </div>
</ng-template>
