@use 'sass:color';

.top-padded {
  margin-top: 20px;
}

.card-body {
  padding: 0 1rem 1rem;
}

.margin-right-10px {
  margin-right: 10px;
}

.background-color-warning {
  background-color: color.adjust(#fff3cd, $lightness: 5%);
}
