<div class="card border-primary">
  <div class="card-body fill-plain">
    <div class="form form-horizontal text-center">
      <div class="form-group">
        <div class="col-sm-12 text-md-left">
          <h4 class="font-weight-bold">Enrollment Details</h4>
        </div>
      </div>
      <div class="form-group student-info-row row">
        <div class="col-md-2 text-md-right">
          <label>Course</label>
        </div>
        <div id="course-id" class="col-md-9 text-md-left">
          <a href="javascript:;" *ngIf="isDisplayOnly">
            <span>{{student?.courseId}}</span>
          </a>
          <a tmRouterLink="/web/instructor/courses/details" [queryParams]="{courseid: student?.courseId}" *ngIf="!isDisplayOnly">
            <span>{{student?.courseId}}</span>
          </a>
        </div>
      </div>
      <div class="form-group student-info-row row" *ngIf="student?.sectionName">
        <div class="col-md-2 text-md-right">
          <label>Section Name</label>
        </div>
        <div id="section-name" class="col-md-9 text-md-left">
          <span>{{student?.sectionName}}</span>
        </div>
      </div>
      <div class="form-group student-info-row row">
        <div class="col-md-2 text-md-right">
          <label>Team Name</label>
        </div>
        <div id="team-name" class="col-md-9 text-md-left">
          <span>{{student?.teamName}}</span>
        </div>
      </div>
      <div class="form-group student-info-row row">
        <div class="col-md-2 text-md-right">
          <label>Official Email</label>
        </div>
        <div id="email" class="col-md-9 text-md-left">
          <span>{{student?.email}}</span>
        </div>
      </div>
      <div class="form-group student-info-row row">
        <div class="col-md-2 text-md-right">
          <label>Comments</label>
        </div>
        <div id="comments" class="col-md-9 text-md-left">
          <span>{{student?.comments}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
