.card-plain {
  background-color: #eaeff5;
  background-image: none;
  border: 0;
  box-shadow: 0 0 0 0;
}

.close-header {
  padding-top: 0.75rem;
  padding-right: 1.25rem;
  margin-bottom: 0;
}

.border-left-gray {
  border-left: 1px solid #ddd;
}

.margin-top-20px {
  margin-top: 20px;
}

.align-row {
  display: flex;
  flex-direction: row;
}

.padding-left-7px {
  padding-left: 7px;
}
