<div class="card card-plain">
    <div class="close-header" *ngIf="formMode === NotificationEditFormMode.ADD">
      <button type="button" class="close" aria-label="Close" (click)="closeEditFormHandler()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row" *ngIf="formMode === NotificationEditFormMode.EDIT">
        <div class="col-12 text-center text-md-right notification-form-buttons">
          <button id="btn-fs-edit" type="button" class="btn btn-primary" (click)="triggerModelChange('isEditable', true)" *ngIf="formMode === NotificationEditFormMode.EDIT && !model.isEditable && !model.isSaving"><i class="fas fa-pencil-alt"></i> Edit</button>
          <button id="btn-fs-save" type="button" class="btn btn-primary" (click)="submitFormHandler()" [disabled]="model.isSaving" *ngIf="model.isEditable || model.isSaving"><tm-ajax-loading *ngIf="model.isSaving"></tm-ajax-loading> <i class="fas fa-check"></i> Save</button>
          <button type="button" class="btn btn-primary" ngbTooltip="Discard changes to the notification" (click)="cancelHandler()" *ngIf="model.isEditable" [disabled]="model.isSaving"><i class="fas fa-ban"></i> Cancel</button>
          <button id="btn-fs-delete" type="button" class="btn btn-primary" ngbTooltip="Delete the notification" (click)="deleteHandler()" [disabled]="model.isSaving"><tm-ajax-loading *ngIf="model.isDeleting"></tm-ajax-loading><i class="fas fa-trash"></i> Delete</button>
        </div>
      </div>

      <div class="card border-primary margin-top-20px">
        <div class="card-body">

          <div class="row text-center">
            <div class="col-md-2 text-md-right font-bold">
              <span class="ngb-tooltip-class" ngbTooltip="The indended recipients of this notification.">Target user group</span>
            </div>
            <div class="col-md-auto text-md-left">
              <select id="targer-user" class="form-control" [ngModel]="model.targetUser" (ngModelChange)="triggerModelChange('targetUser', $event)">
                <option [ngValue]="NotificationTargetUser.STUDENT">Students</option>
                <option [ngValue]="NotificationTargetUser.INSTRUCTOR">Instructors</option>
                <option [ngValue]="NotificationTargetUser.GENERAL">General (for both students and instructors)</option>
              </select>
            </div>
          </div>
          <br/>

          <div class="row text-center">
            <div class="col-md-2 text-md-right font-bold">
              <span class="ngb-tooltip-class" ngbTooltip="Different types correspond to different background colours at desplay.">Notification type</span>
            </div>
            <div class="col-md-auto text-md-left">
              <select id="notification-type" class="form-control" [ngModel]="model.type" (ngModelChange)="triggerModelChange('type', $event)">
                <option class="text-warning" [ngValue]="NotificationType.MAINTENANCE">Maintenance</option>
                <option class="text-primary" [ngValue]="NotificationType.VERSION_NOTE">Version note</option>
                <option class="text-secondary" [ngValue]="NotificationType.DEPRECATION">Depreciation</option>
                <option class="text-success" [ngValue]="NotificationType.TIPS">Tips</option>
              </select>
            </div>
          </div>
          <br/>

          <div class="row text-center">
            <div class="col-md-2 text-md-right font-bold">
              <span class="ngb-tooltip-class" ngbTooltip="Enter the name of the notification e.g. Version Changelog 8.9.1.">Title</span>
            </div>
            <div class="col-md-10 text-md-left">
              <input id="notification-title" type="text" class="form-control" [ngModel]="model.title" (ngModelChange)="triggerModelChange('title', $event)" placeholder="e.g. Version Changelog 8.9.1" maxlength="{{NOTIFICATION_TITLE_MAX_LENGTH}}" />
              <div>
                {{NOTIFICATION_TITLE_MAX_LENGTH - model.title.length}} characters left
              </div>
            </div>
          </div>
          <br/>
          <div class="row text-center">
            <div class="col-md-2 text-md-right font-bold">
              <span class="ngb-tooltip-class" ngbTooltip="Message body of the notification.">Message content</span>
            </div>
            <div class="col-md-10 text-md-left">
              <tm-rich-text-editor id="message" [richText]="model.message" (richTextChange)="triggerModelChange('message', $event)" [isDisabled]="!model.isEditable"></tm-rich-text-editor>
            </div>
          </div>
          <br/>

          <div class="row text-center" *ngIf="formMode === NotificationEditFormMode.EDIT">
            <div class="col-md-2 text-md-right font-bold">
              Shown Status
            </div>
            <div id="submission-status" class="col-md-4 text-md-left">
              {{ model.shown ? 'Yes' : 'No' }}
            </div>
          </div>

        </div>
      </div>

      <div class="card border-primary margin-top-20px">
        <div class="card-body">
          <div class="row text-center">
            <div class="col-md-2 text-md-right font-bold">
              <span class="ngb-tooltip-class" ngbTooltip="This timezone is deduced based on your system/browser's settings.">Timezone</span>
            </div>
            <div id="submission-status" class="col-md-4 text-md-left">
              {{ guessTimezone }}
            </div>
          </div>

          <div class="row text-center margin-top-20px">
            <div class="col-md-6">
              <div class="col-12 text-md-left">
                <div>
                  <label class="ngb-tooltip-class label-control font-bold" ngbTooltip="Users will be able to see the notification.">
                    Notification start time
                  </label>
                </div>
              </div>
              <div class="row text-center align-items-center">
                <div id="notification-start-date" class="col-md-7 col-xs-center">
                  <tm-datepicker [disabled]="!model.isEditable" (dateChangeCallback)="triggerModelChange('startDate', $event)"
                                       [date]="model.startDate"></tm-datepicker>
                </div>
                <div class="col-md-5">
                  <tm-timepicker id="notification-start-time" [time]="model.startTime" (timeChange)="triggerModelChange('startTime', $event)" [isDisabled]="!model.isEditable"></tm-timepicker>
                </div>
              </div>
            </div>
            <div class="col-md-6 border-left-gray">
              <div class="row text-center">
                <div class="col-12 text-md-left ml-md-2">
                  <label class="ngb-tooltip-class label-control font-bold" ngbTooltip="Notification will be hidden from users.">
                    Notification end time
                  </label>
                </div>
              </div>
              <div class="row align-items-center">
                <div id="notification-end-date" class="col-md-7 col-xs-center">
                  <tm-datepicker [disabled]="!model.isEditable" (dateChangeCallback)="triggerModelChange('endDate', $event)"
                                       [minDate]="model.startDate" [date]="model.endDate"></tm-datepicker>
                </div>
                <div class="col-md-5">
                  <tm-timepicker id="notification-end-time" [time]="model.endTime" (timeChange)="triggerModelChange('endTime', $event)" [isDisabled]="!model.isEditable"></tm-timepicker>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row margin-top-20px">
        <div class="col-12 text-center">
          <span class="loader"></span>
          <div *ngIf="formMode === NotificationEditFormMode.ADD">
            <button id="btn-create-notification" type="button" class="btn btn-primary" [disabled]="model.isSaving" (click)="submitFormHandler()">
              <tm-ajax-loading *ngIf="model.isSaving"></tm-ajax-loading>Create Notification
            </button>
          </div>
          <div *ngIf="formMode === NotificationEditFormMode.EDIT">
            <button type="button" class="btn btn-success" [disabled]="model.isSaving || !model.isEditable" *ngIf="formMode === NotificationEditFormMode.EDIT" (click)="submitFormHandler()">
              <tm-ajax-loading *ngIf="model.isSaving"></tm-ajax-loading>Save Changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
