<div class="card bg-light top-padded">
  <div class="card-body">
    <p class="text-muted">
      Tips: Surround key word to search a whole string or string contains punctuation like "-" "."
    </p>

    <div class="input-group">
      <input id="search-box" type="text" class="form-control" aria-label="Search" [(ngModel)]="searchQuery"
        (keyup.enter)="search()" [maxlength]="characterLimit">
      <button id="search-button" class="btn btn-primary input-group-text" (click)="search()">Search</button>
    </div>
    <span>{{ characterLimit - searchQuery.length }} characters left</span>
  </div>
</div>

@if (instructors.length) {
  <div class="card bg-light top-padded">
    <div class="card-header bg-info">
      <strong>Instructors Found</strong>
      <div class="card-header-btn-toolbar">
        <button id="show-instructor-links" class="btn btn-light btn-sm" style="margin-right: 10px;" type="button" (click)="showAllInstructorsLinks()">Expand All</button>
        <button id="hide-instructor-links" class="btn btn-light btn-sm" type="button" (click)="hideAllInstructorsLinks()">Collapse All</button>
      </div>
    </div>
    <div class="table-responsive">
      <table id="search-table-instructor" class="table table-striped data-table">
        <thead>
          <tr>
            <th>Course</th>
            <th>Name</th>
            <th>Google ID</th>
            <th>Institute</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          @for (instructor of instructors; track instructor; let i = $index) {
            <tr (click)="instructor.showLinks = !instructor.showLinks">
              <td class="text-break">
                <span class="ngb-tooltip-class" [ngClass]="{'text-course-deleted': instructor.isCourseDeleted}" [ngbTooltip]="instructor.courseName" [innerHtml]="instructor.courseId | highlighter:searchString:true"></span>
                @if (instructor.isCourseDeleted) {
                  <i class="fas fa-trash-alt text-course-deleted margin-left-5px bin-icon" [ngbTooltip]="'This course is in the recycle bin.'"></i>
                }
                <br>
                  <div class="col-sm-1">
                    @if (!instructor.showLinks) {
                      <button class="btn" aria-label="Expand">
                        <i class="fas fa-chevron-circle-down" style="color: blue;"></i>
                      </button>
                    }
                    @if (instructor.showLinks) {
                      <button class="btn" aria-label="Collapse">
                        <i class="fas fa-chevron-circle-up" style="color: blue;"></i>
                      </button>
                    }
                  </div>
                </td>
                <td [innerHtml]="instructor.name | highlighter:searchString:true"></td>
                <td><a href="{{ instructor.homePageLink }}" (click)="$event.stopPropagation()" target="_blank" rel="noopener noreferrer" [innerHtml]="instructor.googleId | highlighter:searchString:true">
                </a>
              </td>
              <td [innerHtml]="instructor.institute | highlighter:searchString:true"></td>
              <td>
                @if (instructor.manageAccountLink) {
                  <a href="{{ instructor.manageAccountLink }}"
                    (click)="$event.stopPropagation()" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-info-circle"></i> Manage this account
                  </a>
                }
                <br>
                  @if (instructor.googleId) {
                    <a id="reset-instructor-id-{{i}}" href="javascript:;" (click)="resetInstructorGoogleId(instructor, $event)">
                      <i class="fas fa-sync"></i> Reset Google ID
                    </a>
                  }
                  <br>
                    <button id="regenerate-instructor-key-{{i}}" class="btn btn-danger" [disabled]="isRegeneratingInstructorKeys[i]" (click)="instructor.showLinks = !instructor.showLinks; regenerateInstructorKey(instructor, i);">@if (isRegeneratingInstructorKeys[i]) {
                      <tm-ajax-loading></tm-ajax-loading>
                    }Regenerate key</button>
                  </td>
                </tr>
                @if (instructor.showLinks) {
                  <tr>
                    <td colspan="5">
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-success has-success">
                          <strong>Email</strong>
                          <input [value]="instructor.email" disabled class="form-control">
                        </li>
                        <li class="list-group-item list-group-item-info">
                          <strong>Course Join Link</strong>
                          <input [value]="instructor.courseJoinLink" disabled class="form-control">
                        </li>
                        @for (awaitingFs of instructor.awaitingSessions | keyvalue; track awaitingFs) {
                          <li class="list-group-item list-group-item-light">
                            <strong>{{ awaitingFs.key + ' ' + awaitingFs.value.startTime + ' - ' + awaitingFs.value.endTime }}</strong>
                            <input [value]="awaitingFs.value.feedbackSessionUrl" disabled class="form-control">
                          </li>
                        }
                        @for (openFs of instructor.openSessions | keyvalue; track openFs) {
                          <li class="list-group-item list-group-item-warning">
                            <strong>{{ openFs.key + ' ' + openFs.value.startTime + ' - ' + openFs.value.endTime }}</strong>
                            <input [value]="openFs.value.feedbackSessionUrl" disabled class="form-control">
                          </li>
                        }
                        @for (notOpenFs of instructor.notOpenSessions | keyvalue; track notOpenFs) {
                          <li class="list-group-item list-group-item-danger">
                            <strong>{{ notOpenFs.key + ' ' + notOpenFs.value.startTime + ' - ' + notOpenFs.value.endTime }}</strong>
                            <input [value]="notOpenFs.value.feedbackSessionUrl" disabled class="form-control">
                          </li>
                        }
                        @for (publishedFs of instructor.publishedSessions | keyvalue; track publishedFs) {
                          <li class="list-group-item list-group-item-success">
                            <strong>{{ publishedFs.key + ' ' + publishedFs.value.startTime + ' - ' + publishedFs.value.endTime }}</strong>
                            <input [value]="publishedFs.value.feedbackSessionUrl" disabled class="form-control">
                          </li>
                        }
                      </ul>
                    </td>
                  </tr>
                }
              }
            </tbody>
          </table>
        </div>
      </div>
    }

    @if (students.length) {
      <div class="card bg-light top-padded">
        <div class="card-header bg-primary text-white">
          <strong>Students Found</strong>
          <div class="card-header-btn-toolbar">
            <button id="show-student-links" class="btn btn-light btn-sm" style="margin-right: 10px;" type="button" (click)="showAllStudentsLinks()">Expand All</button>
            <button id="hide-student-links" class="btn btn-light btn-sm" type="button" (click)="hideAllStudentsLinks()">Collapse All</button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped data-table" id="search-table-student">
            <thead>
              <tr>
                <th>Course [Section] (Team)</th>
                <th>Name</th>
                <th>Google ID</th>
                <th>Institute</th>
                <th>Comments</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              @for (student of students; track student; let i = $index) {
                <tr (click)="student.showLinks = !student.showLinks">
                  <td>
                    <span class="text-break ngb-tooltip-class" [ngClass]="{'text-course-deleted': student.isCourseDeleted}" [ngbTooltip]="student.courseName"
                    [innerHtml]="student.courseId + ' [' + student.section + '] (' + student.team + ')' | highlighter:searchString:true"></span>
                    @if (student.isCourseDeleted) {
                      <i class="fas fa-trash-alt text-course-deleted margin-left-5px bin-icon" [ngbTooltip]="'This course is in the recycle bin.'"></i>
                    }
                    <br>
                      <div class="col-sm-1">
                        @if (!student.showLinks) {
                          <button class="btn" aria-label="Expand">
                            <i class="fas fa-chevron-circle-down" style="color: blue;"></i>
                          </button>
                        }
                        @if (student.showLinks) {
                          <button class="btn" aria-label="Collapse">
                            <i class="fas fa-chevron-circle-up" style="color: blue;"></i>
                          </button>
                        }
                      </div>
                    </td>
                    <td><a href="{{ student.profilePageLink }}"
                      (click)="$event.stopPropagation()" target="_blank" rel="noopener noreferrer" [innerHtml]="student.name | highlighter:searchString:true">
                    </a></td>
                    <td>@if (student.googleId) {
                      <a href="{{ student.homePageLink }}"
                        (click)="$event.stopPropagation()" target="_blank" rel="noopener noreferrer" [innerHtml]="student.googleId | highlighter:searchString:true">
                      </a>
                    }</td>
                    <td [innerHtml]="student.institute | highlighter:searchString:true"></td>
                    <td [innerHtml]="student.comments | highlighter:searchString:true"></td>
                    <td>
                      @if (student.googleId && student.manageAccountLink) {
                        <a href="{{ student.manageAccountLink }}"
                          (click)="$event.stopPropagation()" target="_blank" rel="noopener noreferrer">
                          <i class="fas fa-info-circle"></i> Manage this account
                        </a>
                      }
                      <br>
                        @if (student.googleId) {
                          <a id="reset-student-id-{{i}}" href="javascript:;" (click)="resetStudentGoogleId(student, $event)">
                            <i class="fas fa-sync"></i> Reset Google ID
                          </a>
                        }
                        <br>
                          <button id="regenerate-student-key-{{i}}" class="btn btn-danger" [disabled]="isRegeneratingStudentKeys[i]" (click)="student.showLinks = !student.showLinks; regenerateStudentKey(student, i);">@if (isRegeneratingStudentKeys[i]) {
                            <tm-ajax-loading></tm-ajax-loading>
                          }Regenerate key</button>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="6">
                          @if (student.showLinks) {
                            <ul class="list-group" @collapseAnim>
                              <li class="list-group-item list-group-item-success has-success">
                                <strong>Email</strong>
                                <input [value]="student.email" disabled class="form-control">
                              </li>
                              <li class="list-group-item list-group-item-info">
                                <strong>Course Join Link</strong>
                                <button id="send-course-join-button" type="button" class="btn btn-primary margin-left-5px btn-sm" (click)="openCourseJoinEmail(student.courseId, student.email)">Send mail</button>
                                <input [value]="student.courseJoinLink" disabled class="form-control">
                              </li>
                              @for (awaitingFs of student.awaitingSessions | keyvalue; track awaitingFs) {
                                <li class="list-group-item list-group-item-light">
                                  <strong>{{ awaitingFs.key + ' ' + awaitingFs.value.startTime + ' - ' + awaitingFs.value.endTime }}</strong>
                                  <button id="send-awaiting-session-reminder-button" type="button" class="btn btn-primary margin-left-5px btn-sm" (click)="openFeedbackSessionReminderEmail(student.courseId, student.email, awaitingFs.key)">Send mail</button>
                                  <input [value]="awaitingFs.value.feedbackSessionUrl" disabled class="form-control">
                                </li>
                              }
                              @for (openFs of student.openSessions | keyvalue; track openFs) {
                                <li class="list-group-item list-group-item-warning">
                                  <strong>{{ openFs.key + ' ' + openFs.value.startTime + ' - ' + openFs.value.endTime }}</strong>
                                  <button id="send-open-session-reminder-button" type="button" class="btn btn-primary margin-left-5px btn-sm" (click)="openFeedbackSessionReminderEmail(student.courseId, student.email, openFs.key)">Send mail</button>
                                  <input [value]="openFs.value.feedbackSessionUrl" disabled class="form-control">
                                </li>
                              }
                              @for (notOpenFs of student.notOpenSessions | keyvalue; track notOpenFs) {
                                <li class="list-group-item list-group-item-danger">
                                  <strong>{{ notOpenFs.key + ' ' + notOpenFs.value.startTime + ' - ' + notOpenFs.value.endTime }}</strong>
                                  <button id="send-not-open-session-reminder-button" type="button" class="btn btn-primary margin-left-5px btn-sm" (click)="openFeedbackSessionReminderEmail(student.courseId, student.email, notOpenFs.key)">Send mail</button>
                                  <input [value]="notOpenFs.value.feedbackSessionUrl" disabled class="form-control">
                                </li>
                              }
                              @for (publishedFs of student.publishedSessions | keyvalue; track publishedFs) {
                                <li class="list-group-item list-group-item-success">
                                  <strong>{{ publishedFs.key + ' ' + publishedFs.value.startTime + ' - ' + publishedFs.value.endTime }}</strong>
                                  <button id="send-published-session-reminder-button" type="button" class="btn btn-primary margin-left-5px btn-sm" (click)="openFeedbackSessionReminderEmail(student.courseId, student.email, publishedFs.key)">Send mail</button>
                                  <input [value]="publishedFs.value.feedbackSessionUrl" disabled class="form-control">
                                </li>
                              }
                            </ul>
                          }
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          }

          @if (accountRequests.length) {
            <tm-account-request-table [accountRequests]="accountRequests" [searchString]="searchString"></tm-account-request-table>
          }
