.top-padded {
  margin-top: 20px;
}

.margin-left-5px {
  margin-left: 5px;
}

.text-course-deleted {
  color: #6b6b6b;
}

.bin-icon {
  padding-bottom: 2px;
  border-bottom: 1.1px dotted #808080;

  &:hover {
    border-bottom: 1.1px dotted #000;
  }
}

::ng-deep .highlighted-text {
  background-color: yellow;
}
