<div class="card bg-light top-padded">
  <div class="card-body">
    <div class="input-group">
      <input
        id="search-box"
        type="text"
        class="form-control"
        aria-label="Search"
        [(ngModel)]="searchQuery"
        (keyup.enter)="search()"
        [maxlength]="characterLimit"
      />
      <button id="search-button" class="btn btn-primary input-group-text" (click)="search()">Search</button>
    </div>
    <span>{{ characterLimit - searchQuery.length }} characters left</span>
  </div>
</div>

@if (instructors.length) {
  <tm-admin-instructor-search-table
    [instructors]="instructors"
    [searchString]="searchString"
    (instructorReset)="search()"
  ></tm-admin-instructor-search-table>
}

@if (students.length) {
  <tm-admin-student-search-table
    [students]="students"
    [searchString]="searchString"
    (studentReset)="search()"
  ></tm-admin-student-search-table>
}

@if (accountRequests.length) {
  <tm-admin-account-search-table
    [accountRequests]="accountRequests"
    [searchString]="searchString"
  ></tm-admin-account-search-table>
}
