Distribute points (among options) question options:
<ul>
  @for (option of questionDetails.constSumOptions; track option) {
    <li>{{ option }}</li>
  }
</ul>
@if (!questionDetails.pointsPerOption) {
  <span>{{getPointsLabel()}}: {{ questionDetails.points }}</span>
}
@if (questionDetails.maxPoint !== undefined) {
  <span>Maximum number of point per option: {{ questionDetails.maxPoint }}</span>
}
@if (questionDetails.minPoint !== undefined) {
  <span>Minimum number of point per option: {{ questionDetails.minPoint }}</span>
}
