<div class="modal-header bg-danger text-white">
  <div *ngIf="isDeleteAll">
    <h5 class="modal-title"><i class="fas fa-times-circle"></i> Confirm deleting all courses</h5>
  </div>
  <div *ngIf="!isDeleteAll">
    <h5 class="modal-title"><i class="fas fa-times-circle"></i> Confirm deleting a course</h5>
  </div>
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body" *ngIf="isDeleteAll">
  <strong>Are you sure you want to permanently delete all the courses in the Recycle Bin?</strong>
  <br>
  This operation will delete all students and sessions in these courses.
  All instructors of these courses will not be able to access them hereafter as well.
</div>
<div class="modal-body" *ngIf="!isDeleteAll">
  <strong>Are you sure you want to permanently delete {{courseId}}?</strong>
  <br>
  This operation will delete all students and sessions in this course.
  All instructors of this course will not be able to access them hereafter as well.
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">No, Cancel the Operation</button>
  <button type="button" class="btn btn-danger modal-btn-ok" (click)="activeModal.close()">Yes</button>
</div>
