<span *ngIf="responseDetails.answer === -101" class="color-negative">Not Sure</span>
<span *ngIf="responseDetails.answer === 0" class="color-negative">0%</span>
<span *ngIf="responseDetails.answer === -999" class="color-neutral">N/A</span>
<span *ngIf="responseDetails.answer === -9999" class="color-neutral"></span>
<span *ngIf="responseDetails.answer === 100" class="color-neutral">Equal Share</span>
<span *ngIf="responseDetails.answer > 100" class="color-positive">Equal Share +{{ responseDetails.answer - 100 }}%</span>
<span *ngIf="responseDetails.answer < 100 && responseDetails.answer > 0" class="color-negative">Equal Share -{{ 100 - responseDetails.answer }}%</span>
