<div *ngIf="isStudentPage">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Criteria</th>
        <th class="text-center" *ngFor="let choice of questionDetails.rubricChoices">{{ choice }}</th>
      </tr>
    </thead>
    <tbody id="rubric-answers">
      <tr *ngFor="let answer of answers; let i = index">
        <td>{{ questionDetails.rubricSubQuestions[i] }}</td>
        <td class="text-center" *ngFor="let choice of questionDetails.rubricChoices">
          <i *ngIf="answer.answer === choice" aria-label="selected" class="fas fa-check"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!isStudentPage">
  <ol type="a">
    <li *ngFor="let answer of answers">{{ answer.answer }} <span class="choice-index">{{ answer.index ? '(Choice ' + answer.index + ')' : '' }}</span></li>
  </ol>
</div>
