@if (details) {
  <details open>
    <summary class="title">details:</summary>
    <pre class="margin-left-3em wrap">{{ details | json }}</pre>
  </details>
}
@if (requestBody) {
  <details open>
    <summary class="title">request body:</summary>
    <pre class="margin-left-3em wrap">{{ requestBody | json }}</pre>
  </details>
}
@if (userInfo) {
  <details>
    <summary class="title">user info:</summary>
    <pre class="clickable margin-left-3em wrap" ngbTooltip="Click to add to filter" (click)="addUserInfoToFilter(userInfo)">{{ userInfo | json }}</pre>
  </details>
}
