<!-- <div class="modal-header alert-danger"> -->

<div class="modal-header" [ngClass]="{'alert-primary': isExtendModal(), 'alert-danger' : isDeleteModal()}">
  <h5 class="modal-title" *ngIf="isExtendModal()">Confirm extension of feedback session</h5>
  <h5 class="modal-title" *ngIf="isDeleteModal()">Confirm deletion of feedback session extensions</h5>
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <i class="fas fa-times"></i>
  </button>
</div>

<div class="modal-body" >
  <div *ngIf="isExtendModal()">
    The new deadline of <b>{{ extensionTimestamp | date:'d MMM yyyy hh:mm' }}</b> will be applied
    to the following <b>{{studentsSelected.length}} students</b> upon confirmation:
  </div>

  <div *ngIf="isDeleteModal()">
    The deadline of the following <b>{{studentsSelected.length}}</b> students
    will be reverted back to the original deadline of <b>{{ extensionTimestamp | date:'d MMM yyyy hh:mm' }}</b> upon confirmation:
  </div>

  <div class="table-responsive">
    <table id="student-list-table" class="table table-bordered">
      <thead>
        <tr>
          <th class="sortable-header" (click)="sortCoursesBy(SortBy.SECTION_NAME)">
            Section
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              <i *ngIf="sortBy === SortBy.SECTION_NAME && sortOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
              <i *ngIf="sortBy === SortBy.SECTION_NAME && sortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
            </span>
          </th>
          <th class="sortable-header" (click)="sortCoursesBy(SortBy.TEAM_NAME)">
            Team
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              <i *ngIf="sortBy === SortBy.TEAM_NAME && sortOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
              <i *ngIf="sortBy === SortBy.TEAM_NAME && sortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
            </span>
          </th>
          <th class="sortable-header" (click)="sortCoursesBy(SortBy.RESPONDENT_NAME)">
            Name
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              <i
                *ngIf="sortBy === SortBy.RESPONDENT_NAME && sortOrder === SortOrder.DESC"
                class="fas fa-sort-down"
              ></i>
              <i *ngIf="sortBy === SortBy.RESPONDENT_NAME && sortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
            </span>
          </th>
          <th class="sortable-header" (click)="sortCoursesBy(SortBy.RESPONDENT_EMAIL)">
            Email
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              <i
                *ngIf="sortBy === SortBy.RESPONDENT_EMAIL && sortOrder === SortOrder.DESC"
                class="fas fa-sort-down"
              ></i>
              <i *ngIf="sortBy === SortBy.RESPONDENT_EMAIL && sortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
            </span>
          </th>
          <th class="sortable-header" (click)="sortCoursesBy(SortBy.SESSION_END_DATE)">
            <span *ngIf="isExtendModal()">Original Deadline </span>
            <span *ngIf="isDeleteModal()">Current Deadline </span>
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              <i
                *ngIf="sortBy === SortBy.SESSION_END_DATE && sortOrder === SortOrder.DESC"
                class="fas fa-sort-down"
              ></i>
              <i *ngIf="sortBy === SortBy.SESSION_END_DATE && sortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
            </span>
          </th>
        </tr>
      </thead>
      <tr *ngFor="let student of studentsSelected; index as i">
        <td>{{ student.sectionName }}</td>
        <td>{{ student.teamName }}</td>
        <td>{{ student.studentName }}</td>
        <td>{{ student.studentEmail }}</td>
        <td>{{ student.studentExtensionDeadline | date:'d MMM yyyy hh:mm' }}</td>
      </tr>
    </table>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" [(ngModel)]="isNotifyStudents" id="flexCheckChecked">
    <label class="form-check-label" for="flexCheckChecked" *ngIf="isExtendModal()">
      Notify students by email about this extension
    </label>
    <label class="form-check-label" for="flexCheckChecked" *ngIf="isDeleteModal()">
      Notify students by email about this deletion
    </label>
  </div>

</div>

<br>

<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">No, Cancel the Operation</button>
  <button *ngIf="isExtendModal()" type="button" class="btn btn-success modal-btn-ok" (click)="onExtend()">Confirm</button>
  <button *ngIf="isDeleteModal()" type="button" class="btn btn-danger modal-btn-ok" (click)="onExtend()">Delete Extension(s)</button>
</div>
