<!-- <div class="modal-header alert-danger"> -->

<div class="modal-header" [ngClass]="{'alert-primary': isExtendModal(), 'alert-danger' : isDeleteModal()}">
  <h5 class="modal-title" *ngIf="isExtendModal()">Confirm extension of feedback session</h5>
  <h5 class="modal-title" *ngIf="isDeleteModal()">Confirm deletion of feedback session extensions</h5>
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <i class="fas fa-times"></i>
  </button>
</div>

<div class="modal-body" >
  <div *ngIf="isExtendModal()">
    The new deadline of <b>{{ extensionTimestamp | formatDateDetail: feedbackSessionTimeZone }}</b> will be applied
    to the following <b>{{selectedStudents.length}}</b> student(s) and <b>{{selectedInstructors.length}}</b> instructor(s) upon confirmation:
  </div>

  <div *ngIf="isDeleteModal()">
    The deadline of the following <b>{{selectedStudents.length}}</b> student(s) and <b>{{selectedInstructors.length}}</b>
    instructor(s) will be reverted back to the original deadline of <b>{{ extensionTimestamp | formatDateDetail: feedbackSessionTimeZone }}</b> upon confirmation:
  </div>

  <div class="table-responsive" *ngIf="selectedStudents.length!==0">
    <h1>Students</h1>
    <table id="student-list-table" class="table table-bordered">
      <thead>
        <tr>
          <th class="sortable-header" (click)="sortStudentColumnsBy(SortBy.SECTION_NAME)">
            Section
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              <i *ngIf="sortStudentsBy === SortBy.SECTION_NAME && sortStudentOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
              <i *ngIf="sortStudentsBy === SortBy.SECTION_NAME && sortStudentOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
            </span>
          </th>
          <th class="sortable-header" (click)="sortStudentColumnsBy(SortBy.TEAM_NAME)">
            Team
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              <i *ngIf="sortStudentsBy === SortBy.TEAM_NAME && sortStudentOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
              <i *ngIf="sortStudentsBy === SortBy.TEAM_NAME && sortStudentOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
            </span>
          </th>
          <th class="sortable-header" (click)="sortStudentColumnsBy(SortBy.RESPONDENT_NAME)">
            Name
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              <i
                *ngIf="sortStudentsBy === SortBy.RESPONDENT_NAME && sortStudentOrder === SortOrder.DESC"
                class="fas fa-sort-down"
              ></i>
              <i *ngIf="sortStudentsBy === SortBy.RESPONDENT_NAME && sortStudentOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
            </span>
          </th>
          <th class="sortable-header" (click)="sortStudentColumnsBy(SortBy.RESPONDENT_EMAIL)">
            Email
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              <i
                *ngIf="sortStudentsBy === SortBy.RESPONDENT_EMAIL && sortStudentOrder === SortOrder.DESC"
                class="fas fa-sort-down"
              ></i>
              <i *ngIf="sortStudentsBy === SortBy.RESPONDENT_EMAIL && sortStudentOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
            </span>
          </th>
          <th class="sortable-header" (click)="sortStudentColumnsBy(SortBy.SESSION_END_DATE)">
            <span *ngIf="isExtendModal()">Original Deadline </span>
            <span *ngIf="isDeleteModal()">Current Deadline </span>
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              <i
                *ngIf="sortStudentsBy === SortBy.SESSION_END_DATE && sortStudentOrder === SortOrder.DESC"
                class="fas fa-sort-down"
              ></i>
              <i *ngIf="sortStudentsBy === SortBy.SESSION_END_DATE && sortStudentOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
            </span>
          </th>
        </tr>
      </thead>
      <tr *ngFor="let student of selectedStudents;">
        <td>{{ student.sectionName }}</td>
        <td>{{ student.teamName }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.extensionDeadline | formatDateDetail: feedbackSessionTimeZone }}</td>
      </tr>
    </table>
  </div>

  <div class="table-responsive" *ngIf="selectedInstructors.length!==0">
    <h1>Instructors</h1>
    <table id="student-list-table" class="table table-bordered">
      <thead>
        <tr>
          <th class="sortable-header" (click)="sortInstructorsColumnsBy(SortBy.INSTITUTION)">
            Institute
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              <i *ngIf="sortInstructorsBy === SortBy.SECTION_NAME && sortInstructorOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
              <i *ngIf="sortInstructorsBy === SortBy.SECTION_NAME && sortInstructorOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
            </span>
          </th>
          <th class="sortable-header" (click)="sortInstructorsColumnsBy(SortBy.RESPONDENT_NAME)">
            Name
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              <i
                *ngIf="sortInstructorsBy === SortBy.RESPONDENT_EMAIL && sortInstructorOrder === SortOrder.DESC"
                class="fas fa-sort-down"
              ></i>
              <i *ngIf="sortInstructorsBy === SortBy.RESPONDENT_EMAIL && sortInstructorOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
            </span>
          </th>
          <th class="sortable-header" (click)="sortInstructorsColumnsBy(SortBy.RESPONDENT_EMAIL)">
            Email
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              <i *ngIf="sortInstructorsBy === SortBy.TEAM_NAME && sortInstructorOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
              <i *ngIf="sortInstructorsBy === SortBy.TEAM_NAME && sortInstructorOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
            </span>
          </th>
          <th class="sortable-header" (click)="sortInstructorsColumnsBy(SortBy.SESSION_END_DATE)">
            Current Deadline
            <span class="fa-stack">
              <i class="fas fa-sort"></i>
              <i
                *ngIf="sortInstructorsBy === SortBy.SESSION_END_DATE && sortInstructorOrder === SortOrder.DESC"
                class="fas fa-sort-down"
              ></i>
              <i *ngIf="sortInstructorsBy === SortBy.SESSION_END_DATE && sortInstructorOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
            </span>
          </th>
        </tr>
      </thead>
      <tr *ngFor="let instructor of selectedInstructors;">
        <td>{{ instructor.institute }}</td>
        <td>{{ instructor.name }}</td>
        <td>{{ instructor.email }}</td>
        <td>{{ instructor.extensionDeadline | formatDateDetail: feedbackSessionTimeZone }}</td>
      </tr>
    </table>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" [(ngModel)]="isNotifyIndividuals" id="flexCheckChecked">
    <label class="form-check-label" for="flexCheckChecked" *ngIf="isExtendModal()">
      Notify affected students and/or instructors by email about this extension
    </label>
    <label class="form-check-label" for="flexCheckChecked" *ngIf="isDeleteModal()">
      Notify affected students and/or instructors by email about the cancellation of their extension
    </label>
  </div>

</div>

<br>

<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">No, cancel the Operation</button>
  <button *ngIf="isExtendModal()" type="button" class="btn btn-success modal-btn-ok" (click)="onExtend()">Confirm</button>
  <button *ngIf="isDeleteModal()" type="button" class="btn btn-danger modal-btn-ok" (click)="onExtend()">Delete Extension(s)</button>
</div>
