.margin-top-30px {
  margin-top: 30px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-top-15px {
  margin-top: 15px;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.margin-bottom-0px {
  margin-bottom: 0;
}

.constraint-margins {
  margin-top: 10px;
  margin-left: 20px;
}

.evaluee-select {
  padding-left: 15px;
  padding-right: 15px;
}

.visibility-card {
  background-color: rgb(0 0 0 / 3%);
}

.indent {
  margin-left: 1%;
}

.font-bold {
  font-weight: bold;
}

.question-details {
  font-size: 0.875rem;
  margin-bottom: 0;
  line-height: inherit;
  font-weight: inherit;
}

.collapse-caret {
  margin-right: 10px;
}
