.margin-top-30px {
  margin-top: 30px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-top-15px {
  margin-top: 15px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.constraint-margins {
  margin-top: 10px;
  margin-left: 20px;
}

.evaluee-col {
  padding-left: 50px;
  padding-right: 50px;
}

.evaluee-select {
  padding-left: 15px;
  padding-right: 15px;
}

.visibility-card {
  background-color: rgba(0, 0, 0, .03);
}

.indent {
  margin-left: 1%;
}
