.margin-top-30px {
  margin-top: 30px;
}

.margin-top-10px {
  margin-top: 10px;
}

.constraint-margins {
  margin-top: 10px;
  margin-left: 20px;
}

.question-header {
  background-color: lighten(#007BFF, 5%);
}

.evaluee-col {
  padding-left: 50px;
  padding-right: 50px;
}

.evaluee-select {
  padding-left: 15px;
  padding-right: 15px;
}
