<div id="question-submission-form-qn-{{ model.questionNumber }}" class="card">
  <div class="card-header bg-primary text-white question-header cursor-pointer border-0" (click)="toggleQuestionTab();"
          [ngClass]="currentSelectedSessionView === allSessionViews.GROUP_RECIPIENTS ?
            (isSavedForRecipient(recipientId) ? 'bg-success' : 'bg-primary') :
            (isSaved ? 'bg-success' : 'bg-primary')">
    <div class="collapse-caret">
      <tm-panel-chevron [isExpanded]="shouldTabExpand()"></tm-panel-chevron>
    </div>
    @if (currentSelectedSessionView === allSessionViews.GROUP_RECIPIENTS ? isSavedForRecipient(recipientId) : isSaved) {
      <i class="fas fa-check me-2" aria-hidden="true"></i>
    }
    <h2 class="question-details"><b>Question {{ model.questionNumber }}: </b>{{ model.questionBrief }}</h2>
  </div>

  @if (shouldTabExpand()) {
    <div @collapseAnim>
      <div class="card-body" *tmIsLoading="model.isLoading">
        @if (model.questionDescription) {
          <div class="card mb-3">
            <div class="card-header">
              <b>More details</b>
            </div>
            <div class="question-description card-body" [innerHTML]="model.questionDescription | safeHtml"></div>
          </div>
        }
        <div class="card-body visibility-card">
          <p class="text-secondary">Only the following persons can see your responses: </p>
          <ul class="visibility-list text-secondary">
            @if (model.recipientType === FeedbackParticipantType.SELF) {
              <li>You can see your own feedback in the results page later on.</li>
            }
            @for (visibilityType of FeedbackVisibilityType | enumToArray; track visibilityType) {
              @if (visibilityStateMachine.isVisibilityTypeApplicable(visibilityType) && visibilityStateMachine.hasAnyVisibilityControl(visibilityType)) {
                <li>
                  {{ visibilityType | visibilityEntityName:model.recipientType:model.numberOfEntitiesToGiveFeedbackToSetting:model.customNumberOfEntitiesToGiveFeedbackTo }} {{ visibilityStateMachine.getVisibilityControlUnderVisibilityType(visibilityType) | visibilityCapability }}
                </li>
              }
            }
            @if (!visibilityStateMachine.hasAnyVisibilityControlForAll()) {
              <li>No-one can see your responses</li>
            }
          </ul>
        </div>
        @if (QuestionDetailsTypeChecker.isContrib(model.questionDetails)) {
          <tm-contribution-question-instruction
          [questionDetails]="model.questionDetails" [numOfRecipients]="model.recipientSubmissionForms.length"></tm-contribution-question-instruction>
        }
        @if (QuestionDetailsTypeChecker.isText(model.questionDetails)) {
          <tm-text-question-instruction></tm-text-question-instruction>
        }
        @if (QuestionDetailsTypeChecker.isNumscale(model.questionDetails)) {
          <tm-num-scale-question-instruction></tm-num-scale-question-instruction>
        }
        @if (QuestionDetailsTypeChecker.isText(model.questionDetails)) {
          <tm-text-question-constraint></tm-text-question-constraint>
        }
        @if (QuestionDetailsTypeChecker.isNumscale(model.questionDetails)) {
          <tm-num-scale-question-constraint></tm-num-scale-question-constraint>
        }
        @if (QuestionDetailsTypeChecker.isRankOptions(model.questionDetails)) {
          <tm-rank-options-question-instruction [questionDetails]="model.questionDetails"></tm-rank-options-question-instruction>
        }
        @if (QuestionDetailsTypeChecker.isMsq(model.questionDetails)) {
          <tm-msq-question-constraint [questionDetails]="model.questionDetails"></tm-msq-question-constraint>
        }
        @if (QuestionDetailsTypeChecker.isRankRecipients(model.questionDetails)) {
          <tm-rank-recipients-question-instruction [questionDetails]="model.questionDetails"></tm-rank-recipients-question-instruction>
        }
        @if (QuestionDetailsTypeChecker.isConstSumOptions(model.questionDetails)) {
          <tm-constsum-options-question-instruction [questionDetails]="model.questionDetails"></tm-constsum-options-question-instruction>
        }
        @if (QuestionDetailsTypeChecker.isConstSumRecipients(model.questionDetails)) {
          <tm-constsum-recipients-question-instruction
          [questionDetails]="model.questionDetails" [numOfRecipients]="model.recipientSubmissionForms.length"></tm-constsum-recipients-question-instruction>
        }
        <div class="row margin-top-30px margin-bottom-0px">
          <div class="col">
            @if (model.recipientType !== FeedbackParticipantType.NONE && model.recipientType !== FeedbackParticipantType.SELF) {
              <p >
                <span class="ngb-tooltip-class font-bold" ngbTooltip="The party being evaluated or given feedback to">Evaluee/Recipient</span>
              </p>
            }
          </div>
          @if (hasSectionTeam) {
            <div class="form-check">
              <input type="checkbox" id="show-section-team-{{ model.questionNumber }}" name="show-section-team" value="sectionTeam" (change)="toggleSectionTeam($event)">
              <label class="form-check-label ms-1" for="show-section-team-{{ model.questionNumber }}">Show Section/Team</label>
            </div>
          }
        </div>
        @if (model.giverType === FeedbackParticipantType.TEAMS) {
          <div class="alert alert-primary" role="alert">
            Please note that you are submitting this response on behalf of your team.
          </div>
        }
        <div class="container">
          @for (recipientSubmissionFormModel of model.recipientSubmissionForms; track $index; let i = $index) {
            <div class="row">
              <!-- When questions are grouped by recipients, only show the question edit answer form for that particular recipients-->
              @if (currentSelectedSessionView === allSessionViews.DEFAULT || (currentSelectedSessionView === allSessionViews.GROUP_RECIPIENTS && recipientId === recipientSubmissionFormModel.recipientIdentifier)) {
                @if (model.recipientType !== FeedbackParticipantType.SELF && model.recipientType !== FeedbackParticipantType.NONE) {
                  <div class="col-md-5 col-xs-12 margin-top-20px">
                    @if (formMode === QuestionSubmissionFormMode.FIXED_RECIPIENT) {
                      <div id="recipient-name-qn-{{ model.questionNumber }}-idx-{{ i }}">
                        <b>{{ getRecipientName(recipientSubmissionFormModel.recipientIdentifier) }} </b> <span>({{ model.recipientType | recipientTypeName:model.giverType }})</span>
                      </div>
                    }
                    @if (formMode === QuestionSubmissionFormMode.FLEXIBLE_RECIPIENT) {
                      <div class="row evaluee-select align-items-center">
                        <select id="recipient-dropdown-qn-{{ model.questionNumber }}-idx-{{ i }}" class="form-control form-select fw-bold col" [ngModel]="recipientSubmissionFormModel.recipientIdentifier"
                          (ngModelChange)="triggerRecipientSubmissionFormChange(i, 'recipientIdentifier', $event)"
                          [disabled]="isFormsDisabled"
                          [attr.aria-label]="'Select recipient dropdown question ' + model.questionNumber + ' index ' + i">
                          <option value=""></option>
                          @for (recipient of model.recipientList; track recipient) {
                            @if (!isRecipientSelected(recipient) || recipientSubmissionFormModel.recipientIdentifier === recipient.recipientIdentifier) {
                              <option [ngValue]="recipient.recipientIdentifier">{{ getSelectionOptionLabel(recipient) }}</option>
                            }
                          }
                        </select>
                        <div class="col-auto text-start">
                          ({{ model.recipientType | recipientTypeName: model.giverType }})
                        </div>
                      </div>
                    }
                  </div>
                }
                <div class="margin-top-20px" [ngClass]="isMCQDropDownEnabled ? 'col-12' : 'col'">
                  @if (QuestionDetailsTypeChecker.isContrib(model.questionDetails) && ResponseDetailsTypeChecker.isContrib(recipientSubmissionFormModel.responseDetails)) {
                    <tm-contribution-question-edit-answer-form [questionDetails]="model.questionDetails"
                      [responseDetails]="recipientSubmissionFormModel.responseDetails"
                      (responseDetailsChange)="triggerRecipientSubmissionFormChange(i, 'responseDetails', $event)"
                      [isDisabled]="isFormsDisabled"
                      [recipient]="getRecipientName(recipientSubmissionFormModel.recipientIdentifier)"
                    ></tm-contribution-question-edit-answer-form>
                  }
                  @if (QuestionDetailsTypeChecker.isText(model.questionDetails) && ResponseDetailsTypeChecker.isText(recipientSubmissionFormModel.responseDetails)) {
                    <tm-text-question-edit-answer-form [questionDetails]="model.questionDetails"
                      [responseDetails]="recipientSubmissionFormModel.responseDetails"
                      (responseDetailsChange)="triggerRecipientSubmissionFormChange(i, 'responseDetails', $event)"
                      [isDisabled]="isFormsDisabled"
                      [recipient]="getRecipientName(recipientSubmissionFormModel.recipientIdentifier)"
                    ></tm-text-question-edit-answer-form>
                  }
                  @if (QuestionDetailsTypeChecker.isRankOptions(model.questionDetails) && ResponseDetailsTypeChecker.isRankOptions(recipientSubmissionFormModel.responseDetails)) {
                    <tm-rank-options-question-edit-answer-form [questionDetails]="model.questionDetails"
                      [responseDetails]="recipientSubmissionFormModel.responseDetails"
                      (responseDetailsChange)="triggerRecipientSubmissionFormChange(i, 'responseDetails', $event)"
                      [isDisabled]="isFormsDisabled"
                      [recipient]="getRecipientName(recipientSubmissionFormModel.recipientIdentifier)"
                    ></tm-rank-options-question-edit-answer-form>
                  }
                  @if (QuestionDetailsTypeChecker.isRankRecipients(model.questionDetails) && ResponseDetailsTypeChecker.isRankRecipients(recipientSubmissionFormModel.responseDetails)) {
                    <tm-rank-recipients-question-edit-answer-form [questionDetails]="model.questionDetails"
                      [responseDetails]="recipientSubmissionFormModel.responseDetails"
                      (responseDetailsChange)="triggerRecipientSubmissionFormChange(i, 'responseDetails', $event)"
                      [isDisabled]="isFormsDisabled" [numOfRecipients]="model.recipientSubmissionForms.length"
                      [recipient]="getRecipientName(recipientSubmissionFormModel.recipientIdentifier)"
                    ></tm-rank-recipients-question-edit-answer-form>
                  }
                  @if (QuestionDetailsTypeChecker.isNumscale(model.questionDetails) && ResponseDetailsTypeChecker.isNumscale(recipientSubmissionFormModel.responseDetails)) {
                    <tm-num-scale-question-edit-answer-form [questionDetails]="model.questionDetails"
                      [responseDetails]="recipientSubmissionFormModel.responseDetails"
                      (responseDetailsChange)="triggerRecipientSubmissionFormChange(i, 'responseDetails', $event)"
                      [isDisabled]="isFormsDisabled"
                      [recipient]="getRecipientName(recipientSubmissionFormModel.recipientIdentifier)"
                    ></tm-num-scale-question-edit-answer-form>
                  }
                  @if (QuestionDetailsTypeChecker.isMcq(model.questionDetails) && ResponseDetailsTypeChecker.isMcq(recipientSubmissionFormModel.responseDetails)) {
                    <tm-mcq-question-edit-answer-form [questionDetails]="model.questionDetails"
                      [responseDetails]="recipientSubmissionFormModel.responseDetails"
                      (responseDetailsChange)="triggerRecipientSubmissionFormChange(i, 'responseDetails', $event)"
                      [isDisabled]="isFormsDisabled"
                      [id]="model.feedbackQuestionId + recipientSubmissionFormModel.recipientIdentifier"
                      (cssRefresh)=refreshCssForDropdownMCQ($event)
                      [recipient]="getRecipientName(recipientSubmissionFormModel.recipientIdentifier)"
                    ></tm-mcq-question-edit-answer-form>
                  }
                  @if (QuestionDetailsTypeChecker.isMsq(model.questionDetails) && ResponseDetailsTypeChecker.isMsq(recipientSubmissionFormModel.responseDetails)) {
                    <tm-msq-question-edit-answer-form [questionDetails]="model.questionDetails"
                      [responseDetails]="recipientSubmissionFormModel.responseDetails"
                      (responseDetailsChange)="triggerRecipientSubmissionFormChange(i, 'responseDetails', $event)"
                      [isDisabled]="isFormsDisabled"
                      [recipient]="getRecipientName(recipientSubmissionFormModel.recipientIdentifier)"
                    ></tm-msq-question-edit-answer-form>
                  }
                  @if (QuestionDetailsTypeChecker.isRubric(model.questionDetails) && ResponseDetailsTypeChecker.isRubric(recipientSubmissionFormModel.responseDetails)) {
                    <tm-rubric-question-edit-answer-form [questionDetails]="model.questionDetails"
                      [responseDetails]="recipientSubmissionFormModel.responseDetails"
                      (responseDetailsChange)="triggerRecipientSubmissionFormChange(i, 'responseDetails', $event)"
                      [isDisabled]="isFormsDisabled"
                      [id]="model.feedbackQuestionId + recipientSubmissionFormModel.recipientIdentifier"
                      [recipient]="getRecipientName(recipientSubmissionFormModel.recipientIdentifier)">
                    </tm-rubric-question-edit-answer-form>
                  }
                  @if (QuestionDetailsTypeChecker.isConstSumOptions(model.questionDetails) && ResponseDetailsTypeChecker.isConstSum(recipientSubmissionFormModel.responseDetails)) {
                    <tm-constsum-options-question-edit-answer-form [questionDetails]="model.questionDetails"
                      [responseDetails]="recipientSubmissionFormModel.responseDetails"
                      (responseDetailsChange)="triggerRecipientSubmissionFormChange(i, 'responseDetails', $event)"
                      [isDisabled]="isFormsDisabled"
                      [recipient]="getRecipientName(recipientSubmissionFormModel.recipientIdentifier)">
                    </tm-constsum-options-question-edit-answer-form>
                  }
                  @if (QuestionDetailsTypeChecker.isConstSumRecipients(model.questionDetails) && ResponseDetailsTypeChecker.isConstSum(recipientSubmissionFormModel.responseDetails)) {
                    <tm-constsum-recipients-question-edit-answer-form [questionDetails]="model.questionDetails"
                      [responseDetails]="recipientSubmissionFormModel.responseDetails"
                      (responseDetailsChange)="triggerRecipientSubmissionFormChange(i, 'responseDetails', $event)"
                      [isDisabled]="isFormsDisabled"
                      [recipient]="getRecipientName(recipientSubmissionFormModel.recipientIdentifier)">
                    </tm-constsum-recipients-question-edit-answer-form>
                  }
                </div>
                <div id="comment-section-qn-{{ model.questionNumber }}-idx-{{ i }}" class="col-12 margin-bottom-20px margin-top-10px indent">
                  @if (recipientSubmissionFormModel.commentByGiver) {
                    <div>
                      <div class="card-body visibility-card">
                        <p class="text-secondary">Only the following persons can see your comments: </p>
                        <ul class="visibility-list text-secondary">
                          @if (model.recipientType === FeedbackParticipantType.SELF) {
                            <li>You can see your own feedback in the results page later on.</li>
                          }
                          @for (visibilityType of FeedbackVisibilityType | enumToArray; track visibilityType) {
                            @if (visibilityStateMachine.isVisibilityTypeApplicable(visibilityType) && visibilityStateMachine.hasAnyVisibilityControl(visibilityType)) {
                              <li>
                                {{ visibilityType | visibilityEntityName:model.recipientType:model.numberOfEntitiesToGiveFeedbackToSetting:model.customNumberOfEntitiesToGiveFeedbackTo }} {{ visibilityStateMachine.getVisibilityControlUnderVisibilityType(visibilityType) | visibilityCapability }}
                              </li>
                            }
                          }
                          @if (!visibilityStateMachine.hasAnyVisibilityControlForAll()) {
                            <li>No-one can see your responses</li>
                          }
                        </ul>
                      </div>
                    </div>
                  }
                  <div id="comment-section-qn-{{ model.questionNumber }}-idx-{{ i }}" class="col-12 margin-bottom-20px margin-top-10px indent">
                    @if (recipientSubmissionFormModel.commentByGiver && recipientSubmissionFormModel.commentByGiver.originalComment) {
                      <div>
                        <tm-comment-row [mode]="CommentRowMode.EDIT" [isVisibilityOptionEnabled]="false"
                          [model]="recipientSubmissionFormModel.commentByGiver"
                          (modelChange)="triggerRecipientSubmissionFormChange(i, 'commentByGiver', $event)"
                          [isFeedbackParticipantComment]="true"
                          [questionShowResponsesTo]="model.showResponsesTo"
                          [shouldHideSavingButton]="true"
                          (deleteCommentEvent)="triggerDeleteCommentEvent(i)"
                          (closeEditingEvent)="discardEditedParticipantComment(i)"
                        [isDisabled]="isFormsDisabled || isFeedbackResponseDetailsEmpty(recipientSubmissionFormModel.responseDetails)"></tm-comment-row>
                        @if (isFeedbackResponseDetailsEmpty(recipientSubmissionFormModel.responseDetails)) {
                          <div class="alert alert-warning margin-top-10px" role="alert">
                            You must provide a valid response in order to give a comment or your comment will not be saved!
                          </div>
                        }
                      </div>
                    } @else {
                      <div style="display: inline-block;" [ngbTooltip]="isFeedbackResponseDetailsEmpty(recipientSubmissionFormModel.responseDetails) ? 'Give a valid response in order to comment' : ''">
                        @if (!recipientSubmissionFormModel.commentByGiver) {
                          <button class="btn-add-comment btn btn-light btn-sm"
                            (click)="addNewParticipantCommentToResponse(i)"
                            [disabled]="isFormsDisabled || isFeedbackResponseDetailsEmpty(recipientSubmissionFormModel.responseDetails)">
                            <i class="fas fa-comment"></i> [Optional] Comment on your response
                          </button>
                        }
                      </div>
                      @if (recipientSubmissionFormModel.commentByGiver) {
                        <div>
                          <tm-comment-row [mode]="CommentRowMode.ADD" [isVisibilityOptionEnabled]="false"
                            [isFeedbackParticipantComment]="true"
                            [questionShowResponsesTo]="model.showResponsesTo"
                            [shouldHideSavingButton]="true"
                            [model]="recipientSubmissionFormModel.commentByGiver"
                            (modelChange)="triggerRecipientSubmissionFormChange(i, 'commentByGiver', $event)"
                            (closeEditingEvent)="cancelAddingNewParticipantComment(i)"
                          [isDisabled]="isFormsDisabled || isFeedbackResponseDetailsEmpty(recipientSubmissionFormModel.responseDetails)"></tm-comment-row>
                          @if (isFeedbackResponseDetailsEmpty(recipientSubmissionFormModel.responseDetails)) {
                            <div class="alert alert-warning margin-top-10px" role="alert">
                              You must provide a valid response in order to give a comment or your comment will not be saved!
                            </div>
                          }
                        </div>
                      }
                    }
                  </div>
                </div>
              }
            </div>
          }
        </div>
        <div class="col-12 constraint-margins">
          @if (QuestionDetailsTypeChecker.isContrib(model.questionDetails)) {
            <tm-contribution-question-constraint
              [recipientSubmissionForms]="model.recipientSubmissionForms"
              [questionDetails]="model.questionDetails"
              (isValidEvent)="updateValidity($event)"
            ></tm-contribution-question-constraint>
          }
          @if (QuestionDetailsTypeChecker.isRankRecipients(model.questionDetails)) {
            <tm-rank-recipients-question-constraint
              [recipientSubmissionForms]="model.recipientSubmissionForms"
              [questionDetails]="model.questionDetails"
              (isValidEvent)="updateValidity($event)"
            ></tm-rank-recipients-question-constraint>
          }
          @if (QuestionDetailsTypeChecker.isConstSumRecipients(model.questionDetails)) {
            <tm-constsum-recipients-question-constraint
              [recipientSubmissionForms]="model.recipientSubmissionForms"
              [questionDetails]="model.questionDetails"
              (isValidEvent)="updateValidity($event)"
            ></tm-constsum-recipients-question-constraint>
          }
        </div>
        @if (!model.recipientList.length && model.isLoaded) {
          <div class="alert alert-warning" role="alert">
            @if (model.recipientType === FeedbackParticipantType.OWN_TEAM_MEMBERS) {
              <span>This question is for team members and you don't have any team members. Therefore, you will not be able to answer this question.</span>
            }
            @if (model.recipientType === FeedbackParticipantType.TEAMS_EXCLUDING_SELF) {
              <span>This question is for other teams in this course and this course doesn't have any other team. Therefore, you will not be able to answer this question.</span>
            }
            @if (model.recipientType === FeedbackParticipantType.STUDENTS_EXCLUDING_SELF) {
              <span>This question is for other students in this course and this course doesn't have any other student. Therefore, you will not be able to answer this question.</span>
            }
          </div>
        }
        @if (model.recipientList.length > 0 && currentSelectedSessionView === allSessionViews.DEFAULT) {
          <div class="row">
            <div class="col-12 text-center">
              <button id="btn-submit-qn-{{ model.questionNumber }}" type="submit" class="btn btn-success"
                ngbTooltip="You can save your responses for this question at any time and come back later to continue."
                #tooltip="ngbTooltip" (mouseenter)="tooltip.open()"
                (click)="saveFeedbackResponses(); tooltip.close();"[disabled]="isSavingResponses || isSubmissionDisabled">
                @if (isSavingResponses) {
                  <tm-ajax-loading></tm-ajax-loading>
                }
                <span>{{ isQuestionCountOne ? "Submit Response" : "Submit Response for Question " + model.questionNumber }}</span>
              </button>
              <button type="button" class="btn btn-warning float-end" (click)="resetForm(); resetTooltip.close();" ngbTooltip="Reset your responses for this question to the last submitted state."
              #resetTooltip="ngbTooltip" (mouseenter)="resetTooltip.open()" [disabled]="!hasResponseChanged">{{ "Reset Question " + model.questionNumber }}</button>
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
