.background-color-medium-gray {
  background-color: #E5E5E6;
}

.remind-all {
  width: 250px;
}

.clickable {
  cursor: pointer;
}

.margin-right-5px {
  margin-right: 5px;
}

.tst {
  width: 1000px;
}

.card-plain {
  background-color: #EAEFF5;
  background-image: none;
  border: 0;
  box-shadow: 0 0 0 0;
}

.close-header {
  padding-top: .75rem;
  padding-right: 1.25rem;
  margin-bottom: 0;
}

.font-bold {
  font-weight: bold;
}

.border-left-gray {
  border-left: 1px solid #DDD;
}

.margin-top-20px {
  margin-top: 20px;
}

.session-form-buttons > button {
  margin-left: var(--btn-margin);
}

.align-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.padding-left-7px {
  padding-left: 7px;
}