<div *tmIsLoading="isLoadingFeedbackSession">
  <div class="card border-primary margin-top-20px">
    <div class="card-body">
      <div class="row text-center">
        <div class="col-md-2 text-md-right font-bold">Course ID</div>
        <div id="time-zone" class="col-md-3 text-md-left">
          {{ courseId }}
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-2 text-md-right font-bold">Time Zone</div>
        <div id="time-zone" class="col-md-3 text-md-left">
          {{ feedbackSessionDetails.timeZone }}
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-2 text-md-right font-bold">Course Name</div>
        <div id="course-name" class="col-md-10 text-md-left">
          {{ courseName }}
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-2 text-md-right font-bold">Session Name</div>
        <div id="course-name" class="col-md-10 text-md-left">
          {{ feedbackSessionName }}
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-2 text-md-right font-bold">Original Deadline</div>
        <div id="course-name" class="col-md-10 text-md-left">
          {{ feedbackSessionDetails.submissionOriginalDeadline }}
        </div>
      </div>
    </div>
  </div>
  <div class="container ml-1">
    <div class="align-row">
      <div>
        <button type="button" class="btn btn-success" (click)="onExtend()">Extend</button>
      </div>
      <div>
        <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
      </div>
    </div>
    <small
      >Select students from list below and click apply or remove to change their feedback session deadline
      extension.</small
    >
  </div>
</div>

<div *tmIsLoading="isLoadingAllStudents">
  <div class="modal-body">
    <div class="table-responsive">
      <table id="student-list-table" class="table table-bordered">
        <thead>
          <tr>
            <!--<button
              id="sort-course-id-btn"
              class="btn btn-light"
              [disabled]="sortBy === SortBy.COURSE_ID"
              (click)="sortCoursesBy(SortBy.COURSE_ID)"
            >
              Course ID
            </button>
            <button
              id="sort-course-name-btn"
              class="btn btn-light"
              [disabled]="sortBy === SortBy.COURSE_NAME"
              (click)="sortCoursesBy(SortBy.COURSE_NAME)"
            >
              Course Name
            </button> -->
            <th>
              <button>Select All</button>
            </th>
            <th class="sortable-header" (click)="sortCoursesBy(SortBy.SECTION_NAME)">
              Section
              <span class="fa-stack">
                <i class="fas fa-sort"></i>
                <i *ngIf="sortBy === SortBy.SECTION_NAME && sortOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
                <i *ngIf="sortBy === SortBy.SECTION_NAME && sortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
              </span>
            </th>
            <th class="sortable-header" (click)="sortCoursesBy(SortBy.TEAM_NAME)">
              Team
              <span class="fa-stack">
                <i class="fas fa-sort"></i>
                <i *ngIf="sortBy === SortBy.TEAM_NAME && sortOrder === SortOrder.DESC" class="fas fa-sort-down"></i>
                <i *ngIf="sortBy === SortBy.TEAM_NAME && sortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
              </span>
            </th>
            <th class="sortable-header" (click)="sortCoursesBy(SortBy.RESPONDENT_NAME)">
              Name
              <span class="fa-stack">
                <i class="fas fa-sort"></i>
                <i
                  *ngIf="sortBy === SortBy.RESPONDENT_NAME && sortOrder === SortOrder.DESC"
                  class="fas fa-sort-down"
                ></i>
                <i *ngIf="sortBy === SortBy.RESPONDENT_NAME && sortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
              </span>
            </th>
            <th class="sortable-header" (click)="sortCoursesBy(SortBy.RESPONDENT_EMAIL)">
              Email
              <span class="fa-stack">
                <i class="fas fa-sort"></i>
                <i
                  *ngIf="sortBy === SortBy.RESPONDENT_EMAIL && sortOrder === SortOrder.DESC"
                  class="fas fa-sort-down"
                ></i>
                <i *ngIf="sortBy === SortBy.RESPONDENT_EMAIL && sortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
              </span>
            </th>
            <th class="sortable-header" (click)="sortCoursesBy(SortBy.SESSION_END_DATE)">
              Current Deadline
              <span class="fa-stack">
                <i class="fas fa-sort"></i>
                <i
                  *ngIf="sortBy === SortBy.SESSION_END_DATE && sortOrder === SortOrder.DESC"
                  class="fas fa-sort-down"
                ></i>
                <i *ngIf="sortBy === SortBy.SESSION_END_DATE && sortOrder === SortOrder.ASC" class="fas fa-sort-up"></i>
              </span>
            </th>
          </tr>
        </thead>
        <tr
          *ngFor="let student of studentsOfCourse; index as i"
          [ngClass]="{ 'table-warning': student.warning == true }"
        >
          <td class="align-center">
            <label><input type="checkbox" /></label>
          </td>
          <td>{{ student.sectionName }}</td>
          <td>{{ student.teamName }}</td>
          <td>{{ student.studentName }}</td>
          <td>{{ student.studentEmail }}</td>
          <td>{{ student.studentExtensionDeadline }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
