.align-row-right {
  justify-content: right;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sortable-header {
  cursor: pointer;

  i {
    margin-left: .3em;
  }

  .fa-stack {
    width: 20%;
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    text-align: left;
    width: 100%;
    font: inherit;
    cursor: inherit;
  }
}
