<tm-loading-retry
  [shouldShowRetry]="hasLoadingDataFailed"
  [message]="'Failed to load course and feedback session respondents'"
  (retryEvent)="loadPageData()"
>
  <div *tmIsLoading="isLoadingData">
    <div class="card bg-light top-padded text-center text-sm-start">
      <div class="card-body">
        <div class="row text-center">
          <div class="col-md-2 text-md-end font-bold">Course ID</div>
          <div id="course-id" class="col-md-3 text-md-start">
            {{ courseId }}
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-2 text-md-end font-bold">Time Zone</div>
          <div id="time-zone" class="col-md-3 text-md-start">
            {{ feedbackSessionTimeZone }}
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-2 text-md-end font-bold">Course Name</div>
          <div id="course-name" class="col-md-10 text-md-start">
            {{ courseName }}
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-2 text-md-end font-bold">Session Name</div>
          <div id="session-name" class="col-md-10 text-md-start">
            {{ feedbackSessionName }}
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-2 text-md-end font-bold">Deadline</div>
          <div id="deadline" class="col-md-10 text-md-start">
            {{ feedbackSessionEndingTimestamp | formatDateDetail: feedbackSessionTimeZone }}
          </div>
        </div>
      </div>
    </div>

    <div class="top-padded">
      <p>
        Select the students or instructors you want to remind for this session, then click the
        <b>Remind</b> button at the bottom of the page to send them an email reminder.
      </p>

      @if (studentListInfoTableRowModels.length > 0) {
        <div class="row">
          <div class="col-12">
            <div class="form-check form-check-inline">
              <input
                id="remindAllStu"
                class="form-check-input"
                type="checkbox"
                [ngModel]="isAllStudentsSelected"
                (ngModelChange)="changeSelectionStatusForAllStudentsHandler($event)"
              />
              <label for="remindAllStu" class="form-check-label">Select all students</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                id="remindNotSubmittedStu"
                class="form-check-input"
                type="checkbox"
                [ngModel]="isAllYetToSubmitStudentsSelected"
                (ngModelChange)="changeSelectionStatusForAllYetSubmittedStudentsHandler($event)"
              />
              <label for="remindNotSubmittedStu" class="form-check-label">Select all students not yet submitted</label>
            </div>
          </div>
        </div>
      }

      @if (instructorListInfoTableRowModels.length > 0) {
        <div class="row top-padded-sm">
          <div class="col-12">
            <div class="form-check form-check-inline">
              <input
                id="remindAllIns"
                class="form-check-input"
                type="checkbox"
                [ngModel]="isAllInstructorsSelected"
                (ngModelChange)="changeSelectionStatusForAllInstructorsHandler($event)"
              />
              <label for="remindAllIns" class="form-check-label">Select all instructors</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                id="remindNotSubmittedIns"
                class="form-check-input"
                type="checkbox"
                [ngModel]="isAllYetToSubmitInstructorsSelected"
                (ngModelChange)="changeSelectionStatusForAllYetSubmittedInstructorsHandler($event)"
              />
              <label for="remindNotSubmittedIns" class="form-check-label"
                >Select all instructors not yet submitted</label
              >
            </div>
          </div>
        </div>
      }

      @if (hasRespondents) {
        <div class="table-responsive top-padded">
          <tm-respondent-list-info-table
            [(studentListInfoTableRowModels)]="studentListInfoTableRowModels"
            [shouldDisplayHasSubmittedSessionColumn]="true"
            [studentTableLabel]="'Students'"
            [instructorTableLabel]="'Instructors'"
            [(instructorListInfoTableRowModels)]="instructorListInfoTableRowModels"
          ></tm-respondent-list-info-table>
        </div>
      } @else {
        <h4 class="p-2 bg-info top-padded">There are no participants to remind.</h4>
      }

      <br />
      <div class="d-flex flex-wrap align-items-center justify-content-end gap-12">
        <span class="form-check">
          <input
            id="sendCopyToIns"
            class="form-check-input"
            type="checkbox"
            [ngModel]="isSendingCopyToInstructor"
            (ngModelChange)="changeSelectionStatusForSendingCopyToInstructorHandler($event)"
          />
          <label for="sendCopyToIns" class="form-check-label">Send me a copy</label>
        </span>
        <button type="button" class="btn btn-light" (click)="cancel()">Cancel</button>
        <button
          id="btn-confirm-send-reminder"
          type="button"
          class="btn btn-primary"
          [disabled]="isSubmittingReminders"
          (click)="sendReminders()"
        >
          Remind
        </button>
      </div>
    </div>
  </div>
</tm-loading-retry>
