.question-number-select {
  height: 32px;
  width: auto;
  display: inline;
  margin-left: 6px;
  margin-right: 5px;
}

.background-color-light-blue {
  background-color: #EAEFF5;
}

.padding-15px {
  padding: 15px;
}

.question-basic-info {
  padding-left: 15px;
  font-weight: bold;
}

.padding-left-15px {
  padding-left: 15px;
}

.background-color-light-green {
  background-color: #E0EEEE;
}

.margin-top-15px {
  margin-top: 15px;
}

.visibility-title,
.feedback-path-title {
  color: #2AABD2;
}

.background-color-white {
  background-color: white;
}

.visibility-message > ul {
  margin-top: 5px;
  padding: 5px 25px;
  margin-bottom: 0;
}

.visibility-message > ul > li {
  cursor: default;
}

.background-color-warning {
  background-color: #FCF8E3;
}

.dropdown-item {
  cursor: pointer;
}

.collapse-caret {
  margin-right: 10px;
}

.collapse-qn-description {
  font-weight: 300;
}

.white-space-normal {
  white-space: normal;
}
