<div id="question-form-{{ unsavedModel.questionNumber }}" class="card">
  <button class="card-header bg-primary text-white cursor-pointer border-0" (click)="triggerUnsavedModelChange('isCollapsed', !unsavedModel.isCollapsed)">
    <div class="collapse-caret">
      <tm-panel-chevron [isExpanded]="!unsavedModel.isCollapsed"></tm-panel-chevron>
    </div>
    <div class="d-flex flex-fill flex-sm-row flex-column align-items-sm-center align-items-start">
      <div id="question-header" class="d-flex flex-column text-start">
        <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-start">
          <h2 class="question-number fw-bold me-1">Question <span id="question-number" *ngIf="!unsavedModel.isEditable">{{ unsavedModel.questionNumber }}</span>
            <select id="question-number-dropdown" class="form-control form-select question-number-select" [ngModel]="unsavedModel.questionNumber" (ngModelChange)="triggerUnsavedModelChange('questionNumber', $event)" *ngIf="unsavedModel.isEditable" (click)="$event.stopPropagation()">
              <option *ngFor="let i of range(numOfQuestions)" [ngValue]="i + 1">{{ i + 1 }}</option>
            </select>
          </h2>
        <span id="question-type">{{ unsavedModel.questionType | questionTypeName }}</span>
        </div>
        <ng-container *ngIf="unsavedModel.isCollapsed">
          <div class="collapse-qn-description">{{ unsavedModel.questionBrief }}</div>
        </ng-container>
      </div>
      <div class="card-header-btn-toolbar ms-0 ms-sm-auto text-start">
        <div *ngIf="formMode === QuestionEditFormMode.EDIT">
          <button id="btn-edit-question" type="button" class="btn btn-primary btn-sm" *ngIf="!unsavedModel.isEditable"
                  (click)="triggerUnsavedModelChangeBatch({'isEditable': true, 'isCollapsed': false}); $event.stopPropagation();"
                  [disabled]="unsavedModel.isSaving || unsavedModel.isDeleting || unsavedModel.isDuplicating">
            <i class="fas fa-pencil-alt"></i> Edit
          </button>
          <button id="btn-save-question" type="button" class="btn btn-primary btn-sm" *ngIf="unsavedModel.isEditable"
                  (click)="saveQuestionHandler(); $event.stopPropagation();"
                  [disabled]="unsavedModel.isSaving || unsavedModel.isDeleting || unsavedModel.isDuplicating">
            <tm-ajax-loading *ngIf="unsavedModel.isSaving"></tm-ajax-loading><i class="fas fa-check"></i> Save
          </button>
          <button type="button" class="btn btn-primary btn-sm" *ngIf="unsavedModel.isEditable"
                  (click)="discardChangesHandler(false); $event.stopPropagation();"
                  [disabled]="unsavedModel.isSaving || unsavedModel.isDeleting || unsavedModel.isDuplicating">
            <i class="fas fa-ban"></i> Cancel
          </button>
          <button id="btn-delete-question" type="button" class="btn btn-primary btn-sm"
                  (click)="deleteCurrentQuestionHandler(); $event.stopPropagation();"
                  [disabled]="unsavedModel.isSaving || unsavedModel.isDeleting || unsavedModel.isDuplicating">
            <tm-ajax-loading *ngIf="unsavedModel.isDeleting"></tm-ajax-loading><i class="fas fa-trash"></i> Delete
          </button>
          <button id="btn-duplicate-question" type="button" class="btn btn-primary btn-sm" container="body"
                  (click)="duplicateCurrentQuestionHandler(); $event.stopPropagation();"
                  [disabled]="unsavedModel.isSaving || unsavedModel.isDeleting || unsavedModel.isDuplicating"
                  ngbTooltip="Make a copy of the existing question and add to the current feedback session."
                  container="body">
            <tm-ajax-loading *ngIf="unsavedModel.isDuplicating"></tm-ajax-loading><i class="far fa-copy"></i> Duplicate
          </button>
        </div>
        <div *ngIf="formMode === QuestionEditFormMode.ADD">
          <button type="button" class="btn btn-primary btn-sm"
                  (click)="discardChangesHandler(true); $event.stopPropagation();"
                  [disabled]="unsavedModel.isSaving || unsavedModel.isDeleting || unsavedModel.isDuplicating">
            <i class="fas fa-ban"></i>
            Cancel
          </button>
        </div>
      </div>
    </div>
  </button>
  <div *ngIf="!unsavedModel.isCollapsed" @collapseAnim>
    <div class="card-body">
      <div class="background-color-light-blue">
        <div class="row">
          <div class="col-12">
            <tm-question-edit-brief-description-form [brief]="unsavedModel.questionBrief" (briefChange)="triggerUnsavedModelChange('questionBrief', $event)" [isBriefDisabled]="!unsavedModel.isEditable"
                                                     [description]="unsavedModel.questionDescription" (descriptionChange)="triggerUnsavedModelChange('questionDescription', $event)" [isDescriptionDisabled]="!unsavedModel.isEditable"
            ></tm-question-edit-brief-description-form>
            <div class="padding-15px">
              <tm-text-question-edit-details-form *ngIf="unsavedModel.questionType === FeedbackQuestionType.TEXT" [details]="unsavedModel.questionDetails" (detailsChange)="triggerUnsavedModelChange('questionDetails', $event)" [isEditable]="unsavedModel.isEditable"></tm-text-question-edit-details-form>
              <tm-contribution-question-edit-details-form *ngIf="unsavedModel.questionType === FeedbackQuestionType.CONTRIB" [details]="unsavedModel.questionDetails" (detailsChange)="triggerUnsavedModelChange('questionDetails', $event)" [isEditable]="unsavedModel.isEditable"></tm-contribution-question-edit-details-form>
              <tm-mcq-question-edit-details-form *ngIf="unsavedModel.questionType === FeedbackQuestionType.MCQ" [details]="unsavedModel.questionDetails" (detailsChange)="triggerUnsavedModelChange('questionDetails', $event)" [isEditable]="unsavedModel.isEditable"></tm-mcq-question-edit-details-form>
              <tm-msq-question-edit-details-form *ngIf="unsavedModel.questionType === FeedbackQuestionType.MSQ" [details]="unsavedModel.questionDetails" (detailsChange)="triggerUnsavedModelChange('questionDetails', $event)" [isEditable]="unsavedModel.isEditable"></tm-msq-question-edit-details-form>
              <tm-num-scale-question-edit-details-form *ngIf="unsavedModel.questionType === FeedbackQuestionType.NUMSCALE" [details]="unsavedModel.questionDetails" (detailsChange)="triggerUnsavedModelChange('questionDetails', $event)" [isEditable]="unsavedModel.isEditable"></tm-num-scale-question-edit-details-form>
              <tm-rank-options-question-edit-details-form *ngIf="unsavedModel.questionType === FeedbackQuestionType.RANK_OPTIONS" [details]="unsavedModel.questionDetails" (detailsChange)="triggerUnsavedModelChange('questionDetails', $event)" [isEditable]="unsavedModel.isEditable"></tm-rank-options-question-edit-details-form>
              <tm-rank-recipients-question-edit-details-form *ngIf="unsavedModel.questionType === FeedbackQuestionType.RANK_RECIPIENTS" [details]="unsavedModel.questionDetails" (detailsChange)="triggerUnsavedModelChange('questionDetails', $event)" [isEditable]="unsavedModel.isEditable"></tm-rank-recipients-question-edit-details-form>
              <tm-rubric-question-edit-details-form *ngIf="unsavedModel.questionType === FeedbackQuestionType.RUBRIC" [details]="unsavedModel.questionDetails" (detailsChange)="triggerUnsavedModelChange('questionDetails', $event)" [isEditable]="unsavedModel.isEditable"></tm-rubric-question-edit-details-form>
              <tm-constsum-options-question-edit-details-form *ngIf="unsavedModel.questionType === FeedbackQuestionType.CONSTSUM_OPTIONS" [details]="unsavedModel.questionDetails" (detailsChange)="triggerUnsavedModelChange('questionDetails', $event)" [isEditable]="unsavedModel.isEditable"></tm-constsum-options-question-edit-details-form>
              <tm-constsum-recipients-question-edit-details-form *ngIf="unsavedModel.questionType === FeedbackQuestionType.CONSTSUM_RECIPIENTS" [details]="unsavedModel.questionDetails" (detailsChange)="triggerUnsavedModelChange('questionDetails', $event)" [isEditable]="unsavedModel.isEditable"></tm-constsum-recipients-question-edit-details-form>
            </div>
          </div>
        </div>
      </div>
      <tm-feedback-path-panel [model]="unsavedModel" [commonFeedbackPaths]="commonFeedbackPaths"
                              [allowedFeedbackPaths]="allowedFeedbackPaths"
                              (customFeedbackPath)="triggerUnsavedModelChange('isUsingOtherFeedbackPath', $event)"
                              (customNumberOfEntitiesToGiveFeedbackTo)="triggerUnsavedModelChange('customNumberOfEntitiesToGiveFeedbackTo', $event)"
                              (numberOfEntitiesToGiveFeedbackToSetting)="triggerUnsavedModelChange('numberOfEntitiesToGiveFeedbackToSetting', $event)"
                              (triggerUnsavedModelChangeBatch)="triggerUnsavedModelChangeBatch($event)"></tm-feedback-path-panel>
      <tm-visibility-panel [model]="unsavedModel" [isCustomFeedbackVisibilitySettingAllowed]="isCustomFeedbackVisibilitySettingAllowed"
                           [commonFeedbackVisibilitySettings]="commonFeedbackVisibilitySettings"
                           (customVisibilitySetting)="triggerUnsavedModelChange('isUsingOtherVisibilitySetting', $event)"
                           (triggerUnsavedModelChangeBatch)="triggerUnsavedModelChangeBatch($event)"
                           [visibilityStateMachine]="visibilityStateMachine"></tm-visibility-panel>
      <div class="row margin-top-15px" *ngIf="!isDisplayOnly">
        <div class="col-12 text-end">
          <button type="button" class="btn btn-light btn-margin-right" *ngIf="unsavedModel.isEditable"
                  (click)="discardChangesHandler(false)"
                  [disabled]="unsavedModel.isSaving || unsavedModel.isDeleting || unsavedModel.isDuplicating">
            <i class="fas fa-ban"></i> Cancel
          </button>
          <button class="btn btn-success"
              [disabled]="!unsavedModel.isEditable || unsavedModel.isSaving || unsavedModel.isDeleting || unsavedModel.isDuplicating"
              (click)="saveQuestionHandler()">
            <tm-ajax-loading *ngIf="unsavedModel.isSaving"></tm-ajax-loading>
            <span *ngIf="formMode === QuestionEditFormMode.EDIT" ><i class="fas fa-check"></i> Save Changes</span>
            <span id="btn-save-new" *ngIf="formMode === QuestionEditFormMode.ADD"><i class="fas fa-check"></i> Save Question</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
