.question-number-select {
  height: 32px;
  width: auto;
  display: inline;
  margin-left: 6px;
  margin-right: 5px;
}

.question-number {
  font-size: .875rem;
  margin-bottom: 0;
}

.background-color-light-blue {
  background-color: #EAEFF5;
}

.padding-15px {
  padding: 15px;
}

.padding-left-15px {
  padding-left: 15px;
}

.margin-top-15px {
  margin-top: 15px;
}

.collapse-caret {
  margin-right: 10px;
}

.collapse-qn-description {
  font-weight: 300;
}
