<div class="modal-header bg-danger text-white">
  <h5 class="modal-title"><i class="fas fa-times-circle"></i> Confirm deleting all feedback sessions in the Recycle Bin</h5>
  <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div>
    Are you sure you want to permanently delete the following {{ sessionsToDelete.length }}
    feedback sessions in the <b>Recycle Bin</b>?
  </div>
  <ul>
    <li *ngFor="let session of sessionsToDelete">{{ session.courseId }}: {{ session.feedbackSessionName }}</li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">No, Cancel the Operation</button>
  <button type="button" class="btn btn-danger modal-btn-ok" (click)="activeModal.close()">Yes</button>
</div>
