<tm-loading-retry [shouldShowRetry]="hasLoadingStudentProfileFailed" [message]="'Failed to load profile'" (retryEvent)="loadStudentProfile()">
  <div *tmIsLoading="isLoadingStudentProfile" class="text-center text-sm-left">
    <h1>Student Profile</h1>
    <div *ngIf="student" class="card">
      <div class="card-body fill-plain">
        <h1>{{ name }}</h1>
        <div class="row profile-pic-row">
          <div class="col cursor-pointer">
            <img
                src="{{ profilePicLink }}"
                class="profile-pic"
                (click)="onUploadEdit()"
                (error)="setDefaultPic()">
          </div>
        </div>
        <div class="row profile-pic-row">
          <div class="col-md-12 cursor-pointer">
            <button
                class="btn btn-primary upload-edit-photo btn-margin-right"
                ngbTooltip=".jpg or .png, max size 5 MB"
                (click)="onUploadEdit()">
              Upload/Edit Photo
            </button>
            <button *ngIf="this.profilePicLink != this.defaultPictureLink"
                id="profile-delete-photo"
                class="btn btn-danger"

                (click)="onDelete()">
              Delete Photo
            </button>
          </div>
        </div>
        <form [formGroup]="editForm"
              (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>The name you prefer to be called by instructors</label>
            <input
                class="form-control"
                id="studentshortname"
                formControlName="studentshortname">
          </div>
          <div class="form-group">
            <label>
              Long-term Contact Email
              <em class="font-weight-normal emphasis text-muted small">- only visible to your instructors</em>
            </label>
            <input
                class="form-control"
                id="studentprofileemail"
                formControlName="studentprofileemail">
          </div>
          <div class="form-group">
            <label>Institute</label>
            <input
                class="form-control"
                id="studentprofileinstitute"
                formControlName="studentprofileinstitute">
          </div>
          <div class="form-group">
            <label>Nationality</label>
            <select
                class="form-control"
                id="studentnationality"
                formControlName="studentnationality">
              <option
                  *ngFor="let n of nationalities"
                  [value]="n">
                {{n}}
              </option>
            </select>
          </div>
          <label>Gender</label>
          <div class="form-group">
            <div class="custom-control-inline" *ngFor="let gender of Gender | enumToArray">
              <input
                  class="student-gender-radio"
                  type="radio"
                  formControlName="studentgender"
                  [value]="gender">
              <label class="student-gender-label mt-1">{{ gender | genderFormat }}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="ngb-tooltip-class" ngbTooltip="You may specify miscellaneous info about yourself e.g. links to home page, online CV, portfolio etc">
              More Information about Yourself</label>
            <textarea
                class="form-control"
                id="studentprofilemoreinfo"
                rows="4"
                formControlName="studentprofilemoreinfo"
                placeholder="You may specify miscellaneous info about yourself e.g. links to home page, online CV, portfolio etc.">
            </textarea>
          </div>
          <div class="text-center">
            <button
                type="submit"
                class="btn btn-primary student-save-profile"
                [disabled]="isSavingProfileEdit">
              <tm-ajax-loading *ngIf="isSavingProfileEdit"></tm-ajax-loading>
              Save Profile
            </button>
          </div>
          <div class="whisper">This profile will be visible to all your instructors and coursemates.</div>
        </form>
      </div>
    </div>
  </div>
</tm-loading-retry>
