.fill-plain {
  background-color: #EAEFF5;
}

label {
  font-weight: 700;
  margin-bottom: 5px;
}

select {
  width: 300px;
}

.student-gender-radio {
  margin-right: 5px;
}

.student-gender-label {
  font-weight: normal;
}

.whisper {
  margin-top: 15px;
  font-style: italic;
  color: grey;
}

::ng-deep.modal-content {
  padding: 0 !important;
}

::ng-deep.close:focus {
  outline: 0;
}

.profile-pic {
  height: 220px;
  width: 220px;
}

.profile-pic-row {
  margin-bottom: 1rem;
}

.upload-edit-photo {
  margin-right: 5px;
}
