.no-session-message {
  padding: 10px;
  text-align: center;
}

.actions-cell button:not(.dropdown-item) {
  margin-left: var(--btn-margin);
}

.sortable-header {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.margin-bottom-0 {
  margin-bottom: 0;
}
