<div class="row" *ngIf="sessionsTableRowModels.length > 0; else noSessionMessage">
  <div class="col-12">
    <table class="table table-responsive-lg table-striped table-bordered margin-bottom-0">
      <thead>
      <tr [ngClass]="{ 'bg-primary text-white': headerColorScheme === SessionsTableHeaderColorScheme.BLUE }">
        <th class="sortable-header" (click)="sortSessionsTableRowModels(SortBy.COURSE_ID)" *ngIf="columnsToShow.includes(SessionsTableColumn.COURSE_ID)">
          Course ID
          <span *ngIf="sessionsTableRowModelsSortBy !== SortBy.COURSE_ID" [ngClass]="{ 'text-secondary': headerColorScheme === SessionsTableHeaderColorScheme.WHITE }"><i class="fas fa-sort"></i></span>
          <span *ngIf="sessionsTableRowModelsSortBy === SortBy.COURSE_ID && sessionsTableRowModelsSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="sessionsTableRowModelsSortBy === SortBy.COURSE_ID && sessionsTableRowModelsSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
        </th>
        <th class="sortable-header" (click)="sortSessionsTableRowModels(SortBy.SESSION_NAME)">
          Session Name
          <span *ngIf="sessionsTableRowModelsSortBy !== SortBy.SESSION_NAME" [ngClass]="{ 'text-secondary': headerColorScheme === SessionsTableHeaderColorScheme.WHITE }"><i class="fas fa-sort"></i></span>
          <span *ngIf="sessionsTableRowModelsSortBy === SortBy.SESSION_NAME && sessionsTableRowModelsSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="sessionsTableRowModelsSortBy === SortBy.SESSION_NAME && sessionsTableRowModelsSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
        </th>
        <th class="sortable-header" (click)="sortSessionsTableRowModels(SortBy.SESSION_START_DATE)" *ngIf="columnsToShow.includes(SessionsTableColumn.START_DATE)">
          Start Date
          <span *ngIf="sessionsTableRowModelsSortBy !== SortBy.SESSION_START_DATE" [ngClass]="{ 'text-secondary': headerColorScheme === SessionsTableHeaderColorScheme.WHITE }"><i class="fas fa-sort"></i></span>
          <span *ngIf="sessionsTableRowModelsSortBy === SortBy.SESSION_START_DATE && sessionsTableRowModelsSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="sessionsTableRowModelsSortBy === SortBy.SESSION_START_DATE && sessionsTableRowModelsSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
        </th>
        <th class="sortable-header" (click)="sortSessionsTableRowModels(SortBy.SESSION_END_DATE)" *ngIf="columnsToShow.includes(SessionsTableColumn.END_DATE)">
          End Date
          <span *ngIf="sessionsTableRowModelsSortBy !== SortBy.SESSION_END_DATE" [ngClass]="{ 'text-secondary': headerColorScheme === SessionsTableHeaderColorScheme.WHITE }"><i class="fas fa-sort"></i></span>
          <span *ngIf="sessionsTableRowModelsSortBy === SortBy.SESSION_END_DATE && sessionsTableRowModelsSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
          <span *ngIf="sessionsTableRowModelsSortBy === SortBy.SESSION_END_DATE && sessionsTableRowModelsSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
        </th>
        <th>Submissions</th>
        <th>Responses</th>
        <th ngbTooltip="Number of students submitted / Class size" container="body"><span >Response Rate</span></th>
        <th class="text-center">Action(s)</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sessionsTableRowModel of sessionsTableRowModels; let idx = index">
        <td *ngIf="columnsToShow.includes(SessionsTableColumn.COURSE_ID)">{{ sessionsTableRowModel.feedbackSession.courseId }}</td>
        <td>{{ sessionsTableRowModel.feedbackSession.feedbackSessionName }}</td>
        <td *ngIf="columnsToShow.includes(SessionsTableColumn.START_DATE)">
          <span [ngbTooltip]="sessionsTableRowModel.feedbackSession.submissionStartTimestamp | formatDateDetail: sessionsTableRowModel.feedbackSession.timeZone" >{{ sessionsTableRowModel.feedbackSession.submissionStartTimestamp | formatDateBrief: sessionsTableRowModel.feedbackSession.timeZone }}</span></td>
        <td *ngIf="columnsToShow.includes(SessionsTableColumn.END_DATE)">
          <span [ngbTooltip]="sessionsTableRowModel.feedbackSession.submissionEndTimestamp | formatDateDetail: sessionsTableRowModel.feedbackSession.timeZone">{{ sessionsTableRowModel.feedbackSession.submissionEndTimestamp | formatDateBrief: sessionsTableRowModel.feedbackSession.timeZone }}</span></td>
        <td>
          <span [ngbTooltip]="sessionsTableRowModel.feedbackSession.submissionStatus | submissionStatusTooltip">{{ sessionsTableRowModel.feedbackSession.submissionStatus | submissionStatusName }}</span>
        </td>
        <td>
          <span [ngbTooltip]="sessionsTableRowModel.feedbackSession.publishStatus | publishStatusTooltip">{{ sessionsTableRowModel.feedbackSession.publishStatus | publishStatusName }}</span>
        </td>
        <td>
          <a href="#" *ngIf="sessionsTableRowModel.responseRate.length === 0 && !sessionsTableRowModel.isLoadingResponseRate" (click)="loadResponseRateEvent.emit(idx); $event.preventDefault()">Show</a>
          <div *ngIf="sessionsTableRowModel.responseRate.length !== 0">{{ sessionsTableRowModel.responseRate }}</div>
          <tm-ajax-loading *ngIf="sessionsTableRowModel.isLoadingResponseRate"></tm-ajax-loading>
        </td>
        <td class="actions-cell">
          <button type="button" class="btn btn-light btn-sm" ngbTooltip="Edit feedback session details" (click)="editSessionEvent.emit(idx)"
                  [disabled]="!sessionsTableRowModel.instructorPrivilege.canModifySession">Edit</button>
          <button type="button" class="btn btn-light btn-sm" ngbTooltip="Delete the feedback session" (click)="moveSessionToRecycleBin(idx)"
                  [disabled]="!sessionsTableRowModel.instructorPrivilege.canModifySession">Delete</button>
          <button type="button" class="btn btn-light btn-sm" ngbTooltip="Copy feedback session details" (click)="copySession(idx)">Copy</button>
          <button type="button" class="btn btn-light btn-sm" ngbTooltip="Start submitting feedback"
                  [disabled]="sessionsTableRowModel.feedbackSession.submissionStatus !== FeedbackSessionSubmissionStatus.OPEN
                    || !sessionsTableRowModel.instructorPrivilege.canSubmitSessionInSections" (click)="submitSessionAsInstructorEvent.emit(idx)" >Submit</button>
          <div ngbDropdown class="d-inline-block" ngbTooltip="View the submitted responses for this feedback session">
            <button class="btn btn-light btn-sm" ngbDropdownToggle>Results</button>
            <div ngbDropdownMenu>
              <button class="dropdown-item clickable" (click)="viewSessionResultEvent.emit(idx)">View Results</button>
              <button class="dropdown-item clickable" ngbTooltip="Make responses no longer visible" placement="left" container="body"
                      *ngIf="![FeedbackSessionSubmissionStatus.NOT_VISIBLE, FeedbackSessionSubmissionStatus.VISIBLE_NOT_OPEN].includes(sessionsTableRowModel.feedbackSession.submissionStatus)
                        && sessionsTableRowModel.feedbackSession.publishStatus === FeedbackSessionPublishStatus.PUBLISHED; else publishButton"
                      [disabled]="!sessionsTableRowModel.instructorPrivilege.canModifySession" (click)="unpublishSession(idx)">Unpublish Results</button>
              <ng-template #publishButton>
                <button class="dropdown-item clickable" [disabled]="[FeedbackSessionSubmissionStatus.NOT_VISIBLE, FeedbackSessionSubmissionStatus.VISIBLE_NOT_OPEN].includes(sessionsTableRowModel.feedbackSession.submissionStatus)
                  || sessionsTableRowModel.feedbackSession.publishStatus === FeedbackSessionPublishStatus.PUBLISHED || !sessionsTableRowModel.instructorPrivilege.canModifySession"
                        ngbTooltip="Make session responses available for viewing" placement="left" container="body" (click)="publishSession(idx)">Publish Results</button>
              </ng-template>
              <button class="dropdown-item clickable" *ngIf="sessionsTableRowModel.feedbackSession.publishStatus === FeedbackSessionPublishStatus.PUBLISHED" (click)="remindResultsLinkToStudent(idx)">Resend link to view results</button>
              <button class="dropdown-item clickable" (click)="downloadSessionResults(idx)">Download Results</button>
            </div>
          </div>
          <div ngbDropdown class="d-inline-block" ngbTooltip="Send e-mails to remind students and instructors who have not submitted their feedbacks to do so">
            <button class="btn btn-light btn-sm" (click)="sendRemindersToStudents(idx)"
              [disabled]="sessionsTableRowModel.feedbackSession.submissionStatus !== FeedbackSessionSubmissionStatus.OPEN ||
                          !sessionsTableRowModel.instructorPrivilege.canModifySession">Remind</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noSessionMessage>
  <div class="no-session-message">
    There are no feedback sessions in this course.
  </div>
</ng-template>
