.no-session-message {
  padding: 10px;
  text-align: center;
}

@media (min-width: 1200px) {
  .actions-cell {
    min-width: 410px;
  }
}

.actions-cell button:not(.dropdown-item) {
  margin-left: var(--btn-margin);
}

.sortable-header {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.align-row {
  display: flex;
  flex-direction: row;
}

.loading {
  margin-left: 6px;
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border: 2px solid transparent;
  border-top-color: black;
  border-radius: 50%;
  animation: loading-spinner 1s ease infinite;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
