.no-session-message {
  padding: 10px;
  text-align: center;
}

.actions-cell button {
  margin: 2px;
}

.tool-tip-decorate {
  border-bottom: 1px dotted #808080;
  text-decoration: none;
}

.sortable-header {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.margin-bottom-0 {
  margin-bottom: 0;
}
