<div class="row align-items-center">
  <div [id]="dateId" [ngClass]="dateColClass">
    <tm-datepicker
      [date]="date || defaultDate"
      [isDisabled]="isDisabled"
      [minDate]="minDate!"
      [maxDate]="maxDate!"
      (dateChangeCallback)="onDateChange($event)"
    ></tm-datepicker>
  </div>
  <div [ngClass]="timeColClass">
    <tm-timepicker
      [id]="timeId"
      [date]="date || defaultDate"
      [time]="time || defaultTime"
      [isDisabled]="isDisabled"
      [minDate]="minDate!"
      [maxDate]="maxDate!"
      [minTime]="minTime"
      [maxTime]="maxTime"
      (timeChange)="onTimeChange($event)"
    ></tm-timepicker>
  </div>
</div>
