<tm-loading-retry [shouldShowRetry]="hasStudentLoadingFailed" [message]="'Failed to load student'" (retryEvent)="loadStudentEditDetails(courseId, studentEmail)">
  <div *tmIsLoading="isStudentLoading">
    <div *ngIf="student" class="card border-primary">
      <div class="card-body fill-plain text-sm-left">
        <form
          id="instructor-student-edit-form"
          class="form form-horizontal"
          (ngSubmit)="onSubmit( resendPastLinksModal)" [formGroup]="editForm">
          <div class="form-row">
            <label class="col-sm-2">Course ID:</label>
            <div class="col-sm-10" id="courseid">{{ courseId }}</div>
          </div>
          <div class="form-row">
            <label class="col-sm-2 col-form-label">Student Name:</label>
            <div class="col-sm-10">
              <input
                class="form-control"
                id="studentname"
                formControlName="studentname">
                <div
                  *ngIf="editForm.get('studentname')!.errors
                  && (editForm.get('studentname')!.dirty || editForm.get('studentname')!.touched)"
                  class="invalid-field">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  <span [hidden]="!editForm.get('studentname')!.errors!.required">
                    {{ displayEmptyFieldMessage('Student Name') }}
                  </span>
                  <span [hidden]="!editForm.get('studentname')!.errors!.maxlength">
                    {{ displayExceedMaxLengthMessage('Student Name', FormValidator.PERSON_NAME_MAX_LENGTH) }}
                  </span>
                </div>
            </div>
          </div>
          <div class="form-row">
            <label class="col-sm-2 col-form-label">Section Name:</label>
            <div class="col-sm-10">
              <input
                class="form-control"
                id="sectionname"
                formControlName="sectionname">
              <div
                *ngIf="editForm.get('sectionname')!.errors
                && (editForm.get('sectionname')!.dirty || editForm.get('sectionname')!.touched)"
                class="invalid-field">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <span [hidden]="!editForm.get('sectionname')!.errors!.required">
                  {{ displayEmptyFieldMessage('Section Name') }}
                </span>
                <span [hidden]="!editForm.get('sectionname')!.errors!.maxlength">
                  {{ displayExceedMaxLengthMessage('Section Name', FormValidator.SECTION_NAME_MAX_LENGTH) }}
                </span>
              </div>
            </div>
          </div>
          <div class="form-row">
            <label class="col-sm-2 col-form-label">Team Name:</label>
            <div class="col-sm-10">
              <input
                class="form-control col-form-label"
                name="teamname"
                id="teamname"
                formControlName="teamname">
              <div
                *ngIf="editForm.get('teamname')!.errors
                && (editForm.get('teamname')!.dirty || editForm.get('teamname')!.touched)"
                class="invalid-field">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <span [hidden]="!editForm.get('teamname')!.errors!.required">
                  {{ displayEmptyFieldMessage('Team Name') }}
                </span>
                <span [hidden]="!editForm.get('teamname')!.errors!.maxlength">
                  {{ displayExceedMaxLengthMessage('Team Name', FormValidator.TEAM_NAME_MAX_LENGTH) }}
                </span>
              </div>
            </div>
          </div>
          <div class="form-row">
            <label class="col-sm-2 col-form-label">E-mail Address:</label>
            <div class="col-sm-10">
              <input
                class="form-control"
                id="newstudentemail"
                formControlName="newstudentemail">
              <div
                *ngIf="editForm.get('newstudentemail')!.errors
                && (editForm.get('newstudentemail')!.dirty || editForm.get('newstudentemail')!.touched)"
                  class="invalid-field">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <span [hidden]="!editForm.get('newstudentemail')!.errors!.required">
                  {{ displayEmptyFieldMessage('E-mail Address') }}
                </span>
                <span [hidden]="!editForm.get('newstudentemail')!.errors!.maxlength">
                  {{ displayExceedMaxLengthMessage('E-mail Address', FormValidator.EMAIL_MAX_LENGTH) }}
                </span>
              </div>
            </div>
          </div>
          <div class="form-row">
            <label class="col-sm-2 col-form-label">Comments:</label>
            <div class="col-sm-10">
              <textarea
                class="form-control"
                rows="6"
                id="comments"
                formControlName="comments">
              </textarea>
            </div>
          </div>
          <br>
          <div class="text-center">
            <button class="btn btn-success"
                    id="btn-submit"
                    type="submit"
                    [disabled]="!editForm.valid || isFormSaving">
              <i [ngClass]="isFormSaving ? 'spinner-border spinner-border-sm' : 'fas fa-save'"></i>
              Save Changes
            </button>
          </div>
          <br>
          <br>

          <ng-template #resendPastLinksModal let-modal>
            <div class="modal-header alert-primary">
              <h4 class="modal-title icon-primary">Resend past links to the new email?</h4>
              <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-hidden="true"
                  (click)="modal.dismiss()">×</button>
            </div>
            <div class="modal-body">
              Do you want to resend past session links of this course to the new email {{ editForm.get('newstudentemail')?.value }}?
            </div>
            <div class="modal-footer">
              <button id="btn-resend-links" type="button" class="btn btn-primary"
                      (click)="submitEditForm(true); modal.dismiss()">
                Yes, save changes and resend links
              </button>
              <button type="button" class="btn btn-primary"
                      (click)="submitEditForm(false); modal.dismiss()">
                No, just save the changes
              </button>
              <button type="button" class="btn btn-outline-secondary"
                      (click)="modal.dismiss()">
                Cancel
              </button>
            </div>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
</tm-loading-retry>
