.fill-plain {
  background-color: #EAEFF5;
}

label {
  font-weight: bold;
}

.form-row {
  margin-bottom: 15px;
}

::ng-deep.modal-content {
  padding: 0 !important;
}

::ng-deep.close:focus {
  outline: 0;
}

.invalid-field {
  padding-top: 5px;
  color: #B50000;
}
