<tm-contribution-question-response *ngIf="responseDetails.questionType === FeedbackQuestionType.CONTRIB" [responseDetails]="responseDetails"></tm-contribution-question-response>
<tm-text-question-response *ngIf="responseDetails.questionType === FeedbackQuestionType.TEXT" [responseDetails]="responseDetails"></tm-text-question-response>
<tm-num-scale-question-response *ngIf="responseDetails.questionType === FeedbackQuestionType.NUMSCALE" [responseDetails]="responseDetails"></tm-num-scale-question-response>
