@if (QuestionDetailsTypeChecker.isContrib(questionDetails) && ResponseDetailsTypeChecker.isContrib(responseDetails)) {
  <tm-contribution-question-response [responseDetails]="responseDetails" [questionDetails]="questionDetails" [statistics]="statistics" [giverEmail]="giverEmail" [recipientEmail]="recipientEmail"></tm-contribution-question-response>
}

@if ((QuestionDetailsTypeChecker.isConstSumOptions(questionDetails) || QuestionDetailsTypeChecker.isConstSumRecipients(questionDetails)) && ResponseDetailsTypeChecker.isConstSum(responseDetails)) {
  <tm-constsum-question-response [responseDetails]="responseDetails" [questionDetails]="questionDetails"></tm-constsum-question-response>
}
@if (QuestionDetailsTypeChecker.isNumscale(questionDetails) && ResponseDetailsTypeChecker.isNumscale(responseDetails)) {
  <tm-num-scale-question-response [responseDetails]="responseDetails" [questionDetails]="questionDetails"></tm-num-scale-question-response>
}
@if (QuestionDetailsTypeChecker.isRubric(questionDetails) && ResponseDetailsTypeChecker.isRubric(responseDetails)) {
  <tm-rubric-question-response [responseDetails]="responseDetails" [questionDetails]="questionDetails" [isStudentPage]="isStudentPage"></tm-rubric-question-response>
}
@if (QuestionDetailsTypeChecker.isRankOptions(questionDetails) && ResponseDetailsTypeChecker.isRankOptions(responseDetails)) {
  <tm-rank-options-question-response [responseDetails]="responseDetails" [questionDetails]="questionDetails"></tm-rank-options-question-response>
}
@if (QuestionDetailsTypeChecker.isRankRecipients(questionDetails) && ResponseDetailsTypeChecker.isRankRecipients(responseDetails)) {
  <tm-rank-recipients-question-response [responseDetails]="responseDetails" [questionDetails]="questionDetails"></tm-rank-recipients-question-response>
}
@if (QuestionDetailsTypeChecker.isMsq(questionDetails) && ResponseDetailsTypeChecker.isMsq(responseDetails)) {
  <tm-msq-question-response [responseDetails]="responseDetails" [questionDetails]="questionDetails"></tm-msq-question-response>
}
@if (QuestionDetailsTypeChecker.isMcq(questionDetails) && ResponseDetailsTypeChecker.isMcq(responseDetails)) {
  <tm-mcq-question-response [responseDetails]="responseDetails" [questionDetails]="questionDetails"></tm-mcq-question-response>
}

<!-- For cases of "No Response", the response typing is hard-coded with feedback question type = TEXT -->
<!-- Thus, for responses with question type = TEXT, we (safely) skip the question type checking -->
@if (ResponseDetailsTypeChecker.isText(responseDetails)) {
  <tm-text-question-response [responseDetails]="responseDetails" [questionDetails]="castAsTextQuestion(questionDetails)"></tm-text-question-response>
}
