<div class="row">
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <select class="form-control"
            [ngClass]="{'color-positive': responseDetails.answer > 100,
              'color-negative': responseDetails.answer < 100 && responseDetails.answer !== CONTRIBUTION_POINT_NOT_SURE && responseDetails.answer !== CONTRIBUTION_POINT_NOT_SUBMITTED,
              'color-neutral': responseDetails.answer === 100 || responseDetails.answer === CONTRIBUTION_POINT_NOT_SURE}"
            [ngModel]="responseDetails.answer" (ngModelChange)="triggerResponseDetailsChange('answer', $event)" [disabled]="isDisabled">
      <option [ngValue]="CONTRIBUTION_POINT_NOT_SUBMITTED"></option>
      <option *ngFor="let point of contributionQuestionPoints" [ngValue]="point"
              [ngClass]="{'color-positive': point > 100,
                'color-negative': point < 100,
                'color-neutral': point === 100}">{{ point | contributionPointDescription }}</option>
      <option *ngIf="questionDetails.isNotSureAllowed" [ngValue]="CONTRIBUTION_POINT_NOT_SURE" class="color-neutral">Not Sure</option>
    </select>
  </div>
  <div class="col-lg-9 col-sm-6 col-xs-12" *ngIf="shouldShowHelpLink">
    <button type="button" class="btn btn-link" (click)="openHelpModal(equalShareHelp)"><i class="fas fa-exclamation-circle"></i> More info about the <code>Equal Share</code> scale</button>
  </div>
  <ng-template #equalShareHelp>
    <p><code>Equal share</code> is a relative measure of individual contribution to a team task.</p>
    <p>For example, in a 3-person team, <code>Equal share</code> means a third of the work done.</p>
    <p><code>Equal share + 10%</code> means the person did about 10% <em>more</em> than an equal share,
      <code>Equal share - 10%</code> means about 10% <em>less</em> than an equal share, and so on.</p>
  </ng-template>
</div>
