<tr>
  <td>
    <p *ngIf="questionDetails.maxSelectableChoices !== 0" class="text-muted">
      You cannot choose more than: {{ questionDetails.maxSelectableChoices }} options.
    </p>
    <p *ngIf="questionDetails.minSelectableChoices !== 0" class="text-muted">
      You must choose at least: {{ questionDetails.minSelectableChoices }} options.
    </p>
    <div class="check-box" *ngFor="let num of questionDetails.msqChoices; let i = index;">
      <label class="margin-right-15px">
        <input type="checkbox" class="margin-right-15px">
        <strong>{{ questionDetails.msqChoices[i] }}</strong>
      </label>
    </div>
    <div class="check-box" *ngIf="questionDetails.otherEnabled">
      <label class="margin-right-15px">
        <input type="checkbox" class="margin-right-15px" [checked]="responseDetails.isOther">
        <strong>Other</strong>
      </label>
      <input class="form-control" type="text" [disabled]="!responseDetails.isOther"
             [(ngModel)]="responseDetails.otherFieldContent" #otherText>
    </div>
    <div class="check-box" *ngIf="questionDetails.minSelectableChoices === 0">
      <label class="margin-right-15px">
        <input type="checkbox" class="margin-right-15px">
        <strong>None of the above</strong>
      </label>
    </div>
  </td>
</tr>
