<div class="col-sm-9">
  <div>
    <div class="form-group row" *ngFor="let num of questionDetails.options; let i = index;">
      <label class="col-sm-2 control-label margin-left-45px">
        <strong>{{ questionDetails.options[i] }}</strong>
      </label>
      <div class="col-sm-3">
        <select class="form-control" [ngModel]="responseDetails.answers[i]"
                (ngModelChange)="triggerResponse(i, $event)" [disabled]="isDisabled">
          <option [ngValue]="RANK_OPTIONS_ANSWER_NOT_SUBMITTED"></option>
          <option *ngFor="let rank of ranksToBeAssigned" [ngValue]="rank">{{ rank }}</option>
        </select>
        <br>
      </div>
    </div>
    <p *ngIf="!questionDetails.areDuplicatesAllowed && isSameRanksAssigned" class="text-danger">The same rank should not be given multiple times.</p>
    <p *ngIf="isNoOptionRanked" style="color: blue">Please rank the above options.</p>
    <p *ngIf="isMinOptionsEnabled && isOptionsRankedLessThanMin" class="text-danger">You need to rank at least {{ questionDetails.minOptionsToBeRanked }} options.</p>
    <p *ngIf="isMaxOptionsEnabled && isOptionsRankedMoreThanMax" class="text-danger">Rank no more than {{questionDetails.maxOptionsToBeRanked}} options.</p>
  </div>
</div>
