<div class="modal fade show d-block" tabindex="-1" role="dialog" aria-labelledby="resetConfirmationModalLabel"
     aria-modal="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="resetConfirmationModalLabel">Reset Choices Confirmation</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="onCancel()"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to reset your choices?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="onConfirm()">Reset Choices</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>