.row-answered {
  background-color: #dff0d8;
}

.answer-cell:hover {
  background-color: #d9edf7 !important;
}

@media (width <= 768px) {
  .desktop-view {
    display: none;
  }
}

@media (width >= 768px) {
  .mobile-view {
    display: none;
  }
}

.button-container {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}
