<table class="table table-bordered">
  <tbody>
    <tr>
      <td></td>
      <td *ngFor="let choice of questionDetails.rubricChoices" class="font-weight-bold">{{ choice }}</td>
    </tr>
    <tr *ngFor="let rubricDescriptionRow of questionDetails.rubricDescriptions; let i = index;"
        [ngClass]="{ 'row-answered': i < responseDetails.answer.length && responseDetails.answer[i] !== RUBRIC_ANSWER_NOT_CHOSEN }">
      <td>{{ questionDetails.rubricSubQuestions[i] }}</td>
      <td *ngFor="let rubricDescriptionCell of rubricDescriptionRow; let j = index;" class="text-secondary answer-cell" (click)="selectAnswer(i, j)">
        <label>
          <input type="radio" [disabled]="isDisabled"
                 [name]="id + i" [checked]="i < responseDetails.answer.length && responseDetails.answer[i] === j"/> {{ rubricDescriptionCell }}
        </label>
      </td>
    </tr>
  </tbody>
</table>
