<div id="mcq-statistics" *ngIf="responses.length && !isStudent">
  <div class="row">
    <div class="col-sm-4 text-color-gray mt-2">
      <strong>
        Response Summary
      </strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 table-responsive">
      <tm-sortable-table [columns]="summaryColumnsData" [rows]="summaryRowsData"></tm-sortable-table>
    </div>
    <div class="col-sm-12 table-responsive" *ngIf="question.hasAssignedWeights" style="margin-top: 20px;">
      <strong class="text-color-gray">
        Per Recipient Statistics
      </strong>
      <tm-sortable-table [columns]="perRecipientColumnsData" [rows]="perRecipientRowsData" [initialSortBy]="SortBy.MCQ_WEIGHT_AVERAGE"></tm-sortable-table>
    </div>
  </div>
</div>
