@if (responses.length && !isStudent) {
  <div id="mcq-statistics">
    <div class="row">
      <div class="col-sm-4 text-color-gray mt-2">
        <strong>
          Response Summary
        </strong>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 table-responsive mb-4">
        <tm-sortable-table [columns]="summaryColumnsData" [rows]="summaryRowsData"></tm-sortable-table>
      </div>
      @if (question.hasAssignedWeights) {
        <div class="col-sm-12 table-responsive" style="margin-top: 20px;">
          <strong class="text-color-gray">
            Per Recipient Statistics
          </strong>
          <div class="mb-4">
            <tm-sortable-table [columns]="perRecipientColumnsData" [rows]="perRecipientRowsData" [initialSortBy]="SortBy.MCQ_WEIGHT_AVERAGE"></tm-sortable-table>
          </div>
        </div>
      }
    </div>
  </div>
}
