<div *ngIf="responses.length">
  <div class="row">
    <div class="col-sm-4 text-color-gray">
      <strong>
        Response Summary
      </strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered striped margin-0">
        <thead>
        <tr>
          <th class="sortable-header" (click)="sortTeamToRecipientToScores(SortBy.TEAM_NAME)">
              Team
              <span *ngIf="teamToRecipientToScoresSortBy !== SortBy.TEAM_NAME"><i class="fas fa-sort"></i></span>
              <span *ngIf="teamToRecipientToScoresSortBy === SortBy.TEAM_NAME && teamToRecipientToScoresSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
              <span *ngIf="teamToRecipientToScoresSortBy === SortBy.TEAM_NAME && teamToRecipientToScoresSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
          </th>
          <th class="sortable-header" (click)="sortTeamToRecipientToScores(SortBy.RECIPIENT_NAME)">
              Recipient
              <span *ngIf="teamToRecipientToScoresSortBy !== SortBy.RECIPIENT_NAME"><i class="fas fa-sort"></i></span>
              <span *ngIf="teamToRecipientToScoresSortBy === SortBy.RECIPIENT_NAME && teamToRecipientToScoresSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
              <span *ngIf="teamToRecipientToScoresSortBy === SortBy.RECIPIENT_NAME && teamToRecipientToScoresSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
          </th>
          <th class="sortable-header" (click)="sortTeamToRecipientToScores(SortBy.AVERAGE)">
              <span ngbTooltip="Average of the visible responses">Average </span>
              <span *ngIf="teamToRecipientToScoresSortBy !== SortBy.AVERAGE"><i class="fas fa-sort"></i></span>
              <span *ngIf="teamToRecipientToScoresSortBy === SortBy.AVERAGE && teamToRecipientToScoresSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
              <span *ngIf="teamToRecipientToScoresSortBy === SortBy.AVERAGE && teamToRecipientToScoresSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
          </th>
          <th class="sortable-header" (click)="sortTeamToRecipientToScores(SortBy.MAX)">
              <span ngbTooltip="Maximum of the visible responses">Max </span>
              <span *ngIf="teamToRecipientToScoresSortBy !== SortBy.MAX"><i class="fas fa-sort"></i></span>
              <span *ngIf="teamToRecipientToScoresSortBy === SortBy.MAX && teamToRecipientToScoresSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
              <span *ngIf="teamToRecipientToScoresSortBy === SortBy.MAX && teamToRecipientToScoresSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
          </th>
          <th class="sortable-header" (click)="sortTeamToRecipientToScores(SortBy.MIN)">
              <span ngbTooltip="Minimum of the visible responses">Min </span>
              <span *ngIf="teamToRecipientToScoresSortBy !== SortBy.MIN"><i class="fas fa-sort"></i></span>
              <span *ngIf="teamToRecipientToScoresSortBy === SortBy.MIN && teamToRecipientToScoresSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
              <span *ngIf="teamToRecipientToScoresSortBy === SortBy.MIN && teamToRecipientToScoresSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
          </th>
          <th class="sortable-header" (click)="sortTeamToRecipientToScores(SortBy.AVERAGE_EXCLUDE_SELF)">
              <span ngbTooltip="Average of the visible responses excluding recipient's own response to himself/herself">Average excluding self response </span>
              <span *ngIf="teamToRecipientToScoresSortBy !== SortBy.AVERAGE_EXCLUDE_SELF"><i class="fas fa-sort"></i></span>
              <span *ngIf="teamToRecipientToScoresSortBy === SortBy.AVERAGE_EXCLUDE_SELF && teamToRecipientToScoresSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
              <span *ngIf="teamToRecipientToScoresSortBy === SortBy.AVERAGE_EXCLUDE_SELF && teamToRecipientToScoresSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <ng-container>
          <tr *ngFor="let statsRow of numericalScaleStatsRowModel">
            <td>{{ statsRow.teamName }}</td>
            <td>{{ statsRow.recipientName }}</td>
            <td>{{ statsRow.average }}</td>
            <td>{{ statsRow.max }}</td>
            <td>{{ statsRow.min }}</td>
            <td>{{ statsRow.averageExceptSelf }}</td>
          </tr>
        </ng-container>
        <!--
        <ng-container *ngFor="let team of teamToRecipientToScores | keyvalue">
          <tr *ngFor="let recipient of team.value | keyvalue">
            <td>{{ team.key }}</td>
            <td>{{ recipient.key }}</td>
            <td>{{ recipient.value.average }}</td>
            <td>{{ recipient.value.max }}</td>
            <td>{{ recipient.value.min }}</td>
            <td>{{ recipient.value.averageExcludingSelf }}</td>
          </tr>
        </ng-container>
        -->
        </tbody>
      </table>
    </div>
  </div>
</div>
