<table class="table table-bordered table-striped">
  <thead>
    <tr [ngClass]="setMainTableStyle ? 'bg-primary text-white' : customHeaderStyle">
      @for (column of columns; track column) {
        <th [ngClass]="{ 'sortable-header': column.sortBy }" class="{{column?.headerClass}}"
          [ngStyle]="getAlignment(column)" (click)="column.sortBy && onClickHeader(column.header)" [attr.aria-sort]="getAriaSort(column.header)"
          >
          @if (column.sortBy) {
            <button class="d-lg-flex align-items-center gap-lg-1 d-inline ">
              <span [ngClass]="{ 'ngb-tooltip-class': column.headerToolTip } " [ngbTooltip]="column.headerToolTip" container="body">{{ column.header }}</span>
              <span class="fa-stack" aria-hidden="true">
                <i class="fas fa-sort"></i>
                @if (column.sortBy && columnToSortBy === column.header && sortOrder === SortOrder.DESC) {
                  <i class="fas fa-sort-down"></i>
                }
                @if (column.sortBy && columnToSortBy === column.header && sortOrder === SortOrder.ASC) {
                  <i class="fas fa-sort-up"></i>
                }
              </span>
            </button>
          }
          @if (!column.sortBy) {
            <span [ngbTooltip]="column.headerToolTip" [ngClass]="{ 'ngb-tooltip-class': column.headerToolTip } "
            container="body">{{ column.header }}</span>
          }
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of tableRows; track row; let idx = $index) {
      <tr>
        @for (item of row; track item) {
          <td [style]="getStyle(item)">
            @if (item.customComponent) {
              <ndc-dynamic
                [ngComponentOutlet]="item.customComponent.component"
                [ndcDynamicInputs]="item.customComponent.componentData(idx)"
              ></ndc-dynamic>
            }
            @if (!item.customComponent && item.displayValue) {
              <span [innerHTML]="item.displayValue"></span>
            }
            @if (!item.customComponent && !item.displayValue) {
              {{ item.value }}
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>
