.background-color-light-blue {
  background-color: #EAEFF5;
}

.padding-15px {
  padding: 15px;
}

.question-basic-info {
  padding-left: 15px;
  font-weight: bold;
}

pre {
  white-space: pre-line;
  font-size: inherit;
  font-family: inherit;
  margin-bottom: 0;
}
