<div class="background-color-light-blue">
  <div class="row padding-15px text-left">
    <div class="col-md-2">
      <div class="question-basic-info">Question</div>
    </div>
    <div class="col-md-10">
    <textarea id="question-brief" class="form-control" [ngModel]="brief" (ngModelChange)="triggerBriefChange($event)" [disabled]="isBriefDisabled" [placeholder]="briefPlaceholder"></textarea>
    </div>
  </div>
  <div class="row padding-15px text-left">
    <div class="col-md-2">
      <div class="question-basic-info">[Optional]<br/>Description</div>
    </div>
    <div class="col-md-10">
      <tm-rich-text-editor [richText]="descriptionRichText" (richTextChange)="triggerDescriptionChange($event)" [isDisabled]="isDescriptionDisabled" minHeightInPx="100" [placeholderText]="descriptionPlaceholderText"></tm-rich-text-editor>
    </div>
  </div>
</div>
