<div class="modal-header alert-info">
  <h4 class="modal-title icon-info">Confirm re-sending invitation email</h4>
  <button class="close" data-dismiss="modal" aria-hidden="true" (click)="activeModal.dismiss()">×</button>
</div>
<div class="modal-body">
  Do you wish to re-send the invitation email to instructor {{ instructorToResend.name }} from course {{ instructorToResend.courseId }}?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">No, cancel the operation</button>
  <button type="button" class="btn btn-info modal-btn-ok"
          (click)="activeModal.close()">
    Yes
  </button>
</div>
