<div class="modal-header"
     [ngClass]="{
     'alert-danger' : type === ConfirmationModalType.DANGER,
     'alert-warning' : type === ConfirmationModalType.WARNING,
     'alert-info' : type === ConfirmationModalType.INFO,
     'alert-primary' : type === ConfirmationModalType.PRIMARY,
     'alert-secondary' : type === ConfirmationModalType.NEUTRAL}">
  <div>
    <h5 class="modal-title">
      <i *ngIf="type === ConfirmationModalType.DANGER" class="fas fa-times-circle"></i>
      <i *ngIf="type === ConfirmationModalType.WARNING" class="fas fa-exclamation-circle"></i>
      <i *ngIf="type === ConfirmationModalType.INFO" class="fas fa-info-circle"></i>
      {{header}}
    </h5>
  </div>
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div [innerHTML]="content"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" *ngIf="!isNotificationOnly" (click)="activeModal.dismiss()">
    {{ cancelMessage }}
  </button>
  <button type="button" class="btn"
          [ngClass]="{
          'btn-danger' : type === ConfirmationModalType.DANGER,
          'btn-warning' : type === ConfirmationModalType.WARNING,
          'btn-info' : type === ConfirmationModalType.INFO,
          'btn-primary' : type === ConfirmationModalType.NEUTRAL || type === ConfirmationModalType.PRIMARY}"
          (click)="activeModal.close()">{{ confirmMessage }}</button>
</div>
