<div class="modal-header alert-primary">
  <h5 class="modal-title">Select the new deadline for extension</h5>
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  Extending the feedback session for <b>10 students:</b>
</div>

<div class="container ml-1">
  <div class="row pl-3 pt-2">
  </div>
  <div class="row pl-3">
    <label class="mr-2"><input type="radio" name="optradio" (click)="setA(true)" checked> Extend deadline by</label>
    <label ><input type="radio" (click)="setA(true)" name="optradio"> Extend deadline to</label>
  </div>


    <small>The new deadline of the feedback session will be:</small>
    <div id="submission-start-date">
      <div class="input-group">
        <input type="text" class="form-control" value="1st April 2021 23:59H"/>
        <div class="input-group-append">
          <button class="btn btn-light" type="button">
            <i class="fas fa-calendar-alt"></i>
          </button>
        </div>
      </div>
    </div>

<!--
    <small>Extend the feedback session by:</small>
    <div id="submission-start-date">
        <div class="input-group">
            <select class="form-control">
              <option>12 hours</option>
              <option>1 day</option>
              <option>3 days</option>
              <option>1 week (8th March 2021 23:59H)</option>
              <option>Customize</option>
            </select>
        </div>
    </div>
-->

<!--
<br>

  <form class="form-inline">
    <input class="form-control mb-2" type="text" placeholder="Minutes"> 
    <input class="form-control mx-sm-3 mb-2" type="text" placeholder="Hours"> 
    <input class="form-control mb-2" type="text" placeholder="Days">   
  </form>

<br>
<p> New Deadline: 8th March 2021 23:59H </p> 
</div>
-->

<br>

<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">No, Cancel the Operation</button>
  <button type="button" class="btn btn-success modal-btn-ok" (click)="onExtend()">Save Changes</button>
</div>
