<div class="modal-header alert alert-primary alert-no-bottom">
  <h5 class="modal-title">Select the new deadline for extension</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  Extending the feedback session for <b>{{ numStudents }}</b> student(s) and <b>{{ numInstructors }}</b> instructor(s):
</div>

<div class="px-4">
  <div class="d-flex flex-column gap-1">
    @for (option of DEADLINE_OPTIONS; track option.label) {
      <label class="me-3">
        <input
          type="radio"
          name="deadlineOption"
          [value]="option.label"
          [checked]="selectedPreset() === option.label"
          (change)="selectedPreset.set(option.label)"
        />
        {{ option.label }}
        @if (option.hours !== null) {
          ({{ extendAndFormatEndTimeBy(option.hours) }})
        }
      </label>
    }
  </div>

  @if (isCustom()) {
    <div class="mt-2">
      <small>The new deadline of the feedback session will be:</small>
      <div id="submission-start-date">
        <tm-datetimepicker
          id="submission-end-datetime"
          [timestamp]="customTimestamp()"
          [minTimestamp]="feedbackSessionEndingTimestamp"
          [timeZone]="feedbackSessionTimeZone"
          (timestampChange)="onChangeDateTime($event)"
        >
        </tm-datetimepicker>
      </div>
    </div>
  }

  <br />
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-success modal-btn-ok" (click)="onConfirm()" [disabled]="!isValidForm()">
    Save Changes
  </button>
</div>
