<fieldset [disabled]="isSubmitting">
  <div class="modal-header" [ngClass]="{'alert-primary': isExtendModal(), 'alert-danger' : isDeleteModal() || isSessionDeleteModal()}">
    <h5 class="modal-title" *ngIf="isExtendModal()">Confirm extension of feedback session</h5>
    <h5 class="modal-title" *ngIf="isDeleteModal() || isSessionDeleteModal()">Confirm deletion of feedback session extensions</h5>
    <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <div *ngIf="isExtendModal()">
      The new deadline of <b>{{ extensionTimestamp | formatDateDetail: feedbackSessionTimeZone }}</b> will be applied
      to the following <b>{{ selectedStudents.length }}</b> student(s) and <b>{{ selectedInstructors.length }}</b>
      instructor(s):
    </div>

    <div *ngIf="isDeleteModal()">
      The deadline of the following <b>{{ selectedStudents.length }}</b> student(s) and
      <b>{{ selectedInstructors.length }}</b> instructor(s) will be reverted back to the original deadline of
      <b>{{ extensionTimestamp | formatDateDetail: feedbackSessionTimeZone }}</b>:
    </div>

    <div *ngIf="isSessionDeleteModal()">
      The extensions of the following <b>{{ selectedStudents.length }}</b> student(s) and
      <b>{{ selectedInstructors.length }}</b> instructor(s) will be deleted, as they are before your new session end time of
      <b>{{ extensionTimestamp | formatDateDetail: feedbackSessionTimeZone }}</b>:
    </div>

    <div class="table-responsive" *ngIf="selectedStudents.length !== 0">
      <h1>Students</h1>
      <table id="student-list-table" class="table table-bordered mb-3">
        <thead>
          <tr>
            <th class="sortable-header" (click)="sortStudentColumnsBy(SortBy.SECTION_NAME)" [attr.aria-sort]="getAriaSortStudent(SortBy.SECTION_NAME)">
              <button>
                Section
                <span class="fa-stack" aria-hidden="true">
                  <i class="fas fa-sort"></i>
                  <i *ngIf="sortStudentsBy === SortBy.SECTION_NAME && sortStudentOrder === SortOrder.DESC"
                    class="fas fa-sort-down"></i>
                  <i *ngIf="sortStudentsBy === SortBy.SECTION_NAME && sortStudentOrder === SortOrder.ASC"
                    class="fas fa-sort-up"></i>
                </span>
              </button>
            </th>
            <th class="sortable-header" (click)="sortStudentColumnsBy(SortBy.TEAM_NAME)" [attr.aria-sort]="getAriaSortStudent(SortBy.TEAM_NAME)">
              <button>
                Team
                <span class="fa-stack" aria-hidden="true">
                  <i class="fas fa-sort"></i>
                  <i *ngIf="sortStudentsBy === SortBy.TEAM_NAME && sortStudentOrder === SortOrder.DESC"
                    class="fas fa-sort-down"></i>
                  <i *ngIf="sortStudentsBy === SortBy.TEAM_NAME && sortStudentOrder === SortOrder.ASC"
                    class="fas fa-sort-up"></i>
                </span>
              </button>
            </th>
            <th class="sortable-header" (click)="sortStudentColumnsBy(SortBy.RESPONDENT_NAME)" [attr.aria-sort]="getAriaSortStudent(SortBy.RESPONDENT_NAME)">
              <button>
                Name
                <span class="fa-stack" aria-hidden="true">
                  <i class="fas fa-sort"></i>
                  <i *ngIf="sortStudentsBy === SortBy.RESPONDENT_NAME && sortStudentOrder === SortOrder.DESC"
                    class="fas fa-sort-down"></i>
                  <i *ngIf="sortStudentsBy === SortBy.RESPONDENT_NAME && sortStudentOrder === SortOrder.ASC"
                    class="fas fa-sort-up"></i>
                </span>
              </button>
            </th>
            <th class="sortable-header" (click)="sortStudentColumnsBy(SortBy.RESPONDENT_EMAIL)" [attr.aria-sort]="getAriaSortStudent(SortBy.RESPONDENT_EMAIL)">
              <button>
                Email
                <span class="fa-stack" aria-hidden="true">
                  <i class="fas fa-sort"></i>
                  <i *ngIf="sortStudentsBy === SortBy.RESPONDENT_EMAIL && sortStudentOrder === SortOrder.DESC"
                    class="fas fa-sort-down"></i>
                  <i *ngIf="sortStudentsBy === SortBy.RESPONDENT_EMAIL && sortStudentOrder === SortOrder.ASC"
                    class="fas fa-sort-up"></i>
                </span>
              </button>
            </th>
            <th class="sortable-header" (click)="sortStudentColumnsBy(SortBy.SESSION_END_DATE)" [attr.aria-sort]="getAriaSortStudent(SortBy.SESSION_END_DATE)">
              <button>
                <span *ngIf="isExtendModal()">Original Deadline </span>
                <span *ngIf="isDeleteModal() || isSessionDeleteModal()">Current Deadline </span>
                <span class="fa-stack" aria-hidden="true">
                  <i class="fas fa-sort"></i>
                  <i *ngIf="sortStudentsBy === SortBy.SESSION_END_DATE && sortStudentOrder === SortOrder.DESC"
                    class="fas fa-sort-down"></i>
                  <i *ngIf="sortStudentsBy === SortBy.SESSION_END_DATE && sortStudentOrder === SortOrder.ASC"
                    class="fas fa-sort-up"></i>
                </span>
              </button>
            </th>
          </tr>
        </thead>
        <tr *ngFor="let student of selectedStudents;">
          <td>{{ student.sectionName }}</td>
          <td>{{ student.teamName }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.extensionDeadline | formatDateDetail: feedbackSessionTimeZone }}</td>
        </tr>
      </table>
    </div>

    <div class="table-responsive" *ngIf="selectedInstructors.length !== 0">
      <h1>Instructors</h1>
      <table id="instructor-list-table" class="table table-bordered mb-3">
        <thead>
          <tr>
            <th class="sortable-header" (click)="sortInstructorsColumnsBy(SortBy.RESPONDENT_NAME)" [attr.aria-sort]="getAriaSortInstructor(SortBy.RESPONDENT_NAME)">
              <button>
                Name
                <span class="fa-stack" aria-hidden="true">
                  <i class="fas fa-sort"></i>
                  <i *ngIf="sortInstructorsBy === SortBy.RESPONDENT_NAME && sortInstructorOrder === SortOrder.DESC"
                    class="fas fa-sort-down"></i>
                  <i *ngIf="sortInstructorsBy === SortBy.RESPONDENT_NAME && sortInstructorOrder === SortOrder.ASC"
                    class="fas fa-sort-up"></i>
                </span>
              </button>
            </th>
            <th class="sortable-header" (click)="sortInstructorsColumnsBy(SortBy.RESPONDENT_EMAIL)" [attr.aria-sort]="getAriaSortInstructor(SortBy.RESPONDENT_EMAIL)">
              <button>
                Email
                <span class="fa-stack" aria-hidden="true">
                  <i class="fas fa-sort"></i>
                  <i *ngIf="sortInstructorsBy === SortBy.RESPONDENT_EMAIL && sortInstructorOrder === SortOrder.DESC"
                    class="fas fa-sort-down"></i>
                  <i *ngIf="sortInstructorsBy === SortBy.RESPONDENT_EMAIL && sortInstructorOrder === SortOrder.ASC"
                    class="fas fa-sort-up"></i>
                </span>
              </button>
            </th>
            <th class="sortable-header" (click)="sortInstructorsColumnsBy(SortBy.INSTRUCTOR_PERMISSION_ROLE)" [attr.aria-sort]="getAriaSortInstructor(SortBy.INSTRUCTOR_PERMISSION_ROLE)">
              <button>
                Role
                <span class="fa-stack" aria-hidden="true">
                  <i class="fas fa-sort"></i>
                  <i *ngIf="sortInstructorsBy === SortBy.INSTRUCTOR_PERMISSION_ROLE && sortInstructorOrder === SortOrder.DESC"
                    class="fas fa-sort-down"></i>
                  <i *ngIf="sortInstructorsBy === SortBy.INSTRUCTOR_PERMISSION_ROLE && sortInstructorOrder === SortOrder.ASC"
                    class="fas fa-sort-up"></i>
                </span>
              </button>
            </th>
            <th class="sortable-header" (click)="sortInstructorsColumnsBy(SortBy.SESSION_END_DATE)" [attr.aria-sort]="getAriaSortInstructor(SortBy.SESSION_END_DATE)">
              <button>
                <span *ngIf="isExtendModal()">Original Deadline </span>
                <span *ngIf="isDeleteModal() || isSessionDeleteModal()">Current Deadline </span>
                <span class="fa-stack" aria-hidden="true">
                  <i class="fas fa-sort"></i>
                  <i *ngIf="sortInstructorsBy === SortBy.SESSION_END_DATE && sortInstructorOrder === SortOrder.DESC"
                    class="fas fa-sort-down"></i>
                  <i *ngIf="sortInstructorsBy === SortBy.SESSION_END_DATE && sortInstructorOrder === SortOrder.ASC"
                    class="fas fa-sort-up"></i>
                </span>
              </button>
            </th>
          </tr>
        </thead>
        <tr *ngFor="let instructor of selectedInstructors;">
          <td>{{ instructor.name }}</td>
          <td>{{ instructor.email }}</td>
          <td>{{ instructor.role | instructorRoleName }}</td>
          <td>{{ instructor.extensionDeadline | formatDateDetail: feedbackSessionTimeZone }}</td>
        </tr>
      </table>
    </div>

    <div class="form-check" *ngIf="isDeleteModal() || isExtendModal()">
      <input class="form-check-input" type="checkbox" [(ngModel)]="isNotifyDeadlines" id="flexCheckChecked">
      <label class="form-check-label" for="flexCheckChecked" *ngIf="isExtendModal()">
        Notify affected students and/or instructors by email about this extension
      </label>
      <label class="form-check-label" for="flexCheckChecked" *ngIf="isDeleteModal()">
        Notify affected students and/or instructors by email about the cancellation of their extension
      </label>
    </div>

  </div>

  <br>

  <div class="modal-footer py-1 px-3">
    <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">No, cancel the Operation</button>
    <button *ngIf="isExtendModal()" type="button" class="btn btn-success modal-btn-ok"
      (click)="onConfirm()">Confirm</button>
    <button *ngIf="isDeleteModal() || isSessionDeleteModal()" id="delete-extension-btn" type="button" class="btn btn-danger modal-btn-ok" (click)="onConfirm()">Delete
      Extension(s)</button>
  </div>
</fieldset>
