/* For now, this file is only for dev.css. In future, it will be shifted
 * and would encompass styles for the rest of the static webpages
 */


body {
	font-family: Arial, Helvetica, sans-serif;
	max-width: 960px;
}

img {
	max-width: 100%;
}

#content {
	margin: 0 auto;
 	width: 960px;
}

.title {
	color: #FF8C00;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.header {
	color: #FF8C00;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
}

.subheader {
	color: #FF8C00;
	font-size: 18px;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.code {
	font-family: Consolas, Courier;
}

.red {
	color:#FF0000;
}

.blue {
	color:#0000FF;
}

.green {
	color:#00AA00;
}

.image-holder {
	width: 920px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

.italic {
	font-style: italic;
}

.strikeout {
	text-decoration:line-through;
}