/* For now, this file is only for dev.css. In future, it will be shifted
 * and would encompass styles for the rest of the static webpages
 */


body {
	font-family: Arial, Helvetica, sans-serif;
	max-width: 800px;
	margin-left: 50px;
}

img {
	max-width: 100%;
}

#content {
	margin: 0 auto;
 	width: 960px;
}

.title {
	color: purple;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.header {
	color: #FF8C00;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
}

.subheader {
	color: #FF8C00;
	font-size: 18px;
}

h1 {
	color: purple;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
}

h2 {
	color: green;
	font-size: 22px;
}

h3 {
	color: teal;
	font-size: 18px;
}

hr {
	color:purple;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.code {
	font-family: Consolas, Courier;
}

.pending {
	color: yellow;
	background: #C26666;
}

.level1feature{
	font-weight: bold;
}

.level2feature {
	font-weight: bold;
	color: teal;
	font-size: 18px;
}

.level3feature {
	font-weight: bold;
}


.red {
	color:#FF0000;
}

.blue {
	color:#0000FF;
}

.green {
	color:#00AA00;
}

.gray {
	color:gray;
}

.image-holder {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

.italic {
	font-style: italic;
}

.strikeout {
	text-decoration:line-through;
}