<td>{{ instructor.name }}</td>
<td>{{ instructor.email }}</td>
<td>{{ instructor.institution }}</td>
<td>
  <div class="button-group" *ngIf="instructor.status === 'PENDING' || instructor.status === 'FAIL'">
    <button class="action-btn btn btn-sm btn-primary text-nowrap" id="add-instructor-{{ index }}" style="margin-right: 10px;" (click)="addInstructor()" [disabled]="activeRequests > 0">Add Instructor</button>
    <button class="action-btn btn btn-sm btn-info text-nowrap" id="edit-instructor-{{ index }}" style="margin-right: 10px;">Edit</button>
    <button class="action-btn btn btn-sm btn-danger" id="cancel-instructor-{{ index }}" (click)="cancelInstructor()">Cancel</button>
  </div>
</td>
<td>{{ instructor.status }}</td>
<td style="width: 500px;">
  <span *ngIf="instructor.status === 'SUCCESS'" id="message-instructor-{{ index }}">
    Instructor "{{ instructor.name }}" has been successfully created. [<a href="{{ instructor.joinLink }}">join link</a>]
  </span>
  <span class="message" *ngIf="instructor.status === 'FAIL'" id="message-instructor-{{ index }}">{{ instructor.message }}</span>
</td>
