<div class="card bg-light top-padded">
  <div class="card-header bg-info">
    <strong>Instructors Found</strong>
  </div>
  <div class="table-responsive">
    <table id="search-table-instructor" class="table table-striped data-table">
      <thead>
        <tr>
          <th>Course</th>
          <th>Name</th>
          <th>Email</th>
          <th>Institute</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        @for (instructor of instructors; track instructor; let i = $index) {
          <tr>
            <td class="text-break">
              <span
                class="ngb-tooltip-class"
                [ngClass]="{ 'text-course-deleted': instructor.isCourseDeleted }"
                [ngbTooltip]="instructor.courseName"
                [innerHtml]="instructor.courseId | highlighter: searchString : true"
              ></span>
              @if (instructor.isCourseDeleted) {
                <i
                  class="fas fa-trash-alt text-course-deleted margin-left-5px bin-icon"
                  [ngbTooltip]="'This course is in the recycle bin.'"
                ></i>
              }
            </td>
            <td [innerHtml]="instructor.name | highlighter: searchString : true"></td>
            <td [innerHtml]="instructor.email | highlighter: searchString : true"></td>
            <td [innerHtml]="instructor.institute | highlighter: searchString : true"></td>
            <td>
              @if (instructor.manageAccountLink) {
                <a
                  href="{{ instructor.manageAccountLink }}"
                  (click)="$event.stopPropagation()"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fas fa-info-circle"></i> Manage this account
                </a>
                <br />
              }
              <button
                id="show-instructor-links-{{ i }}"
                data-testid="show-instructor-links-button"
                type="button"
                class="btn btn-primary btn-sm mb-2"
                (click)="openSessionLinksModal(instructor)"
              >
                Show links
              </button>
              <br />
              <button
                id="regenerate-instructor-key-{{ i }}"
                data-testid="regenerate-instructor-key"
                class="btn btn-danger"
                [disabled]="isRegeneratingInstructorKeys[i]"
                (click)="regenerateUserKey(instructor, i)"
              >
                @if (isRegeneratingInstructorKeys[i]) {
                  <tm-ajax-loading></tm-ajax-loading>
                }
                Regenerate key
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
