.background-color-light-green {
  background-color: #E0EEEE;
}

.background-color-warning {
  background-color: #FCF8E3;
}

.background-color-white {
  background-color: white;
}

.margin-top-15px {
  margin-top: 15px;
}

.padding-15px {
  padding: 15px;
}

.visibility-title {
  color: #2AABD2;
}

.visibility-message > ul {
  margin-top: 5px;
  padding: 5px 25px;
  margin-bottom: 0;
}

.visibility-message > ul > li {
  cursor: default;
}

.white-space-normal {
  white-space: normal;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-button {
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}
