<span class="d-flex flex-column flex-sm-row align-items-sm-center">
  <h2 class="question-number">
    Question {{ questionNumber }}:
  </h2>
  <span class="question-text mx-sm-2">{{ questionDetails.questionText }}</span>
  @if (hasAdditionalInfo(questionDetails)) {
    <button class="additional-info-button info-font-size me-auto border-0 p-0 bg-transparent text-primary" (click)="additionalInfoIsExpanded = !additionalInfoIsExpanded;$event.stopPropagation()">
      [{{ additionalInfoIsExpanded ? 'less' : 'more' }}]
    </button>
  }
</span>

@if (hasAdditionalInfo(questionDetails) && additionalInfoIsExpanded) {
  <div class="additional-info info-font-size">
    @if (QuestionDetailsTypeChecker.isContrib(questionDetails)) {
      <tm-contribution-question-additional-info [questionDetails]="questionDetails"></tm-contribution-question-additional-info>
    }
    @else if (QuestionDetailsTypeChecker.isText(questionDetails)) {
      <tm-text-question-additional-info [questionDetails]="questionDetails"></tm-text-question-additional-info>
    }
    @else if (QuestionDetailsTypeChecker.isMcq(questionDetails)) {
      <tm-mcq-question-additional-info [questionDetails]="questionDetails"></tm-mcq-question-additional-info>
    }
    @else if (QuestionDetailsTypeChecker.isMsq(questionDetails)) {
      <tm-msq-question-additional-info [questionDetails]="questionDetails"></tm-msq-question-additional-info>
    }
    @else if (QuestionDetailsTypeChecker.isRankOptions(questionDetails)) {
      <tm-rank-options-question-additional-info [questionDetails]="questionDetails"></tm-rank-options-question-additional-info>
    }
    @else if (QuestionDetailsTypeChecker.isRankRecipients(questionDetails)) {
      <tm-rank-recipients-question-additional-info [questionDetails]="questionDetails"></tm-rank-recipients-question-additional-info>
    }
    @else if (QuestionDetailsTypeChecker.isRubric(questionDetails)) {
      <tm-rubric-question-additional-info [questionDetails]="questionDetails"></tm-rubric-question-additional-info>
    }
    @else if (QuestionDetailsTypeChecker.isConstSumOptions(questionDetails)) {
      <tm-constsum-options-question-additional-info [questionDetails]="questionDetails"></tm-constsum-options-question-additional-info>
    }
    @else if (QuestionDetailsTypeChecker.isConstSumRecipients(questionDetails)) {
      <tm-constsum-recipients-question-additional-info [questionDetails]="questionDetails"></tm-constsum-recipients-question-additional-info>
    }
    @else if (QuestionDetailsTypeChecker.isNumscale(questionDetails)) {
      <tm-num-scale-question-additional-info [questionDetails]="questionDetails"></tm-num-scale-question-additional-info>
    }
  </div>
}
