.question-number {
  font-size: inherit;
  margin: 0;
  font-weight: bold;
}

.span-divs {
  width: 1100px;
  float: left;
}

.question {
  font-weight: light;
  width: 85px;
}

.space {
  margin-left: 5px;
}