footer,
nav {
  background: #3c3c3c;
}

nav {
  height: 50px;

  img {
    height: 50px;
    margin-left: 20px;
  }
}

.main-content {
  margin-top: 50px;
  min-height: calc(100vh - 102px);
  padding: 20px 70px;
}

@media (width <= 575px) {
  .main-content {
    min-height: calc(100vh - 144px);
  }
}

@media (width >= 576px) and (width <= 589px) {
  .main-content {
    min-height: calc(100vh - 123px);
  }
}

.footer {
  padding: 5px 70px;
  color: rgb(255 255 255 / 75%);

  a {
    &:hover {
      filter: brightness(150%);
    }
  }
}

.container {
  max-width: 1350px;
}

.dropdown-item {
  color: rgb(255 255 255 / 75%);

  &:hover,
  &:focus {
    background-color: inherit;
    color: white;
  }
}

.navbar-nav li {
  margin: auto 0;
  margin-left: 10px;
}

.navbar {
  padding: 0 80px;
  z-index: 1000;
}

.nav-link {
  cursor: pointer;
}

.pull-right {
  margin-right: 20px;
}

@media (width <= 1024px) {
  .navbar {
    padding: 0 30px;
  }

  .main-content {
    padding: 20px 50px;
  }

  .footer {
    padding: 5px 30px;
  }
}

@media (width <= 991px) {
  .navbar-nav li {
    margin: auto 20px;
  }

  .pull-right {
    margin-right: 0;
  }
}

@media (width <= 768px) {
  .navbar {
    padding: 0;
  }

  .main-content {
    padding: 10px 15px;
  }

  .footer {
    padding: 5px 15px;
  }
}

.navbar-toggler {
  margin-right: 20px;

  &:focus {
    outline: none;
  }
}

.navbar-collapse,
.dropdown-menu {
  background: #3c3c3c;
  min-width: 0;
}

.dropdown-divider {
  border: 1px solid rgb(255 255 255 / 50%);
  margin: 0.5rem 15px;
}

.dropdown-menu-right {
  margin-bottom: 0.5rem;
}

button.bg-transparent.btn.btn-link.nav-link:active {
  color: white !important;
}

.modal-header {
  background: #3c3c3c;
  border-bottom: 1px solid rgb(255 255 255 / 20%);

  .modal-title {
    color: rgb(255 255 255 / 75%);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }
}

.ms-sign-in-button {
  align-items: center;
  background-color: #131314;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  color: #e3e3e3;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 41px;
  letter-spacing: 0.25px;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  width: 240px;

  &:not(:disabled):hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }
}

.ms-sign-in-button-state {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .218s;
}

.ms-sign-in-button:not(:disabled):hover .ms-sign-in-button-state {
  background-color: white;
  opacity: 8%;
}

.ms-sign-in-button:not(:disabled):active .ms-sign-in-button-state,
.ms-sign-in-button:not(:disabled):focus .ms-sign-in-button-state {
  background-color: white;
  opacity: 12%;
}

.ms-sign-in-button-content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.ms-sign-in-button-text {
  flex-grow: 1;
  text-align: center;
}

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: #131314;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #e3e3e3;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: 240px;
  border-color: #8e918f;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 10px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #13131461;
  border-color: #8e918f1f;
}

.gsi-material-button:disabled .gsi-material-button-state {
  background-color: #e3e3e31f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: white;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: white;
  opacity: 8%;
}
