footer,
nav {
  background: #3C3C3C;
}

nav {
  height: 50px;

  img {
    height: 50px;
    margin-left: 20px;
  }
}

.main-content {
  margin-top: 50px;
  min-height: calc(100vh - 80px);
  padding: 20px 70px;
}

.footer {
  padding: 5px 70px;
  color: rgba(255, 255, 255, .5);
}

.container {
  max-width: 1350px;
}

.dropdown-item {
  color: rgba(255, 255, 255, .5);

  &:hover,
  &:focus {
    background-color: inherit;
    color: rgba(255, 255, 255, .75);
  }
}

.navbar-nav li {
  margin: auto 0;
  margin-left: 10px;
}

.navbar {
  padding: 0 80px;
  z-index: 1000;
}

.nav-link {
  cursor: pointer;
}

.pull-right {
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .navbar {
    padding: 0 30px;
  }

  .main-content {
    padding: 20px 50px;
  }

  .footer {
    padding: 5px 30px;
  }
}

@media (max-width: 992px) {
  .navbar-nav li {
    margin: auto 20px;
  }

  .pull-right {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 10px;
  }

  .main-content {
    padding: 20px 50px;
  }

  .footer {
    padding: 5px 20px;
  }
}

.navbar-toggler {
  margin-right: 20px;

  &:focus {
    outline: none;
  }
}

.navbar-collapse,
.dropdown-menu {
  background: #3C3C3C;
}

.dropdown-divider {
  border: 1px solid rgba(255, 255, 255, .3);
  margin: .5rem 15px;
}
