<nav class="navbar navbar-expand-lg navbar-dark fixed-top" (tmClickOutside)="isCollapsed = true">
  <a tmRouterLink="/web" (click)="isCollapsed = true">
    <img src="assets/images/teammateslogo.png" alt="TEAMMATES [Logo]" />
  </a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    (click)="toggleCollapse()"
    [attr.aria-expanded]="!isCollapsed"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" [ngStyle]="{ display: isCollapsed ? 'none' : 'block' }">
    <ul class="nav navbar-nav flex-nowrap me-auto">
      @for (navItem of navItems; track navItem) {
        @if (navItem.children) {
          <li class="nav-item dropdown" ngbDropdown>
            <button
              class="bg-transparent btn btn-link nav-link dropdown-toggle"
              data-toggle="dropdown"
              tabindex="0"
              ngbDropdownToggle
            >
              {{ navItem.display }}
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              @for (childItem of navItem.children; track childItem) {
                <a class="dropdown-item" [tmRouterLink]="childItem.url" (click)="toggleCollapse(); closeModal()">{{
                  childItem.display
                }}</a>
              }
            </div>
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link" [tmRouterLink]="navItem.url" (click)="toggleCollapse(); closeModal()">{{
              navItem.display
            }}</a>
          </li>
        }
      }
    </ul>
    @if (!isFetchingAuthDetails) {
      <ul class="nav navbar-nav pull-right">
        @if (!accountEmail) {
          <li class="nav-item dropdown" ngbDropdown placement="bottom-end">
            <button
              class="bg-transparent btn btn-link nav-link dropdown-toggle"
              data-toggle="dropdown"
              tabindex="0"
              ngbDropdownToggle
            >
              Sign in
            </button>
            <div class="dropdown-menu-right" ngbDropdownMenu>
              <a class="dropdown-item" id="student-login-btn" tmRouterLink="/web/student/home">As Student</a>
              <a class="dropdown-item" id="instructor-login-btn" tmRouterLink="/web/instructor/home">As Instructor</a>
            </div>
          </li>
        } @else {
          <li class="nav-item dropdown" ngbDropdown placement="bottom-end">
            <button
              class="bg-transparent btn btn-link nav-link dropdown-toggle"
              data-toggle="dropdown"
              tabindex="0"
              ngbDropdownToggle
            >
              {{ accountEmail }}
            </button>
            <div class="dropdown-menu-right" ngbDropdownMenu>
              @if (isStudent) {
                <a class="dropdown-item" tmRouterLink="/web/student" (click)="closeModal()">To student pages</a>
              }
              @if (isInstructor) {
                <a class="dropdown-item" tmRouterLink="/web/instructor" (click)="closeModal()">To instructor pages</a>
              }
              @if (isAdmin) {
                <a class="dropdown-item" tmRouterLink="/web/admin" (click)="closeModal()">To admin pages</a>
              }
              @if (isMaintainer) {
                <a class="dropdown-item" tmRouterLink="/web/maintainer" (click)="closeModal()">To maintainer pages</a>
              }
              @if (isStudent || isInstructor || isAdmin || isMaintainer) {
                <div class="dropdown-divider"></div>
              }
              <a
                class="dropdown-item"
                tmRouterLink="/web/front/home"
                id="logout-btn"
                style="cursor: pointer"
                (click)="logout()"
                >Sign out</a
              >
            </div>
          </li>
        }
      </ul>
    }
  </div>
</nav>
<tm-loader-bar></tm-loader-bar>
<tm-toast [(toast)]="toast" aria-live="polite" aria-atomic="true"></tm-toast>
<main id="main-content" class="container main-content">
  @if (isStudent || isInstructor) {
    <tm-notification-banner [url]="getUrl()" [notificationTargetUser]="notificationTargetUser"></tm-notification-banner>
  }
  <div *tmIsLoading="isFetchingAuthDetails">
    @if (!isNetworkOnline()) {
      <div>
        <div class="alert alert-danger" role="alert">
          <i class="fas fa-wifi"></i>&nbsp;Your device appears to be offline. Some TEAMMATES features may not work until
          your internet connection is restored.
        </div>
      </div>
    }
    @if (!isCookieEnabled()) {
      <div>
        <div class="alert alert-danger" role="alert">
          <i class="fas fa-ban"></i>&nbsp;TEAMMATES requires cookies to function properly. Please enable cookies in your
          browser settings.
        </div>
      </div>
    }
    @if (pageTitle) {
      <h1>{{ pageTitle }}</h1>
    }
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="footer">
  <div class="row text-center">
    <div class="col-sm-6 text-md-start">
      <i class="fas fa-bolt"></i>&nbsp;<a tmRouterLink="/web/front/home">TEAMMATES</a> V{{ version }}
    </div>
    <div class="col-sm-6 text-md-end">
      <i class="far fa-comments"></i>&nbsp;Send <a tmRouterLink="/web/front/contact" target="_blank">Feedback</a>
    </div>
    <div class="col-sm-12">
      Sponsored by School of Computing, National University of Singapore.
      <a tmRouterLink="/web/front/contact" target="_blank">Become a sponsor</a>
    </div>
  </div>
</footer>
