<nav class="navbar navbar-expand-lg navbar-dark fixed-top" (tmClickOutside)="isCollapsed = true">
  <a tmRouterLink="/web" (click)="isCollapsed = true">
    <img src="assets/images/teammateslogo.png" alt="TEAMMATES [Logo]">
  </a>
  <button class="navbar-toggler d-lg-none" type="button" (click)="toggleCollapse()" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" [ngStyle]="{ display: isCollapsed ? 'none' : 'block' }">
    @if (isValidUser) {
      <ul class="nav navbar-nav flex-nowrap me-auto">
        @for (navItem of navItems; track navItem) {
          @if (navItem.children) {
            <li class="nav-item dropdown" ngbDropdown>
              <button class="bg-transparent btn btn-link nav-link dropdown-toggle"
              data-toggle="dropdown" tabindex="0" ngbDropdownToggle>{{ navItem.display }}</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                @for (childItem of navItem.children; track childItem) {
                  <a class="dropdown-item" [tmRouterLink]="childItem.url" (click)="toggleCollapse();closeModal()">{{ childItem.display}}</a>
                }
              </div>
            </li>
          }
          @if (!navItem.children) {
            <li class="nav-item">
              <a class="nav-link" [tmRouterLink]="navItem.url" (click)="toggleCollapse();closeModal()">{{ navItem.display }}</a>
            </li>
          }
        }
      </ul>
    }
    @if (!isValidUser) {
      <ul class="nav navbar-nav me-auto"></ul>
    }
    @if (!hideAuthInfo && !isFetchingAuthDetails) {
      <ul class="nav navbar-nav pull-right">
        @if (!user) {
          <li class="nav-item dropdown" ngbDropdown placement="bottom-end">
            <button class="bg-transparent btn btn-link nav-link dropdown-toggle"
            data-toggle="dropdown" tabindex="0" ngbDropdownToggle>Login</button>
            <div class="dropdown-menu-right" ngbDropdownMenu>
              <button class="dropdown-item" type="button" id="student-login-btn" (click)="openProviderModal('student')">Student Login</button>
              <button class="dropdown-item" type="button" id="instructor-login-btn" (click)="openProviderModal('instructor')">Instructor Login</button>
            </div>
          </li>
        }
        @if (user) {
          <li class="nav-item dropdown" ngbDropdown placement="bottom-end">
            <button class="bg-transparent btn btn-link nav-link dropdown-toggle"
            data-toggle="dropdown" tabindex="0" ngbDropdownToggle>{{ user }}</button>
            <div class="dropdown-menu-right" ngbDropdownMenu>
              @if (isStudent) {
                <a class="dropdown-item" tmRouterLink="/web/student" (click)="closeModal()">To student pages</a>
              }
              @if (isInstructor) {
                <a class="dropdown-item" tmRouterLink="/web/instructor" (click)="closeModal()">To instructor pages</a>
              }
              @if (isAdmin) {
                <a class="dropdown-item" tmRouterLink="/web/admin" (click)="closeModal()">To admin pages</a>
              }
              @if (isMaintainer) {
                <a class="dropdown-item" tmRouterLink="/web/maintainer" (click)="closeModal()">To maintainer pages</a>
              }
              @if (isStudent || isInstructor || isAdmin || isMaintainer) {
                <div class="dropdown-divider"></div>
              }
              <a class="dropdown-item" tmRouterLink="/web/front/home" id="logout-btn" style="cursor: pointer;" (click)="logout()">Log Out</a>
            </div>
          </li>
        }
      </ul>
    }
  </div>
</nav>
<tm-loader-bar></tm-loader-bar>
<tm-toast [(toast)]="toast" aria-live="polite" aria-atomic="true"></tm-toast>
<main id="main-content" class="container main-content">
  @if (isStudent || isInstructor) {
    <tm-notification-banner [url]="getUrl()" [notificationTargetUser]="notificationTargetUser"></tm-notification-banner>
  }
  <div *tmIsLoading="isFetchingAuthDetails">
    @if (isUnsupportedBrowser) {
      <div>
        <div class="alert alert-danger" role="alert">
          <i class="fas fa-exclamation-circle"></i>&nbsp;You are currently using {{ browser }}. This web browser is not officially supported by TEAMMATES.
          In case this web browser does not display the webpage correctly, you may wish to view it in the following supported browsers:
          <ol>
            <li>Chrome {{ minimumVersions['Chrome'] }}+</li>
            <li>Edge {{ minimumVersions['Edge'] }}+</li>
            <li>Firefox {{ minimumVersions['Firefox'] }}+</li>
            <li>Safari {{ minimumVersions['Safari'] }}+</li>
          </ol>
        </div>
      </div>
    }
    @if ((isNetworkOnline$ | async) === false) {
      <div>
        <div class="alert alert-danger" role="alert">
          <i class="fas fa-wifi"></i>&nbsp;You are not connected to the internet.
        </div>
      </div>
    }
    @if (isCookieDisabled) {
      <div>
        <div class="alert alert-danger" role="alert">
          <i class="fas fa-ban"></i>&nbsp;You are currently not enabling cookies in your browser. TEAMMATES requires cookies in order to work effectively.
        </div>
      </div>
    }
    @if (!isValidUser) {
      <div>
        @if (isStudent || isInstructor || isAdmin || isMaintainer) {
          <div>
            <div class="row">
              <div class="alert alert-light col-sm-4 offset-sm-4">
                <img src="assets/images/angry.png" style="float: left; height: 90px; margin: 0 10px 10px 0;">
                <h5 style="padding: 30px 0 20px;">You are not authorized to view this page.</h5>
                <hr>
                  <p style="text-align: center;">Log out and return to main page.</p>
                </div>
              </div>
            </div>
          }
          @if (!(isStudent || isInstructor || isAdmin || isMaintainer)) {
            <div>
              <div class="row">
                <div class="alert alert-danger col-sm-8 offset-sm-2">
                  <div class="align-left">
                    <h5 style="text-align: center;"><i class="fas fa-exclamation-circle"></i>&nbsp;Ooops! Your Google account {{user}} is not known to TEAMMATES</h5>
                    <p style="text-align: center;">
                      To access a course on TEAMMATES, you need to wait until an instructor adds you to that course. As a confirmation, TEAMMATES will send you instructions on how to access that particular course.
                    </p>
                    <hr>
                      <br>
                        If you 'joined' the course in TEAMMATES using a Google account before, but cannot log in anymore, these are the possible reasons:
                        <ol>
                          <li>
                            You used a different Google account to access TEAMMATES in the past. In that case, you need to use the same Google account to access TEAMMATES again. Log out and re-log in using the other Google account. If you don't remember which Google account you used previously, email us from the same email account to which you receive TEAMMATES emails.
                          </li>
                          <li>
                            You changed the primary email from a non-Gmail address to a Gmail address recently. In that case,
                            <a tmRouterLink="/web/front/contact">
                              email us
                            </a>
                            so that we can reconfigure your account to use the new Gmail address.
                          </li>
                          <li>
                            You joined this course just a few seconds ago and your data may be still in the process of propagating through our servers. In that case, please try this same page in a few minutes.
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
          }
          @if (pageTitle && isValidUser) {
            <h1>{{ pageTitle }}</h1>
          }
          @if (isValidUser) {
            <router-outlet></router-outlet>
          }
        </div>
      </main>
      <footer class="footer">
        <div class="row text-center">
          <div class="col-sm-6 text-md-start">
            <i class="fas fa-bolt"></i>&nbsp;<a tmRouterLink="/web/front/home">TEAMMATES</a> V{{ version }}
          </div>
          <div class="col-sm-6 text-md-end">
            <i class="far fa-comments"></i>&nbsp;Send <a tmRouterLink="/web/front/contact" target="_blank">Feedback</a>
          </div>
          <div class="col-sm-12">
            Sponsored by School of Computing, National University of Singapore. <a tmRouterLink="/web/front/contact" target="_blank">Become a sponsor</a>
          </div>
        </div>
      </footer>

      <!-- Auth Provider Selection Modal -->
      <ng-template #providerModal let-modal>
        <div class="modal-header" id="provider-modal-header">
          <h4 class="modal-title">Select Login Method</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
          <p class="text-center mb-4">Choose your preferred authentication method to log in.</p>
          <div class="d-flex flex-column align-items-center gap-2">
            @if (showGoogleLogin) {
              <button class="gsi-material-button" id="provider-google-btn" (click)="loginWithGoogle()">
                <div class="gsi-material-button-state"></div>
                <div class="gsi-material-button-content-wrapper">
                  <div class="gsi-material-button-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                      <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                      <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                      <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                      <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                      <path fill="none" d="M0 0h48v48H0z"></path>
                    </svg>
                  </div>
                  <span class="gsi-material-button-contents">Sign in with Google</span>
                </div>
              </button>
            }
            @if (showMsEntraLogin) {
              <button type="button" class="ms-sign-in-button" id="provider-entra-btn"
                  (click)="loginWithMsEntra()">
                <div class="ms-sign-in-button-state"></div>
                <div class="ms-sign-in-button-content-wrapper">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21">
                    <rect x="1" y="1" width="9" height="9" fill="#F25022"/>
                    <rect x="11" y="1" width="9" height="9" fill="#7FBA00"/>
                    <rect x="1" y="11" width="9" height="9" fill="#00A4EF"/>
                    <rect x="11" y="11" width="9" height="9" fill="#FFB900"/>
                  </svg>
                  <span class="ms-sign-in-button-text">Sign in with Microsoft</span>
                </div>
              </button>
            }
            @if (showFirebaseLogin) {
              <button type="button" class="firebase-sign-in-button" id="provider-firebase-btn"
                  (click)="loginWithFirebase()">
                <div class="firebase-sign-in-button-state"></div>
                <div class="firebase-sign-in-button-content-wrapper">
                  <div class="firebase-sign-in-button-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 108 136" width="16" height="20">
                      <path d="M33.6995187,131.255869 C39.3541228,133.531378 45.4887278,134.882158 51.9300077,135.106943 C60.6474186,135.411266 68.9370478,133.608842 76.3480125,130.185205 C67.4610797,126.693786 59.4126267,121.58807 52.5436342,115.239471 C48.0910381,122.368936 41.5054121,127.99961 33.6995187,131.255869 Z" fill="#FF9100"/>
                      <path d="M52.5423892,115.241546 C36.8624755,100.739847 27.3503657,79.7505291 28.1542634,56.7290225 C28.1804076,55.9814246 28.2198313,55.2343108 28.2659639,54.4874045 C25.4577512,53.7611093 22.526011,53.3179038 19.5089218,53.2125664 C15.1902971,53.0617189 11.0080646,53.597328 7.05967687,54.7092148 C2.87398613,62.0413321 0.348074826,70.454143 0.0334045032,79.4648801 C-0.778689218,102.720716 13.2945702,123.040523 33.6982737,131.257944 C41.5041671,128.001685 48.0895856,122.377236 52.5423892,115.241546 Z" fill="#FFC400"/>
                      <path d="M52.5430117,115.240854 C56.1885286,109.406838 58.3988842,102.567171 58.6561758,95.1983963 C59.3330877,75.8143835 46.3020319,59.1396783 28.2666556,54.4866437 C28.2205229,55.23355 28.1810301,55.9806638 28.1549551,56.7282617 C27.3509882,79.7498374 36.863098,100.739156 52.5430117,115.240854 Z" fill="#FF9100"/>
                      <path d="M56.6392729,0 C46.3674614,8.22901349 38.2562764,19.0796618 33.3488552,31.5793276 C30.5392592,38.7390181 28.7736997,46.4296836 28.2582175,54.4914161 C46.293663,59.1444506 59.3247188,75.819225 58.6478069,95.2032378 C58.3904462,102.572012 56.1736582,109.404763 52.5346428,115.245696 C59.4034279,121.60052 67.4520883,126.700011 76.3390212,130.191429 C94.1765181,121.946342 106.832219,104.2036 107.565361,83.2177401 C108.039829,69.6207121 102.815842,57.5026954 95.4339268,47.273835 C87.6384081,36.4558323 56.6392729,0 56.6392729,0 Z" fill="#DD2C00"/>
                    </svg>
                  </div>
                  <span class="firebase-sign-in-button-text">Sign in with Firebase</span>
                </div>
              </button>
            }
          </div>
        </div>
      </ng-template>
