<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="javascript:;" (click)="navigateTo('/web', $event)">
    <img src="/assets/images/teammateslogo.png" alt="TEAMMATES [Logo]">
  </a>
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul class="nav navbar-nav mr-auto" *ngIf="isValidUser">
      <li *ngFor="let navItem of navItems" class="nav-item">
        <a class="nav-link" href="javascript:;" (click)="navigateTo(navItem.url, $event)">{{ navItem.display }}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav mr-auto" *ngIf="!isValidUser"></ul>
    <ul class="nav navbar-nav pull-right" *ngIf="studentLoginUrl && instructorLoginUrl">
      <li class="nav-item"><a class="nav-link" [href]="studentLoginUrl">Student Login</a></li>
      <li class="nav-item"><a class="nav-link" [href]="instructorLoginUrl">Instructor Login</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right" *ngIf="logoutUrl">
      <li class="nav-item" *ngIf="isStudent">
        <a class="nav-link" (click)="navigateTo('/web/student', $event)">Back to student page</a>
      </li>
      <li class="nav-item" *ngIf="isInstructor">
        <a class="nav-link" (click)="navigateTo('/web/instructor', $event)">Back to instructor page</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" (click)="navigateTo('/web/admin', $event)">Back to admin page</a>
      </li>
      <li class="nav-item"><a class="nav-link" [href]="logoutUrl">Log Out</a></li>
    </ul>
  </div>
</nav>
<div id="main-content" class="container main-content">
  <div *ngIf="isUnsupportedBrowser">
    You are currently using {{ browser }}. This web browser is not officially supported by TEAMMATES.
    In case this web browser does not display the webpage correctly you may wish to view it in the following supported browsers:
    <ol>
      <li>Microsoft Internet Explorer {{ minimumVersions['IE'] }}+</li>
      <li>Chrome {{ minimumVersions['Chrome'] }}+</li>
      <li>Firefox {{ minimumVersions['Firefox'] }}+</li>
      <li>Safari {{ minimumVersions['Safari'] }}+</li>
    </ol>
    <br>
  </div>
  <div *ngIf="!isValidUser">
    Invalid user!
  </div>
  <router-outlet *ngIf="isValidUser"></router-outlet>
  <footer>
    <div class="container text-nowrap">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-8 col-md-3 col-md-offset-9">
          Hosted on <a class="footer" href="https://cloud.google.com/appengine/" target="_blank" rel="noopener noreferrer">Google App Engine</a>
        </div>
      </div>
    </div>
  </footer>
</div>
