footer,
nav {
  background: #3C3C3C;
}

nav {
  height: 50px;

  img {
    height: 50px;
    margin-left: 20px;
  }
}

.main-content {
  margin-top: 50px;
  min-height: calc(100vh - 80px);
  padding: 20px 70px;
}

.footer {
  padding: 5px 70px;
  color: rgba(255, 255, 255, .5);
}

.container {
  max-width: 1350px;
}

.dropdown-item {
  color: rgba(255, 255, 255, .5);

  &:hover,
  &:focus {
    background-color: inherit;
    color: rgba(255, 255, 255, .75);
  }
}

.navbar-nav li {
  margin: auto 0;
  margin-left: 10px;
}

.navbar {
  padding: 0 80px;
  z-index: 1000;
}

.nav-link {
  cursor: pointer;
}

.pull-right {
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .navbar {
    padding: 0 30px;
  }

  .main-content {
    padding: 20px 50px;
  }

  .footer {
    padding: 5px 30px;
  }
}

@media (max-width: 991px) {
  .navbar-nav li {
    margin: auto 20px;
  }

  .pull-right {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 0;
  }

  .main-content {
    padding: 0 0;
  }

  .footer {
    padding: 5px 0;
  }
}

.navbar-toggler {
  margin-right: 20px;

  &:focus {
    outline: none;
  }
}

.navbar-collapse,
.dropdown-menu {
  background: #3C3C3C;
}

.dropdown-divider {
  border: 1px solid rgba(255, 255, 255, .3);
  margin: .5rem 15px;
}

label {
  width:50px;
  height:20px;
  position: relative;
  top:5px;
  display: block;
  background: rgba(235, 235, 235, 1);
  border-radius: 180px;
  box-shadow: inset 0px 5px 15px, rgba(0, 0, 0, 1), inset 0px -5px 15px, rgba(255, 255, 255, 1);
  cursor: pointer;
}

label:after {
  content: "";
  width:18px;
  height:18px;
  position: absolute;
  top:1px;
  left:1px;
  background: linear-gradient(180deg,rgba(255, 204, 137, 1),rgba(216, 134, 11, 1));
  border-radius: 180px;
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: rgba(36, 36, 36, 1);
}
input:checked + label:after {
  left:49px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,rgba(119, 119, 119, 1),rgba(58, 58, 58, 1));
}
label, label:after {
  transition: 0.3s
}
label:active:after{
  width: 26px;
}

label svg {
  position: absolute;
  width: 16px;
  top:40;
  z-index: 100;
}

label svg.light {
  left:1px;
  top:2px;
  fill:rgba(255,255,255,1);
  transition:0.3s;
}

label svg.dark {
  left:32px;
  top: 2px;
  fill:rgba(126,126,126,1);
  transition: 0.3s;
}

input:checked + label svg.light {
  fill: rgba(126,126,126,1);
}

input:checked + label svg.dark {
  fill:rgba(255,255,255,1);
}