<div *ngIf="!isLoading">
  <div class="card bg-light mx-auto" style="max-width: 800px;" *ngIf="!hasJoined && !userId && validUrl">
    <div class="card-header bg-warning">
      <h3 style="margin-bottom: 0;">Not logged in</h3>
    </div>
    <div class="card-body">
      You are not logged in. Please log in first.
    </div>
  </div>
  <div class="card bg-light mx-auto" style="max-width: 800px;" *ngIf="!validUrl || hasJoined">
    <div class="card-header bg-warning">
      <h3 style="margin-bottom: 0;">Invalid course join link</h3>
    </div>
    <div class="card-body" *ngIf="!validUrl">
      Please check that you copied the entire join link URL, or have it resent to you if this message persists.
    </div>
    <div class="card-body" *ngIf="hasJoined && validUrl">
      The course join link has been used and is no longer valid.
    </div>
  </div>
  <div class="card bg-light mx-auto" style="max-width: 800px;" *ngIf="!hasJoined && userId && validUrl">
    <div class="card-header bg-primary text-white">
      <h3 style="margin-bottom: 0;">Confirm your Google account</h3>
    </div>
    <div class="card-body">
      You are currently logged in as <strong id="user-id">{{ userId }}</strong>.
      <br>If this is not you, please log out and log in using your own Google account.
      <br>If this is you, please confirm below to complete your registration.<br>
      <div class="text-center" style="margin-top: 20px;">
        <button id="btn-confirm" class="btn btn-success" (click)="joinCourse()">Register for course</button>
      </div>
    </div>
  </div>
</div>
