<div class="panel-padding text-center">
  <div class="form-group row align-items-top">
    <label class="col-md-3 py-2 py-md-0 mb-0 text-md-right">Status:</label>
    <div class="col-md-9 text-md-left show-new-line">
      <div class="font-weight-bold" [ngClass]="{
        'color-submitted': accountRequest!.status === AccountRequestStatus.SUBMITTED,
        'color-approved': accountRequest!.status === AccountRequestStatus.APPROVED,
        'color-rejected': accountRequest!.status === AccountRequestStatus.REJECTED,
        'color-registered': accountRequest!.status === AccountRequestStatus.REGISTERED
      }">{{ accountRequest!.status }}</div>
    </div>
  </div>
  <div class="form-group row align-items-top">
    <label class="col-md-3 py-2 py-md-0 mb-0 text-md-right">Submitted at:</label>
    <div class="col-md-9 text-md-left show-new-line">
      <div>{{ accountRequest!.createdAt | formatDateDetail: timezone }}</div>
    </div>
  </div>
  <div class="form-group row align-items-top">
    <label class="col-md-3 py-2 py-md-0 mb-0 text-md-right">Name:</label>
    <div class="col-md-9 text-md-left">
      <div *ngIf="panelStatus !== ProcessAccountRequestPanelStatus.EDITING">{{ accountRequest!.name }}</div>
      <input *ngIf="panelStatus === ProcessAccountRequestPanelStatus.EDITING" class="form-control" [(ngModel)]="editedInstructorName">
    </div>
  </div>
  <div class="form-group row align-items-top">
    <label class="col-md-3 py-2 py-md-0 mb-0 text-md-right">Institute:</label>
    <div class="col-md-9 text-md-left">
      <div *ngIf="panelStatus !== ProcessAccountRequestPanelStatus.EDITING">{{ accountRequest!.institute }}</div>
      <input *ngIf="panelStatus === ProcessAccountRequestPanelStatus.EDITING" class="form-control" [(ngModel)]="editedInstructorInstitute">
    </div>
  </div>
  <div class="form-group row align-items-top">
    <label class="col-md-3 py-2 py-md-0 mb-0 text-md-right">Email:</label>
    <div class="col-md-9 text-md-left">
      <a *ngIf="panelStatus !== ProcessAccountRequestPanelStatus.EDITING" href="mailto:{{ accountRequest!.email }}">{{ accountRequest!.email }}</a>
      <input *ngIf="panelStatus === ProcessAccountRequestPanelStatus.EDITING" class="form-control" [(ngModel)]="editedInstructorEmail">
    </div>
  </div>
  <div class="form-group row align-items-top">
    <label class="col-md-3 py-2 py-md-0 mb-0 text-md-right">Home page URL:</label>
    <div class="col-md-9 text-md-left">
      <div>
        <a href="{{ accountRequest!.homePageUrl }}" target="_blank" rel="noopener noreferrer">{{ accountRequest!.homePageUrl }}</a>
      </div>
    </div>
  </div>
  <div class="form-group row align-items-top">
    <label class="col-md-3 py-2 py-md-0 mb-0 text-md-right">Other comments:</label>
    <div class="col-md-9 text-md-left show-new-line">
      <div>{{ accountRequest!.comments }}</div>
    </div>
  </div>
  <div *ngIf="panelStatus === ProcessAccountRequestPanelStatus.SUBMITTED" class="mx-auto">
    <button type="button" class="btn btn-secondary button-width mx-2 my-1" (click)="editAccountRequest()" [disabled]="isSavingChanges">Edit</button>
    <button type="button" class="btn btn-success button-width mx-2 my-1" (click)="approveAccountRequest()" [disabled]="isSavingChanges">Approve</button>
    <button type="button" class="btn btn-warning button-width mx-2 my-1" (click)="rejectAccountRequest()" [disabled]="isSavingChanges">Reject</button>
    <button type="button" class="btn btn-danger button-width mx-2 my-1" (click)="deleteAccountRequest()" [disabled]="isSavingChanges">Delete</button>
  </div>
  <div *ngIf="panelStatus === ProcessAccountRequestPanelStatus.EDITING" class="mx-auto">
    <button type="button" class="btn btn-primary button-width mx-2 my-1" (click)="saveAccountRequest()" [disabled]="isSavingChanges">Save</button>
    <button type="button" class="btn btn-secondary button-width mx-2 my-1" (click)="cancelEditAccountRequest()" [disabled]="isSavingChanges">Cancel</button>
  </div>
  <div *ngIf="panelStatus === ProcessAccountRequestPanelStatus.APPROVED" class="mx-auto">
    <button type="button" class="btn btn-warning button-width mx-2 my-1" (click)="rejectAccountRequest()" [disabled]="isSavingChanges">Reject</button>
    <button type="button" class="btn btn-danger button-width mx-2 my-1" (click)="deleteAccountRequest()" [disabled]="isSavingChanges">Delete</button>
  </div>
  <div *ngIf="panelStatus === ProcessAccountRequestPanelStatus.REJECTED" class="mx-auto">
    <button type="button" class="btn btn-success button-width mx-2 my-1" (click)="approveAccountRequest()" [disabled]="isSavingChanges">Approve</button>
    <button type="button" class="btn btn-danger button-width mx-2 my-1" (click)="resetAccountRequest()" [disabled]="isSavingChanges">Reset</button>
    <button type="button" class="btn btn-danger button-width mx-2 my-1" (click)="deleteAccountRequest()" [disabled]="isSavingChanges">Delete</button>
  </div>
</div>
