.panel-padding {
  padding: 16px 32px;
}

label {
  font-weight: bold;
  text-align: center;
}

.show-new-line {
  white-space: pre-line;
}

.button-width {
  width: 100px;
}

.color-submitted {
  color: #0000ff;
}

.color-approved {
  color: #00b050;
}

.color-rejected {
  color: #ff0000;
}

.color-registered {
  color: #9900ff;
}
