.background-color-light-blue {
  background-color: #EAEFF5;
}

.preview-select {
  float: left;
  width: 50%;
}

.expand-btn {
  width: 100%;
}

.margin-vertical-20px {
  margin-bottom: 20px;
  margin-top: 20px;
}
