.course-card-header {
  background-color: #005CBF;
  color: white;
}

.course-card-header-text {
  font-size: 1rem;
}

.course-card-content {
  margin-top: 5px;
}

.course-card-statistic-text {
  text-align: right;
  padding-top: 10px;
  font-size: 1.1em;
}
