.bg-light-blue {
  background-color: #CCE5FF;
}

.bg-light-grey {
  background-color: #E8E8E8;
}

.border-light-blue {
  border-color: #CCE5FF;
}

.text-dark-blue {
  color: #007BFF;
}

.fill-plain {
  background-color: #EAEFF5;
}

.checkbox-outer-div {
  margin-left: 20px;
}

.checkbox-outer-div input[type="checkbox"] {
  margin-left: -20px;
  margin-top: 5px;
  display: inline;
}

.checkbox-outer-div label {
  display: inline;
}

.card-header {
  cursor: pointer;
}

.arrow-sign {
  float: right;
  display: inline;
  text-align: right;
}

.text-color-primary {
  color: #428BCA;
}
