<div *ngIf="student">
  <h1>{{student.name}}</h1>
  <tm-student-profile [studentProfile]="studentProfile" [hideMoreInfo]="true"></tm-student-profile>
  <div class="card border-primary">
    <div class="card-body fill-plain">
      <div class="form form-horizontal">
        <div class="form-group">
          <div class="col-sm-12">
            <h4 class="font-weight-bold">Enrollment Details</h4>
          </div>
        </div>
        <div class="form-group student-info-row row">
          <div class="col-4 text-right">
            <label>Course</label>
          </div>
          <div class="col-8">
            <a routerLink="/web/instructor/courses/details" [queryParams]="{courseid: student.course}">
              <span>{{student.course}}</span>
            </a>
          </div>
        </div>
        <div class="form-group student-info-row row" *ngIf="student.section">
          <div class="col-4 text-right">
            <label>Section Name</label>
          </div>
          <div class="col-8">
            <span>{{student.section}}</span>
          </div>
        </div>
        <div class="form-group student-info-row row">
          <div class="col-4 text-right">
            <label>Team Name</label>
          </div>
          <div class="col-8">
            <span>{{student.team}}</span>
          </div>
        </div>
        <div class="form-group student-info-row row">
          <div class="col-4 text-right">
            <label>Official Email</label>
          </div>
          <div class="col-8">
            <span>{{student.email}}</span>
          </div>
        </div>
        <div class="form-group student-info-row row">
          <div class="col-4 text-right">
            <label>Comments</label>
          </div>
          <div class="col-8">
            <span>{{student.comments}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="studentProfile">
    <ng-template #notSpecified><i class="text-muted">Not Specified</i></ng-template>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{student.name}}'s Profile - More Info</h4>
        <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss()">&times;</button>
      </div>
      <div class="modal-body">
        <!-- Note: When an element has class text-preserve-space, do not insert HTML spaces -->
        <p class="text-preserve-space height-fixed-md">
          <span *ngIf="studentProfile.moreInfo; else notSpecified">{{studentProfile.moreInfo}}</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.dismiss()">Close</button>
      </div>
    </ng-template>
    <div class="row">
      <div class="col-12">
        <div class="card border-gray">
          <div class="card-body">
            <span class="text-muted float-right fas fa-expand-arrows-alt cursor-pointer"
                (click)="openModal(content)" *ngIf="studentProfile.moreInfo"></span>
            <h4 class="font-weight-bold">More Info:</h4>
            <!-- Note: When an element has class text-preserve-space, do not insert HTML spaces -->
            <p class="text-preserve-space height-fixed-md">
              <span *ngIf="studentProfile.moreInfo; else notSpecified">{{studentProfile.moreInfo}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
