/* CSS for all elements in the page */
* {
   margin: 0;
   padding: 0;
}

html, body {
   height: 100%;
}

/* Main container - Header + Main Content */
body > #mainContainer {
   height: auto;
   min-height: 100%;
}

/* Header */
#header {
   background-color: #000000;
   text-align: center;
}

#headerWrapper {
   height: 60px;
   margin: 0 auto;
   position: relative;
   text-align: center;
   top: 0;
   width: 1024px;
}

#imageHolder {
   float: left;
   padding-top: 5px;
   width: 175px;
}

#textHolder {
   float: left;
}

#loginHolder {
	float: right;
	width: 250px;
}

#loginHolder input{
	color: #00FF00;
   	font-weight: bold;
   	border-style: none;
   	background-color: black;
   	cursor: pointer;
}

#loginHolder form{
	width: 100px;
	display: inline;
	border-left: 1px dotted white;
	padding: 5px 0px;
	margin: 15px 0px;
	padding-left: 4px;
}

ul#navbar {
   color: #FFFFFF;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   line-height: 60px;
   white-space: nowrap;
   width: 100%;
}

ul#navbar li {
   float: left;
   list-style-type: none;
   padding-left: 25px;
   padding-right: 25px;
}

ul#navbar li a {
   color: #FFFFFF;
   font-weight: bold;
   text-decoration: none;
}

#current {
   color: #00FF00;
}

ul#navbar li a:link {
   color: #FFFFFF;
   text-decoration:none;
}

ul#navbar li a:visited {
   color: #FFFFFF;
}

ul#navbar li a:link:hover {
   color: #FFFFFF;
   text-decoration:underline;
}

/* Main Content */
#mainContent {
   clear: both;
   margin: 0 auto;
   overflow: auto;
   padding-bottom: 17px; /* must be same height as the footer */
   position: relative;
   top: 0;
   width: 1024px;
}

/* Caption */
#caption {
   margin: 30px auto;
   width: 800px;
   color: orange;
   font-weight: bold;
   font-size: 17px;
   font-family: Arial, Verdana, Sans-Serif;
   text-align: center;
}

#captionImage {
   float: left;
}

#captionText {
   color: #CC0000;
   float: left;
   font-family: Arial, Helvetica, sans-serif;
   font-size: x-large;
   padding-top: 17px;
}

#submissions {
	margin: 0 auto;
	width: 800px;
	color: blue;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 30px;
}

#submissionText{
	float: right;
}

/* Footer */
#footer {
   background-color: #000000;
   clear: both;
   color: #FFFFFF;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   height: 17px;
   margin: 0 auto;
   margin-top: -17px; /* negative value of footer height */
   position: relative;
   z-index: 10;
}

#footerWrapper {
   text-align: center;
   margin: 0 auto;
   position: relative;
   top: 0;
   width: 1024px;
}

#footerLeftCol {
   width: 500px;
   text-align: right;
   float: left;
}

#footerRightCol {
   float: left;
   margin-left: 70px;
   width: 450px;
}

#footer a:link {
   color: #FFFFFF;
}

#footer a:visited {
   color: #FFFFFF;
}

#footer a:link:hover {
   color: #FFFFFF;
   text-decoration: underline;
}

/* Opera Fix */
body:before {
   content: "";
   float: left;
   margin-top: -32767px; /* negate effect of float */
   height: 100%;
   width: 0;
}