<div class="modal-header bg-primary">
  <h5 class="modal-title text-white">
    <div>Edit Account Request for {{ accountRequestName }}</div>
  </h5>
  <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
</div>
<div id="reject-account-request-modal" class="modal-body">
  <div class="mb-3">
    <label class="form-label mb-1" for="request-name"><b>Name:</b></label>
    <input id="request-name" type="text" class="form-control" [value]="accountRequestName" (input)="accountRequestName = castAsInputElement($event.target).value">
  </div>
  <div class="mb-3">
    <label class="form-label mb-1" for="request-email"><b>Email:</b></label>
    <input id="request-email" type="text" class="form-control" [value]="accountRequestEmail" (input)="accountRequestEmail = castAsInputElement($event.target).value">
  </div>
  <div class="mb-3">
    <label class="form-label mb-1" for="request-institution"><b>Institution:</b></label>
    <input id="request-institution" type="text" class="form-control" [value]="accountRequestInstitution" (input)="accountRequestInstitution = castAsInputElement($event.target).value">
  </div>
  <div class="mb-3">
    <label class="form-label mb-1" for="request-country"><b>Country:</b></label>
    <input id="request-country" type="text" class="form-control" [value]="accountRequestCountry" (input)="accountRequestCountry = castAsInputElement($event.target).value">
  </div>
  <div class="mb-0">
    <label class="form-label mb-1" for="request-comments"><b>Comments:</b></label>
    <textarea id="request-comments" class="form-control" [rows]="5" [value]="accountRequestComments" (input)="accountRequestComments = castAsTextAreaElement($event.target).value"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">Cancel</button>
  <button id="btn-confirm-edit-request" type="button" class="btn btn-primary" (click)="edit()">
    Save
  </button>
</div>
