<div class="modal-header bg-primary">
    <h5 class="modal-title text-white">
      <div>Edit Account Request for {{ accountRequestName }}</div>
    </h5>
    <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
  </div>
  <div id="reject-account-request-modal" class="modal-body">
    <div>
      <label><b>Name:</b></label>
      <input id="request-name" type="text" class="form-control" value="{{ accountRequestName }}" (input)="accountRequestName = $event.target.value">
    </div>
    <div>
      <label><b>Email:</b></label>
      <input id="request-email" type="text" class="form-control" value="{{ accountRequestEmail }}" (input)="accountRequestEmail = $event.target.value">
    </div>
    <div>
      <label><b>Institution, Country:</b></label>
      <input id="request-institution" type="text" class="form-control" value="{{ accountRequestInstitution }}" (input)="accountRequestInstitution = $event.target.value">
    </div>
    <div class="row">
      <div class="col-12">
        <div>
          <label><b>Comments:</b></label>
        </div>
        <div class="form-group">
          <textarea id="request-comments" class="form-control" rows="5" value="{{ accountRequestComments }}" (input)="accountRequestComments = $event.target.value"></textarea>
        </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">Cancel</button>
    <button id="btn-confirm-edit-request" type="button" class="btn btn-primary" (click)="edit()">
        Save
    </button>
  </div>
