<div class="modal-header bg-warning">
  <h5 class="modal-title"><i class="fas fa-exclamation-circle"></i> Warning: This student's course links will be regenerated. </h5>
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div>
    Are you sure you want to regenerate the course registration and feedback session links for "{{ studentName }}" for the course "{{ regenerateLinksCourseId }}"?
    An email will be sent to the student with all the new links.
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">No, cancel the operation</button>
  <button type="button" class="btn btn-warning" (click)="activeModal.close()">Yes</button>
</div>
