.core-team-table {
  margin-bottom: 20px;
}

.core-team-photo-cell,
.core-team-details-cell {
  border: 1px solid #EEE;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;

  img {
    width: 100px;
  }
}

.core-team-details-cell {
  padding-right: 40px;
}
