:host {
  display: block;
  width: 100%;
}

.login-method-button {
  font-size: 1.05rem;
  min-height: 60px;
}

.login-method-button-icon {
  height: 1.4rem;
  width: 1.4rem;

  svg {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.login-method-button-text {
  min-width: 0;
}
