<ng-template #notSpecified><i class="text-muted">Not Specified</i></ng-template>
<ng-container *ngIf="studentProfile">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-md-2 col-4">
          <img src="{{this.photoUrl}}" class="profile-pic float-right" (error)="setDefaultPic()">
        </div>
        <div class="col-md-10 col-8">
          <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="2"><h4><span class="font-weight-bold">Profile Details </span>(submitted by student)</h4></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="font-weight-bold">Short Name (Gender)</td>
                <td id="name-with-gender"><span *ngIf="studentProfile?.shortName; else notSpecified">{{studentProfile?.shortName}}</span>
                  (<i *ngIf="studentProfile?.gender != Gender.OTHER; else notSpecified">{{studentProfile?.gender}}</i>)
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold">Personal Email</td>
                <td id="personal-email"><span *ngIf="studentProfile?.email; else notSpecified">{{studentProfile?.email}}</span>
              </tr>
              <tr>
                <td class="font-weight-bold">Institution</td>
                <td id="institution"><span *ngIf="studentProfile?.institute; else notSpecified">{{studentProfile?.institute}}</span>
              </tr>
              <tr>
                <td class="font-weight-bold">Nationality</td>
                <td id="nationality"><span *ngIf="studentProfile?.nationality; else notSpecified">{{studentProfile?.nationality}}</span>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 </ng-container>
