@if (model.isEditing || mode === CommentRowMode.ADD) {
  <tm-comment-edit-form
    [mode]="mode"
    [model]="model.commentEditFormModel"
    (modelChange)="triggerModelChange('commentEditFormModel', $event)"
    [isVisibilityOptionEnabled]="isVisibilityOptionEnabled"
    [isDisabled]="isDisabled"
    [shouldHideSavingButton]="shouldHideSavingButton"
    [questionShowResponsesTo]="questionShowResponsesTo"
    [response]="response"
    [isFeedbackParticipantComment]="isFeedbackParticipantComment"
    [shouldHideClosingButton]="shouldHideClosingButton"
    (closeCommentBoxEvent)="triggerCloseEditing()"
    (saveCommentEvent)="triggerSaveCommentEvent()"
  ></tm-comment-edit-form>
}

@if (!model.isEditing && mode === CommentRowMode.EDIT && savedCommentModel; as savedComment) {
  <div class="card">
    <div class="card-body">
      <div class="row comment-row">
        <div class="col-12">
          @if (isFeedbackParticipantComment) {
            <span class="by-response-giver text-secondary"> Comment by response giver. </span>
          }
          @if (!isFeedbackParticipantComment && instructorCommentModel; as instructorComment) {
            <ng-container class="text-secondary">
              <span class="comment-giver-name">{{ instructorComment.commentGiverName }} commented at </span>
              <span
                class="ngb-tooltip-class"
                style="margin-right: 0.25rem"
                [ngbTooltip]="instructorComment.createdAt | formatDateDetail: instructorComment.timezone"
              >
                {{ instructorComment.createdAt | formatDateBrief: instructorComment.timezone }}</span
              >
              @if (instructorComment.lastEditedAt && instructorComment.lastEditedAt !== instructorComment.createdAt) {
                <i class="fas fa-circle dot-xs align-middle" style="margin-right: 0.25rem"></i>
                <span
                  id="last-editor-name"
                  style="margin-right: 0.25rem"
                  class="ngb-tooltip-class"
                  [ngbTooltip]="instructorComment.lastEditedAt | formatDateDetail: instructorComment.timezone"
                  >edited by {{ instructorComment.lastEditorName }}</span
                >
              }
            </ng-container>
          }
          <i
            class="fa fa-eye"
            aria-hidden="true"
            ngbTooltip="This response comment is visible to {{
              visibilityStateMachine.getVisibilityTypesUnderVisibilityControl(CommentVisibilityControl.SHOW_COMMENT)
                | commentVisibilityTypesJointName
            }}"
          ></i>
          <div class="float-end">
            @if (!shouldHideEditButton) {
              <button
                type="button"
                class="btn-edit-comment btn btn-outline-primary btn-sm"
                ngbTooltip="Edit this comment"
                (click)="triggerModelChange('isEditing', true)"
                [disabled]="isDisabled"
                aria-label="Edit comment"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>
            }
            @if (!shouldHideDeleteButton) {
              <button
                type="button"
                class="btn-delete-comment btn btn-outline-primary btn-sm btn-margin-left"
                ngbTooltip="Delete this comment"
                (click)="triggerDeleteCommentEvent()"
                [disabled]="isDisabled"
                aria-label="Delete comment"
              >
                <i class="fas fa-trash"></i>
              </button>
            }
          </div>
        </div>
        <div
          class="comment-text col-12"
          [innerHTML]="savedComment.originalCommentFormModel.commentText | safeHtml"
        ></div>
      </div>
    </div>
  </div>
}
