<div class="banner" [ngClass]="notifications[0].style | notificationStyleClass" *ngIf="isShown && notifications.length > 0" @collapseAnim>
  <button id="btn-close-notif" type="button" class="close" aria-label="Close" (click)="closeNotification()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h5>{{ notifications[0].title }}</h5>
  <div class="banner-text" [innerHTML]="notifications[0].message"></div>
  <div class="d-flex flex-row-reverse mt-3">
    <button id="btn-mark-as-read" type="button" [ngClass]="getButtonClass(notifications[0])" (click)="markNotificationAsRead(notifications[0])">
      Mark as Read
    </button>
  </div>
</div>
