.banner {
  position: fixed;
  top: 50px;
  width: 100%;
  padding: 20px 100px;
  z-index: 900;
  word-break: break-word;
}

.banner-text {
  max-height: 100px;
  overflow: scroll;
}

@media (max-width: 1024px) {
  .banner {
    padding: 20px 50px;
  }
}

@media (max-width: 768px) {
  .banner {
    padding: 20px;
  }
}
