<div *tmIsLoading="isLoadingLoginMethods">
  <div class="container py-5">
    <div class="card mx-auto shadow-sm rounded-4">
      <div class="card-body p-5">
        <div class="d-flex flex-column align-items-center gap-3">
          <h1 class="h2 fw-bold mb-3">Sign In</h1>
          @if (isSupported(LoginMethod.GOOGLE)) {
            <tm-google-login-button [backendLoginUrl]="backendLoginUrl"></tm-google-login-button>
          }

          @if (isSupported(LoginMethod.DEV_SERVER)) {
            <tm-dev-server-login-button [backendLoginUrl]="backendLoginUrl"></tm-dev-server-login-button>
          }
        </div>
      </div>
    </div>
  </div>
</div>
