.instr-help-qn-first {
  padding-top: 5px;
}

.instr-help-qn-last {
  padding-bottom: 5px;
}

button {
  text-align: left;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.color-positive {
  color: #108627;
}

.color-negative {
  color: #E74C3C;
}

.color-neutral {
  color: gray;
}
