.instr-help-qn-first {
  padding-top: 5px;
}

.instr-help-qn-last {
  padding-bottom: 5px;
}

button {
  text-align: left;
}

.modal-button {
  color: #007BFF;
  text-decoration: none;
}

.modal-button:hover {
  text-decoration: underline;
  color: #0056B3;
}
