<ng-template #notSpecified><i class="text-muted">Not Specified</i></ng-template>
<div class="row">
  <div class="col-12">
    <div class="card border-gray">
      <div class="card-body">
        <span class="text-muted float-right fas fa-expand-arrows-alt cursor-pointer"
            (click)="openMoreInfoModal()" *ngIf="moreInfoText"></span>
        <h4 class="font-weight-bold">More Info:</h4>
        <!-- Note: When an element has class text-preserve-space, do not insert HTML spaces -->
        <p id="more-info" class="text-preserve-space height-fixed-md">
          <span *ngIf="moreInfoText; else notSpecified">{{moreInfoText}}</span>
        </p>
      </div>
    </div>
  </div>
</div>
