<div class="card bg-light top-padded mb-4">
  <div class="card-body d-flex justify-content-between align-items-center">
    <div>
      <button
        class="btn btn-primary"
        id="btn-add-instructor"
        (click)="openAddInstructorModal()"
      >
        <i class="fa-solid fa-plus"></i> Add Instructor
      </button>
    </div>
    
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        id="toggle-show-all-requests"
        [(ngModel)]="showAllRequests"
        (change)="fetchAccountRequests()"
      />
      <label class="form-check-label" for="toggle-show-all-requests">
        Show all requests
      </label>
    </div>
  </div>
</div>

<tm-account-request-table [accountRequests]="accountReqs"></tm-account-request-table>
