<div class="card bg-light top-padded">
  <div class="card-body">
    <div>
      <strong>Adding Multiple Instructors</strong>
      <p class="text-muted">
        <i class="fas fa-exclamation-circle"></i> Add Instructor Details in the format: Name | Email | Institution
      </p>
      <textarea class="form-control" id="instructor-details-single-line" [(ngModel)]="instructorDetails" aria-label="Add multiple instructors"></textarea>
    </div>

    <div class="top-padded">
      <button class="btn btn-primary" id="add-instructor-single-line" (click)="validateAndAddInstructorDetails()">Add Instructors</button>
    </div>
  </div>
</div>

<div class="card bg-light top-padded">
  <div class="card-body">
    <div>
      <strong>Adding a Single Instructor</strong>
    </div>

    <div class="top-padded">
      <label for="instructor-name">
        <strong>Name:</strong>
      </label>
      <input class="form-control" type="text" id="instructor-name" [(ngModel)]="instructorName">
    </div>

    <div class="top-padded">
      <label for="instructor-email">
        <strong>Email:</strong>
      </label>
      <input class="form-control" type="text" id="instructor-email" [(ngModel)]="instructorEmail">
    </div>

    <div class="top-padded">
      <label for="instructor-institution">
        <strong>Institution:</strong>
      </label>
      <input class="form-control" type="text" id="instructor-institution" [(ngModel)]="instructorInstitution">
    </div>

    <div class="top-padded">
      <button class="btn btn-primary" id="add-instructor" (click)="validateAndAddInstructorDetail()">Add Instructor</button>
    </div>
  </div>
</div>

<tm-account-request-table *ngIf="accountReqs.length" [accountRequests]="accountReqs" [searchString]=""></tm-account-request-table>
