.editor {
  background-color: #FFF;
}

.editor-disabled {
  background-color: #E9ECEF;
  opacity: 1;

  ::ng-deep .tox-tinymce {
    opacity: .5;
  }
}

.placeholder {
  padding: .375rem .75rem;
  position: absolute;
}
