.editor {
  background-color: #fff;
}

.editor-disabled {
  background-color: #e9ecef;
  opacity: 1;

  ::ng-deep .tox-tinymce {
    opacity: 0.5;
  }
}

.placeholder {
  padding: 0.375rem 0.75rem;
  position: absolute;
}
