<div inViewport (inViewportAction)="renderEditor($event)">
  @if (render) {
    <editor class="editor" [ngClass]="{ 'editor-disabled': isDisabled }"
      [init]="init" [disabled]="isDisabled"
      [ngModel]="richText" (ngModelChange)="richTextChange.emit($event)" [attr.placeholder]="placeholderText">
    </editor>
  }
  @if (hasCharacterLimit) {
    <div>
      {{ RICH_TEXT_EDITOR_MAX_CHARACTER_LENGTH > characterCount ? RICH_TEXT_EDITOR_MAX_CHARACTER_LENGTH - characterCount : 0}} characters left
    </div>
  }
</div>
