<a id="btn-enroll" class="btn btn-light btn-sm custom-button-active" *ngIf="course.canModifyStudent"
ngbTooltip="Enroll student into the course" tmRouterLink="/web/instructor/courses/enroll"
[queryParams]="{courseid: course.course.courseId}">
Enroll
</a>
<button id="btn-enroll-disabled" class="btn btn-light btn-sm disabled"
*ngIf="!course.canModifyStudent">
Enroll
</button>
<div ngbDropdown class="d-inline-block">
  <button id="btn-other-actions" class="btn btn-light btn-sm custom-button-active" ngbDropdownToggle>Other
  Actions</button>
  <div ngbDropdownMenu>
    <a class="btn btn-primary btn-sm dropdown-item clickable"
    tmRouterLink="/web/instructor/courses/details" [queryParams]="{courseid: course.course.courseId}">
    View
    </a>
    <a class="btn btn-primary btn-sm dropdown-item clickable"
    tmRouterLink="/web/instructor/courses/edit" [queryParams]="{courseid: course.course.courseId}">
    Edit
    </a>
    <button id="btn-copy" class="btn btn-primary btn-sm dropdown-item clickable"
    *ngIf="course.canModifyCourse"
    (click)="onCopy(course.course.courseId, course.course.courseName, course.course.timeZone)"
    ngbTooltip="Copy the course and its corresponding sessions" placement="left" container="body"
    [disabled]="isCopyingCourse">
    Copy
    </button>
  <button id="btn-archive" class="btn btn-primary btn-sm dropdown-item clickable"
    (click)="changeArchiveStatus(course.course.courseId, true)"
    ngbTooltip="Archive the course so that it will not be shown in the home page any more (you can still access it from the 'Courses' tab)"
    placement="left" container="body">
    Archive
  </button>
  
  <button id="btn-soft-delete" class="btn btn-primary btn-sm dropdown-item clickable"
    *ngIf="course.canModifyCourse" (click)="onDelete(course.course.courseId)"
    ngbTooltip="Delete the course and its corresponding students and sessions" placement="left"
    container="body">
    Delete
  </button>
  <button id="btn-soft-delete-disabled" class="btn btn-primary btn-sm dropdown-item disabled"
    *ngIf="!course.canModifyCourse">
    Delete
  </button>
</div>
</div>
