.profile-pic-edit {
  display: table;
  max-height: 450px;
  width: 100%;
}

.profile-pic-edit-col {
  display: flex;
  align-items: center;
}

.align-center {
  text-align: center;
}

.profile-pic-file-selector {
  overflow: hidden;
  position: relative;
}

.profile-pic-file-selector > #studentPhoto {
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.filename-preview {
  background-color: white;
  border: 0;
  text-align: center;
  text-overflow: ellipsis;
}

.modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.profile-pic-edit-container {
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 75%;
}

#profileUploadPictureSubmit {
  width: 100%;
}

.modal-footer {
  margin-top: 0;
  padding: 14px 15px 15px;
}

.border-left-gray {
  border-left: 1px solid #DDD;
}

.profile-pic-edit-toolbar {
  margin: 10px;
}

.btn-space {
  margin-right: 5px;
}

.image-cropper {
  display: flex;
  justify-content: center;
  width: 100%;
}
