<div class="modal-header">
  <h4 class="modal-title">
    Upload/Edit Photo
  </h4>
  <button (click)="activeModal.dismiss()" type="button" class="close" data-dismiss="modal" aria-hidden="true">
    ×
  </button>
</div>

<div class="modal-body align-center">
  <div class="row">
    <div class="col sm-5">
      <p>If you have no profile picture, upload one from your computer. Once a picture is uploaded,
        you will be able to edit it using the buttons below. Cropping is available by adjusting the box
        size.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <input class="row col student-photo" type="file" (change)="fileChangeEvent($event)"/>
      <small>Max Size: 5MB</small>
    </div>

    <div class="col-md-8 pl-md-5">
      <button class="btn btn-primary btn-space" (click)="flipHorizontal()" ngbTooltip="Flip Horizontally">
        <i class="fas fa-angle-double-left"></i>
      </button>

      <button class="btn btn-primary btn-space" (click)="flipVertical()" ngbTooltip="Flip Vertically">
        <i class="fas fa-angle-double-up"></i>
      </button>

      <button class="btn btn-primary btn-space" (click)="rotateLeft()" ngbTooltip="Rotate Anti-clockwise">
        <i class="fas fa-redo-alt fa-flip-horizontal"></i>
      </button>

      <button class="btn btn-primary btn-space" (click)="rotateRight()" ngbTooltip="Rotate Clockwise">
        <i class="fas fa-redo-alt"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="false"
      (imageCropped)="imageCropped($event)"
    ></image-cropper>
  </div>
</div>
<div class="modal-footer">
  <div>
    <button class="btn btn-success btn-lg profile-upload-picture-submit" (click)="uploadPicture()">Upload Image</button>
  </div>
</div>
