.bg-form {
  background-color: #EAEFF5;
}

.no-border {
  border: 0;
}

.center {
  text-align: center;
}

.no-data-message {
  padding: 10px;
  text-align: center;
}

.inline {
  width: 200px;
  display: inline;
}

.overflow-x-scroll {
  overflow-x: scroll;
}
