<h1 class="page-title" *ngIf="course"> {{course.courseName}}</h1>

<div class="section" *ngIf="course">
  <div class="col-sm-12">
    <h4 class="font-weight-bold">Course</h4>
  </div>
  <div class="card border-primary">
    <div class="card-body fill-plain">
      <div class="form form-horizontal">
        <div class="form-group row">
          <div class="col-4 text-right">
            <label>Name</label>
          </div>
          <div class="col-8">
            <span>{{course.courseName}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4 text-right">
            <label>ID</label>
          </div>
          <div class="col-8">
            <span>{{course.courseId}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4 text-right">
            <label>Timezone</label>
          </div>
          <div class="col-8">
            <span>{{course.timeZone}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4 text-right">
            <label>Created at</label>
          </div>
          <div class="col-8">
            <span>{{course.creationTimestamp | formatDateDetail: course.timeZone}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" *ngIf="instructorDetails && instructorDetails.length">
  <div class="col-sm-12">
    <h4 class="font-weight-bold">Instructors</h4>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead>
            <tr>
              <th class="font-weight-bold">Name</th>
              <th class="font-weight-bold">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instructorDetail of instructorDetails">
              <td>{{instructorDetail.name}}</td>
              <td>
                <a href="mailto:{{instructorDetail.email}}">{{instructorDetail.email}}</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" *ngIf="student">
  <div class="col-sm-12">
    <h4 class="font-weight-bold">Self</h4>
  </div>
  <div class="card border-primary">
    <div class="card-body fill-plain">
      <div class="form form-horizontal">
        <div class="form-group row">
          <div class="col-4 text-right">
            <label>Name</label>
          </div>
          <div class="col-8">
            <span>{{student.name}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4 text-right">
            <label>Section</label>
          </div>
          <div class="col-8">
            <span>{{student.sectionName}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4 text-right">
            <label>Team</label>
          </div>
          <div class="col-8">
            <span>{{student.teamName}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4 text-right">
            <label>Email</label>
          </div>
          <div class="col-8">
            <span>{{student.email}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card bg-light mb-4">
  <div class="card-body">
    <div class = "searchBar">
    <h5 class="d-inline"><strong> Search: </strong></h5>
      <input type="text" id="inputValue" 
      placeholder="e.g. Tom Davis, tom@gmail.com" size="50" />
      <button class="btn btn-light" (click)="searchTeammates()">Search</button>
    </div>
    <div class = "sortby">
      <h5 class="d-inline"><strong> Sort By: </strong></h5>
      <div class="btn-group" data-toggle="buttons">
        <button class="btn btn-light" [disabled]="isSelectedForSorting(SortBy.STUDENT_NAME)" (click)="sortTeammatesBy(SortBy.STUDENT_NAME)">Name</button>
        <button class="btn btn-light" [disabled]="isSelectedForSorting(SortBy.EMAIL)" (click)="sortTeammatesBy(SortBy.EMAIL)">Email</button>
        <button class="btn btn-light" [disabled]="isSelectedForSorting(SortBy.STUDENT_GENDER)" (click)="sortTeammatesBy(SortBy.STUDENT_GENDER)">Gender</button>
        <button class="btn btn-light" [disabled]="isSelectedForSorting(SortBy.INSTITUTION)" (click)="sortTeammatesBy(SortBy.INSTITUTION)">Institution</button>
        <button class="btn btn-light" [disabled]="isSelectedForSorting(SortBy.NATIONALITY)" (click)="sortTeammatesBy(SortBy.NATIONALITY)">Nationality</button>
    </div>
  </div>
  </div>
</div>

<div class="section" *ngIf="teammateProfiles.length">
  <div class="col-sm-12">
    <h4 class="font-weight-bold">Team Profiles</h4>
  </div>
  <div class="row" *ngFor="let teammateProfile of teammateProfiles">
    <div class="col-12">
      <div class="row">
        <div class="col-md-2 col-3">
          <img src="{{teammateProfile.photoUrl}}"
               class="profile-pic float-left" (error)="setDefaultPic(teammateProfile)">
        </div>
        <div class="col-md-10 col-9">
          <table class="table table-striped">
            <tbody>
            <tr>
              <td class="font-weight-bold">Name</td>
              <td>
                <span>
                  {{teammateProfile.studentProfile.shortName}}
                </span>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">Email</td>
              <td>
                <a href="mailto:{{teammateProfile.studentProfile.email}}">{{teammateProfile.studentProfile.email}}</a>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">Gender</td>
              <td>
                <span>{{teammateProfile.studentProfile.gender}}</span>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">Institution</td>
              <td>
                <span>{{teammateProfile.studentProfile.institute}}</span>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">Nationality</td>
              <td>
                <span>{{teammateProfile.studentProfile.nationality}}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
