.page-title {
  margin-bottom: 30px;
}

.section {
  margin-bottom: 40px;
}

.profile-pic {
  height: 35%;
}

.form-group.row {
  border-bottom: 1px solid #CCC;
}

.fill-plain {
  background-color: #EAEFF5;
}

label {
  font-weight: bold;
}
