.page-title {
  margin-bottom: 30px;
}

.section {
  margin-bottom: 40px;
}

.fill-plain {
  background-color: #EAEFF5;
}

label {
  font-weight: bold;
}

.top-padded {
  margin-top: 20px;
}

.team-member-profile-cell {
  padding-bottom: 15px;
  padding-left: 30px;
  vertical-align: middle;

  label {
    margin-bottom: 2px;
  }
}
