.top-padded {
  margin-top: 20px;
}

.bottom-padded {
  margin-bottom: 20px;
}

.color-neutral {
  color: gray;
}

.comment-button {
  float: right;
  height: max-content;
}

.border-bottom {
  border-bottom: 1px solid #DDD;
}

.alert-primary-border {
  border-color: #B8DAFF;
}
