.bg-light-blue {
  background-color: #007BFF33 !important;
}

.border-light-blue {
  border-color: #007BFF33 !important;
}

.text-dark-blue {
  color: var(--blue) !important;
}

.card-body {
  padding: .75rem 1.25rem;
}
