#note \: to escape the ':'

#This is the app we are testing against
test.app.url=http\://localhost\:8888/


#This is the URL we expect in emails sent by the app
#Could be different from the above URL.
#It will not be used during dev server testing 
test.app.urlInEmails=http\://teammatesv4.appspot.com/

#this should match app.backdoor.key in build.properties
test.backdoor.key={put your key here}

# Please use the following: firefox, chrome,iexplore, opera, htmlunit, safariproxy
test.selenium.browser=firefox
test.selenium.port=4444
test.selenium.host=localhost


##########################################
# Accounts and password used for testing #
##########################################

#common password used by alice.tmms benny.tmms charlie.tmms danny.tmms emily.tmms
test.common.password=

test.admin.account=example@gmail.com
test.admin.password=mypassword

test.coord.account=
test.coord.password=

test.student.account=
test.student.password=

test.unreg.account=
test.unreg.password=
