.instr-help-qn-first {
  padding-top: 5px;
}

.instr-help-qn-last {
  padding-bottom: 5px;
}
<<<<<<< HEAD
@media (max-width:700px){
  button{
    text-align:left;
  }
}
=======

button {
  text-align: left;
}
>>>>>>> upstream/master
