.recycle-bin-body {
  padding: 0;
}

.recycle-bin-table {
  margin-bottom: 0;
}

.recycle-bin-header {
  background-color: #9E9E9E;
  cursor: pointer;
}

.recycle-bin-table-header {
  background-color: #E5E5E6;
  color: gray;
  font-weight: normal;
}

.bin-header-button button {
  margin-right: .6em;
}

.sortable-header {
  cursor: pointer;
}

.actions-cell button {
  margin: 2px;
}
