.recycle-bin-body {
  padding: 0;
}

.recycle-bin-table {
  margin-bottom: 0;
  min-width: 700px;
}

.recycle-bin-table-header {
  background-color: #E5E5E6;
  color: gray;
  font-weight: normal;
}

.sortable-header {
  cursor: pointer;

  i {
    margin-left: .3em;
  }

  .fa-stack {
    width: 20%;
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    text-align: left;
    width: 100%;
    font: inherit;
    cursor: inherit;
  }
}

.actions-cell button {
  margin-right: var(--btn-margin);
}

.padding-left-7px {
  padding-left: 7px;
}
