<div *tmIsLoading="isLoadingAccountInfo">
  @if (accountInfo.accountId) {
    <div class="card bg-light">
      <div class="card-body p-4">
        <div class="row">
          <strong class="col-sm-2">Email:</strong>
          <div id="account-email" class="col-sm-10">{{ accountInfo.email }}</div>
        </div>
        <div class="mt-3 d-flex justify-content-center gap-2">
          <button id="btn-delete-account" class="btn btn-sm btn-danger" (click)="deleteAccount()">
            <i class="fas fa-trash-alt"></i> Delete Account
          </button>
          <button id="btn-masquerade-account" class="btn btn-sm btn-primary" (click)="masqueradeAsUser()">
            <i class="fas fa-user-secret"></i> Masquerade as User
          </button>
        </div>
      </div>
    </div>
  }
</div>

<h2 class="my-3">Instructor For {{ accountInfo.instructors.length }} Courses</h2>

<div *tmIsLoading="isLoadingAccountInfo">
  @if (accountInfo.instructors.length) {
    <div class="card bg-light">
      <table id="instructor-table" class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
            <th>Institute</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          @for (instructor of accountInfo.instructors; track instructor.userId) {
            <tr>
              <td class="text-break">{{ instructor.name }}</td>
              <td class="text-break">{{ instructor.email }}</td>
              <td class="text-break">[{{ instructor.courseId }}] {{ instructor.courseName }}</td>
              <td class="text-break">{{ instructor.institute }}</td>
              <td>
                <button class="btn btn-sm btn-warning me-2" (click)="unlinkInstructorAccount(instructor)">
                  <i class="fas fa-unlink"></i> Unlink Account
                </button>
                <button class="btn btn-sm btn-danger" (click)="removeInstructorFromCourse(instructor)">
                  <i class="fas fa-trash-alt"></i> Remove From Course
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @if (!accountInfo.instructors.length) {
    <div class="alert alert-warning">
      <i class="fas fa-exclamation-circle"></i> No instructor courses found for this account.
    </div>
  }
</div>

<h2 class="my-3">Student For {{ accountInfo.students.length }} Courses</h2>
<div *tmIsLoading="isLoadingAccountInfo">
  @if (accountInfo.students.length) {
    <div class="card bg-light">
      <table id="student-table" class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
            <th>Institute</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          @for (student of accountInfo.students; track student.userId) {
            <tr>
              <td class="text-break">{{ student.name }}</td>
              <td class="text-break">{{ student.email }}</td>
              <td class="text-break">[{{ student.courseId }}] {{ student.courseName }}</td>
              <td class="text-break">{{ student.institute }}</td>
              <td>
                <button class="btn btn-sm btn-warning me-2" (click)="unlinkStudentAccount(student)">
                  <i class="fas fa-unlink"></i> Unlink Account
                </button>
                <button class="btn btn-sm btn-danger" (click)="removeStudentFromCourse(student)">
                  <i class="fas fa-trash-alt"></i> Remove From Course
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (!accountInfo.students.length) {
    <div class="alert alert-warning">
      <i class="fas fa-exclamation-circle"></i> No student courses found for this account.
    </div>
  }
</div>
