.no-log-message {
  padding: 10px;
  text-align: center;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.right-padding {
  padding-right: 1.25em;
}

.logs-table {
  table-layout: fixed;
  width: 100%;
  word-break: break-all;
}

.width-10 {
  width: 10%;
}

.width-20 {
  width: 20%;
}

.width-70 {
  width: 70%;
}

.blue-font {
  color: blue;
}

.green-font {
  color: green;
}

.red-font {
  color: red;
}

.orange-font {
  color: darkorange;
}

.title {
  color: steelblue;
  font-weight: bold;
}

.info-row {
  background-color: lightcyan;
}

.warning-row {
  background-color: lightyellow;
}

.error-row {
  background-color: lightpink;
}

.clickable:hover, .clickable:active {
  background-color: lightblue;
}
