<div class="card border-primary fill-plain">
  <div class="close-header">
    <button type="button" class="close" aria-label="Close" (click)="closeEditFormHandler()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body text-center">
    <div class="form-group row">
      <label class="col-md-3 text-md-right col-form-label">Course ID:</label>
      <div class="col-md-6 text-md-left">
        <input id="new-course-id" class="form-control" type="text" [(ngModel)]="newCourseId"
            [maxlength]="40" [disabled]="isAddingCourse" placeholder="e.g. CS3215-2013Semester1"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 text-md-right col-form-label">Course Name:</label>
      <div class="col-md-6 text-md-left">
        <input id="new-course-name" class="form-control" type="text" [(ngModel)]="newCourseName"
            [maxlength]="64" [disabled]="isAddingCourse" placeholder="e.g. Software Engineering"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 text-md-right col-form-label ngb-tooltip-class"><span ngbTooltip="You should not
                need to change this as it is auto-detected based on your device settings. TEAMMATES automatically adjusts
                to match the current time offset in your area, including clock changes due to daylight saving time.">
        Time Zone:</span></label>
      <div class="col-md-6 text-md-left">
        <div class="input-group">
          <select id="new-time-zone" class="form-control" [(ngModel)]="timezone" [disabled]="isAddingCourse">
            <option *ngFor="let timezone of timezones" [value]="timezone.id">{{ timezone.id }} ({{ timezone.offset }})</option>
          </select>
          <span class="input-group-btn" style="margin-left: 5px;">
            <button class="btn btn-primary btn-margin-left" (click)="onAutoDetectTimezone()" [disabled]="isAddingCourse">Auto Detect</button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-9 offset-md-3 text-md-left">
        <button id="btn-save-course" class="btn btn-success" (click)="onSubmit()" [disabled]="isAddingCourse">
          <tm-ajax-loading *ngIf="isAddingCourse"></tm-ajax-loading>
          Add Course
        </button>
      </div>
    </div>
  </div>
</div>
