.card {
  background-color: #EAEFF5;
  padding: 16px 32px;
}

.field-title {
  margin-bottom: 8px;
}

label {
  font-weight: bold;
  font-size: 12pt;
  margin-bottom: 0;
}

.required::after {
  content: " *";
  color: #D93025;
}

.hint {
  font-size: 11pt;
  margin-top: 4px;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 30px;
}

.radio-div {
  padding: 6px 0;
}

.radio-input {
  vertical-align: middle;
  height: 16px;
  width: 16px;
}

.radio-label {
  margin-left: 12px;
  font-weight: normal;
  font-size: 12pt;
}

.invalid-field {
  padding-top: 8px;
  color: #D93025;
}
