<h1 class="color-orange">
  Request for an Instructor Account
</h1>
<p>
  Request for an instructor account using this form if you are an instructor and want to use TEAMMATES to manage peer evaluations and/or other feedback paths of your students.
</p>
<hr>
<div *ngIf="!isDeclarationDone">
  <p>
    Note: <b>Students should not use this form to request for TEAMMATES accounts</b>, as students do not need accounts to use TEAMMATES. Instead, TEAMMATES will email students (who have been added to TEAMMATES by a course instructor) an access link when there is a TEAMMATES session available for them to access.
  </p>
  <a type="button" class="btn btn-secondary" tmRouterLink="/web/front/home">Back to home page</a>
  <button type="button" class="btn btn-primary ms-3" (click)="onDeclarationButtonClicked()">I am an instructor</button>
</div>
<tm-instructor-request-form *ngIf="isDeclarationDone"></tm-instructor-request-form>
<hr>
