.background-color-light-blue {
  background-color: #eaeff5;
}

.preview-select {
  float: left;
  width: 50%;
}

// small
@media screen and (max-width: 576px) {
  .preview-select {
    width: 100%;
  }
}
