.background-color-light-blue {
  background-color: '#EAEFF5';
}

.preview-select {
  float: left;
  width: 50%;
}

.preview-example-select {
  float: left;
  width: 50%;
}

@media screen and (width <= 1100px) {
  .preview-example-select {
    width: 45%;
  }
}

@media screen and (width <= 576px) {
  .preview-select,
  .preview-example-select {
    width: 100%;
  }
}

.w-max-content {
  min-width: max-content;
}
