img {
  margin: 15px 0;
  max-width: 80%;
}

.inner-content {
  margin: 0 20px;
}

@media (max-width: 991px) {
  img {
    margin: 0;
    max-width: 100%;
  }

  .inner-content {
    margin: 0;
  }
}
