<div class="lead">
  <h1 class="color-orange">
    Features
  </h1>
  <p class="h6"> Here is an overview of some notable TEAMMATES features.
    The <a tmRouterLink="/web/front/help/instructor">help page</a> contains more details about how to use these features.
  </p>
</div>

<section class="row">
  <div class="col-xs-12 col-sm-8 offset-sm-1">
    <div class="inner-content">
      <h2 class="color-orange col-xs-12">Team peer evaluations</h2>
      <img src="assets/images/feature-teampeerevaluations.png" alt="Team peer evaluations">
      <div class="col-xs-9 col-sm-9">
        <div>
          Have a team project in your course? Set up a 'team peer evaluation session' for students to give anonymous peer feedback to team members.
          <br><br>
          Students can provide confidential peer evaluations to you too.
        </div>
      </div>
    </div>
    <img src="assets/images/raised-edge.png" aria-hidden="true">
  </div>
</section>

<section class="row">
  <div class="col-xs-12 col-sm-8 offset-sm-1">
    <div class="inner-content">
      <h2 class="color-orange col-xs-12">Flexible feedback paths</h2>
      <img src="assets/images/feature-flexiblefeedbackpaths.png" alt="Flexible feedback paths">
      <div class="col-xs-9 col-sm-9">
        <div>
          There are many other feedback paths available. Some examples:<br>
          a) feedback between teams<br>
          b) from instructors to students<br>
          c) from each student to three other students
        </div>
      </div>
    </div>
    <img src="assets/images/raised-edge.png" aria-hidden="true">
  </div>
</section>

<section class="row">
  <div class="col-xs-12 col-sm-8 offset-sm-1">
    <div class="inner-content">
      <h2 class="color-orange col-xs-12">Powerful visibility control</h2>
      <img src="assets/images/feature-powerfullvisibilitycontrol.png" alt="Powerful visibility control">
      <div class="col-xs-9 col-sm-9">
        <div>
          If you plan to publish the responses collected, you can set the visibility level for each question i.e. who can see the<br>
          (i) response text,<br>
          (ii) the identity of the feedback giver, and<br>
          (iii) the identity of the feedback receiver.
        </div>
      </div>
    </div>
    <img src="assets/images/raised-edge.png" aria-hidden="true">
  </div>
</section>

<section class="row">
  <div class="col-xs-12 col-sm-8 offset-sm-1">
    <div class="inner-content">
      <h2 class="color-orange col-xs-12">Reports and statistics</h2>
      <img src="assets/images/feature-reportsandstatistics.png" alt="Reports and statistics">
      <div class="col-xs-9 col-sm-9">
        <div>
          There are many report formats for viewing responses collected, e.g. Group by team, then by feedback giver.
          <br><br>
          Some statistics for the responses are available too.
        </div>
      </div>
    </div>
    <img src="assets/images/raised-edge.png" aria-hidden="true">
  </div>
</section>

<section class="row">
  <div class="col-xs-12 col-sm-8 offset-sm-1">
    <div class="inner-content">
      <h2 class="color-orange col-xs-12">Fine-grain access control</h2>
      <img src="assets/images/feature-finegrainaccesscontrol.png" alt="Fine-grain access control">
      <div class="col-xs-9 col-sm-9">
        <div>
          You can add more instructors (e.g. co-lecturers, visitors, tutors, etc.) to your courses and give them different access levels.
          <br><br>
          If required, you can even set which sessions of which section of students are accessible to a particular instructor.
        </div>
      </div>
    </div>
    <img src="assets/images/raised-edge.png" aria-hidden="true">
  </div>
</section>

<section class="row">
  <div class="col-xs-12 col-sm-8 offset-sm-1">
    <div class="inner-content">
      <h2 class="color-orange col-xs-12">Different question types</h2>
      <img src="assets/images/feature-differentquestiontypes.png" alt="Different question types">
      <div class="col-xs-9 col-sm-9">
        <div>
          Essay questions, MCQ questions, Multiple select questions, Numeric scale questions, 'Distribute a fixed number of points among options' questions, questions measuring contribution in team projects, and more choices coming soon...
          <br><br>
          You can even generate MCQ options from student names, as illustrated in the above example.
        </div>
      </div>
    </div>
    <img src="assets/images/raised-edge.png" aria-hidden="true">
  </div>
</section>

<section class="row">
  <div class="col-xs-12 col-sm-8 offset-sm-1">
    <div class="inner-content">
      <h2 class="color-orange col-xs-12">Reuse past questions</h2>
      <img src="assets/images/feature-reusepastquestions.png" alt="Reuse past questions">
      <div class="col-xs-9 col-sm-9">
        <div>
          Once you have a perfect set of questions configured for a session, you can reuse those questions later, without needing to configure the same questions from scratch again.
          <br><br>
          TEAMMATES also provides some session templates to choose from.
        </div>
      </div>
    </div>
    <img src="assets/images/raised-edge.png" aria-hidden="true">
  </div>
</section>

<section class="row">
  <div class="col-xs-12 col-sm-8 offset-sm-1">
    <div class="inner-content">
      <h2 class="color-orange col-xs-12">No signup required for students</h2>
      <img src="assets/images/feature-nosignuprequired.png" alt="No signup required for students">
      <div class="col-xs-9 col-sm-9">
        <div>
          Students can submit responses and view published responses using the unique links TEAMMATES emails them, without having to login or signup.
          <br><br>
          If they login to TEAMMATES using their Google accounts (optional), they can access all TEAMMATES courses in one page and access even more features such as setting up profiles.
        </div>
      </div>
    </div>
    <img src="assets/images/raised-edge.png" aria-hidden="true">
  </div>
</section>

<section class="row">
  <div class="col-xs-12 col-sm-8 offset-sm-1">
    <div class="inner-content">
      <h2 class="color-orange col-xs-12">Downloadable data</h2>
      <img src="assets/images/feature-downloadbledata.png" alt="Downloadable data">
      <div class="col-xs-9 col-sm-9">
        <div>
          You can download the collected responses (and statistics) as spreadsheets.
          <br><br>
          The collected data belongs to you and you may delete your data from TEAMMATES any time.
        </div>
      </div>
    </div>
    <img src="assets/images/raised-edge.png" aria-hidden="true">
  </div>
</section>

<section class="row">
  <div class="col-xs-12 col-sm-8 offset-sm-1">
    <div class="inner-content">
      <h2 class="color-orange col-xs-12">Shareable comments</h2>
      <img src="assets/images/feature-sharablecomments.png" alt="Sharable">
      <div class="col-xs-9 col-sm-9">
        <div>
          You can add comments about responses collected. You can even share these comments with students/instructors.
          <br><br>
          Fine-grained visibility control is available for comments too.
          For example, you can give a comment to a student that the receiving student can see while other students in the course can only see the comment text but cannot see the recipient name.
        </div>
      </div>
    </div>
    <img src="assets/images/raised-edge.png" aria-hidden="true">
  </div>
</section>

<section class="row">
  <div class="col-xs-12 col-sm-8 offset-sm-1">
    <div class="inner-content">
      <h2 class="color-orange col-xs-12">Powerful search</h2>
      <img src="assets/images/feature-powerfulsearch.png" alt="Powerful search">
      <div class="col-xs-9 col-sm-9">
        <div>
          TEAMMATES has a powerful search feature to locate details about students.
          <br><br>
          Given above is an example of searching for a student whose name you are not very sure of.
        </div>
      </div>
    </div>
    <img src="assets/images/raised-edge.png" aria-hidden="true">
  </div>
</section>

<section class="row">
  <div class="col-xs-12 col-sm-8 offset-sm-1">
    <div class="inner-content">
      <h2 class="color-orange col-xs-12">Support for big courses</h2>
      <img src="assets/images/feature-supportforbigcourses.png" alt="Support for big courses">
      <div class="col-xs-9 col-sm-9">
        <div>
          TEAMMATES can support a course of any size (even beyond 1,000 students), as long as you divide the students into sections of no more than 100 students.
          There is no limit on the number of courses or sessions you could have either.
        </div>
      </div>
    </div>
    <img src="assets/images/raised-edge.png" aria-hidden="true">
  </div>
</section>

<p class="h6">
  For more details about these features, visit our <a tmRouterLink="/web/front/help/instructor">Help for Instructors</a> or <a tmRouterLink="/web/front/contact">contact us</a>.
</p>
