/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .875rem;
}

ul {
  margin-bottom: 0;
}

h1,
.h1 {
  font-size: 2.1875rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.53125rem;
}

h4,
.h4 {
  font-size: 1.3125rem;
}

h5,
.h5 {
  font-size: 1.09375rem;
}

h6,
.h6 {
  font-size: .875rem;
}

.btn,
.form-control,
.dropdown-item {
  font-size: .875rem;
}

.color-orange {
  color: #E46D0B;
}

.color-blue {
  color: #4379D1;
}

.hidden {
  display: none;
}

.modal {
  text-align: center;
}

.modal::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.modal-header {
  padding: .75rem 1rem;
}

.modal-body {
  padding: 1rem 1.25rem;
}

.modal-footer {
  padding: .3rem .5rem;
}

.modal-dialog {
  text-align: left;
  display: inline-block;
  max-height: 90vh;
  max-width: 70vw;
  min-width: 30vw;
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none;  // IE10+
  vertical-align: middle;

  &::-webkit-scrollbar { // Webkit-based browsers
    width: 0;
    height: 0;
  }
}

@media (max-width: 768px) {
  .modal-dialog {
    max-width: 80vw;
    min-width: 65vw;
  }
}

.modal-large .modal-dialog {
  width: 1000px;
}

.close:focus {
  outline: 0;
}

.table {
  margin-bottom: 0;

  & th,
  td {
    padding: .5rem;
  }
}

.card {
  margin-bottom: 20px;
}

.card-header {
  align-items: center;
  display: flex;
  padding: .5rem 1rem;
}

.card-header-btn-toolbar {
  align-items: center;
  margin-left: auto;
  text-align: right;

  button {
    margin-right: var(--btn-margin);
  }

  .btn-primary {
    background-color: darken(#007BFF, 5%); // 5% darker than primary
  }

  .btn-secondary {
    background-color: darken(#6C757D, 10%); // 10% darker than secondary
  }
}

.dropdown-item {
  &:focus,
  &:hover {
    background-color: #DAE0E5;
  }
}

.form-control::placeholder {
  opacity: .7;
}

// The following few properties are for the usermap page.
// They need to be global style because the map is not rendered as Angular components,
// thus it cannot read the component-specific CSS rules.

.usermap-country {
  stroke: #CECECE;
  stroke-width: .15px;

  &:hover {
    stroke-width: .7px;
  }
}

.usermap-text {
  font-size: 10px;
  text-transform: capitalize;
}

.usermap-tooltip {
  color: #222;
  background: #FFF;
  padding: .5em;
  text-shadow: #F5F5F5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 #A6A6A6;
  opacity: .9;
  position: absolute;
}

.text-preserve-space {
  white-space: pre-wrap;
}

.cursor-pointer {
  cursor: pointer;
}

.ngb-tooltip-class {
  text-decoration: underline dotted #808080;

  &:hover {
    text-decoration: underline dotted #000;
  }
}

@media print {
  .no-print {
    display: none;
  }
}

// cursor not-allowed for input disabled attribute and tinyMCE's disabled
[disabled],
.editor.editor-disabled {
  cursor: not-allowed;
}

.btn-light {
  border: 1px solid #DDD;

  &[disabled] {
    border: 1px solid #EEE;
  }
}

:root {
  --btn-margin: 5px;
}

.btn-margin-left {
  margin-left: var(--btn-margin);
}

.btn-margin-right {
  margin-right: var(--btn-margin);
}

.btn-margin {
  margin: var(--btn-margin);
}

.fa-sort-down,
.fa-sort-up {
  color: black;
}

.fa-sort {
  color: #CCC;
}

.fa-sort,
.fa-sort-up,
.fa-sort-down {
  // copied from fa-stack-X
  left: 0;
  position: absolute;
  text-align: center;
  line-height: inherit;
}

.fa-stack {
  width: auto;
}

.ngb-dp-today > .btn-light {
  font-weight: bold;
  color: blue;
}
