/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~handsontable/dist/handsontable.full.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.snackbar {
  max-width: 100% !important;
  margin-top: 60px !important;
}

.snackbar-danger {
  background-color: var(--danger);
  color: var(--light);

  a {
    color: #000;
  }
}

.snackbar-success {
  background-color: var(--success);
  color: var(--light);

  a {
    color: #000;
  }
}

.snackbar-warning {
  background-color: var(--warning);
  color: var(--dark);
}

.btn {
  font-size: inherit;
}

.color-orange {
  color: #E46D0B;
}

.color-blue {
  color: #4379D1;
}

.hidden {
  display: none;
}

.modal-dialog {
  min-width: 800px;
}

.modal-content {
  padding: 30px 20px;
}

// The following few properties are for the usermap page.
// They need to be global style because the map is not rendered as Angular components,
// thus it cannot read the component-specific CSS rules.

.usermap-country {
  stroke: #CECECE;
  stroke-width: .15px;

  &:hover {
    stroke-width: .7px;
  }
}

.usermap-text {
  font-size: 10px;
  text-transform: capitalize;
}

.usermap-tooltip {
  color: #222;
  background: #FFF;
  padding: .5em;
  text-shadow: #F5F5F5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 #A6A6A6;
  opacity: .9;
  position: absolute;
}

.text-preserve-space {
  white-space: pre-wrap;
}

.cursor-pointer {
  cursor: pointer;
}

@media print {
  .no-print {
    display: none;
  }
}
