/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~handsontable/dist/handsontable.full.css';

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

ul {
  margin-bottom: 0;
}

.btn {
  font-size: .8rem;
}

.color-orange {
  color: #E46D0B;
}

.color-blue {
  color: #4379D1;
}

.hidden {
  display: none;
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  text-align: left;
  display: inline-block;
  min-width: 800px;
  vertical-align: middle;
}

.close:focus {
  outline: 0;
}

.table {
  margin-bottom: 0;

  & th,
  td {
    padding: .5rem;
  }
}

.card-header {
  padding: .5rem 1rem;
}

// The following few properties are for the usermap page.
// They need to be global style because the map is not rendered as Angular components,
// thus it cannot read the component-specific CSS rules.

.usermap-country {
  stroke: #CECECE;
  stroke-width: .15px;

  &:hover {
    stroke-width: .7px;
  }
}

.usermap-text {
  font-size: 10px;
  text-transform: capitalize;
}

.usermap-tooltip {
  color: #222;
  background: #FFF;
  padding: .5em;
  text-shadow: #F5F5F5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 #A6A6A6;
  opacity: .9;
  position: absolute;
}

.text-preserve-space {
  white-space: pre-wrap;
}

.cursor-pointer {
  cursor: pointer;
}

[ng-reflect-ngb-tooltip] {
  text-decoration: underline dotted #808080;

  &.btn,
  &.fa,
  &.fas,
  &.far,
  &.fab,
  &.fal {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    text-decoration: underline dotted #000;
  }
}

@media print {
  .no-print {
    display: none;
  }
}

// cursor not-allowed for input disabled attribute and tinyMCE's disabled
[disabled],
.editor.editor-disabled {
  cursor: not-allowed;
}
