@media (min-width: 1200px) {
  .border-left-gray {
    border-left: 1px solid rgba(0, 0, 0, .2);
  }
}

.margin-top-30px {
  margin-top: 30px;
}

.session-table-body {
  padding: 0;
}

.session-table {
  margin-bottom: 0;
}
