@media (width >= 1200px) {
  .border-left-gray {
    border-left: 1px solid rgb(0 0 0 / 20%);
  }
}

.margin-top-30px {
  margin-top: 30px;
}

.session-table-body {
  padding: 0;
}

.session-table {
  margin-bottom: 0;
}
