.instr-help-qn-first {
  padding-top: 5px;
}

.instr-help-qn-last {
  padding-bottom: 5px;
}

.section-header {
  .fa-anchor {
    display: none;
  }

  @media (width <= 768px) {
    .fa-anchor {
      display: block;
      cursor: pointer;
    }
  }

  @media (width >= 768px) {
    &:hover {
      .fa-anchor {
        display: block;
        opacity: 0.3;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
