<ng-template #popContent>
  <img class="profile-pic" src="{{photoUrl}}" (error)="missingPhotoEventHandler()">
</ng-template>

<span *ngIf="!useViewPhotoBtn; else viewPhotoBtn" #p="ngbPopover" triggers="manual"
      [ngbPopover]="popContent"
      (click)="p.open(); $event.stopPropagation(); showPhotoEvent.emit()" (mouseleave)="p.close()">
  <ng-content></ng-content>
</span>

<ng-template #viewPhotoBtn>
  <a *ngIf="!isPhotoShown" [tmRouterLink]="" role="button" (click)="isPhotoShown=true; $event.stopPropagation();"
     queryParamsHandling="preserve">
    View Photo
  </a>
  <img *ngIf="useViewPhotoBtn && isPhotoShown" class="profile-pic-icon" src="{{photoUrl}}" (error)="missingPhotoEventHandler()"
       [ngbPopover]="popContent" triggers="mouseenter:mouseleave"/>
</ng-template>
