<div class="card bg-light top-padded">
  <div class="card-header bg-primary text-white">
    <strong>Students Found</strong>
  </div>
  <div class="table-responsive">
    <table class="table table-striped data-table" id="search-table-student">
      <thead>
        <tr>
          <th>Course [Section] (Team)</th>
          <th>Name</th>
          <th>Email</th>
          <th>Institute</th>
          <th>Comments</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        @for (student of students; track student; let i = $index) {
          <tr>
            <td>
              <span
                class="text-break ngb-tooltip-class"
                [ngClass]="{ 'text-course-deleted': student.isCourseDeleted }"
                [ngbTooltip]="student.courseName"
                [innerHtml]="
                  student.courseId + ' [' + student.section + '] (' + student.team + ')'
                    | highlighter: searchString : true
                "
              ></span>
              @if (student.isCourseDeleted) {
                <i
                  class="fas fa-trash-alt text-course-deleted margin-left-5px bin-icon"
                  [ngbTooltip]="'This course is in the recycle bin.'"
                ></i>
              }
            </td>
            <td>
              <a
                href="{{ student.profilePageLink }}"
                (click)="$event.stopPropagation()"
                target="_blank"
                rel="noopener noreferrer"
                [innerHtml]="student.name | highlighter: searchString : true"
              >
              </a>
            </td>
            <td [innerHtml]="student.email | highlighter: searchString : true"></td>
            <td [innerHtml]="student.institute | highlighter: searchString : true"></td>
            <td [innerHtml]="student.comments | highlighter: searchString : true"></td>
            <td>
              @if (student.manageAccountLink) {
                <a href="{{ student.manageAccountLink }}" (click)="$event.stopPropagation()">
                  <i class="fas fa-info-circle"></i> Manage this account
                </a>
                <br />
              }
              <button
                id="show-student-links-{{ i }}"
                data-testid="show-student-links-button"
                type="button"
                class="btn btn-primary btn-sm mb-2"
                (click)="openSessionLinksModal(student)"
              >
                Show links
              </button>
              <br />
              <button
                id="regenerate-student-key-{{ i }}"
                data-testid="regenerate-student-key"
                class="btn btn-danger"
                [disabled]="isRegeneratingStudentKeys[i]"
                (click)="regenerateUserKey(student, i)"
              >
                @if (isRegeneratingStudentKeys[i]) {
                  <tm-ajax-loading></tm-ajax-loading>
                }
                Regenerate Links
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
