<div class="text-center">
  <div class="alert alert-light mx-auto">
    <div class="d-flex align-items-start">
      <img src="assets/images/angry.png" alt="" />
      <div class="align-left">
        <h5>You are not authorized to view this page.</h5>
        <p class="mb-0"><b>Reason:</b> {{ reason() }}</p>
      </div>
    </div>
    @if (role() === 'student' || role() === 'instructor') {
      <hr />
      <div class="align-left">
        @if (role() === 'student') {
          <p class="text-center">
            To access student pages on TEAMMATES, you need to wait until an instructor adds you to a course.
            <br />
            As a confirmation, TEAMMATES will send you instructions on how to access that particular course.
          </p>
        }

        @if (role() === 'instructor') {
          <p class="text-center">
            To access instructor pages on TEAMMATES, you need to be an instructor of at least one course.
            <br />
            As a confirmation, TEAMMATES will send you instructions on how to access the course(s) you are an instructor
            of.
          </p>
        }
        <hr />
        <p class="align-left">
          If you 'joined' a course in TEAMMATES using an account before, but cannot log in anymore, these are the
          possible reason(s):
        </p>
        <ol class="align-left">
          <li>
            You used a different account to access TEAMMATES in the past. In that case, you need to use the same account
            to access TEAMMATES again. Log out and re-log in using the other account. If you don't remember which
            account you used previously, email us from the same email account to which you receive TEAMMATES emails.
          </li>
        </ol>
      </div>
    }
    <hr />
    <a tmRouterLink="/web/front" class="text-center">Return to main page.</a>
  </div>
</div>
