.bg-form {
  background-color: #eaeff5;
}

.no-border {
  border: 0;
}

.alert-success-border {
  border-color: #c3e6cb;
}

.no-activity-body {
  padding: 0.5rem 1rem;
}

.form-control {
  &[readonly] {
    background-color: white;
  }
}
