<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead class="table-light">
            <tr>
                <th scope="col">Ticket #</th>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Enquiry Type</th>
                <th scope="col">Title</th>
                <th scope="col">Message</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let req of support_requests">
                <td>{{ req.trackingId }}</td>
                <td>{{ req.email }}</td>
                <td>{{ req.name }}</td>
                <td>{{ req.enquiry_type }}</td>
                <td>{{ req.title }}</td>
                <td>{{ req.initial_msg }}</td>
                <td>{{ req.status }}</td>
            </tr>
        </tbody>
    </table>
  </div>
  