@if (!isAllFormsNotAnswered) {
  <div class="row">
    <div class="col-12">
      @if (isInsufficientPointsDistributed) {
        <p class="text-danger"><span class="fa fa-times"></span>
      Actual total is {{ totalAnsweredPoints }}! Distribute the remaining {{ totalRequiredPoints - totalAnsweredPoints }} points.</p>
    }
    @if (isPointsOverAllocated) {
      <p class="text-danger"><span class="fa fa-times"></span>
    Actual total is {{ totalAnsweredPoints }}! Remove the extra  {{ totalAnsweredPoints - totalRequiredPoints }} points allocated.</p>
  }
  @if (isAllPointsDistributed) {
    <p class="text-success"><span class="fa fa-check"></span>
  All points distributed!</p>
}
@if (isAnyPointsNegative) {
  <p class="text-danger"><span class="fa fa-times"></span>
Points cannot be negative!</p>
}
@if (isWronglyAllUneven) {
  <p class="text-danger"><span class="fa fa-times"></span>
Multiple recipients are given same points!</p>
}
@if (isCorrectlyAllUneven) {
  <p class="text-success"><span class="fa fa-check"></span>
All allocated points are different!</p>
}
@if (isWronglySomeUneven) {
  <p class="text-danger"><span class="fa fa-times"></span>
All recipients are given {{ allAnswers[0] }} points. Please allocate different points to at least one recipient.</p>
}
@if (isCorrectlySomeUneven) {
  <p class="text-success"><span class="fa fa-check"></span>
At least one recipient has been allocated different number of points.</p>
}
</div>
</div>
}
