<div class="row" *ngIf="questionDetails.isZeroSum && !isAllFormsNotAnswered">
  <div class="col-12">
    <p *ngIf="isInsufficientContributionsDistributed || isContributionsOverAllocated" class="text-danger">
      <span class="fa fa-times"></span>
      Current total <code>{{ currentTotalString }}</code> does not match the expected total <code>{{ expectedTotalString }}</code>.
      <span *ngIf="isInsufficientContributionsDistributed">
        Please distribute the remaining contributions.
      </span>
      <span *ngIf="isContributionsOverAllocated">
        Please remove the extra contributions allocated.
      </span>
    </p>

    <p *ngIf="isAllContributionsDistributed && !isAllFormsAnswered" class="text-danger">
      <span class="fa fa-times"></span>
      All contributions distributed but not all recipients are allocated a share.
    </p>

    <p *ngIf="isAllContributionsDistributed && isAllFormsAnswered" class="text-success">
      <span class="fa fa-check"></span>
      All contributions distributed!
    </p>
  </div>
</div>
