<div *ngIf="questionDetails.maxSelectableChoices !== NO_VALUE || questionDetails.minSelectableChoices !== NO_VALUE" class="text-info">
  <p class="text-start fw-bold">Note:</p>
  <p id="min-options-message" *ngIf="questionDetails.minSelectableChoices !== NO_VALUE">
    <span class="fa fa-info-circle"></span> Choose <strong> at least {{ questionDetails.minSelectableChoices }}</strong> options.
  </p>
  <p id="max-options-message" *ngIf="questionDetails.maxSelectableChoices !== NO_VALUE">
    <span class="fa fa-info-circle"></span> Choose <strong> no more than {{ questionDetails.maxSelectableChoices }}</strong> options.
  </p>
</div>
