.margin-top-30px {
  margin-top: 30px;
}

.bin-header-button button {
  margin-right: .6em;
}

.recycle-bin-header {
  background-color: #9E9E9E;
  cursor: pointer;
}

.sortable-header {
  cursor: pointer;
}

.actions-cell button {
  margin: 2px;
}
