<div class="alert alert-warning" role="alert" *ngIf="courseCandidates.length === 0">
  You have not created any courses yet, or you have no active courses. Go <a href="#" (click)="createOrUnarchiveCourse(); $event.preventDefault()">here</a> to create or unarchive a course.
</div>

<tm-session-edit-form [formMode]="SessionEditFormMode.ADD" [(model)]="sessionEditFormModel"
                      [courseCandidates]="courseCandidates" [templateSessions]="templateSessions"
                      (addNewSessionEvent)="addNewSessionHandler()" (copyOtherSessionsEvent)="copyFromOtherSessionsHandler()"></tm-session-edit-form>

<div class="alert alert-warning margin-top-30px" role="alert" *ngIf="sessionsTableRowModels.length === 0">
  You have not created any sessions yet. Use the form above to create a session.
</div>

<div class="margin-top-30px">
  <tm-sessions-table [sessionsTableRowModels]="sessionsTableRowModels" [sessionsTableRowModelsSortBy]="sessionsTableRowModelsSortBy" [sessionsTableRowModelsSortOrder]="sessionsTableRowModelsSortOrder"
                     [courseCandidates]="courseCandidates" [columnsToShow]="[ SessionsTableColumn.COURSE_ID ]"
                     [headerColorScheme]="SessionsTableHeaderColorScheme.BLUE"
                     (sortSessionsTableRowModelsEvent)="sortSessionsTableRowModelsEvent($event)"
                    (loadResponseRateEvent)="loadResponseRateEventHandler($event)" (editSessionEvent)="editSessionEventHandler($event)"
                    (moveSessionToRecycleBinEvent)="moveSessionToRecycleBinEventHandler($event)" (copySessionEvent)="copySessionEventHandler($event)"
                    (submitSessionAsInstructorEvent)="submitSessionAsInstructorEventHandler($event)" (viewSessionResultEvent)="viewSessionResultEventHandler($event)"
                    (publishSessionEvent)="publishSessionEventHandler($event)" (unpublishSessionEvent)="unpublishSessionEventHandler($event)"
                     (resendResultsLinkToStudentsEvent)="resendResultsLinkToStudentsEventHandler(sessionsTableRowModels[$event])"
                     (sendRemindersToStudentsEvent)="sendRemindersToStudentsEventHandler(sessionsTableRowModels[$event])"></tm-sessions-table>
</div>

<br/>
<div class="row">
  <div class="col-12 text-muted">
    <p>
      Note: The table above doesn't contain sessions from archived courses and soft-deleted courses.
      To view sessions from an archived course, unarchive the course first; to view sessions from a course in recycle bin, restore the course first.
    </p>
  </div>
</div>

<div class="row margin-top-30px" *ngIf="recycleBinFeedbackSessionRowModels.length !== 0">
  <div class="col-12">
    <h2 class="text-muted">
      <i class="fas fa-trash-alt"></i> Feedback Sessions Recycle Bin
    </h2>
    <div class="card bg-light top-padded">
      <div class="card-header bg-secondary recycle-bin-header" (click)="isRecycleBinExpanded = !isRecycleBinExpanded">
        <div class="row align-items-center">
          <div class="col-6 text-white">
            <b>Recycle Bin</b>
          </div>
          <div class="col-6 text-right bin-header-button">
            <button type="button" class="btn btn-light btn-sm" ngbTooltip="Restore all feedback sessions"
                    (click)="$event.stopPropagation(); restoreAllRecycleBinFeedbackSession()"><i class="fas fa-check"></i> Restore All</button>
            <button type="button" class="btn btn-light btn-sm text-danger" ngbTooltip="Permanently delete all feedback sessions"
                    (click)="$event.stopPropagation(); permanentDeleteAllSessions()"><i class="fas fa-times"></i> Delete All</button>
            <i class="fas fa-chevron-down text-white" *ngIf="!isRecycleBinExpanded"></i>
            <i class="fas fa-chevron-up text-white" *ngIf="isRecycleBinExpanded"></i>
          </div>
        </div>
      </div>
      <div class="card-body recycle-bin-body" *ngIf="isRecycleBinExpanded">
        <table class="table table-responsive-lg table-striped table-bordered recycle-bin-table">
          <thead class="recycle-bin-table-header">
            <tr>
              <th (click)="sortRecycleBinFeedbackSessionRows(SortBy.COURSE_ID)" class="sortable-header">
                Course ID
                <span *ngIf="recycleBinFeedbackSessionRowModelsSortBy !== SortBy.COURSE_ID"><i class="fas fa-sort"></i></span>
                <span *ngIf="recycleBinFeedbackSessionRowModelsSortBy === SortBy.COURSE_ID && recycleBinFeedbackSessionRowModelsSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
                <span *ngIf="recycleBinFeedbackSessionRowModelsSortBy === SortBy.COURSE_ID && recycleBinFeedbackSessionRowModelsSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
              </th>
              <th (click)="sortRecycleBinFeedbackSessionRows(SortBy.FEEDBACK_SESSION_NAME)" class="sortable-header">
                Session Name
                <span *ngIf="recycleBinFeedbackSessionRowModelsSortBy !== SortBy.FEEDBACK_SESSION_NAME"><i class="fas fa-sort"></i></span>
                <span *ngIf="recycleBinFeedbackSessionRowModelsSortBy === SortBy.FEEDBACK_SESSION_NAME && recycleBinFeedbackSessionRowModelsSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
                <span *ngIf="recycleBinFeedbackSessionRowModelsSortBy === SortBy.FEEDBACK_SESSION_NAME && recycleBinFeedbackSessionRowModelsSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
              </th>
              <th (click)="sortRecycleBinFeedbackSessionRows(SortBy.SESSION_CREATION_DATE)" class="sortable-header">
                Creation Date
                <span *ngIf="recycleBinFeedbackSessionRowModelsSortBy !== SortBy.SESSION_CREATION_DATE"><i class="fas fa-sort"></i></span>
                <span *ngIf="recycleBinFeedbackSessionRowModelsSortBy === SortBy.SESSION_CREATION_DATE && recycleBinFeedbackSessionRowModelsSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
                <span *ngIf="recycleBinFeedbackSessionRowModelsSortBy === SortBy.SESSION_CREATION_DATE && recycleBinFeedbackSessionRowModelsSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
              </th>
              <th (click)="sortRecycleBinFeedbackSessionRows(SortBy.DELETION_DATE)" class="sortable-header">
                Deletion Date
                <span *ngIf="recycleBinFeedbackSessionRowModelsSortBy !== SortBy.DELETION_DATE"><i class="fas fa-sort"></i></span>
                <span *ngIf="recycleBinFeedbackSessionRowModelsSortBy === SortBy.DELETION_DATE && recycleBinFeedbackSessionRowModelsSortOrder === SortOrder.DESC"><i class="fas fa-sort-down"></i></span>
                <span *ngIf="recycleBinFeedbackSessionRowModelsSortBy === SortBy.DELETION_DATE && recycleBinFeedbackSessionRowModelsSortOrder === SortOrder.ASC"><i class="fas fa-sort-up"></i></span>
              </th>
              <th class="text-center">Action(s)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let recycleBinFeedbackSessionRowModel of recycleBinFeedbackSessionRowModels">
              <td>{{ recycleBinFeedbackSessionRowModel.feedbackSession.courseId }}</td>
              <td>{{ recycleBinFeedbackSessionRowModel.feedbackSession.feedbackSessionName }}</td>
              <td [ngbTooltip]="recycleBinFeedbackSessionRowModel.feedbackSession.createdAtTimestamp | formatDateDetail:recycleBinFeedbackSessionRowModel.feedbackSession.timeZone" container="body">
                {{ recycleBinFeedbackSessionRowModel.feedbackSession.createdAtTimestamp | recycleBinTableFormatDate:recycleBinFeedbackSessionRowModel.feedbackSession.timeZone }}
              </td>
              <td [ngbTooltip]="recycleBinFeedbackSessionRowModel.feedbackSession.deletedAtTimestamp | formatDateDetail:recycleBinFeedbackSessionRowModel.feedbackSession.timeZone" container="body">
                {{ recycleBinFeedbackSessionRowModel.feedbackSession.deletedAtTimestamp | recycleBinTableFormatDate:recycleBinFeedbackSessionRowModel.feedbackSession.timeZone }}
              </td>
              <td class="text-center actions-cell">
                <button type="button" class="btn btn-light btn-sm" ngbTooltip="Restore the feedback session" (click)="restoreRecycleBinFeedbackSession(recycleBinFeedbackSessionRowModel)">Restore</button>
                <button type="button" class="btn btn-light btn-sm text-danger" ngbTooltip="Permanently delete the feedback session" (click)="permanentDeleteSession(recycleBinFeedbackSessionRowModel)">Delete Permanently</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
