<div class="input-group">
  <span class="input-group-addon">
    <input type="radio" class="disabled_radio" disabled>
  </span>
  <tm-option-rich-text-editor class="rich-text-editor" [richText]="text" (richTextChange)="onMcqOptionEntered($event)"
                       [isDisabled]="!isEditable" [minHeightInPx]="38">
  </tm-option-rich-text-editor>
  <span class="input-group-btn">
    <button type="button" class="btn btn-danger input-group-addon" style="cursor: initial; height: 100%;"
            tabindex="-1" [disabled]="!isEditable" (click)="deleteMcqOption()">
      <span aria-hidden="true">&times;</span>
    </button>
  </span>
</div>
