name: Component Tests

on:
  push:
    branches:
      - master 
      - release
  pull_request:
    branches:
      - master 
      - release
  schedule:
    - cron: "0 0 * * *" #end of every day
jobs:
  lint:
    strategy:
      fail-fast: false #ensure both tests run even if one fails
      matrix:
        os: [ubuntu-latest, windows-latest]   
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Run Backend Linting 
        run: ./gradlew lint --continue 
      - name: Install Frontend Dependencies
        run: npm ci 
      - name: Run Lint Checks 
        run: npm run lint 
  component-testing:
    strategy:
      fail-fast: false #ensure both tests run even if one fails
      matrix:
        os: [ubuntu-latest, windows-latest]   
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Run Backend Tests    
        run: |
          ./gradlew createConfigs componentTests 
          ./gradlew jacocoReport
      - name: Generate Types 
        run: ./gradlew generateTypes
      - name: Install Frontend Dependencies 
        run: npm ci 
      - name: Run Frontend Tests 
        run: npm run coverage 
      - name: Upload to Codecov 
        if: matrix.os == 'ubuntu-latest' #only upload to codecov on ubuntu VM 
        run: bash <(curl -s https://codecov.io/bash)
