name: Component Tests (JDK 17)

on:
  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      - name: Run Backend Linting
        run: ./gradlew lint --continue
  component-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      - name: Update Property File
        run: mv src/test/resources/test.ci-ubuntu-latest.properties src/test/resources/test.properties
      - name: Run Solr search service
        run: docker-compose run -d -p 8983:8983 solr
      - name: Run Backend Tests
        run: ./gradlew createConfigs componentTests
