.a {
  color: black;
}

.align-center {
  text-align: center;
}

.btn-left {
  margin-right: 10px;
}

.button {
  border: 1px solid #CCC;
  color: black !important;
}

.fill-plain {
  background-color: #EAEFF5;
}

.right {
  text-align: right;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  text-align: right;
}

.bottom-padded {
  margin-bottom: 2.4em;
}

.top-padded {
  margin-top: 2.4em;
}

.top-padded-sm {
  margin-top: 1.2em;
}
