.a {
  color: black;
}

.align-center {
  text-align: center;
}

.bg-light-blue {
  background-color: #D9EDF7;
}

.border-right-gray {
  border-right: 1px solid #DDD;
}

.btn-left {
  margin-right: 10px;
}

.button {
  border: 1px solid #CCC;
  color: black !important;
}

.col-sm-offset-1 {
  margin-left: 8.33333333%;
}

.col-sm-3 {
  float: left;
  width: 25%;
  min-height: 1px;
}

.col-sm-4 {
  float: left;
  min-height: 1px;
}

.col-sm-5 {
  width: 41.66666667%;
  float: left;
  min-height: 1px;
}

.col-sm-6 {
  width: 50%;
  float: left;
  min-height: 1px;
}

.fill-plain {
  background-color: #EAEFF5;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  text-align: right;
}

.panel-body {
  padding: 15px;
}

.right {
  text-align: right;
}

table tr:first-child td {
  border-top: none;
}

.bottom-padded {
  margin-bottom: 2.4em;
}

.top-padded {
  margin-top: 2.4em;
}

.top-padded-sm {
  margin-top: 1.2em;
}
