.fill-plain {
  background-color: #EAEFF5;
}

.control-label {
  font-weight: 700;

  @media (min-width: 576px) {
    text-align: right;
  }
}

.padding-0 {
  padding: 0;
}

.margin-bottom-label {
  margin-bottom: .5rem; // same margin as label
}
