.invalid-field {
  padding-top: 5px;
  color: #b50000;
}

.fill-plain {
  background-color: #eaeff5;
}

@media (width <= 576px) {
  .add-mode {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: flex-start;
  }
}
